.sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container {
	background-color: #052640;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container span {
	padding: 10px 10px 10px 15px;
	color: #9ca4b1;
	font-family: ProximaNova, Calibri;
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
}
.sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container span:last-child {
	color: white;
	font-size: 24px;
	font-weight: normal;
}
.sotbit-cabinet-gadget-accountpay .gdparent {
	border: 1px solid #dadada;
	position: relative;
	background-color: #ffffff;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-title {
	padding: 10px 10px 10px 18px;
	color: #000000;
	font-family: ProximaNova, Calibri;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
}
.sotbit-cabinet-gadget-accountpay input[type=checkbox].sale-acountpay-pp-company-checkbox {
	position: absolute;
	top: 7px;
	left: 7px;
	margin: 0;
	padding: 0;
	z-index: 100;
	display: none;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company-image {
	height: 45px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company {
	width: 20%;
	border: 1px solid #dadada;
	margin-bottom: 7px;
	cursor: pointer;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	margin: 0 11px 15px 18px;
}
.sotbit-cabinet-gadget-accountpay .pay-button {
	display: inline-block;
	text-align: right;
	border: 1px solid #dadada;
	padding: 10px;
	color: #ffffff;
	font-family: ProximaNova, Calibri;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	width: 145px;
	text-align: center;
	background-color: #052640;
	cursor: pointer;
}
.sotbit-cabinet-gadget-accountpay .form-group {
	display: inline-block;
	text-align: right;
	border: 1px solid #dadada;
	padding: 10px;
	color: #000000;
	font-family: ProximaNova, Calibri;
	font-size: 14px;
	font-weight: normal;
}
.sotbit-cabinet-gadget-accountpay .form-group input,
.sotbit-cabinet-gadget-accountpay .form-group input:active,
.sotbit-cabinet-gadget-accountpay .form-group input:focus {
	width: 70px;
	border: none;
	text-align: right;

}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pay {
	display: flex;
	justify-content: space-between;
	margin: 15px;
}





.sotbit_cabinet .sotbit-cabinet-gadget-accountpay a.gdsettings {
	display: none;
}

.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .gdcontent {
	padding: 0;
}
.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .gdheader {
	margin: 0;
}
.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .btn_add_basket:after {
	content: "";
	display: block;
	height: 48px;
	width: 47px;
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: 1;
}
.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .btn_add_basket {
	display: inline-block;
	border: 1px solid #dadada;
	padding: 10px;
	color: #ffffff;
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	width: 145px;
	text-align: center;
	background-color: #052640;
	cursor: pointer;
	line-height: 14px;
	margin-top: 0;
	-webkit-box-shadow: 0px 0px 0px 0px #bebebe;
	-moz-box-shadow: 0px 0px 0px 0px #bebebe;
}
.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .pay-button {
	display: inline-block;
	border: 0 solid #dadada;
	padding: 0;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	width: 145px;
	text-align: center;
	background-color: #052640;
	cursor: pointer;
	height: 36px;
}
.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .form-group {
	height: 36px;
	padding: 0 7px;
}

.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company-image {
	height: 30px;
}

.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company-wrapper {
	/*justify-content: flex-start!important;*/
}

.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container span {
	padding: 10px 15px 10px 15px;
}

.sotbit-cabinet-gadget-accountpay a.gdsettings {
	display: none!important;
}
.sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container span {
	padding: 10px 15px 10px 15px!important;
}
.sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container {
	background-color: #052640!important;
	display: flex!important;
	flex-direction: row!important;
	justify-content: space-between!important;
	align-items: center!important;
}
.sotbit-cabinet-gadget-accountpay .gdcontent {
	padding: 0!important;
}
.sotbit-cabinet-gadget-accountpay .gdheader {
	margin: 0!important;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company {
	width: 20%!important;
	margin-bottom: 7px!important;
	cursor: pointer!important;
	box-sizing: border-box!important;
	display: inline-block;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company-image {
	height: 30px!important;
}
.sotbit-cabinet-gadget-accountpay .btn_add_basket {
	display: inline-block!important;
	border: 1px solid #dadada!important;
	padding: 10px 0!important;
	color: #ffffff!important;
	font-family: ProximaNova!important;
	font-size: 14px!important;
	font-weight: normal!important;
	text-transform: uppercase!important;
	width: 145px!important;
	text-align: center!important;
	background-color: #052640!important;
	cursor: pointer!important;
	line-height: 14px!important;
	margin-top: 0!important;
	-webkit-box-shadow: 0px 0px 0px 0px #bebebe!important;
	-moz-box-shadow: 0px 0px 0px 0px #bebebe!important;
}
.sotbit-cabinet-gadget-accountpay .pay-button {
	display: inline-block!important;
	border: 0 solid #dadada!important;
	padding: 0!important;
	color: #ffffff!important;
	font-family: ProximaNova!important;
	font-size: 14px!important;
	font-weight: normal!important;
	text-transform: uppercase!important;
	width: 145px!important;
	text-align: center!important;
	background-color: #052640!important;
	cursor: pointer!important;
	height: 36px!important;
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
	font-style: normal!important;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pay {
	display: flex!important;
	justify-content: space-between!important;
	margin: 15px!important;
}
.sotbit-cabinet-gadget-accountpay .btn_add_basket:after {
	content: ""!important;
	display: block!important;
	height: 48px!important;
	width: 47px!important;
	position: absolute!important;
	top: -30px!important;
	right: -30px!important;
	z-index: 1!important;
}
.sotbit-cabinet-gadget-accountpay .form-group {
	height: 36px!important;
	padding: 7px!important;
}
@media screen and (max-width: 768px) {
	.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company {
		width: 33%;
	}
	.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pp {
		max-width: 100%;
	}
	.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pay {
		display: flex;
		flex-wrap: wrap;
		margin: 15px;
	}
	.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pay div {
		margin: 5px auto;
	}
	.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company-image {
		height: 30px;
	}
	.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container span
	{
		padding: 10px 0 10px 15px;
	}
	.sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container span
	{
		padding: 10px 0 10px 15px!important;
	}
}
@media screen and (max-width: 610px) {
	.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container span:last-child {
		padding: 10px 5px 10px 0;
		font-size: 14px;
	}
}

.sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company {
	width: 60px!important;
	height: 39px;
	margin-bottom: 7px!important;
	cursor: pointer!important;
	box-sizing: border-box!important;
}
.sotbit_cabinet .sotbit-cabinet-gadget-accountpay .sale-acountpay-pp-company-wrapper {
	/*justify-content: space-around!important;*/
}
.sotbit-cabinet-gadget-accountpay .form-group {
	display: inline-block!important;
	text-align: right!important;
	border: 1px solid #dadada!important;
	color: #000000!important;
	font-family: ProximaNova, Calibri!important;
	font-size: 14px!important;
	font-weight: normal!important;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pay {
	display: flex!important;
	margin: 18px!important;
	flex-wrap: wrap!important;
}
.sotbit-cabinet-gadget-accountpay .form-group {
	display: flex!important;
	text-align: right!important;
	border: 1px solid #dadada!important;
	color: #000000!important;
	font-family: ProximaNova, Calibri!important;
	font-size: 14px!important;
	font-weight: normal!important;
	margin: 0 5px 5px 0!important;
}
.sotbit-cabinet-gadget-accountpay .form-group input,
.sotbit-cabinet-gadget-accountpay .form-group input:active,
.sotbit-cabinet-gadget-accountpay .form-group input:focus {
	width: 70px!important;
	border: none!important;
	text-align: right!important;
	height: auto!important;
	background: transparent!important;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important;
	padding-right:5px!important;
}
.sotbit-cabinet-gadget-accountpay .sale-acountpay-pay .form-group label {
	display: flex!important;
	text-align: right!important;
	border: 1px solid #dadada!important;
	padding: 0!important;
	color: #000000!important;
	font-family: ProximaNova, Calibri!important;
	font-size: 14px!important;
	font-weight: normal!important;
	height: auto!important;
	line-height: 17px!important;
	border-radius: 0!important;
	border: none!important;
}
.sotbit-cabinet-gadget-accountpay .btn_add_basket {
	display: inline-block!important;
	border: 1px solid #dadada!important;
	padding: 10px 0!important;
	color: #ffffff!important;
	font-family: ProximaNova!important;
	font-size: 14px!important;
	font-weight: normal!important;
	text-transform: uppercase!important;
	width: 145px!important;
	height: 36px!important;
	text-align: center!important;
	background-color: #052640!important;
	cursor: pointer!important;
	line-height: 14px!important;
	margin-top: 0!important;
	-webkit-box-shadow: 0px 0px 0px 0px #bebebe!important;
	-moz-box-shadow: 0px 0px 0px 0px #bebebe!important;
	border-radius: 0!important;
}
.sotbit-cabinet-gadget-accountpay .sale-personal-account-wallet-container {
	background-color: #052640!important;
	display: flex!important;
	flex-direction: row!important;
	justify-content: space-between!important;
	align-items: center!important;
	flex-wrap: wrap!important;
}