.show_more_block {
    position: relative;
    border: 1px solid var(--main-color);
    text-align: center;
    padding: 1rem 0;
    color: var(--main-color);
    cursor: pointer;
    margin-bottom: 2.5rem;

    & .icon-nav_button {
        display: inline-block;
        position: relative;
        top: -1px;
    }

    &:hover {
        border-color: var(--main-color);
        background-color: var(--main-color);
        color: #fff;

        &.btnLoaderCustom > .loader-btn {
            fill: #fff;
        }
    }

    &:hover .sk-wave .sk-rect {
        color: #fff;
        background-color: #fff;
    }

    &.btnLoaderCustom > .loader-btn {
        left: calc(50% - 10px);
        top: calc(50% - 10px);
        fill: var(--main-color);
    }

    &.fonts__main_comment.loaderBtns {
        color: transparent;

        & i {
            color: transparent;
        }

        & .sk-wave {
            display: block;
        }
    }
}
