body .block_main_left_menu__content h1 {
  display: none; }

.staff-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 20px; }

.staff-detail__sidebar {
  margin-right: 40px; }

.sidebar-staff-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 310px;
  min-width: 310px; }

.sidebar-staff-detail__img-wrap {
  width: 100%;
  height: 280px; }

.sidebar-staff-detail__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top; }

.sidebar-staff-detail__quote {
  margin-top: 20px; }

.quote-block-staff-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 15px;
  background-color: #F7F7F7;
  border-radius: 4px; }

.quote-block-staff-detail__svg {
  width: 30px;
  min-width: 30px;
  height: 22px;
  margin-right: 15px;
  fill: #BDBDBD; }

.quote-block-staff-detail__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.staff-detail__content {
  width: 100%; }

.staff-detail__title {
  padding: 0 0 25px 0;
  font-weight: bold;
  font-size: 31px;
  line-height: 37px; }

.staff-detail__description {
  padding: 0 0 25px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.staff-detail__info-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.staff-detail__info-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  margin-bottom: 20px; }

.staff-detail__info-item-title {
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #808080; }

.staff-detail__info-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px; }

.staff-detail__info-item-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px; }
  .staff-detail__info-item-link:hover {
    color: var(--main-color); }

.staff-detail__social-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.staff-detail__social-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #F7F7F7;
  border-radius: 50%; }
  .staff-detail__social-link:hover {
    background-color: var(--main-color); }
    .staff-detail__social-link:hover .staff-detail__social-link-svg {
      fill: #fff; }

.staff-detail__social-link-svg {
  width: 16px;
  height: 16px;
  fill: #BDBDBD; }

.staff-detail__btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 267px;
  height: 40px;
  margin-top: 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer; }
  .staff-detail__btn:hover {
    background-color: var(--main-color-hover); }

.staff-detail__sertificate {
  padding-top: 40px; }

.staff-detail__sertificate-title {
  padding: 0 0 20px 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px; }

.staff-detail__sertificate-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.staff-detail__sertificate-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #EDEDED;
  cursor: pointer; }
  .staff-detail__sertificate-item:hover {
    border: 1px solid #CBCBCB; }

.staff-detail__sertificate-img {
  max-width: 100%;
  max-height: 100%; }

@media (min-width: 1344px) {
  .staff-detail__info-item {
    width: calc(33.33% - 20px); }
    .staff-detail__info-item:nth-child(3n) {
      margin-right: 0; } }

@media (max-width: 1343px) {
  .staff-detail__title {
    padding: 0 0 20px 0;
    font-size: 28px;
    line-height: 34px; }
  .staff-detail__description {
    padding: 0 0 30px 0; }
  .staff-detail__info-item {
    width: calc(50% - 15px); }
    .staff-detail__info-item:nth-child(2n) {
      margin-right: 0; }
  .staff-detail__sertificate-item {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    padding: 8px; } }

@media (max-width: 1023px) {
  .sidebar-staff-detail {
    min-width: 244px; }
  .sidebar-staff-detail__img-wrap {
    height: 220px; }
  .sidebar-staff-detail__quote {
    margin-top: 10px; }
  .quote-block-staff-detail {
    padding: 15px; }
  .quote-block-staff-detail__svg {
    width: 20px;
    min-width: 20px;
    height: 14px; }
  .quote-block-staff-detail__text {
    font-size: 13px;
    line-height: 20px; }
  .staff-detail__sidebar {
    margin-right: 30px; }
  .staff-detail__description {
    padding: 0 0 20px 0;
    font-size: 13px;
    line-height: 20px; }
  .staff-detail__info-item-text,
  .staff-detail__info-item-link {
    font-size: 13px;
    line-height: 20px; }
  .staff-detail__info-item {
    margin-bottom: 15px; }
  .staff-detail__btn {
    margin-top: 20px; }
  .staff-detail__sertificate {
    padding-top: 30px; }
  .staff-detail__sertificate-title {
    padding: 0 0 10px 0; }
  .staff-detail__sertificate-item {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    padding: 10px; } }

@media (max-width: 767px) {
  .staff-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .sidebar-staff-detail {
    margin-right: 0; }
  .sidebar-staff-detail {
    max-width: 100%; }
  .sidebar-staff-detail__quote {
    margin-top: 0; }
  .quote-block-staff-detail {
    padding: 10px; }
  .quote-block-staff-detail__svg {
    margin-right: 10px; }
  .staff-detail__title {
    padding: 20px 0; }
  .sidebar-staff-detail__img-wrap {
    height: 202px; } }

@media (max-width: 479px) {
  .sidebar-staff-detail__img-wrap {
    height: 162px; }
  .staff-detail__info-item {
    width: 100%;
    margin-right: 0; }
  .staff-detail__sertificate-item {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    padding: 8px; }
  .staff-detail__btn {
    width: 100%; } }

/*PhotoSwipe custom style*/
div.pswp__bg {
  background: #fff; }
