.bx_filter {
  /*=====================  SELECT   ========================================*/
  /*=====================  END SELECT   ========================================*/
  /*=====================  RADIO   ========================================*/
  /*=====================  END RADIO   ========================================*/ }
  .bx_filter .bx-filter-param-btn-block label {
    margin-bottom: 0;
    cursor: pointer; }
  .bx_filter .mobile_filter-icon_cancel_small {
    display: none; }
  .bx_filter .radio_container_wrapper__resizer {
    overflow: hidden; }
  .bx_filter .find_property_value_wrapper {
    position: relative;
    margin-bottom: 5px; }
    .bx_filter .find_property_value_wrapper .icon-search {
      fill: rgba(0, 0, 0, 0.5); }
      .bx_filter .find_property_value_wrapper .icon-search::before {
        display: none; }
    .bx_filter .find_property_value_wrapper .search-icon {
      position: absolute;
      right: 10px;
      top: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
  .bx_filter .find_property_value {
    width: 100%;
    height: 40px;
    padding: 0 25px 0 10px;
    color: black;
    border: 1px solid #e4e4e4; }
    .bx_filter .find_property_value::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .bx_filter .find_property_value::-moz-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .bx_filter .find_property_value:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .bx_filter .find_property_value::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .bx_filter .find_property_value::placeholder {
      color: rgba(0, 0, 0, 0.5); }
  .bx_filter .bx-filter-btn-color-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-size: cover;
    border: 1px solid #ededed; }
  .bx_filter .bx-filter-param-btn-inline {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .bx_filter .checkboxes_with_pictures .bx-filter-param-label {
    padding: 2px 4px; }
  .bx_filter .bx-filter-param-label {
    min-height: 20px;
    padding: 2px;
    cursor: pointer; }
  .bx_filter .bx_filter_parameters_box_container {
    margin-bottom: 20px; }
    .bx_filter .bx_filter_parameters_box_container .bx_ui_slider_track {
      margin: 3.4rem 15px 2rem 13px; }
    .bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block_wrapper {
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block_wrapper .popup-window-hr {
        width: 24px;
        margin: 20px 0 0 0;
        height: 20px;
        display: none; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block_wrapper .bx_filter_parameters_box_container_block {
        margin: 0; }
        .bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block_wrapper .bx_filter_parameters_box_container_block:nth-child(1) {
          margin: 0; }
    .bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(2) {
      text-align: right;
      margin-left: 35px; }
    .bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input {
      width: 100%;
      height: 2.8rem;
      border: 1px solid #ededed;
      color: #000000;
      text-align: left;
      padding-left: 16px; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input::-webkit-input-placeholder {
        color: #807f7f; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input::-moz-placeholder {
        color: #807f7f; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input:-ms-input-placeholder {
        color: #807f7f; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input::-ms-input-placeholder {
        color: #807f7f; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input::placeholder {
        color: #807f7f; }
    .bx_filter .bx_filter_parameters_box_container .bx_filter_input_container img.calendar-icon {
      display: block;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      font-size: 18px;
      top: 7px;
      right: 3px; }
    .bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container {
      max-width: 100%;
      position: relative; }
      .bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container input.calendar {
        padding: 0 23px 0 4px;
        font-size: 15px; }
  .bx_filter .icon-nav_button {
    display: none; }
  .bx_filter .bx_ui_slider_track {
    position: relative;
    height: 5px;
    margin: 3.4rem 1rem 2rem; }
  .bx_filter .bx_ui_slider_part {
    position: absolute;
    top: -6px; }
    .bx_filter .bx_ui_slider_part.p1 {
      left: 6px; }
    .bx_filter .bx_ui_slider_part.p2 {
      left: 25%; }
    .bx_filter .bx_ui_slider_part.p3 {
      left: 50%; }
    .bx_filter .bx_ui_slider_part.p4 {
      left: 75%; }
    .bx_filter .bx_ui_slider_part.p5 {
      right: 5px; }
    .bx_filter .bx_ui_slider_part span {
      position: absolute;
      top: -1.8rem;
      left: 50%;
      display: block;
      width: 100px;
      margin-left: -50px;
      text-align: center;
      font-size: 12px;
      color: #000; }
    .bx_filter .bx_ui_slider_part.p2 span,
    .bx_filter .bx_ui_slider_part.p3 span,
    .bx_filter .bx_ui_slider_part.p4 span {
      display: none; }
  .bx_filter .bx_ui_slider_range,
  .bx_filter .bx_ui_slider_pricebar,
  .bx_filter .bx_ui_slider_pricebar_VD,
  .bx_filter .bx_ui_slider_pricebar_VN,
  .bx_filter .bx_ui_slider_pricebar_V {
    position: absolute;
    top: -1px;
    bottom: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .bx_filter .bx_ui_slider_range {
    z-index: 85; }
  .bx_filter .bx_ui_slider_pricebar {
    z-index: 100; }
  .bx_filter .bx_ui_slider_pricebar_VD {
    z-index: 60;
    border-top: 1px solid #74868e;
    border-bottom: 1px solid #74868e;
    background: #849da4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0OWRhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5M2FmYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#849da4', endColorstr='#93afb7', GradientType=0); }
  .bx_filter .bx_ui_slider_pricebar_VN {
    z-index: 70;
    border-radius: 5px;
    background: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6eccea', endColorstr='#73d6f6', GradientType=0); }
  .bx_filter .bx_ui_slider_pricebar_V {
    z-index: 80;
    top: -1px;
    bottom: -1px;
    background: var(--main-color); }
  .bx_filter .bx_ui_slider_handle {
    position: absolute;
    top: 100%;
    width: 22px;
    height: 22px; }
    .bx_filter .bx_ui_slider_handle:hover {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab; }
    .bx_filter .bx_ui_slider_handle:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing; }
    .bx_filter .bx_ui_slider_handle.left {
      left: 0;
      margin-left: -10px;
      margin-top: -13px;
      background: #ffffff;
      height: 20px;
      width: 20px;
      border-radius: 50px;
      border: 1px solid #a4a4a4;
      -webkit-transition: all 0s !important;
      transition: all 0s !important; }
    .bx_filter .bx_ui_slider_handle.right {
      right: 0;
      margin-right: -10px;
      margin-top: -13px;
      background: #ffffff;
      height: 20px;
      width: 20px;
      border-radius: 50px;
      border: 1px solid #a4a4a4;
      -webkit-transition: all 0s !important;
      transition: all 0s !important; }
  .bx_filter .bx_filter_parameters_box_container_block {
    font-size: 11px;
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 40%;
    color: #3f3f3f; }
  .bx_filter .bx_filter_search_button {
    cursor: pointer;
    outline: none;
    line-height: 39px;
    display: inline-block;
    height: 40px;
    width: 45%;
    padding: 0 0.5rem;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .bx_filter .bx_filter_search_button:hover {
      border: 1px solid var(--main-color-hover);
      background: var(--main-color-hover); }
  .bx_filter .bx_filter_popup_result {
    position: absolute;
    z-index: 930;
    display: none;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 38px;
    padding-right: 10px;
    white-space: nowrap;
    color: #3f3f3f;
    background-color: var(--main-color);
    -webkit-box-shadow: 0 5px 9.7px 0.3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 9.7px 0.3px rgba(0, 0, 0, 0.15); }
    .bx_filter .bx_filter_popup_result.right {
      left: 106%;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .bx_filter .bx_filter_popup_result.right::after {
        top: calc(50% - 3px);
        left: -5px; }
    .bx_filter .bx_filter_popup_result.left {
      right: 106%;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .bx_filter .bx_filter_popup_result.left::after {
        top: calc(50% - 6px);
        left: calc(100% - 9px); }
    .bx_filter .bx_filter_popup_result::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 10px;
      background-color: var(--main-color);
      -webkit-transform: skew(45deg) rotate(-22deg);
              transform: skew(45deg) rotate(-22deg); }
    .bx_filter .bx_filter_popup_result a {
      text-align: center;
      display: inline-block;
      height: 100%;
      padding: 0 15px 0 10px;
      margin-left: 0;
      text-decoration: none;
      color: #ffffff;
      background: var(--main-color); }
    .bx_filter .bx_filter_popup_result a:hover {
      text-decoration: underline; }
  .bx_filter .popup_result_info {
    display: inline-block;
    color: #fff;
    line-height: 38px; }
  .bx_filter .popup_result_btns {
    background-color: var(--main-color);
    line-height: 38px; }
    .bx_filter .popup_result_btns a {
      display: none;
      background-color: var(--main-color); }
    .bx_filter .popup_result_btns input {
      display: none; }
  .bx_filter .popup_result__close {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 13px;
    margin-right: 14px;
    cursor: pointer; }
    .bx_filter .popup_result__close::before, .bx_filter .popup_result__close::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 15px;
      left: 0;
      top: 50%;
      background-color: #fff; }
    .bx_filter .popup_result__close::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .bx_filter .popup_result__close::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .bx_filter .bx_filter_popup_result_close {
    display: none; }
  .bx_filter .bx-filter-param-text {
    padding-left: 7px;
    font-size: 14px; }
  .bx_filter .bx-filter-select-text {
    position: relative;
    padding: 8px 30px 8px 13px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    cursor: pointer; }
    .bx_filter .bx-filter-select-text::after {
      content: '';
      position: absolute;
      top: calc(50% + 1px);
      right: 11px;
      display: block;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-bottom: 1px solid #b4b4b4;
      border-right: 1px solid #b4b4b4;
      -webkit-transform: rotate(45deg) translateY(-50%);
              transform: rotate(45deg) translateY(-50%);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
  .bx_filter .radio_container {
    position: relative;
    margin-bottom: 0; }
    .bx_filter .radio_container:hover {
      color: var(--main-color); }
      .bx_filter .radio_container:hover input[type="radio"]:checked + .radio-label::before {
        border: 0; }
      .bx_filter .radio_container:hover input[type="radio"] + .radio-label::before {
        border: 1px solid var(--main-color); }
    .bx_filter .radio_container .radio-label_title {
      display: block;
      -webkit-box-flex: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 0 10px 0 25px;
      font-weight: normal;
      cursor: pointer;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .bx_filter .radio_container input[type="radio"] {
      display: none; }
      .bx_filter .radio_container input[type="radio"] + .radio-label {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 36px;
        min-height: auto;
        line-height: 20px;
        border: 1px solid transparent;
        cursor: pointer; }
        .bx_filter .radio_container input[type="radio"] + .radio-label::before {
          content: '';
          position: absolute;
          top: 1px;
          left: 0;
          display: inline-block;
          width: 20px;
          height: 20px;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          text-align: center;
          vertical-align: top;
          border: 1px solid #EDEDED;
          border-radius: 100%;
          background: #ffffff;
          cursor: pointer;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
        .bx_filter .radio_container input[type="radio"] + .radio-label:empty::before {
          margin-right: 0; }
      .bx_filter .radio_container input[type="radio"]:checked + .radio-label::before {
        -webkit-box-shadow: inset 0 0 0 6px var(--main-color);
                box-shadow: inset 0 0 0 6px var(--main-color);
        border: 0; }
      .bx_filter .radio_container input[type="radio"]:focus + .radio-label::before {
        outline: none;
        border-color: var(--main-color); }
      .bx_filter .radio_container input[type="radio"]:disabled + .radio-label {
        opacity: 0.4;
        cursor: inherit; }
        .bx_filter .radio_container input[type="radio"]:disabled + .radio-label::before {
          -webkit-box-shadow: inset 0 0 0 3px #f4f4f4;
                  box-shadow: inset 0 0 0 3px #f4f4f4;
          border-color: #b4b4b4;
          background: #b4b4b4; }
      .bx_filter .radio_container input[type="radio"]:hover + .radio-label {
        border-color: transparent; }
        .bx_filter .radio_container input[type="radio"]:hover + .radio-label span {
          color: var(--main-color); }
      .bx_filter .radio_container input[type="radio"]::before {
        background-color: var(--main-color);
        border: 2px solid var(--main-color); }

.style-overflow-search {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 15rem; }
  .style-overflow-search::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
    border-radius: 10px; }
  .style-overflow-search::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent; }
  .style-overflow-search::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ced2d5;
    border: 1px solid #ced2d5; }
    .style-overflow-search::-webkit-scrollbar-thumb:hover {
      background: #ced2d5; }

.filter-drop-down-popup {
  padding: 0 12px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15); }
  .filter-drop-down-popup .popup-window-content {
    padding: 0 5px; }
  .filter-drop-down-popup .bx-filter-select-popup {
    width: 100%;
    max-height: 210px; }
  .filter-drop-down-popup label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    line-height: 20px;
    font-weight: normal;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden; }
    .filter-drop-down-popup label:hover {
      color: var(--main-color); }
    .filter-drop-down-popup label.disabled {
      color: #e4e4e4; }
  .filter-drop-down-popup ul {
    margin: 0;
    padding: 0 5px; }
  .filter-drop-down-popup .popup-window-content li {
    padding: 0;
    list-style: none; }
  .filter-drop-down-popup .popup-window-content ul {
    margin-left: 0; }
  .filter-drop-down-popup li {
    margin: 0;
    border-bottom: 1px solid #ededed; }
    .filter-drop-down-popup li::before {
      content: none; }
    .filter-drop-down-popup li:last-child {
      border-bottom: none; }
  .filter-drop-down-popup .bx-filter-btn-color-icon {
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 18px;
    height: 18px;
    border: none;
    vertical-align: initial; }
  .filter-drop-down-popup .bx-filter-param-label .bx-filter-param-btn.bx-color-sl {
    width: 26px;
    height: 26px; }
    .filter-drop-down-popup .bx-filter-param-label .bx-filter-param-btn.bx-color-sl + .bx-filter-param-text {
      line-height: 26px; }
  .filter-drop-down-popup .bx-filter-param-text {
    padding-left: 7px;
    font-size: 14px; }

/*=====================  CHECKBOX   ========================================*/
.filter-size label {
  min-width: 38px;
  min-height: auto;
  margin-bottom: 0.3rem; }
  .filter-size label span {
    color: #202020;
    cursor: pointer; }
  .filter-size label.bx-active span {
    color: #202020; }

.filter-size input:disabled + label .bx-filter-param-text {
  color: #c2c2c2; }

.filter-size .bx-filter-param-text {
  padding-left: 0; }

.filter-size .radio_container_wrapper input:checked + label {
  border-color: transparent; }

.filter-size .radio_container_wrapper input:hover + label {
  border-color: transparent; }

.filter-size .radio_container_wrapper input:hover + label span {
  border-color: transparent; }

.filter-size .type-checkbox input:checked + label {
  border-color: transparent; }

.filter-size .type-checkbox input:focus + label {
  border-color: transparent; }

.filter-size .type-checkbox input:checked + label {
  border-color: transparent; }

.filter-size .type-checkbox input:hover + label {
  border-color: transparent; }

.filter-size .type-checkbox label {
  min-height: auto;
  line-height: 1.7; }

.filter-size:not(.catalog_content__filter_horizon_item_wrapper):hover::before {
  border: 1px solid var(--main-color); }

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0; }
  .checkbox__input:checked ~ .checkbox__label::before {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K");
    background-color: var(--main-color);
    border-color: var(--main-color);
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+"); }
  .checkbox__input:checked ~ .checkbox__label::after {
    background-color: #2196F3; }
  .checkbox__input:checked:disabled ~ .checkbox__label::before {
    background-color: rgba(0, 0, 0, 0.26);
    background-clip: padding-box; }
  .checkbox__input:disabled ~ .checkbox__label {
    color: rgba(0, 0, 0, 0.38); }
    .checkbox__input:disabled ~ .checkbox__label a {
      color: rgba(0, 0, 0, 0.38);
      cursor: auto; }
    .checkbox__input:disabled ~ .checkbox__label::before {
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1); }
    .checkbox__input:disabled ~ .checkbox__label:hover::before {
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1); }
  .checkbox__input:focus ~ .checkbox__label::after {
    -webkit-animation: click-wave .5s;
    animation: click-wave .5s; }
  .checkbox__input:not(:checked) ~ .checkbox__label::after {
    background-color: #000; }

.checkbox__label {
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  line-height: 1.7;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis; }
  .checkbox__label:hover {
    color: var(--main-color); }
    .checkbox__label:hover::before {
      border-color: var(--main-color); }
  .checkbox__label a {
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: middle; }
    .checkbox__label a:hover {
      text-decoration: underline; }
  .checkbox__label.active::before {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K");
    background-color: var(--main-color);
    border-color: var(--main-color);
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+"); }
  .checkbox__label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    margin: 3px 3px 3px 0;
    border: 1px solid rgba(0, 0, 0, 0.3); }
  .checkbox__label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%; }

/*=====================  END CHECKBOX   ========================================*/
/*=====================  COLORS CHECKBOXES   ========================================*/
.bx-filter-param-btn-inline.checkboxes_with_pictures input:disabled + .bx-filter-param-label {
  position: relative;
  cursor: default; }
  .bx-filter-param-btn-inline.checkboxes_with_pictures input:disabled + .bx-filter-param-label::before {
    content: "";
    height: 1px;
    width: 22px;
    background-color: #887f81;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    left: calc(50% - 10px); }
  .bx-filter-param-btn-inline.checkboxes_with_pictures input:disabled + .bx-filter-param-label::after {
    content: "";
    height: 1px;
    width: 22px;
    background-color: #887f81;
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    left: calc(50% - 11px); }
  .bx-filter-param-btn-inline.checkboxes_with_pictures input:disabled + .bx-filter-param-label .bx-filter-btn-color-icon {
    opacity: 0.4; }

/*=====================  END COLORS CHECKBOXES   ========================================*/
/*=====================  COLORS CHECKBOXES WITH LABELS   ========================================*/
.bx-filter-param--checkbox-pict-label .bx-filter-param-label {
  width: 100%; }
  .bx-filter-param--checkbox-pict-label .bx-filter-param-label.disabled {
    color: rgba(0, 0, 0, 0.38); }
    .bx-filter-param--checkbox-pict-label .bx-filter-param-label.disabled:hover .bx-filter-param-btn.bx-color-sl {
      border-color: #ededed; }

/*=====================  ENDCOLORS CHECKBOXES WITH LABELS   ========================================*/
.checkboxes_with_pictures .bx-filter-param-label {
  width: calc(100% / 5); }

.bx-filter-param-label {
  font-weight: normal;
  cursor: pointer; }
  .bx-filter-param-label:hover .bx-filter-param-btn.bx-color-sl {
    border-color: var(--main-color); }
  .bx-filter-param-label .bx-filter-param-btn.bx-color-sl {
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 3px;
    vertical-align: middle;
    border: 1px solid #ededed;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .bx-filter-param-label.bx-active {
    color: var(--main-color); }
    .bx-filter-param-label.bx-active .bx-filter-param-btn.bx-color-sl {
      border: 1px solid var(--main-color);
      color: var(--main-color); }

.mobile_filter-selected_number {
  width: 20px;
  height: 20px;
  padding-top: 1px;
  text-align: center;
  border-radius: 10px;
  background: var(--main-color); }

.mobile_filter_btn {
  display: none;
  min-width: 44px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  color: var(--main-color);
  font-size: 13px;
  background: #fff;
  border: 1px solid #ededed;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  .mobile_filter_btn .mobile_filter-selected_number {
    display: none;
    background: var(--main-color);
    color: #fff;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .mobile_filter_btn svg {
    fill: var(--main-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .mobile_filter_btn:hover {
    color: #ffffff;
    background: var(--main-color); }
    .mobile_filter_btn:hover .mobile_filter-selected_number {
      color: var(--main-color);
      background: #ffffff; }
    .mobile_filter_btn:hover svg {
      fill: #fff; }

.mobile_filter_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 995; }

.bx_filter_wrapper .selected_items {
  display: none; }

@media (min-width: 992px) and (max-width: 1200px) {
  .filter-size .col-xs-12 {
    padding-left: 9px !important; } }

@media (max-width: 991px) {
  .bx_filter_wrapper {
    display: none; }
  .mobile_filter_btn {
    display: inline-block;
/*    -ms-flex-negative: 0;
        flex-shrink: 0;*/
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 575px) {
  .mobile_filter_btn {
    margin: 0;
    height: 100%;
/*    width: calc(100% - 84px);*/
    padding: 10px;
    z-index: 1;
    border-right: 0; } }

.mobile_filter_form .bx_filter {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ededed;
  overflow: hidden;
  /* CHECKBOXES */
  /* RADIO_BUTTONS */
  /* DROPDOWN */ }
  .mobile_filter_form .bx_filter .bx_filter__container {
    overflow-y: auto; }
  .mobile_filter_form .bx_filter .style-overflow-search {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none; }
  .mobile_filter_form .bx_filter .selected_items {
    margin: 0 10px;
    font-size: 13px;
    color: #b3b3b3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .mobile_filter_form .bx_filter .checkbox__label {
    display: block;
    width: 100%;
    min-height: 20px;
    margin: 0; }
    .mobile_filter_form .bx_filter .checkbox__label a {
      text-decoration: none;
      vertical-align: initial; }
    .mobile_filter_form .bx_filter .checkbox__label:hover::before {
      border-color: var(--main-color-hover); }
  .mobile_filter_form .bx_filter .properties_block_title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 13px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ededed;
    cursor: pointer; }
    .mobile_filter_form .bx_filter .properties_block_title::before {
      content: '';
      position: relative;
      top: 5px;
      display: block;
      width: 10px;
      height: 10px;
      margin-top: 0;
      font-weight: normal;
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    .mobile_filter_form .bx_filter .properties_block_title span {
      -webkit-box-flex: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: center; }
  .mobile_filter_form .bx_filter .bx_filter_button_box {
    display: none; }
  .mobile_filter_form .bx_filter .filter_block_wrapper_max_height {
    height: 100% !important; }
  .mobile_filter_form .bx_filter .bx_filter__title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 13px;
    font-size: 15px;
    border-bottom: 1px solid #ededed;
    cursor: pointer; }
    .mobile_filter_form .bx_filter .bx_filter__title::after {
      content: none; }
    .mobile_filter_form .bx_filter .bx_filter__title .block_main_left_menu__title-toggle {
      display: none; }
  .mobile_filter_form .bx_filter .bx_filter_input_container input {
    padding: 5px;
    width: 90px;
    height: 40px; }
  .mobile_filter_form .bx_filter .bx-filter-select-container {
    margin: 0;
    padding: 20px;
    width: 100%; }
  .mobile_filter_form .bx_filter .bx_filter_parameters_open_all {
    display: none; }
  .mobile_filter_form .bx_filter .blank_ul_wrapper {
    border: none;
    border-top: 1px solid #ededed; }
  .mobile_filter_form .bx_filter .bx_filter_parameters_box_checkbox {
    padding: 10px;
    border-bottom: 1px solid #ededed; }
  .mobile_filter_form .bx_filter .find_property_value_wrapper {
    position: relative;
    display: block;
    margin: 15px 10px; }
  .mobile_filter_form .bx_filter .find_property_value {
    width: 100%;
    font-size: 13px;
    background: #fff;
    border: 1px solid #ededed; }
  .mobile_filter_form .bx_filter .bx_filter_parameters_box_container_block_wrapper {
    margin: 25px 20px; }
    .mobile_filter_form .bx_filter .bx_filter_parameters_box_container_block_wrapper .popup-window-hr {
      display: block; }
  .mobile_filter_form .bx_filter .bx_ui_slider_track {
    margin: 3.4rem 30px 2rem 30px; }
  .mobile_filter_form .bx_filter .bx_filter_parameters_box_container {
    margin: 0 !important;
    padding: 0; }
  .mobile_filter_form .bx_filter form {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .mobile_filter_form .bx_filter .bx_filter_popup_result {
    position: fixed;
    left: 0 !important;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 351;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: auto;
    text-align: center;
    line-height: 40px;
    background: none;
    border: 0;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); }
    .mobile_filter_form .bx_filter .bx_filter_popup_result .popup_result__close {
      display: none; }
    .mobile_filter_form .bx_filter .bx_filter_popup_result.right::after {
      display: none; }
    .mobile_filter_form .bx_filter .bx_filter_popup_result .popup_result_btns {
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      line-height: 42px; }
      .mobile_filter_form .bx_filter .bx_filter_popup_result .popup_result_btns input {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%; }
      .mobile_filter_form .bx_filter .bx_filter_popup_result .popup_result_btns input[name="del_filter"] {
        background: #fff;
        border: 1px solid #ededed;
        color: var(--main-color); }
      .mobile_filter_form .bx_filter .bx_filter_popup_result .popup_result_btns input[name="set_filter"] {
        background: var(--main-color);
        border: 1px solid var(--main-color);
        color: #fff;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .mobile_filter_form .bx_filter .bx_filter_popup_result .popup_result_btns input[name="set_filter"]:hover {
          background: var(--main-color-hover);
          border-color: var(--main-color-hover); }
  .mobile_filter_form .bx_filter .bx-filter-btn-color-icon {
    width: 18px;
    height: 18px;
    border: none;
    vertical-align: initial; }
  .mobile_filter_form .bx_filter .bx-filter-param-btn-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .mobile_filter_form .bx_filter .bx-filter-param-label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 13px;
    border: 0;
    border-bottom: 1px solid #ededed; }
    .mobile_filter_form .bx_filter .bx-filter-param-label .color_value {
      line-height: 24px;
      padding-left: 10px;
      font-weight: normal; }
    .mobile_filter_form .bx_filter .bx-filter-param-label:active:not(.disabled) {
      color: var(--main-color); }
    .mobile_filter_form .bx_filter .bx-filter-param-label:active:not(.disabled) .bx-color-sl {
      border-color: var(--main-color-hover); }
    .mobile_filter_form .bx_filter .bx-filter-param-label.bx-active {
      border: none;
      border-bottom: 1px solid #ededed; }
    .mobile_filter_form .bx_filter .bx-filter-param-label.bx-active .bx-color-sl {
      border: 1px solid var(--main-color); }
    .mobile_filter_form .bx_filter .bx-filter-param-label:hover, .mobile_filter_form .bx_filter .bx-filter-param-label:focus, .mobile_filter_form .bx_filter .bx-filter-param-label:active {
      border: none !important;
      border-bottom: 1px solid #ededed !important; }
  .mobile_filter_form .bx_filter .bx_filter_parameters_box_container_block {
    width: 90px; }
  .mobile_filter_form .bx_filter .icon-nav_button {
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .mobile_filter_form .bx_filter .icon-nav_button::before {
      display: inline-block;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  .mobile_filter_form .bx_filter span.icon-search {
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 3rem;
    font-weight: bold; }
  .mobile_filter_form .bx_filter .radio_container_wrapper input[type="radio"]:checked + .radio-label::before {
    background-color: var(--main-color);
    border: 5px solid var(--main-color);
    -webkit-box-shadow: inset 0 0 0 7px #fff;
            box-shadow: inset 0 0 0 7px #fff; }
  .mobile_filter_form .bx_filter .radio_container_wrapper input[type="radio"] + .radio-label:before {
    border: 1px solid #e3e3e3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .mobile_filter_form .bx_filter .radio_container_wrapper .radio_container {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ededed; }
    .mobile_filter_form .bx_filter .radio_container_wrapper .radio_container .radio-label {
      margin: 0;
      width: 100%;
      cursor: pointer; }
      .mobile_filter_form .bx_filter .radio_container_wrapper .radio_container .radio-label::before {
        position: static; }
    .mobile_filter_form .bx_filter .radio_container_wrapper .radio_container .radio-label_title {
      display: inline-block;
      padding-left: 5px; }
    .mobile_filter_form .bx_filter .radio_container_wrapper .radio_container label {
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .mobile_filter_form .bx_filter .radio_container_wrapper .radio_container label .radio-label_title.fonts__main_comment {
        font-size: 13px; }
    .mobile_filter_form .bx_filter .radio_container_wrapper .radio_container:hover {
      color: var(--main-color); }
  .mobile_filter_form .bx_filter .bx-filter-select-text {
    position: relative; }
    .mobile_filter_form .bx_filter .bx-filter-select-text.fix {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
  .mobile_filter_form .bx_filter .popup_result_info {
    display: none;
    color: #a7a7a7; }
    .mobile_filter_form .bx_filter .popup_result_info i {
      display: none; }
  .mobile_filter_form .bx_filter .mobile_filter-icon_cancel_small {
    fill: #000;
    display: inline-block;
    stroke: #000000; }
  .mobile_filter_form .bx_filter .used-now-title {
    -webkit-box-ordinal-group: 1;
       -moz-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .mobile_filter_form .bx_filter .not-used-now-title {
    -webkit-box-ordinal-group: 3;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .mobile_filter_form .bx_filter .used-now-title,
  .mobile_filter_form .bx_filter .not-used-now-title {
    background: #f6f6f6;
    height: 46px;
    width: 100%;
    margin: 0;
    padding: 14px 25px 14px 13px;
    border-bottom: 1px solid #ededed;
    font-size: 13px; }
  .mobile_filter_form .bx_filter .bx-filter-param-btn-block .bx-filter-param-label {
    width: 100%;
    height: 48px;
    margin: 0;
    padding-left: 15px;
    font-weight: normal;
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .mobile_filter_form .bx_filter .bx-filter-param-btn-block .bx-filter-param-label:hover {
      color: var(--main-color-hover); }
      .mobile_filter_form .bx_filter .bx-filter-param-btn-block .bx-filter-param-label:hover .bx-filter-param-btn.bx-color-sl {
        border-color: var(--main-color-hover); }
    .mobile_filter_form .bx_filter .bx-filter-param-btn-block .bx-filter-param-label.bx-active .bx-filter-param-btn.bx-color-sl {
      border: 1px solid var(--main-color-hover); }
  .mobile_filter_form .bx_filter .col-xs-12 {
    padding: 0; }
    .mobile_filter_form .bx_filter .col-xs-12 .bx-filter-param-btn-block {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .mobile_filter_form .bx_filter .col-xs-12 label {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .mobile_filter_form .bx_filter .bx-filter-param-btn.bx-color-sl {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid #ededed;
    padding: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .mobile_filter_form .bx_filter .bx-filter-param-label .bx-filter-param-text {
    padding-left: 10px; }
  .mobile_filter_form .bx_filter .bx_ui_slider_part.fonts__small_comment.p1 {
    left: 51px;
    color: #808080; }
  .mobile_filter_form .bx_filter .bx_ui_slider_part.fonts__small_comment.p1 span {
    text-align: left;
    color: #808080;
    font-size: 12px; }
  .mobile_filter_form .bx_filter .bx_ui_slider_part.fonts__small_comment.p5 {
    right: 51px; }
  .mobile_filter_form .bx_filter .bx_ui_slider_part.fonts__small_comment.p5 span {
    text-align: right;
    color: #808080;
    font-size: 12px; }
  .mobile_filter_form .bx_filter .bx-filter-param-label.bx-active.selected {
    color: inherit; }
    .mobile_filter_form .bx_filter .bx-filter-param-label.bx-active.selected .bx-color-sl {
      border-color: #ededed; }
  .mobile_filter_form .bx_filter .disabled {
    cursor: initial; }
    .mobile_filter_form .bx_filter .disabled .bx-color-sl,
    .mobile_filter_form .bx_filter .disabled .color_value {
      opacity: 0.4; }
  .mobile_filter_form .bx_filter .blank_ul_wrapper.type-checkbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .mobile_filter_form .bx_filter .fonts__middle_comment {
    font-size: 13px; }
  .mobile_filter_form .bx_filter .popup_result_btns {
    width: 100%;
    height: 0; }
  .mobile_filter_form .bx_filter .popup_result_btns--summary {
    height: 90px; }
  .mobile_filter_form .bx_filter .bx-filter-param-btn-inline.checkboxes_with_pictures input:disabled + .bx-filter-param-label::before, .mobile_filter_form .bx_filter .bx-filter-param-btn-inline.checkboxes_with_pictures input:disabled + .bx-filter-param-label::after {
    display: none; }
