@font-face{
	font-family: 'OpenSans-Regular';
	src: url('/bitrix/fonts/opensans-regular.eot');
	src: local('Open Sans'),
	url('/bitrix/fonts/opensans-regular.woff') format('woff'),
	url('/bitrix/fonts/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-Light';
	src: url('/bitrix/fonts/opensans-light.eot');
	src: local('Open Sans Light'),
	url('/bitrix/fonts/opensans-light.woff') format('woff'),
	url('/bitrix/fonts/opensans-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-Semibold';
	src: url('/bitrix/fonts/opensans-semibold.eot');
	src: local('Open Sans Semibold'),
	url('/bitrix/fonts/opensans-semibold.woff') format('woff'),
	url('/bitrix/fonts/opensans-semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('/bitrix/fonts/opensans-bold.eot');
	src: local('Open Sans Bold'),
	url('/bitrix/fonts/opensans-bold.woff') format('woff'),
	url('/bitrix/fonts/opensans-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/* Panel Interface */
.main-grid-interface-toolbar{
	padding-bottom:10px;
	border-bottom:1px solid #edeef0;
	margin-bottom:10px;
}
.main-grid-interface-toolbar-left{
	float:left;
	width:70%;
	text-align:left;
}
.main-grid-interface-toolbar-right{
	float:left;
	width:30%;
	text-align:right;
	line-height:20px;
	padding-top: 2px;
}
.main-grid-context-button{
	display:block;
	float:left;
	line-height:20px;
	height:20px;
	margin-right:1px;
	padding:13px 20px;
	-webkit-transition:background .2s ease;
	   -moz-transition:background .2s ease;
		 -o-transition:background .2s ease;
			transition:background .2s ease;
	vertical-align:middle;
	cursor:pointer;
}
.main-grid-context-button:hover,
.main-grid-context-button.active {
	background:#def9ff;
	color:#535c69;
}
.main-grid-context-button-icon{
	background: url(images/sprite-interface.min.svg) no-repeat;
	opacity:.8;
	vertical-align:top;
	display:inline-block;
	width:15px;
	height:20px;
	margin-right:2px;
	-webkit-transition:all .2s ease;
	   -moz-transition:all .2s ease;
		 -o-transition:all .2s ease;
			transition:all .2s ease;
}
.main-grid-context-button:hover .main-grid-context-button-icon{
	opacity:1;
}
.main-grid-context-button-icon.element-upload{ 	background-position:0 -55px;}
.main-grid-context-button-icon.docs-add{ 		background-position:0 -75px; width:11px;}
.main-grid-context-button-icon.folder-add{ 		background-position:0 -95px; width:16px;}
.main-grid-context-button-text{
	vertical-align:top;
	white-space:nowrap;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	color:#80868e;
	-webkit-transition:all .2s ease;
	   -moz-transition:all .2s ease;
		 -o-transition:all .2s ease;
			transition:all .2s ease;
}
.main-grid-context-button:hover .main-grid-context-button-text{
	color:#535c69;
}


.main-grid-control-panel-input-text,
.main-grid-editor-text,
.main-grid-editor-textarea {
	display: inline-block;
	width: 100%;
	background: #FFFFFF;
	font-size: 14px;
	position: relative;
	height: 34px;
	line-height: 34px;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 6px;
	color: #5c6470;
	text-align: left;
	box-sizing: border-box;
}

.main-grid-control-panel-input-text:focus,
.main-grid-editor-text:focus,
.main-grid-editor-textarea:focus {
	border-color: #7d7d7d;
}

.main-grid-editor-text,
.main-grid-editor-textarea {
	padding-left: 4px;
	padding-right: 4px;
	color: #535c69;
	font-size: 13px;
}

.main-grid-editor-textarea {
	min-height: 40px;
	line-height: 17px;
	padding-top: 4px;
	padding-bottom: 4px;
}


/**/
.main-dropdown {
	display: inline-block;
	background: #FFFFFF;
	position: relative;
	height: 34px;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	font: 12px/34px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	padding-right: 40px;
	padding-left: 15px;
	color: #5c6470;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;
	box-sizing: border-box;
}

.main-dropdown-inner {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 180px;
	height: 27px;
	text-overflow: ellipsis;
	pointer-events: none;
}

.main-dropdown:hover {
	border-color: #7d7d7d;
}

.main-dropdown::before {
	background: url(images/sprite-interface.min.svg) no-repeat 0 -114px;
	display: inline-block;
	content: "";
	position: absolute;
	right: 13px;
	top: 50%;
	margin-top: -4px;
	width: 11px;
	height: 10px;
}

.main-dropdown-active::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.main-dropdown-item-selected .menu-popup-item-icon,
.main-dropdown-item-not-selected .menu-popup-item-icon {
	width: 12px;
}

.main-dropdown-item-selected .menu-popup-item-icon {
	background: url("/bitrix/templates/bitrix24/images/template_sprite.png?9") no-repeat -79px -1446px;
}

.main-grid-panel-select-pagesize {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: visible;
}

/* Disk Breadcrumbs */
.main-grid-interface-breadcrumbs{
	float:left;
	/*width:65%;*/
	width:calc(100% - 310px) ;
	padding-left:15px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	white-space:nowrap;
	-ms-text-overflow:ellipsis;
		text-overflow:ellipsis;
}
.main-grid-interface-breadcrumbs-item-container{
	position:relative;
	max-width:210px;
	display:inline-block;
	float:left;
	margin-right:5px;
	/*margin-bottom:10px;*/
	padding:10px 15px 10px 5px;
	white-space:nowrap;
	-ms-text-overflow:ellipsis;
		text-overflow:ellipsis;
	overflow:hidden;
	font-size:13px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.main-grid-breadcrumbs-arrow{
	width: 9px;
	height:10px;
	position:absolute;
	right:1px;
	top:50%;
	margin-top:-5px;
	opacity:.7;
	background:url(images/sprite-interface.min.svg) no-repeat 0 -292px;
	cursor:pointer;
}
.main-grid-breadcrumbs-arrow:hover{
	opacity:1;
}
.main-grid-interface-sort{
	float:left;
	/*width:35%;*/
	width:310px;
	text-align:right;
}
.bx-disk-interface-bread-crumbs-item-link{
	color:#535c69;
}
.main-grid-interface-view-mode{
	white-space:nowrap;
	display: inline-block;
	vertical-align: middle;
	letter-spacing:-2px;
}
.main-grid-view-mode-tile,
.main-grid-view-mode-grid{
	cursor:pointer;
	background:url(images/sprite-interface.min.svg) no-repeat;
	display:inline-block;
	width: 16px;
	height:15px;
	padding:4px 5px;
	-webkit-transition:all .2s ease;
	   -moz-transition:all .2s ease;
		 -o-transition:all .2s ease;
			transition:all .2s ease;
	opacity:.7;
}
.main-grid-view-mode-tile{background-position:5px -123px;}
.main-grid-view-mode-grid{background-position:5px -142px;}
.main-grid-view-mode-tile.main-grid-view-mode-current,
.main-grid-view-mode-grid.main-grid-view-mode-current,
.main-grid-view-mode-tile:hover,
.main-grid-view-mode-grid:hover{
	background-color:#eaedef;
	opacity:1;
}

/*Settings*/
.main-grid-interface-settings{
	display: inline-block;
	vertical-align: middle;
	padding-left: 4px;
	margin-left: 5px;
	border-left: 1px solid #eff1f3;
	height: 20px;
	padding-top: 3px;
	position: relative;
	margin-top: -3px;
}
.main-grid-interface-settings-icon{
	position: relative;
	top: 3px;
	display:inline-block;
	width: 16px;
	min-width: 16px;
	height:17px;
	background: url(images/grid-gear.svg) 50% 50% no-repeat;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	   -moz-transition: all 200ms ease;
		 -o-transition: all 200ms ease;
			transition: all 200ms ease;
	opacity:.5;
	background-size: 13px;
}

.main-grid-interface-settings-icon.main-grid-interface-settings-icon-active {
	opacity: 1;
}

.main-grid-interface-settings-icon:hover{
	opacity:1;
}




.main-grid {
	position: relative;
	font-family: 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.main-grid-wrapper {
	overflow: hidden;
}

.main-grid-container {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}


/* ALL */
.main-grid-table {
	background: #eef2f4;
	min-width: 100%;
	border: none;
	border-spacing: 0;
	table-layout: fixed;
	transition: opacity 150ms linear;
	opacity: 1;
	overflow: hidden;
}

.main-grid-table-fade tbody {
	opacity: .6;
	pointer-events: none;
}

.main-grid-border {}

/* fade */
.main-grid-fade {
    position: relative;
}


.main-grid-fade::before,
.main-grid-fade::after {
	content: "";
    display: block;
    position: absolute;
    text-decoration: none;
    top: 0;
    bottom: 0;
    width: 10px;
    height: auto;
    z-index: 10;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 1px 100%,5px 100%;
    opacity: 0;
}

.main-grid-fade::before {
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.2) 25%, rgba(0,0,0,.3) 75%, transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,.2) 25%, rgba(0,0,0,.3) 75%, transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);
	background-image: linear-gradient(transparent, rgba(0,0,0,.2) 25%, rgba(0,0,0,.3) 75%, transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);
    background-position: 0 0,0 0;
	left: 0;
	transition: linear opacity 100ms;
}

.main-grid-fade::after {
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.2) 25%, rgba(0,0,0,.3) 75%, transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,.2) 25%, rgba(0,0,0,.3) 75%, transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);
	background-image: linear-gradient(transparent, rgba(0,0,0,.2) 25%, rgba(0,0,0,.3) 75%, transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);
    background-position: 100% 0,100% 0;
	right: 0;
	transition: linear opacity 100ms;
}

.main-grid-fade-right::after {
    opacity: 1;
}

.main-grid-fade-left::before {
    opacity: 1;
}

.main-grid-row-body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main-grid-rows-sort-enable .main-grid-row-body {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}


/* THEAD */

.main-grid-row-head{
	background-color: #ffffff;
	border-bottom: 2px #eef2f4 solid;
}
.main-grid-cell-head{
	position: relative;
	background-color:#ffffff;
	border-bottom: 3px #eef2f4 solid;
	vertical-align:middle;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	cursor:pointer;
	padding:0;
	min-width:70px;
	height: 48px;
	-webkit-transition:background-color .3s cubic-bezier(.000, .465, .750, .750);
	   -moz-transition:background-color .3s cubic-bezier(.000, .465, .750, .750);
		 -o-transition:background-color .3s cubic-bezier(.000, .465, .750, .750);
			transition:background-color .3s cubic-bezier(.000, .465, .750, .750);
}

.main-grid-cell-head {
	white-space: nowrap;
}

.main-grid-cell-head * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-grid-cell-head:last-child {
	border-right: 0;
}

.main-grid-row-head .main-grid-cell-head.main-grid-cell-last {
	border-right-color:transparent;
}
.main-grid-border .main-grid-cell-head{
	border-right: 1px solid #C1EAF9 !important;
	border-bottom:1px solid #C1EAF9 !important;
	border-top:   1px solid #C1EAF9 !important;
}
.main-grid-border .main-grid-row-head .main-grid-cell-head:first-child{border-left:1px solid #C1EAF9;}

.main-grid-cell-head-container {
	padding-top: 15px;
	padding-bottom: 11px;
	padding-left: 16px;
	padding-right: 16px;
	display:block;
	max-width:100%;
	min-width: 100%;
	position:relative;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}

.main-grid-head-title {
	font-family: 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
	display: inline-block;
	max-width:100%;
	-ms-text-overflow:ellipsis;
		text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	color:#535c69;
	text-transform: uppercase;
	font-weight: normal;
	font-size:11px;
	line-height:12px;
	text-align:left;
	z-index:7;
	letter-spacing: .5px;
	padding-right: 21px;
}

.main-grid-col-no-sortable {
	cursor: default;
}

.main-grid-compact .main-grid-cell-head-container{padding:9px 10px;}
.main-grid-compact .main-grid-head-title{font-size:13px;}

.main-grid-cell-sortable-up,
.main-grid-cell-sortable-down{
	position:relative;
	padding-right:21px;
}
.main-grid-compact .main-grid-cell-sortable-up,
.main-grid-compact .main-grid-cell-sortable-down{padding-right:21px;}
.main-grid-cell-sortable{background-color:#c1eaf9;}
.main-grid-cell-sortable-up:before,
.main-grid-cell-sortable-down:before{
	content:'';
	position:absolute;
	width:21px;
	height:12px;
	right:0;
	top:50%;
	z-index:1;
	margin-top:-6px;
	background:url(images/sprite-interface.min.svg) 1px -214px no-repeat;
	opacity:0;
	-webkit-transition:all 300ms ease;
	   -moz-transition:all 300ms ease;
		 -o-transition:all 300ms ease;
			transition:all 300ms ease;
}
.main-grid-cell-sortable-up:before{
	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		 -o-transform:rotate(180deg);
			transform:rotate(180deg);
}
.main-grid-cell-sortable.main-grid-cell-sortable-up:before,
.main-grid-cell-sortable.main-grid-cell-sortable-down:before,
.main-grid-cell-sortable-up:hover:before,
.main-grid-cell-sortable-down:hover:before{ opacity:.6;}

/* TBODY */
.main-grid-row td {
	position: relative;
}

.main-grid-on-row-drag.main-grid-row  {
	position: relative;
	z-index: 2;
	pointer-events: none;
}

.main-grid-table-fake {
	box-shadow: 0 0 2px rgba(0,0,0,0.24);
	-webkit-transform: translate3d(0px, 0px, 0);
	-moz-transform: translate3d(0px, 0px, 0);
	-ms-transform: translate3d(0px, 0px, 0);
	-o-transform: translate3d(0px, 0px, 0);
	transform: translate3d(0px, 0px, 0);
}

.main-grid-table-fake thead {
	border: 0;
}
.main-grid-table-fake thead tr th {
	border: 0;
	padding: 0;
}

.main-grid-cell{
	background: #ffffff;
	vertical-align: top;
	padding:0;
	border-bottom: 1px #eef2f4 solid;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	overflow:hidden;
	min-height: 64px;
	-khtml-user-drag: none;
	-webkit-user-drag: none;
}

.main-grid-cell,
.main-grid-cell-head {
	box-sizing: border-box;
	/*padding-right: 5px;*/
}

.main-grid-cell * {
	-khtml-user-drag: none;
	-webkit-user-drag: none;
}

.main-grid:not(.main-grid-ondrag) .main-grid-row:hover > .main-grid-cell {
	background-color: #f6f8f9;
}

.main-grid-row-checked .main-grid-cell,
.main-grid-row-checked .main-grid-cell {
	background-color:#f5fcde;
}

.main-grid:not(.main-grid-ondrag) .main-grid-row-checked:hover > .main-grid-cell,
.main-grid-row-checked:hover > .main-grid-cell {
	background-color:#FAFFEB;
}





.main-grid-row 				 .main-grid-cell:last-child{ border-right:none;}
.main-grid-border  			 .main-grid-cell{
	border-right: 1px solid #edeef0 !important;
	border-bottom:1px solid #edeef0 !important;
}
.main-grid-border .main-grid-row .main-grid-cell:first-child{border-left:1px solid #edeef0;}

.main-grid-cell-content,
.main-grid-editor-container {
	color: #535c69;
	font-size: 13px;
	position: relative;
	display: block;
	vertical-align: top;
	margin: 16px 16px 16px;
}

.main-grid-editor-container {
	margin-top: 11px;
	margin-bottom: 11px;
}

.main-grid-editor-container {
	padding: 0;
}

.main-grid-editor-container .main-grid-editor-output {
	background: #36b5df;
	color: #ffffff;
	display: inline-block;
	position: absolute;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	min-width: 21px;
	top: -15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.main-grid-editor-container .main-grid-editor-output::after {
	display: inline-block;
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #36b5df transparent transparent transparent;
}

.main-grid-editor-container .main-grid-editor-range {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.main-grid-compact  .main-grid-cell-content{padding:10px 10px 8px;}
.main-grid-cell-content.main-grid-cell-text-line{
	display:block;
	max-width:100%;
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.main-grid-editor-checkbox {
	width: auto;
	height: auto;
	margin: auto;
}

/* Tbody Content*/
.main-grid-cell-text-limited{
	display:block;
	line-height:16px;
	max-height:58px;
	position:relative;
	overflow:hidden;
}
.main-grid-cell-text-limited:before{
	position:absolute;
	content:'';
	left:  0;
	right: 0;
	bottom:0;
	width:100%;
	height:16px;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background:  -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background:		linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	-webkit-transition:background 300ms ease;
	   -moz-transition:background 300ms ease;
		 -o-transition:background 300ms ease;
			transition:background 300ms ease;
}
.main-grid-row:hover .main-grid-cell-text-limited:before{
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
	background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
	background:			linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=0 );
}
.main-grid-row-checked .main-grid-cell-text-limited:before{
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,252,222,1) 100%);
	background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,252,222,1) 100%);
	background:			linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,252,222,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5fcde',GradientType=0 );
}
.main-grid-row-checked:hover .main-grid-cell-text-limited:before{
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(250,255,235,1) 100%);
	background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(250,255,235,1) 100%);
	background:			linear-gradient(top, rgba(255,255,255,0) 0%,rgba(250,255,235,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#faffeb',GradientType=0 );
}
.main-grid-cell-text-limited-btn{
	/*position: absolute;*/
	/*bottom:0;*/
	line-height:15px;
	vertical-align: bottom;
	font-size:12px;
	cursor: pointer;
	color: #2067b0;
	border-bottom:1px dashed;
	-webkit-transition:border 300ms ease;
	   -moz-transition:border 300ms ease;
		 -o-transition:border 300ms ease;
			transition:border 300ms ease;
}
.main-grid-cell-text-limited-btn:hover{
	border-bottom-color:transparent;
}

.main-grid-content-note{
	width:13px;
	display:block;
	height:11px;
	cursor:pointer;
	background:url(images/sprite-interface.min.svg) 0 -187px no-repeat;
	opacity:.4;
	-webkit-transition:opacity 200ms ease;
	   -moz-transition:opacity 200ms ease;
		 -o-transition:opacity 200ms ease;
			transition:opacity 200ms ease;
	float:right;
	margin:2px 0 2px 7px;
}
.main-grid-content-note:hover{opacity:.7;}
/* TFOOT */
.main-grid-row-foot{}
.main-grid-cell-foot{
	background-color:#fff;
	padding:0;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	overflow:hidden;
	vertical-align:top;
	-webkit-transition:background 300ms ease;
	   -moz-transition:background 300ms ease;
		 -o-transition:background 300ms ease;
			transition:background 300ms ease;
}
.main-grid-cell-foot .main-grid-cell-content{padding:10px 13px 22px;}
.main-grid-compact .main-grid-cell-foot .main-grid-cell-content{padding:10px 10px 15px;}
/* CUSTOM */
/* Checkbox */
.main-grid-cell-head.main-grid-cell-checkbox,
.main-grid-cell.main-grid-cell-checkbox,
.main-grid-control-panel-cell.main-grid-cell-checkbox {
	width: 1%;
	min-width: 18px;
	text-align:center;
	border-right:none;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}


.main-grid-cell-checkbox .main-grid-cell-content,
.main-grid-cell-action .main-grid-cell-content {
	margin-left: 0;
	margin-right: 0;
	top: 1px;
}

.main-grid-panel-limit .main-grid-panel-content-title {
	position: relative;
	top: -6px;
}

/* Actions */
.main-grid-cell-action{
	width: 1%;
	min-width: 36px;
	text-align:center;
	cursor: default;
}
.main-grid-action-container{
	display: inline-block;
	margin-top: 18px;
}
.main-grid-row-action-button {
	display:inline-block;
	position: relative;
	width:14px;
	height:12px;
	top: 3px;
	cursor:pointer;
	background:url(images/sprite-interface.min.svg) 0 -201px no-repeat;
	opacity:.3;
	-webkit-transition:opacity 200ms ease;
	   -moz-transition:opacity 200ms ease;
		 -o-transition:opacity 200ms ease;
			transition:opacity 200ms ease;
}

.main-grid-row-action-button::before {
	display: block;
	position: absolute;
	content: '';
	left: -10px;
	top: -10px;
	right: -10px;
	bottom: -10px;
}

.main-grid-row-action-button:hover{opacity:.7;}

.main-grid-row-action-button-disabled,
.main-grid-row-action-button-disabled:hover{
	opacity:.1;
	cursor:default;
}

/* Inputs */
.main-grid-cell-content-edit{
	border:1px solid #b5bac0;
	background:#fff;
	max-width:100%;
	color:#000;
	padding:3px 10px;
	font-size:14px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	overflow:hidden;
	-ms-text-overflow:ellipsis;
		text-overflow:ellipsis;
	height:38px;
	vertical-align: top;
}
textarea.main-grid-cell-content-edit{height:auto;}
input[type="file"].main-grid-cell-content-edit{display:none;}
/* gallery */
.wd-column-img-wrapper {
	width:160px;
	height:100px;
	margin:auto;
	padding:15px 0;
	position:relative;
}
.img-wrapper-arrow {
	position:relative;
	width:30px;
	height:100%;
	float:left;
	cursor:pointer;
	opacity: .7;
	-webkit-transition:opacity .3s cubic-bezier(.000, .465, .750, .750);
	   -moz-transition:opacity .3s cubic-bezier(.000, .465, .750, .750);
		 -o-transition:opacity .3s cubic-bezier(.000, .465, .750, .750);
			transition:opacity .3s cubic-bezier(.000, .465, .750, .750);
}
.img-wrapper-arrow:hover{ opacity: 1;}
.img-wrapper-arrow:before {
	content:'';
	float:left;
	/*background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgOCAxNiI+CjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDogIzUzNWM2OTtmaWxsLXJ1bGU6IGV2ZW5vZGQ7fTwvc3R5bGU+PC9kZWZzPgo8cGF0aCBpZD0iU2hhcGVfNDBfY29weV80IiBkYXRhLW5hbWU9IlNoYXBlIDQwIGNvcHkgNCIgY2xhc3M9ImNscy0xIiBkPSJNMTE1NS4wMSwyNzI0Ljk4bDUuNDgtNy45OWgyLjVsLTUuNTMsOC4wMSw1LjUsNy45NS0yLjQ5LjA2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNTUgLTI3MTcpIi8+Cjwvc3ZnPg==) no-repeat center;*/
	background:url(images/sprite-interface.min.svg) no-repeat -4px -230px ;
	width:8px;
	height:16px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}
.wrapper-arrow-left:before {left: 10px;}
.wrapper-arrow-right:before{right:10px;
	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		 -o-transform:rotate(180deg);
			transform:rotate(180deg);
}
.img-container {
	position:relative;
	float:left;
	width: 98px;
	height:98px;
	border:1px solid #cfcfcf;
	background:#fff;
	overflow:hidden;
	margin:auto;
}
.img-container img {
	position:absolute;
	top:   0;
	left:  0;
	right: 0;
	bottom:0;
	margin:auto;
	max-width: 100%;
	max-height:100%;
}
.img-container-overlay {
	position:absolute;
	bottom:0;
	left:  0;
	right: 0;
	margin:auto;
	height:16px;
	background:rgba(36,22,16,0.54);
	font-size:10px;
	line-height:16px;
	text-align:center;
	color:#fff;
}


/* FOOTER  Panel*/
.main-grid-panel-wrap{
	background: #ffffff;
	border-top: 2px solid #eef2f4;
}

.main-grid-panel-table{
	display: table;
	width:100%;
	border-collapse:collapse;
	user-select: none;
}

.main-grid-panel-table tr,
.main-grid-control-panel-table tr {
	height: 42px;
}


.main-grid-panel-row{
	display: table-row;
	text-align: right;
}
.main-grid-panel-cell{
	font-size: 11px;
	text-transform: uppercase;
	display: table-cell;
	padding:6px 13px 6px;
}

.main-grid-panel-cell.main-grid-cell-checkbox {
	padding-left: 0;
	padding-right: 5px;
	text-align: center;
	width: 55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-grid-panel-content{
	white-space:nowrap;
}
.main-grid-panel-content-title{
	text-transform: uppercase;
	font-size:11px;
}
.main-grid-panel-content-text{
	text-transform: uppercase;
	color:#000;
	font-size:11px;
}

.main-grid-panel-counter {
	min-width: 120px;
	width: 1%;
	padding-left: 19px;
}

.main-grid-panel-counter .main-grid-panel-counter-for-all,
.main-grid-panel-counter.main-grid-panel-counter-for-all-enable .main-grid-panel-counter-for-selected {
	display: none;
}

.main-grid-panel-counter.main-grid-panel-counter-for-all-enable .main-grid-panel-counter-for-all {
	display: block;
}




.main-grid-cell-left   {text-align:left;}
.main-grid-cell-center {text-align:center;}
.main-grid-cell-right  {text-align:right;}
.main-grid-cell-justify{text-align:justify;}

.main-grid-panel-select {
	height:32px;
	line-height:32px;
	border:1px solid #b5bac0;
	background:#fff;
	border-radius:1px;
	outline:none;
	min-width: 130px;
}

/* Contorl panel */
.main-grid-control-panel-wrap{
	background: #ffffff;
	position: relative;
}
.main-grid-control-panel-fade {
	position: absolute;
	z-index: 10;
	background: #ffffff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.55;
}
.main-grid-control-panel-table{
	display: table;
	border-collapse:collapse;
}
.main-grid-control-panel-row{ display: table-row;}
.main-grid-control-panel-cell{
	display: table-cell;
	padding-left: 11px;
	padding-right: 0;
	height: 54px;
}

.main-grid-control-panel-cell.main-grid-control-panel-cell-checkbox {
	padding-left: 0;
}

.main-grid-control-panel-checkbox-container {
	width: 20px;
	text-align: center;
	position: relative;
	margin-top: 0;
}

.main-grid-control-panel-content{white-space:nowrap;}
.main-grid-control-panel-content-title{
	color:#535c69;
	font-size:14px;
	line-height:18px;
	vertical-align:middle;
	text-transform: uppercase;
	font-size: 11px;
}

.main-grid-control-panel-content-title label {
	margin-left: -2px;
}

.main-grid-control-panel-content-text{
	color:#000;
	font-size:14px;
	line-height:32px;
	vertical-align:middle;
}
.main-grid-control-panel-action-icon{
	width:15px;
	display:inline-block;
	height:15px;
	line-height:32px;
	vertical-align:middle;
	background:url(images/sprite-interface.min.svg) no-repeat 0;
	-webkit-background-size:15px auto;
			background-size:15px auto;
	margin:0 4px;
	opacity:.7;
	cursor:pointer;
}
.main-grid-control-panel-action-edit{  background-position:0 0;}
.main-grid-control-panel-action-remove{background-position:0 -17px;}
.main-grid-control-panel-action-revert{background-position:0 -34px;}
.main-grid-control-panel-action-icon:hover{
	opacity:1;
}
.main-grid-control-panel-action-icon.main-grid-control-panel-action-icon-disable{
	opacity: .3;
	cursor: not-allowed;
}
.main-grid-control-panel-btn{
	display: inline-block;

}
.main-grid-control-panel-btn:hover{

}
.main-grid-control-panel-btn:active{

}

/* drag */
.main-grid-resize-button {
	display:block;
	width: 11px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -6px;
	z-index: 10;
	cursor: col-resize;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
	opacity: 0;
}

.main-grid-cell-head:nth-last-of-type(2) .main-grid-resize-button {
	right: 0;
	width: 3px;
}

.main-grid-cell-head:hover .main-grid-resize-button {
	opacity: 1;
}

html:not(.bx-firefox) .main-grid-resize-button::after {
	display: inline-block;
	content: '';
	width: 1px;
	background: #eef2f4;
	position: absolute;
	top: 100%;
	right: 5px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}

.main-grid-resize-button::before {
	background: rgba(0,0,0,.1);
	display: inline-block;
	width: 1px;
	height: 26px;
	font-size: 13px;
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -13px;
	right: 4px;
}

.main-grid-cell-head:nth-last-of-type(2) .main-grid-resize-button::before {
	right: 0;
	width: 1px;
}

html:not(.bx-firefox) .main-grid-cell-head:nth-last-of-type(2) .main-grid-resize-button::after {
	right: 1px;
}


.main-grid-resize-button:hover::before,
.main-grid-resize-button:active::before {
	opacity: 1;
	background: rgba(0,0,0,.2);
}

html:not(.bx-firefox) .main-grid-resize-button:hover::after,
html:not(.bx-firefox) .main-grid-resize-button:active::after {
	opacity: 1;
	height: 50000px;
}

.main-grid-cell-last .main-grid-resize-button,
.main-grid-cell-head-drag .main-grid-resize-button {
	right: 0;
}

.main-grid-cell-head-drag {
	position:absolute;
	top:0;
	z-index:30;
}

.main-grid-cell-head-drag::after {
	position: absolute;
	background: rgba(0,0,0,.07);
	content: "";
	width: 100%;
	height: 1000px;
	top: 100%;
}

.main-grid-cell-head-drag .main-grid-cell-head-container {
	background:rgba(35, 174, 225, 0.51);
	/*position: relative;*/
	z-index: 99;
}
.main-grid-border .main-grid-cell-head-ondrag .main-grid-cell-head-container,
.main-grid-border .main-grid-cell-head-drag .main-grid-cell-head-container {
	top:1px;
}

.main-grid-cell-head-ondrag .main-grid-cell-head-container,
.main-grid-triangle-top {
	/*position:absolute;*/
	top:0;
	z-index:20;
	-webkit-transition:left 0.2s ease-out;
	   -moz-transition:left 0.2s ease-out;
	     -o-transition:left 0.2s ease-out;
	        transition:left 0.2s ease-out;
}

.main-grid-cell-head-ondrag.main-grid-cell-last .main-grid-cell-head-container {
	border-right-color:transparent;
}
.main-grid-cell-head-drag-dest .main-grid-cell-head-container {
	position: absolute;
	top:1px;
	border: none;
	background: none;
	width: 0;
	display: block;
}

.main-grid-cursor {
	position: absolute;
	background-color: rgba(0,0,0,.4);
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 99;
	width: 2px;
}

/*.main-grid-cursor::before {
	position: absolute;
	top: -6px;
	margin-left: -.25em;
	display: block;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px .3em 0 .3em;
	border-color: #f43400 transparent transparent transparent;
	z-index: 999;
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}*/

.main-grid-cursor::before {
	width: 4px;
	height: 1px;
	background: rgba(0,0,0,.4);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}




@-moz-keyframes bounce {
  0%, 20%, 50%, 60%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  90% {
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  90% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 60%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  90% {
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}





/* MORE */

.main-grid-more {
	position: relative;
	background: #ffffff;
	text-align: center;
	border-top: 1px #eef2f4 solid;
}

.main-grid-more-btn {
	display: inline-block;
	text-align: center;
	padding-left: 44px;
	padding-right: 44px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	color: #0b66c3;
	font-size: 13px;
	font-weight: normal;
	line-height: 34px;
	vertical-align: middle;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	margin-top: 12px;
	margin-bottom: 12px;
	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-ms-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;
}

.main-grid-more-btn::after {
	background: #eef2f4;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	content: '';
}

.main-grid-more-btn:hover {
	background: #f5f5f5;
}

.main-grid-more-btn:active {
	background: #f5f5f5;
	-webkit-box-shadow:inset 0 -4px 3px -5px rgba(0,0,0,.7);
	box-shadow:inset 0 -4px 3px -5px rgba(0,0,0,.7);
}

.main-grid-more-btn.load {
	background: #f5f5f5;
	padding-right: 36px;
}

.main-grid-more-btn .main-grid-more-load-text,
.main-grid-more-btn.load .main-grid-more-text {
	display: none;
}

.main-grid-more-btn.load .main-grid-more-load-text {
	display: inline-block;
}

.main-grid-more-btn.load .main-grid-more-icon {
	background: url(images/loader.gif) 50% 50% no-repeat;
	position: relative;
	top: -2px;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin:0 5px;
	opacity:.6;
}

.main-grid-more-btn.load .main-grid-more-icon {
	background: url(images/loader.png) no-repeat 0 0;
	background-size: 100%;
	height: 20px;
	width: 20px;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.main-grid-more-btn.load .main-grid-more-icon {
	-webkit-animation: grid-load 2s linear infinite;
	animation: grid-load 2s linear infinite;
	opacity: 1;
}

@-webkit-keyframes grid-load {
	0% {-webkit-transform: rotate(0deg)}
	100% {-webkit-transform: rotate(360deg)}
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}
@keyframes grid-load {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}


.main-grid-special-empty {
	min-width: 0 !important;
	cursor: default;
}

.main-grid-cell-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main-table-more-btn:hover .main-grid-more-icon{opacity: 1;}




/* ICON */
.bx-disk-folder-icon{}
.bx-disk-folder-icon.icon-shared_2{}
.bx-file-icon-container-small.bx-disk-file-icon{}
.bx-file-icon-container-small.bx-disk-file-icon.icon-zip{}


.main-grid-disk-icon{
	display:inline-block;
	background:url(images/sprite-interface.min.svg) no-repeat center;
}
.main-grid-cell-content .main-grid-disk-icon{
	vertical-align:middle;
	position:relative;
	top:-2px;
}

/*xs*/
.main-grid-disk-icon-xs{background-size:16px; width:16px; height:16px;}
.main-grid-disk-icon-xs.bx-icon-empty{background-position:0 0}
.main-grid-disk-icon-xs.bx-icon-txt{  background-position:0 -16px}
.main-grid-disk-icon-xs.bx-icon-doc{  background-position:0 -32.5px}
.main-grid-disk-icon-xs.bx-icon-xls{  background-position:0 -49px}
.main-grid-disk-icon-xs.bx-icon-php{  background-position:0 -65px}
.main-grid-disk-icon-xs.bx-icon-pdf{  background-position:0 -81.5px}
.main-grid-disk-icon-xs.bx-icon-ppt{  background-position:0 -98px}
.main-grid-disk-icon-xs.bx-icon-rar{  background-position:0 -114px}
.main-grid-disk-icon-xs.bx-icon-zip{  background-position:0 -130.5px}
.main-grid-disk-icon-xs.bx-icon-set{  background-position:0 -147px;}
.main-grid-disk-icon-xs.bx-icon-mov{  background-position:0 -163px;}
.main-grid-disk-icon-xs.bx-icon-img{  background-position:0 -179.5px;}
.main-grid-disk-icon-xs.bx-icon-folder{ 		height:14px;background-position:0 -195px;}
.main-grid-disk-icon-xs.bx-icon-folder-shared{ 	height:14px;background-position:0 -209px;}
.main-grid-disk-icon-xs.bx-icon-folder-shared_2{height:14px;background-position:0 -223px;}
/*sm*/
.main-grid-disk-icon-sm{background-size:36px auto; width:36px; height:34px;}
.main-grid-disk-icon-sm.bx-icon-empty{background-position:0 0}
.main-grid-disk-icon-sm.bx-icon-txt{  background-position:0 -37px}
.main-grid-disk-icon-sm.bx-icon-doc{  background-position:0 -74px}
.main-grid-disk-icon-sm.bx-icon-xls{  background-position:0 -110px}
.main-grid-disk-icon-sm.bx-icon-php{  background-position:0 -147px}
.main-grid-disk-icon-sm.bx-icon-pdf{  background-position:0 -184px}
.main-grid-disk-icon-sm.bx-icon-ppt{  background-position:0 -221px}
.main-grid-disk-icon-sm.bx-icon-rar{  background-position:0 -258px}
.main-grid-disk-icon-sm.bx-icon-zip{  background-position:0 -295px}
.main-grid-disk-icon-sm.bx-icon-set{  background-position:0 -331px;}
.main-grid-disk-icon-sm.bx-icon-mov{  background-position:0 -368px;}
.main-grid-disk-icon-sm.bx-icon-img{  background-position:0 -404px;}
.main-grid-disk-icon-sm.bx-icon-folder{ 		height:30px;background-position:0 -441px;}
.main-grid-disk-icon-sm.bx-icon-folder-shared{ 	height:30px;background-position:0 -472px;}
.main-grid-disk-icon-sm.bx-icon-folder-shared_2{height:30px;background-position:0 -504px;}
/*md*/
.main-grid-disk-icon-md{background-size:100px auto; width:100px; height:97px;}
.main-grid-disk-icon-md.bx-icon-empty{background-position:0 0}
.main-grid-disk-icon-md.bx-icon-txt{  background-position:0 -102px}
.main-grid-disk-icon-md.bx-icon-doc{  background-position:0 -204px}
.main-grid-disk-icon-md.bx-icon-xls{  background-position:0 -306px}
.main-grid-disk-icon-md.bx-icon-php{  background-position:0 -408px}
.main-grid-disk-icon-md.bx-icon-pdf{  background-position:0 -510px}
.main-grid-disk-icon-md.bx-icon-ppt{  background-position:0 -612px}
.main-grid-disk-icon-md.bx-icon-rar{  background-position:0 -714px}
.main-grid-disk-icon-md.bx-icon-zip{  background-position:0 -816px}
.main-grid-disk-icon-md.bx-icon-set{  background-position:0 -918px;}
.main-grid-disk-icon-md.bx-icon-mov{  background-position:0 -1020px;}
.main-grid-disk-icon-md.bx-icon-img{  background-position:0 -1122px;}
.main-grid-disk-icon-md.bx-icon-folder{ 		height:82px;background-position:0 -1224px;}
.main-grid-disk-icon-md.bx-icon-folder-shared{ 	height:82px;background-position:0 -1311px;}
.main-grid-disk-icon-md.bx-icon-folder-shared_2{height:82px;background-position:0 -1399px;}
/*lg*/
.main-grid-disk-icon-lg{background-size:150px auto; width:150px; height:146px;}
.main-grid-disk-icon-lg.bx-icon-empty{background-position:0 0}
.main-grid-disk-icon-lg.bx-icon-txt{  background-position:0 -153px}
.main-grid-disk-icon-lg.bx-icon-doc{  background-position:0 -306px}
.main-grid-disk-icon-lg.bx-icon-xls{  background-position:0 -459px}
.main-grid-disk-icon-lg.bx-icon-php{  background-position:0 -612px}
.main-grid-disk-icon-lg.bx-icon-pdf{  background-position:0 -765px}
.main-grid-disk-icon-lg.bx-icon-ppt{  background-position:0 -918px}
.main-grid-disk-icon-lg.bx-icon-rar{  background-position:0 -1071px}
.main-grid-disk-icon-lg.bx-icon-zip{  background-position:0 -1224px}
.main-grid-disk-icon-lg.bx-icon-set{  background-position:0 -1377px;}
.main-grid-disk-icon-lg.bx-icon-mov{  background-position:0 -1530px;}
.main-grid-disk-icon-lg.bx-icon-img{  background-position:0 -1683px;}
.main-grid-disk-icon-lg.bx-icon-folder{ 		height:123px;background-position:0 -1836px;}
.main-grid-disk-icon-lg.bx-icon-folder-shared{ 	height:123px;background-position:0 -1966.5px;}
.main-grid-disk-icon-lg.bx-icon-folder-shared_2{height:123px;background-position:0 -2098.5px;}

/*Responsive*/

.main-grid-disk-icon-responsive.main-grid-disk-icon{
	display:inline-block;
	background: none;
}
.main-grid-disk-icon-responsive.main-grid-disk-icon i{
	display:block;
	background:url(images/sprite-interface.min.svg) no-repeat center;
	width:100%;
	max-width:100%;
	height:0;
	padding-top:97.2%;
	background-size:100% auto;
}

.main-grid-disk-icon-responsive{
	width: 64px;
	/*outline:1px dotted #f00 ;*/
}
.main-grid-disk-icon-responsive.bx-icon-empty i{background-position:0 0}
.main-grid-disk-icon-responsive.bx-icon-txt i{  background-position:0  7.37%}
.main-grid-disk-icon-responsive.bx-icon-doc i{  background-position:0 14.73%}
.main-grid-disk-icon-responsive.bx-icon-xls i{  background-position:0 22.1%}
.main-grid-disk-icon-responsive.bx-icon-php i{  background-position:0 29.47%}
.main-grid-disk-icon-responsive.bx-icon-pdf i{  background-position:0 36.84%}
.main-grid-disk-icon-responsive.bx-icon-ppt i{  background-position:0 44.21%}
.main-grid-disk-icon-responsive.bx-icon-rar i{  background-position:0 51.58%}
.main-grid-disk-icon-responsive.bx-icon-zip i{  background-position:0 58.96%}
.main-grid-disk-icon-responsive.bx-icon-set i{  background-position:0 66.33%}
.main-grid-disk-icon-responsive.bx-icon-mov i{  background-position:0 73.69%;}
.main-grid-disk-icon-responsive.bx-icon-img i{  background-position:0 81.06%;}
.main-grid-disk-icon-responsive.bx-icon-folder i{ padding-top: 82.2%;background-position:0 87.49%;}
.main-grid-disk-icon-responsive.bx-icon-folder-shared i	{ padding-top: 82.2%;background-position:0 93.71%;}
.main-grid-disk-icon-responsive.bx-icon-folder-shared_2 i{padding-top: 82.2%;background-position:0 100%;}


/* BTN link*/
.main-grid-cell-btn-link{
	display:inline;
	cursor:pointer;
	font-size:13px;
	color:#2067b0;
	border:none;
	padding:0;
	background-color:transparent;
	-webkit-transition:all 300ms ease;
	   -moz-transition:all 300ms ease;
		 -o-transition:all 300ms ease;
			transition:all 300ms ease;
}
.main-grid-cell-btn-link:hover{
	text-decoration:underline;
}



.main-grid-control-sort {
	background: url(images/sprite-interface.min.svg) 3px -290px no-repeat;
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	top: 0;
	left: -18px;
	visibility: hidden;
}

.main-grid-control-sort-desc,
.main-grid-cell-head:hover .main-grid-control-sort-hover-desc,
.main-grid-cell-head:active .main-grid-control-sort-hover-desc{
	visibility: visible;
}

.main-grid-control-sort-asc,
.main-grid-cell-head:hover .main-grid-control-sort-hover-asc,
.main-grid-cell-head:active .main-grid-control-sort-hover-asc{
	background: url(images/sprite-interface.min.svg) 3px -291px no-repeat;
	visibility: visible;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.main-grid-cell-head.load .main-grid-control-sort {
	visibility: visible;
	background: url(images/loader.png) no-repeat 0 0;
	background-size: 100%;
	-webkit-animation: grid-load 2s linear infinite;
	animation: grid-load 2s linear infinite;
}

label.main-grid-checkbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main-grid-head-checkbox-container label.main-grid-checkbox {
	display: none;
}

.main-grid-row-checkbox[disabled] + .main-grid-checkbox {
	opacity: .4;
	pointer-events: none;
}

.main-grid-row-body .main-grid-row-checkbox,
.main-grid-row-body .main-grid-row-checkbox + label {
	pointer-events: none;
}

.main-grid-action-panel {
	border-top: 3px solid #eef2f4;
}


.main-grid-nav-panel,
.main-grid-action-panel {
	color: #5c6470;
	transition: all 200ms;
}

.menu-popup-item {
	position: relative;
}

.menu-popup-item.icon .menu-popup-item-icon {
	background: url(images/sprite-interface.min.svg) 999px 999px no-repeat;
}

.menu-popup-item.icon.edit .menu-popup-item-icon {
	background-position: 50% -247px;
}

.menu-popup-item.icon.add .menu-popup-item-icon {
	background-position: 50% -277px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-popup-item.icon.remove .menu-popup-item-icon {
	background-position: 50% -277px;
}

.menu-popup-item.icon.menu::after {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -3px;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 4px;
	border-color: transparent transparent transparent #80868e;
}


[id*="popup-window-content-menu-popup-main-grid-actions-menu"] .menu-popup-item-text,
[id*="menu-popup-main_grid_submenu"] .menu-popup-item-text {
	padding-right: 22px;
}


.main-grid-hide {
	display: none;
}

.main-grid-show {
	display: block;
}


.main-grid-row-custom > .main-grid-cell {
	padding-left: 16px;
	padding-right: 16px;
}

.main-grid-row-custom:hover > .main-grid-cell {
	background: #ffffff!important;
}


.main-grid-panel-control-container {
	display: table-cell;
	padding: 7px;
	vertical-align: middle;
}

.main-grid-panel-control-container .main-grid-control-panel-btn {
	margin-left: 0;
	margin-right: 0;
}


.main-grid-editor-text,
.main-grid-editor-textarea {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 35px;
	padding-left: 10px;
}

.main-grid-editor.main-dropdown {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight: normal;
	font-size: 13px;
	padding-left: 10px;
	width: 100%;
}

.main-grid-cell-checkbox .main-grid-cell-head-container {
	padding-left: 0;
	padding-right: 0;
	padding-top: 12px;
	padding-bottom: 10px;
}

.main-grid-fixed-bar {
	overflow: hidden;
}


.main-grid-fixed-top {
	position: fixed;
	top: 0;
	-webkit-box-shadow: 0 2px 6px -4px rgba(0,0,0,.4);
	box-shadow: 0 2px 6px -4px rgba(0,0,0,.4);
	-webkit-transform: translate3d(0px, 0px, 0);
	-moz-transform: translate3d(0px, 0px, 0);
	-ms-transform: translate3d(0px, 0px, 0);
	-o-transform: translate3d(0px, 0px, 0);
	transform: translate3d(0px, 0px, 0);
	will-change: transform;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	z-index: 1;
}

.main-grid-fixed-bottom {
	position: fixed;
	bottom: 0;
	-webkit-box-shadow: 0 -2px 6px -4px rgba(0,0,0,.4);
	box-shadow: 0 -2px 6px -4px rgba(0,0,0,.4);
}

.main-grid-action-panel.main-grid-fixed-bottom {
	z-index: 80;
}

.main-grid-action-panel .main-grid-panel-counter {
	opacity: 0;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}

.main-grid-action-panel.main-grid-fixed-bottom .main-grid-panel-counter {
	opacity: 1;
}


.main-grid-disable .main-grid-panel-control-container:not([id*="actallrows_"]) {
	opacity: .5;
	pointer-events: none;
	cursor: default;
}


.main-grid-bottom-panels {
	font-family: 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main-grid-bottom-panels::before {
	display: table;
	content: '';
	clear: both;
}

.main-grid .main-grid-row.main-grid-row-empty > td.main-grid-cell {
	background: rgba(255,255,255,.8);
	line-height: 44px;
	vertical-align: middle;
}

.main-grid .main-grid-row.main-grid-row-empty:hover > td.main-grid-cell {
	/*background: none;*/
	background: rgba(255,255,255,.8);
}

.main-grid-full {
	overflow: visible;
	table-layout: auto;
}


.main-grid-action-panel .main-grid-panel-date,
.main-grid-action-panel .main-grid-panel-date .main-ui-date-input {
	height: 34px;
	line-height: 34px;
}

.main-grid-action-panel .main-grid-panel-date .main-ui-date-input {
	border: 1px solid #c6cdd3;
}

.main-grid-action-panel .main-grid-panel-date .main-ui-date-button {
	background-position: 6px -233px;
	height: 32px;
}

.main-grid-action-panel .main-grid-panel-date .main-ui-control-value-delete {
	height: 32px;
}

.main-grid-action-panel .main-grid-panel-date .main-ui-control-value-delete .main-ui-control-value-delete-item {
	top: 8px;
}

.main-grid-buttons {
	font-family: 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: none;
	border-radius: 2px;
	cursor: pointer;
	color: #535c69;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	outline: none;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	border: 1px solid #c6cdd3;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	transition: background-color 0.2s linear, color 0.2s linear;
}

.main-grid-buttons:hover {
	background: #cfd4d8;
	color: #535c69;
}

.main-grid-action-panel:not(.main-grid-disable) .main-grid-buttons.save {
	background: #bbed21;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #535c69;
	border: 1px transparent solid;
}

.main-grid-action-panel:not(.main-grid-disable) .main-grid-buttons.save:hover {
	background: #d2f95f;
}

.main-grid-buttons.cancel {
	background: #f1361b;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	border: 1px transparent solid;
}

.main-grid-buttons.cancel:hover {
	background: #cc1a00;
}

.main-grid-action-panel:not(.main-grid-disable) .main-grid-buttons.apply {
	background: #3bc8f5;
	box-shadow: none;
	color: #fff;
	border: 1px transparent solid;
}

.main-grid-action-panel:not(.main-grid-disable) .main-grid-buttons.apply:hover {
	background: #3fddff;
}

.main-grid-disable .main-grid-buttons.apply {
	background: none;
	color: #535c69;
}


.main-grid-buttons.icon {
	background: none;
	width: 24px;
	height: 24px;
	padding: 4px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: relative;
	opacity: .8;
}

.main-grid-buttons.icon:hover {
	opacity: 1;
}

.main-grid-buttons.icon::before {
	background: url(images/sprite-interface.min.svg) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
}

.main-grid-buttons.icon.remove,
.main-grid-buttons.icon.edit {
	width: auto;
	padding-left: 24px;
	line-height: normal;
}

.main-grid-buttons.icon.remove::before,
.main-grid-buttons.icon.edit::before {
	left: 12px;
}

.main-grid-buttons.icon.remove::before {
	background-position: 1px -276px;
}

.main-grid-buttons.icon.edit::before {
	background-position: 1px 0;
}


.main-grid-control-panel-cell:first-child {
	padding-left: 6px;
}


.grid-mode .workarea-content-paddings,
.grid-mode #workarea-content {
	padding: 0;
}

.main-dropdown-item[data-pseudo="true"] {
	opacity: .6;
}

.main-grid-confirm-content {
	text-align: center;
	min-width: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom: 1px rgba(0,0,0,.05) solid;
}

.main-grid-settings-window {
	font-family: 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #ffffff;
	position: relative;
	opacity: 0;
	height: 0;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.popup-window[id*="-grid-settings-window"] .popup-window-content .main-grid-settings-window {
	opacity: 1;
	height: auto;
	overflow: auto;
}

.main-grid-settings-window-show {
	-webkit-animation: showGridSettings 200ms;
	-o-animation: showGridSettings 200ms;
	animation: showGridSettings 200ms;
	animation-fill-mode: both;
}

@keyframes showGridSettings {
	100% {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 10px solid #eef2f4;
		opacity: 1;
		height: auto;
	}
}

.main-grid-settings-window-footer {
	position: absolute;
	bottom: -48px;
	z-index: 1;
}

.main-grid-settings-window-list {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	border-bottom: 1px rgba(0,0,0,.05) solid;
	padding-top: 8px;
	padding-bottom: 16px;
}

.main-grid-settings-window-list-label {
	padding-bottom: 5px;
}

.main-grid-settings-window-list-item {
	position: relative;
	display: inline-block;
	width: 100%;
	font: 14px/33px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868e;
	cursor: pointer;
	border-radius: 2px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-column-break-inside: avoid;
	margin-bottom:5px;
}

.main-grid-settings-window-list-item .main-grid-settings-window-list-item-label:not([contenteditable="true"]) {
	-webkit-transition: background 200ms;
	transition: background 200ms;
}

.main-grid-settings-window-list-item-checkbox {
	position: absolute;
	top: 10px;
	margin: 0 7px;
	vertical-align: middle;
}

.main-grid-settings-window-list-item-label {
	display: block;
	line-height: 19px;
	width: auto;
	height: auto;
	padding-left: 28px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 20px;
	margin-right: 1px;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: border 200ms;
	-moz-transition: border 200ms;
	-ms-transition: border 200ms;
	-o-transition: border 200ms;
	transition: border 200ms;
	border: 1px transparent solid;
	outline: none;
}

.main-grid-settings-window-list-item-label[contenteditable="true"] {
	border: 1px rgba(59, 153, 252, .6) solid;
}



.main-grid-settings-window-list-item-checkbox:checked + .main-grid-settings-window-list-item-label,
.main-grid-settings-window-list-item:hover .main-grid-settings-window-list-item-label:not([contenteditable="true"]) {
	background: #f3f6f8;
}

.main-grid-settings-window-list-item .main-grid-settings-window-list-item-edit-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 31px;
	opacity: 0;
	z-index: 2;
}

.main-grid-settings-window-list-item .main-grid-settings-window-list-item-edit-button::before {
	background: url(images/main-ui-filter.svg) 3px -44px no-repeat;
	display: inline-block;
	width: 20px;
	height: 31px;
	content: '';
	position: relative;
	left: -5px;
	top: 2px;
	z-index: 1;
}

.main-grid-settings-window-list-item .main-grid-settings-window-list-item-edit-button::after {
	display: inline-block;
	background: transparent;
	width: 24px;
	height: 24px;
	content: '';
	position: absolute;
	top: 5px;
	left: -10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-ms-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;
}

.main-grid-settings-window-list-item:hover .main-grid-settings-window-list-item-edit-button {
	opacity: .8;
}

.main-grid-settings-window-list-item .main-grid-settings-window-list-item-edit-button:hover,
.main-grid-settings-window-list-item-label[contenteditable="true"] + .main-grid-settings-window-list-item-edit-button {
	opacity: 1;
}

.main-grid-settings-window-list-item-label[contenteditable="true"] + .main-grid-settings-window-list-item-edit-button::after {
	background: #bbed21;
}

.main-grid-settings-window-list-item-label[contenteditable="true"] + .main-grid-settings-window-list-item-edit-button:hover::after {
	background: #d2f95f;
}

.main-grid-settings-window-list-item-edit-input {
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: none;
	color: #80868e;
	display: none;
	position: absolute;
	left: 28px;
	margin-left: 0;
	padding-left: 0;
	top: 5px;
	width: calc(100% - 50px);
	border: none;
	line-height: 19px;
	height: 19px;
}

.main-grid-settings-window-list-item-edit .main-grid-settings-window-list-item-edit-input {
	display: block;
	z-index: 1;
}

.main-grid-settings-window-list-item-edit .main-grid-settings-window-list-item-edit-button {
	opacity: .8;
}

.main-grid-settings-window-list-item-edit .main-grid-settings-window-list-item-label {
	color: rgba(0,0,0,0);
}

.main-grid-settings-window-actions {
	padding-top: 19px;
	color: #80868e;
	font-size: 12px;
}

.main-grid-settings-window-actions-item {
	position: relative;
	cursor: pointer;
	transition: 200ms;
	margin-right: 60px;
}

.main-grid-settings-window-actions-item:hover {
	color: #000000;
}

.main-grid-settings-window-actions-item-close {
	padding-left: 13px;
}

.main-grid-settings-window-actions-item-close::before {
	background-image: url(images/main-ui-filter.svg);
	background-position: 2px -4px;
	background-size: 130%;
	opacity: .4;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 2px;
	left: 0;
	content: '';
	display: inline-block;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

.main-grid-settings-window-actions-item-close:hover::before {
	opacity: 1;
}

.main-grid-settings-window-list-item-checked .main-grid-settings-window-list-item-label::before {
	background: url(images/main-ui-filter.svg?1) 0 -369px no-repeat;
}

.main-grid-settings-window-actions-item-button {
	display: inline-block;
	color: #535c69;
	vertical-align: middle;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.main-grid-settings-window-actions-item-reset {
	padding-left: 13px;
	font-size: 12px;
	border-bottom: 0;
	position: relative;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	/*opacity: .4;*/
	text-transform: none;
	white-space: normal;
	max-width: 165px;
	text-align: left;
}

/*.main-grid-settings-window-actions-item-reset::before {
	background-image: url(images/sprite-interface.min.svg);
	background-position: 0px -22px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 4px;
	left: 0;
	content: '';
	display: inline-block;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}*/

.main-grid-settings-window-actions-item-reset:hover {
	opacity: 1;
}

.main-grid-settings-window-for-all {
	font-size: 12px;
	border-bottom: 0;
	text-transform: none;
	margin-left: 15px;
}

.main-grid-settings-window-for-all .main-grid-settings-window-for-all-label {
	padding-left: 1px;
	margin-left: 8px;
}

.main-grid-settings-window-for-all .main-grid-settings-window-for-all-checkbox,
.main-grid-settings-window-for-all .main-grid-settings-window-for-all-label {
	/*opacity: .4;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;*/
	cursor: pointer;
	margin-right: 1px;
	display: inline-block;
	vertical-align: middle;
}

/*.main-grid-settings-window-for-all .main-grid-settings-window-for-all-checkbox:hover,
.main-grid-settings-window-for-all .main-grid-settings-window-for-all-label:hover {
	opacity: .6;
}

.main-grid-settings-window-for-all .main-grid-settings-window-for-all-checkbox:checked,
.main-grid-settings-window-for-all .main-grid-settings-window-for-all-checkbox:checked + .main-grid-settings-window-for-all-label {
	opacity: 1;
}*/

/* NO INFO BLOCK */

.main-grid-empty-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px;
	box-sizing: border-box;
	-webkit-transform: translate3d(0px, 0px, 0);
	-moz-transform: translate3d(0px, 0px, 0);
	-ms-transform: translate3d(0px, 0px, 0);
	-o-transform: translate3d(0px, 0px, 0);
	transform: translate3d(0px, 0px, 0);
	/*height: -webkit-calc(100vh - 292px);*/
	/*height: calc(100vh - 292px);*/
	/*min-height: 225px;*/
}

.main-adm-panel-mini-grid-state .main-grid-empty-block {
	height: -webkit-calc(100vh - 329px);
	height: calc(100vh - 329px);
}

.main-adm-panel-full-grid-state .main-grid-empty-block {
	height: -webkit-calc(100vh - 438px);
	height: calc(100vh - 438px);
}

.main-grid-empty-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: auto;
}

.main-grid-empty-image {
	margin: auto auto 40px auto;
	width: 87px;
	height: 111px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2087%20111%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23535c69%3B%20fill-rule%3A%20evenodd%3B%20opacity%3A%200.12%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M86.93%2025.17l.018-.018L61.884.032l-.03.03v-.05H.012v111h86.8v-.008h.17V31.988h.034v-6.82h-.085zM61.84%209.63l15.504%2015.54H61.84V9.63zm18.336%2094.564H6.816V6.83h48.222v18.34h-.02v6.818h25.16v72.206zM56.91%2044.814L44.43%2057.32%2031.95%2044.812%2026.576%2050.2l12.48%2012.508-12.48%2012.507%205.376%205.388L44.43%2068.1l12.48%2012.508%205.377-5.388-12.48-12.508L62.288%2050.2z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.main-grid-empty-text {
	font: 32px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #c6c8cc;
}

/* END OF NO INFO BLOCK */



.main-grid-ear {
	position: absolute;
	width: 50px;
	height: 160px;
	margin-bottom: -80px;
	z-index: 1;
	opacity: 0;
	will-change: transform;
	-webkit-transform: translate3d(0px, 48px, 0);
	-moz-transform: translate3d(0px, 48px, 0);
	-ms-transform: translate3d(0px, 48px, 0);
	-o-transform: translate3d(0px, 48px, 0);
	transform: translate3d(0px, 48px, 0);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main-grid-ear.show {
	opacity: .6;
}

.main-grid-ear:hover {
	opacity: .8;
}

.main-grid-ear-left {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M0%2C0H1.023A40.977%2C40.977%2C0%2C0%2C1%2C42%2C40.977v0A40.024%2C40.024%2C0%2C0%2C1%2C1.977%2C81H0a0%2C0%2C0%2C0%2C1%2C0%2C0V0A0%2C0%2C0%2C0%2C1%2C0%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.8%2C49.09l-8.014-8.576L20.8%2C31.939a0.762%2C0.762%2C0%2C0%2C0%2C0-1.026l-1.563-1.673a0.647%2C0.647%2C0%2C0%2C0-.959%2C0l-8.014%2C8.576h0L8.224%2C40a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026L18.28%2C51.788a0.647%2C0.647%2C0%2C0%2C0%2C.959%2C0L20.8%2C50.116A0.761%2C0.761%2C0%2C0%2C0%2C20.8%2C49.09Z%22/%3E%3C/svg%3E') center left no-repeat;
	left: -50px;
}

.main-grid-ear-left.show {
	left: 0;
}

.main-grid-ear-right {
	background: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M40.024%2C0H42a0%2C0%2C0%2C0%2C1%2C0%2C0V81a0%2C0%2C0%2C0%2C1%2C0%2C0H40.977A40.977%2C40.977%2C0%2C0%2C1%2C0%2C40.024v0A40.024%2C40.024%2C0%2C0%2C1%2C40.024%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.2%2C31.91l8.014%2C8.576L20.2%2C49.061a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026l1.563%2C1.672a0.647%2C0.647%2C0%2C0%2C0%2C.958%2C0l8.014-8.576h0L32.776%2C41a0.762%2C0.762%2C0%2C0%2C0%2C0-1.025L22.72%2C29.212a0.647%2C0.647%2C0%2C0%2C0-.958%2C0L20.2%2C30.885A0.762%2C0.762%2C0%2C0%2C0%2C20.2%2C31.91Z%22/%3E%3C/svg%3E%0A') center right no-repeat;
	right: -50px;
	left: auto;
}

.main-grid-ear-right.show {
	right: 0;
}

.main-grid-show-popup-animation {
	animation: popupShowAnimation 200ms;
	animation-fill-mode: both;
}

.main-grid-close-popup-animation {
	animation: popupCloseAnimation 200ms;
	animation-fill-mode: both;
}

.main-grid-cell-plus {
	width: 22px;
	min-width: 22px;
	max-width: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-grid-minus-button,
.main-grid-plus-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 22px;
	height: 17px;
	margin: 0 0 0 -7px;
	cursor: pointer;
}

.main-grid-row-custom .main-grid-minus-button,
.main-grid-row-custom .main-grid-plus-button {
	position: absolute;
	float: left;
	top: 16px;
	left: 12px;
	z-index: 1;
}

.main-grid-row-custom .main-grid-minus-button + .main-grid-cell-content,
.main-grid-row-custom .main-grid-plus-button + .main-grid-cell-content {
	margin-left: 34px;
}


.main-grid-row-custom .main-grid-minus-button + .main-grid-cell-content .tasks-grid-wrapper,
.main-grid-row-custom .main-grid-plus-button + .main-grid-cell-content .tasks-grid-wrapper {
	margin: -16px -50px;
	padding: 0 29px;
}


.main-grid-row-expand .main-grid-plus-button {
	opacity: .7;
}

.main-grid-row-expand .main-grid-plus-button:hover {
	opacity: 1;
}

.main-grid-plus-button:before {
	content: '';
	display: inline-block;
	width: 22px;
	height: 14px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23525C69%22%20opacity%3D%22.234%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%2380868E%22%20d%3D%22M8%2C6%20L8%2C4%20L6%2C4%20L6%2C6%20L4%2C6%20L4%2C8.01443104%20L6%2C8.01443104%20L6%2C10%20L8%2C10%20L8%2C8.01443104%20L10%2C8.01443104%20L10%2C6%20L8%2C6%20Z%22%20opacity%3D%22.7%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A') center center no-repeat;
}

.main-grid-row-expand .main-grid-plus-button:before {
	content: '';
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23525C69%22%20opacity%3D%22.234%22/%3E%0A%20%20%20%20%3Crect%20width%3D%226%22%20height%3D%222%22%20x%3D%224%22%20y%3D%226%22%20fill%3D%22%23A6AAAF%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}

.main-grid-minus-button:hover:before {
	opacity: 1;
}

.main-grid-row-body {
	-webkit-transition: opacity, border 200ms;
	-moz-transition: opacity, border 200ms;
	-ms-transition: opacity, border 200ms;
	-o-transition: opacity, border 200ms;
	transition: opacity, border 200ms;
}

.main-grid-row-body:last-child .main-grid-cell {
	border-bottom: none;
}

.main-grid-load-row {
	opacity: .6;
}

.main-grid-load-row td {
	border-color: rgba(0,0,0,.1);
}

/* LOADER */
.main-grid-loader-container {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	width: 110px;
	height: 110px;
	margin-left: -55px;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}

.main-grid-loader-circular {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 110px;
	width: 110px;
	margin-top: -55px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.main-grid-loader-path {
	stroke: #BFC3C8;
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

.main-grid-settings-window-select-links {
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-grid-settings-window-select-link {
	color: #80868e;
	border-bottom: 1px rgba(128, 134, 142, .35) dashed;
	margin-right: 20px;
	cursor: pointer;
	opacity: .8;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}

.main-grid-settings-window-select-link:hover {
	opacity: 1;
}

.main-grid-settings-window-select-link:active {
	opacity: .6;
}

.main-grid-header {
	-webkit-transform: translate3d(0px, 0px, 0);
	-moz-transform: translate3d(0px, 0px, 0);
	-ms-transform: translate3d(0px, 0px, 0);
	-o-transform: translate3d(0px, 0px, 0);
	transform: translate3d(0px, 0px, 0);
}

.main-grid-cell-drag,
.main-grid-cell-drag .main-grid-cell-head-container,
.main-grid-cell-drag .main-grid-cell-content {
	width: 1%;
	min-width: 10px;
	min-height: 20px;
}

.main-grid-cell-drag .main-grid-cell-head-container {
	padding: 0;
}

.main-grid-cell-drag .main-grid-cell-content {
	background: url(images/drag.svg) 50% 50% no-repeat;
	margin-right: 5px;
	margin-left: 6px;
	cursor: move;
	opacity: 0;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}

.main-grid-row-body:hover .main-grid-cell-drag .main-grid-cell-content,
.main-grid-table-fake .main-grid-cell-content {
	opacity: 1;
}

.main-grid-cell-drag .main-grid-cell-content,
.main-grid-cell-checkbox .main-grid-cell-content,
.main-grid-cell-action .main-grid-cell-content {
	top: -1px;
}

.main-grid-cell-drag .main-grid-cell-content {
	top: -2px;
}

.main-grid-cell-checkbox:first-child .main-grid-cell-content,
.main-grid-cell-checkbox:first-child .main-grid-cell-head-container {
	padding-left: 9px;
}

.main-grid-fake-container {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 99;
}

.main-grid-error {
	display: block;
	position: absolute;
	background: rgba(205, 92, 92, .9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 24px;
	padding-top: 14px;
	color: #ffffff;
	z-index: 1;
	opacity: 0;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}

.main-grid-error.main-grid-error-show {
	opacity: 1;
}

.main-grid-messages {
	border-bottom: 1px rgba(0,0,0,.05) solid;
	padding-bottom: 20px;
}

.main-grid-message {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 14px;
	padding: 10px;
}

.main-grid-message:last-child {
	margin-bottom: 0;
}

.main-grid-message-title {
	font-weight: bold;
}

.main-grid-message.main-grid-message-message {

}

.main-grid-message.main-grid-message-error {
	background: rgb(251,229,232);
	color: rgb(210,0,32);
}

.main-grid-message.main-grid-message-warning {
	background: rgb(248,244,193);
	color: rgb(145,112,45);
}

.main-grid-message.main-grid-message-info {
	background: rgb(224,243,249);
	color: rgb(30,146,191);
}

.main-grid-message.main-grid-message-success {
	background: rgb(233,247,218);
	color: rgb(111,145,42);
}


.main-grid-cell-head.main-grid-cell-static.main-grid-cell-drag {
	width: 21px;
}

.main-grid-cell-head.main-grid-cell-static.main-grid-cell-checkbox {
	cursor: auto;
	width: 27px;
}

.main-grid-cell-head.main-grid-cell-static.main-grid-cell-checkbox .main-grid-cell-head-container {
	max-width: 27px;
	min-width: 27px;
}

.main-grid-cell-head.main-grid-cell-static.main-grid-cell-action {
	width: 36px;
}


.main-grid-settings-window-buttons-wrapper {
	position: absolute;
	top: 30px;
	left: 0;
}

.main-grid-settings-window-buttons-wrapper .main-grid-settings-window-actions-item-button {
	color: #333;
}

.main-grid-settings-window-buttons-wrapper .main-grid-settings-window-actions-item-button.main-grid-settings-window-for-all label {
	margin-bottom: 0px;
}


@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.main-grid-show-loader {
	-webkit-animation: showLoader .5s linear forwards;
	animation: showLoader .5s linear forwards;
}

.main-grid-hide-loader {
	-webkit-animation: hideLoader .5s linear forwards;
	animation: hideLoader .5s linear forwards;
}


.main-grid-load-animation {
	display: table!important;
	-webkit-animation: main-grid-load 0ms;
	-o-animation: main-grid-load 0ms;
	animation: main-grid-load 0ms;
}


@keyframes main-grid-load {
	0% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}

@-webkit-keyframes main-grid-load {
	0% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}


@-webkit-keyframes showLoader {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes showLoader {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@-webkit-keyframes hideLoader {
	0% { opacity: 1;
		visibility: visible;
	}
	50% { opacity: 1; }
	99.999% {visibility: visible;}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes hideLoader {
	0% { opacity: 1;
		visibility: visible;
	}
	50% { opacity: 1; }
	99.999% {visibility: visible;}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
/* END OF LOADER */

@keyframes popupShowAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,5px,0);
		-moz-transform: translate3d(0,5px,0);
		-ms-transform: translate3d(0,5px,0);
		-o-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0px,0);
		-moz-transform: translate3d(0,0px,0);
		-ms-transform: translate3d(0,0px,0);
		-o-transform: translate3d(0,0px,0);
		transform: translate3d(0,0px,0);
	}
}

@keyframes popupCloseAnimation {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0,0px,0);
		-moz-transform: translate3d(0,0px,0);
		-ms-transform: translate3d(0,0px,0);
		-o-transform: translate3d(0,0px,0);
		transform: translate3d(0,0px,0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,25px,0);
		-moz-transform: translate3d(0,25px,0);
		-ms-transform: translate3d(0,25px,0);
		-o-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0);
	}
}