.recommended-products {
  margin-bottom: 60px ; }

.recommended-products__slider .product_card__inner {
  width: 100%; }

.recommended-products__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .recommended-products__row.recommended-products__row--5 > div {
    width: 20%; }
  .recommended-products__row.recommended-products__row--5 .product_card__inner {
    width: 100%; }
  .recommended-products__row.recommended-products__row--5 .product-card-inner__buy {
    margin-left: auto;
    margin-right: auto; }
  .recommended-products__row.recommended-products__row--4 > div {
    width: 25%; }
  .recommended-products__row.recommended-products__row--4 .product_card__inner {
    width: 100%; }
  .recommended-products__row.recommended-products__row--4 .product-card-inner__buy {
    margin-left: auto;
    margin-right: auto; }
  .recommended-products__row.recommended-products__row--3 > div {
    width: calc(100% / 3); }
  .recommended-products__row.recommended-products__row--3 .product_card__inner {
    width: 100%; }
  .recommended-products__row.recommended-products__row--3 .product-card-inner__buy {
    margin-left: auto;
    margin-right: auto; }

@media (max-width: 1200px) {
  .recommended-products__row.recommended-products__row--5 > div {
    width: calc(100% / 3); }
  .recommended-products__row.recommended-products__row--4 > div {
    width: calc(100% / 3); }
  .recommended-products__row.recommended-products__row--3 > div {
    width: calc(100% / 3); }
  .recommended-products__row .product_card__block_item_inner-wrapper {
    max-width: 100%; } }

@media (max-width: 768px) {
  .recommended-products__row.recommended-products__row--5 > div {
    width: 50%; }
  .recommended-products__row.recommended-products__row--4 > div {
    width: 50%; }
  .recommended-products__row.recommended-products__row--3 > div {
    width: 50%; } }

@media (max-width: 520px) {
  .recommended-products__row.recommended-products__row--5 > div {
    width: 100%; }
  .recommended-products__row.recommended-products__row--4 > div {
    width: 100%; }
  .recommended-products__row.recommended-products__row--3 > div {
    width: 100%; } }

.recommended-products__slider {
  width: 100%; }
  .recommended-products__slider .swiper-slide {
    height: auto;
    width: calc((100% + 20px) / 5 - 20px); }
    @media (max-width: 1100px) {
      .recommended-products__slider .swiper-slide {
        width: calc((100% + 20px) / 4 - 20px); } }
    @media (max-width: 900px) {
      .recommended-products__slider .swiper-slide {
        width: calc((100% + 20px) / 3 - 20px); } }
    @media (max-width: 600px) {
      .recommended-products__slider .swiper-slide {
        width: 290px; } }
    @media (max-width: 540px) {
      .recommended-products__slider .swiper-slide {
        width: 270px; } }
    .recommended-products__slider .swiper-slide .product_card__block_item_inner {
      margin: 0; }

@media (max-width: 768px) {
  .recommended-products__slider .swiper-slide .product_card__inner {
    border-color: #ededed; } }

[id^="blocks_main_"] .catalog_section_block {
  margin-bottom: 0; }

/*[id^="blocks_main_"] .recommended-products {
  margin-bottom: 0; }*/
