.your_manager {
  text-align: center;
  margin-top: 20px; }
  .your_manager .your_manager-title {
    font-weight: bold; }
  .your_manager .your_manager-contact {
    margin: 5px; }
  .your_manager .your_maanger-contact .your_maanger-phone_number {
    font-weight: bold; }
  .your_manager .your_manager-call_back_button button {
    min-width: 170px;
    margin: 10px; }
  .your_manager .your_manager-icon {
    margin-bottom: 10px; }

.your_manager-icon .icon-user-tie {
  display: none;
  font-size: 30px; }

.your_manager-icon .icon-user {
  font-size: 30px; }

.nav-item.your_manager {
  background: #3e495f;
  margin: 0 20px;
  border-radius: 10px;
  padding: 20px; }
  .nav-item.your_manager .your_manager-icon {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-size: contain;
    width: 50px;
    height: 50px; }
  .nav-item.your_manager .your_manager-icon_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.modal.fade.show.modal_manager {
  color: #000; }
  .modal.fade.show.modal_manager .modal-body {
    padding-bottom: 0; }
  .modal.fade.show.modal_manager .modal-dialog {
    position: relative;
    margin-top: 5rem; }
  .modal.fade.show.modal_manager .modal-dialog .modal-body input {
    display: block;
    width: 100%;
    padding: .4375rem .875rem;
    font-size: .8125rem;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .1875rem;
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out; }
  .modal.fade.show.modal_manager .modal-dialog .modal-body textarea {
    display: block;
    width: 100%;
    padding: .4375rem .875rem;
    font-size: .8125rem;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .1875rem;
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out; }
  .modal.fade.show.modal_manager hr {
    margin-top: 0;
    width: 100%; }
