.mobile_filter_form {

    .hidden_filter_props {
        display: block;
    }

    .bx_filter_block_wrapper {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;

        display: none;
        width: 90%;
        height: calc(100% - 90px);
        padding: 0;

        background: #fff;
        border: 1px solid #ededed;
        border-bottom: none !important;
        overflow-y: auto;
    }

    .bx_filter_parameters_box {
        padding: 13px;
        border-bottom: 1px solid #ededed;
        font-size: 13px;

        &.active .bx_filter_block {
            display: none;
        }

        .bx_filter_parameters_box_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: normal;
            margin: 0;

            .item_name {
                margin-right: 15px;
            }

            .bx_filter_arrow {
                display: none;
            }

            > span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            > span .selected_items {
                margin-right: 10px;
                font-size: 13px;
                color: #b3b3b3;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

    }

    .bx_filter_section {
        padding: 0;
        border: none;
        height: calc(100% - 90px);
        overflow-y: auto;
        background: #ffffff;
    }

    .bx_filter_parameters_box_title {
        font-size: 13px;
        padding: 0;

        &.fonts__middle_text span {
            max-width: 95%;
        }

        &:hover {
            .item_name {
                color: var(--main-color-hover);
            }

            .icon-nav_button {
                color: var(--main-color-hover);
            }
        }

        .item_name {
            transition: all 0.2s ease-in-out;
        }
    }
}
