.filter-vertical {
    margin-bottom: 37px;

    .bx-filter-param-label.disabled {
        .bx-color-sl {
            opacity: 0.4;
        }
    }

    .find_property_value_wrapper {
        display: none;
    }

    .bx_filter_parameters_open_all {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: var(--main-color);
        cursor: pointer;

        &.open .icon-nav_button {
            transform: rotate(180deg);
        }

        &:hover > .icon-nav_button {
            color: var(--main-color-hover);
            border-color: var(--main-color-hover);
        }

        > .icon-nav_button {
            position: relative;
            display: inline-block;
            height: 10px;
            width: 30px;
            padding: 0 5px;
            transition: all 0.2s ease-in-out;

            &::before {
                content: '';
                position: absolute;
                left: 11px;
                top: -1px;
                display: flex;
                width: 7px;
                height: 7px;
                border-bottom: 1px solid var(--main-color-hover);
                border-left: 1px solid var(--main-color-hover);
                transform: rotate(-45deg);
            }
        }

        .bx_filter_parameters_open_all_close {
            display: none;
        }

        .bx_filter_parameters_open_all_open {
            display: inline-block;
            border-bottom: 1px solid var(--main-color);

            &:hover {
                color: var(--main-color-hover);
                border-color: var(--main-color-hover)
            }
        }
    }

    .bx_filter__title {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        position: relative;
        padding: 17px 20px;
        font-size: 18px;
        border-bottom: 1px solid #ededed;

        .block_main_left_menu__title-toggle {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            cursor: pointer;
            transition: all 0.3s ease;

            &::after {
                position: absolute;
                top: 2px;
                left: 4px;
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                transform: rotate(-45deg);
            }
        }

        &.active .block_main_left_menu__title-toggle {
            transform: rotate(180deg);
        }
    }

    .bx_filter_search_reset {
        cursor: pointer;
        outline: none;
        line-height: 39px;
        display: inline-block;
        height: 40px;
        padding: 0 0.5rem;
        width: 45%;
        text-decoration: none;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        background: transparent;
        transition: 0.3s;

        &:hover {
            color: var(--main-color-hover);
            border: 1px solid var(--main-color-hover);
        }

        &:active {
            position: relative;
        }
    }

    .bx_filter_section {
        position: relative;
        background-color: #fcfcfc;
        border: 1px solid #ededed;
        padding: 0;
    }

    .bx_filter_button_box {
        margin-bottom: 0;
        padding-top: 25px;
        clear: both;
    }

    .bx_filter_parameters_box {
        margin-bottom: 0;
        padding: 0;
        border-bottom: 1px solid #ededed;

        &.active .bx_filter_parameters_box_title .bx_filter_arrow {
            transform: rotate(180deg);
        }
    }

    .bx_filter_parameters_box_title {
        display: inline-block;
        margin-bottom: 0;
        padding: 17px 20px;
        font-size: 15px;
        cursor: pointer;
        position: relative;

        .bx_filter_arrow {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 11px;
            height: 10px;
            transition: all 0.2s ease;

            &::before {
                position: absolute;
                top: -1px;
                left: 2px;
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                transform: rotate(-45deg);
            }
        }

        &.fonts__middle_text {
            display: flex;
            align-items: center;
        }

        .item_name {
            margin-right: 5px;
        }
    }

    .bx_filter_block {
        position: relative;
        display: none;
        padding: 0 20px;
        overflow: hidden;

        &.button {
            padding: 0 20px;
            border: none;

            .bx_filter_parameters_box_container {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .bx_filter_button_box .bx_filter_block,
    .bx_filter_parameters_box.active .bx_filter_block {
        display: block;
    }

    .filter-title {
        margin-right: 5px;
    }

    .hidden_filter_props {
        display: none;
    }
}

@import "mobile.scss";
