/*Table*/
.sale-personal-profile-list-container
{
	width:100%;
	border-collapse:collapse;
}

/*Table head*/
.sale-personal-profile-list-container th
{
	border: 1px solid #e2e5e9;
	padding:5px 5px 5px 10px;
	font-family: ProximaNova , Arial;
	font-size:14px;
	text-align:left;
	font-weight:normal;
	background: #f8f8f8;
	color: #303030;
}
.sale-personal-profile-list-container td
{
	border:1px solid #e2e5e9;
	padding:5px 5px 5px 10px;
	font-family:ProximaNova, Arial;
	font-size:12px;
	color:#303030;
	vertical-align: middle;
}
.content-text .sale-personal-profile-list-actions a
{
	color: #a76e6e;
}
.sale-personal-profile-list-border
{
	display: inline-block;
	margin: 0 5px;
	height: 23px;
	border-right: 1px solid #dee2e7;
	vertical-align: middle;
}

.btn.btn-light.index_company-add_organization-button {
	width: 170px;
	background: #3e495f;
	color: #fff;
	float: right;
}

.btn.btn-light.index_company-add_organization-button:hover {
	background: #2a3140;
	color: #fff;
}

.btn.btn-light.index_company-add_organization-button:active {
	background: #2a3140;
	color: #fff;
}


.popup-window-buttons > .main-grid-settings-window-actions-item-button {
	display: inline-block;
	height: 39px;
	line-height: 39px;
	margin: 0 12px 0 0;
	background: #ecedef;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	outline: none;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	transition: background-color 0.2s linear, color 0.2s linear;
}
.popup-window-buttons > .main-grid-settings-window-actions-item-button:hover {
	background: #f3f6f8;
}
.main-grid-settings-window-buttons-wrapper > .main-grid-settings-window-actions-item-button
{
	margin: 0 10px 0 0;
}

.btn.index_company-add_organization-button {
	width: 170px;
	background: #3e495f;
	color: #fff;
	float: right;
	margin-bottom: 1rem;
}

.btn.index_company-add_organization-button:hover {
	background: #2a3140;
	color: #fff;
}

.btn.index_company-add_organization-button:active {
	background: #2a3140;
	color: #fff;
}

@media screen and (max-width: 440px) {
	.btn.index_company-add_organization-button {
		margin: 1rem;
	}
}