.main-ui-select-inner {
	max-height: 177px;
	overflow: auto;
}

.main-ui-filter-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	position: relative;
	height: 39px;
	border: none;
	border-radius: 2px;
	background: #fff;
	font: 15px/39px "Helvetica Neue", Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	z-index: 1;
	overflow: hidden;
}

.pagetitle-container-light .main-ui-filter-search {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 780px;
	height: 38px;
	-webkit-box-shadow: inset 0 0 0 1px #c8d1d6;
	box-shadow: inset 0 0 0 1px #c8d1d6;
	margin-right: 19px;
}

.main-ui-filter-info {
	border-bottom: 1px rgba(0,0,0,.3) dashed;
}

.main-ui-filter-search .main-ui-filter-search-square {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	flex-basis: min-content;
	margin: 4px;
	height: 31px;
	white-space: nowrap;
	outline: none;
}

.main-ui-filter-search .main-ui-filter-search-square .main-ui-square-item {
	max-width: 180px;
}


.main-ui-filter-new-filter .main-ui-filter-edit-mask {
	display: block;
}


.main-ui-control.main-ui-select .main-ui-square-search,
.main-ui-control.main-ui-select .main-ui-square-search-item {
	opacity: 0;
	width: 1px;
	height: 1px;
}

.main-ui-control.main-ui-multi-select .main-ui-square-search {
	position: relative;
}

.main-ui-control.main-ui-multi-select .main-ui-square-search::before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.main-ui-control.main-ui-multi-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.main-ui-filter-number-group .main-ui-control-field:first-of-type {
	max-width: 150px;
}

.main-ui-filter-sidebar-item {
	background: #f8fafb;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.main-ui-filter-sidebar-item-ondrag {
	z-index: 2;
	border-color: transparent!important;
}


.main-ui-filter-sidebar-item-ondrag::after {
	background: #f8fafb;
	display: block;
	position: absolute;
	content: '';
	top: -0px;
	bottom: 0;
	left: -25px;
	right: -22px;
	-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
	z-index: -1;
}


.main-ui-filter-field-button-container {
	display: none;
}

.main-ui-filter-reset-link {
	position: absolute;
	cursor: pointer;
	color: #80868e;
	padding-top: 6px;
	padding-bottom: 6px;
	z-index: -1;
}

.main-ui-filter-reset-link::before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cpath%20fill%3D%22%235B626A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.334%206.745h-4.34l-.01%202.53-3.26-3.27%203.28-3.28-.01%202.73h4.34c1.07%200%201.935-.866%201.935-1.935%200-1.07-.868-1.935-1.937-1.935h-1.11V.295h1.11c1.78%200%203.225%201.444%203.225%203.225%200%201.78-1.445%203.225-3.226%203.225h.002z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	opacity: .4;
	position: absolute;
	width: 12px;
	height: 10px;
	top: 8px;
	left: -1px;
	content: '';
	display: inline-block;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

.main-ui-filter-reset-link:hover::before {
	opacity: .8;
}

.main-ui-filter-reset-link:hover {
	color: #000000;
}

.main-ui-filter-confirm-content {
	text-align: center;
	min-width: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom: 1px rgba(0,0,0,.05) solid;
}

.main-ui-square {
	box-sizing: border-box;
}


.main-ui-filter-popup-field-list {
	max-width: 630px;
	padding: 25px;
	box-sizing: border-box;
	/*column-rule: 1px rgba(0,0,0,.03) solid;*/
}

.main-ui-filter-field-list-1-column {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

.main-ui-filter-field-list-2-column {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.main-ui-filter-field-list-3-column {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}


.main-ui-hide {
	display: none;
}


.main-ui-popup-show-animation {
	animation: popupShowAnimation 200ms;
	animation-fill-mode: both;
}

.main-ui-popup-close-animation {
	animation: popupCloseAnimation 200ms;
	animation-fill-mode: both;
}

.main-ui-popup-fast-show-animation {
	animation: popupShowAnimation 150ms;
	animation-delay: 10ms;
	animation-fill-mode: both;
}

.main-ui-popup-fast-close-animation {
	animation: popupCloseAnimation 150ms;
	animation-fill-mode: both;
}


.main-ui-remove-animation {
	perspective: 100px;
	animation: removeAnimation 250ms;
	animation-fill-mode: both;
}

.main-ui-control.main-ui-number {
	min-width: auto;
	padding: 0;
	border: 0;
}

.main-ui-control.main-ui-number::before{
	display: none;
}

.main-ui-control-input.main-ui-number-input {
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px 0 10px!important;
	line-height: 38px;
}

.main-ui-number-input {
	padding-left: 10px;
}

input[type=number].main-ui-number-input::-webkit-inner-spin-button,
input[type=number].main-ui-number-input::-webkit-outer-spin-button {
	margin: 0;
	height: 32px;
	width: 12px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgNyAxMiI+CiAgPGcgZmlsbD0iIzUyNUM2OSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwb2x5Z29uIHBvaW50cz0iMy41IDAgNyA0IDAgNCIvPgogICAgPHBvbHlnb24gcG9pbnRzPSIzLjUgMTIgMCA4IDcgOCIvPgogIDwvZz4KPC9zdmc+Cg==');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}


.main-ui-control-entity {
	display: flex;
	padding: 3px 32px 0 3px;
	min-height: 38px;
	color: #535c69;
	flex-wrap: wrap;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.main-ui-control-entity.main-ui-control {
	padding: 3px 32px 0 3px;
	height: auto;
}

.main-ui-control-entity .main-ui-square {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	flex-basis: min-content;
	margin: 0 3px 3px 0;
}

.main-ui-control-entity .main-ui-square-search {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0px;
	flex: 1 0 0;
}


.main-ui-control-entity .main-ui-control.main-ui-control-string[type="text"] {
	width: 100%;
	border: none;
	letter-spacing: normal;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.main-ui-control-entity .main-ui-control.main-ui-control-string[type="text"]:nth-child(2) {
	padding-left: 4px;
}


/*!* Field group *!*/
.main-ui-control-field-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	margin-bottom: 17px;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.main-ui-control-field-group .main-ui-control-field {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	flex-basis: min-content;
	width: auto;
	float: left;
	margin-right: 10px;
	min-width: auto;
	margin-bottom: 0;
}

.main-ui-control-field-group .main-ui-control-field:nth-last-of-type(2) {
	margin-right: 0;
}

.main-ui-control-field-group .main-ui-control-field .main-ui-item-icon.main-ui-delete {
	display: none;
}

.main-ui-control-field-group .main-ui-control.main-ui-select {
	padding-bottom: 2px;
	white-space: nowrap;
}

.main-ui-control-field-group .main-ui-control {
	display: table;
}

.main-ui-control-field-group .main-ui-item-icon-container {
	opacity: 0;
}

.main-ui-control-field-group:hover .main-ui-item-icon-container {
	opacity: 1;
}

.main-ui-control-field-group .main-ui-filter-field-line {
	float: left;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.main-ui-control-field-group .main-ui-control-field + .main-ui-filter-field-line {
	margin-left: 0;
	margin-right: 10px;
}
/*!* Field group *!*/


.main-ui-filter-field-list-item {
	height: auto!important;
	min-height: 33px!important;
	min-width: 185px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.main-ui-filter-field-list-item .main-ui-select-inner-label {
	position: relative;
	line-height: 19px;
	width: auto;
	height: auto;
	margin-top: 6px;
	margin-left: 27px;
	word-break: break-word;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
}

.main-ui-filter-field-list-item .main-ui-select-inner-label::before {
	position: absolute;
	top: 2px;
	left: -26px;
}

.main-ui-control-field-label {
	position: absolute;
	top: -1px;
	left: 2px;
	color: #a9adb2;
	display: inline-block;
	width: 100%;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	opacity: .7;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-ui-filter-wield-with-label {
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom: 0;
}

.main-ui-control-string:focus {
	outline: none;
}

.main-ui-item-icon-block .main-ui-item-icon.main-ui-search,
.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete {
	-webkit-transition: all 150ms;
	-moz-transition: all 150ms;
	-ms-transition: all 150ms;
	-o-transition: all 150ms;
	transition: all 150ms;
}

.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete {
	opacity: 0;
	right: -30px;
}

.main-ui-show.main-ui-item-icon-block  .main-ui-item-icon.main-ui-search {
	right: 25px;
}

.main-ui-show.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete {
	right: 5px;
	width: 20px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.587%205.503l4.4-4.398-1.132-1.13-4.4%204.397L2.06-.026l-1.13%201.13%204.397%204.4L.927%209.9l1.13%201.132%204.4-4.398%204.398%204.398%201.13-1.13-4.398-4.4z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center 14px;
	-webkit-transition: right .3s, opacity .3s;
	transition: right .3s, opacity .3s;
	opacity: .3;
}

.main-ui-show.main-ui-item-icon-block  .main-ui-item-icon.main-ui-delete:hover {
	opacity: 1;
}

.main-ui-filter-search-square .main-ui-square-delete {
	height: 31px;
}

.main-ui-number .main-ui-control-value-delete {
	right: 24px;
}

.main-ui-control-entity + .main-ui-control-value-delete {
	top: 21px;
}

.main-ui-filter-field-container input:focus,
.main-ui-focus {
	border: 1px solid rgba(81, 203, 238, 1);
}

.main-ui-filter-field-container .main-ui-square-search-item:focus {
	border: none;
}

.main-ui-disable-scroll {
	position: fixed;
	overflow-y: scroll;
	overflow-x: auto;
}

.main-ui-filter-default-preset {
	display: none;
}

.main-ui-filter-default-preset.main-ui-filter-edit {
	display: block;
	opacity: .6;
}

.main-ui-filter-edit .main-ui-filter-sidebar-item-text {
	max-width: -webkit-calc(172px - 40px);
	max-width: calc(172px - 40px);
}

.main-ui-filter-sidebar-item .main-ui-item-icon.main-ui-filter-icon-restore {
	background: none;
	display: none;
	right: -20px;
}

.main-ui-item-icon.main-ui-filter-icon-restore::before {
	background: url(images/sprite-interface.min.svg) 1px -19px no-repeat;
	background-size: 90%;
	position: absolute;
	display: inline-block;
	content: '';
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -5px;
	width: 10px;
	height: 10px;
}

.main-ui-filter-sidebar-item.main-ui-filter-edit.main-ui-filter-default-preset .main-ui-filter-icon-grab,
.main-ui-filter-sidebar-item.main-ui-filter-edit.main-ui-filter-default-preset .main-ui-filter-icon-edit,
.main-ui-filter-sidebar-item.main-ui-filter-edit.main-ui-filter-default-preset .main-ui-delete {
	display: none;
}

.main-ui-filter-default-preset .main-ui-filter-icon-restore {
	display: inline-block;
}

.main-ui-filter-add-container .main-ui-filter-reset-link {
	position: absolute;
	top: -1px;
	left: 0;
	width: 160px;
	pointer-events: auto;
	color: #80868e;
	text-overflow: ellipsis;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0;
}

.main-ui-disable.main-ui-filter-add-container {
	opacity: 1;
	z-index: 1;
}

.main-ui-disable.main-ui-filter-add-container * {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-add-item {
	display: none;
	position: absolute;
	opacity: 0;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-add-edit {
	opacity: .4;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-reset-link {
	opacity: .8;
}

.main-ui-disable.main-ui-filter-add-container .main-ui-filter-reset-link:hover {
	opacity: 1;
	color: #000000;
}

.main-ui-filter-field-restore-items {
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(83,95,105, .5);
	border-bottom: 1px dashed transparent;
	-webkit-transition: opacity .2s, border-bottom .2s;
	transition: opacity .2s, border-bottom .2s;
	cursor: pointer;
	margin-left: 16px;
}

.main-ui-filter-field-restore-items:hover {
	border-bottom: 1px dashed rgba(83,95,105, .5);
	opacity: .8;
}

.main-ui-filter-no-search .main-ui-filter-search-filter {
	pointer-events: none;
	color: rgba(0,0,0,0);
}

.main-ui-filter-no-search .main-ui-filter-search-square + .main-ui-filter-search-filter {
	opacity: 0;
}

.main-ui-filter-no-search .main-ui-filter-search-square:nth-last-child(3)::after {
	display: none;
}

.main-ui-filter-field-button-item {
	padding: 0 0 0 17px;
}

.main-ui-filter-save-for-all {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.main-ui-filter-save-for-all .main-ui-filter-field-button-checkbox {
	display: inline-block;
	vertical-align: middle;
}

.main-ui-filter-save-for-all .main-ui-filter-field-button-item {
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	max-width: 110px!important;
	text-align: left;
}

.webform-small-button .main-ui-filter-field-button-item {
	padding: 0;
}

.main-ui-filter-field-button-inner {
	position: relative;
}

.main-ui-filter-for-all {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -9px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-ui-filter-for-all input,
.main-ui-filter-for-all label {
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}


.main-ui-filter-for-all input {
	opacity: .8;
}

.main-ui-filter-for-all label {
	opacity: .6;
}

.main-ui-filter-for-all input:checked,
.main-ui-filter-for-all input:checked + label {
	opacity: 1;
}

.main-ui-filter-field-button-inner .main-ui-filter-field-button:last-child {
	margin-right: 0;
}


/*.main-ui-filter-preset-field .main-ui-control,*/
/*.main-ui-filter-preset-field .main-ui-date-input{*/
	/*border-color: rgba(15, 167, 215, .5);*/
/*}*/



@keyframes removeAnimation {
	0% {
		-webkit-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}

	100% {
		-webkit-transform: rotateX(90deg);
		-moz-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		-o-transform: rotateX(90deg);
		transform: rotateX(90deg);
		opacity: 0;
	}
}


.main-ui-filter-error {
	animation: fieldError 500ms ease;
}


@keyframes fieldError {
	0% {
		border-color: #f54819;
	}

	100% {
		border-color: #e7eaec;
	}
}


.main-ui-no-before::before {
	display: none!important;
}