<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="lib/vue.js" charset="UTF-8"></script>
    <script type="text/javascript" src="lib/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="lib/jquery.maskedinput.min.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Test</title>
</head>

<style>
</style>
<body>
    <div class="container" id="infoCountry">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Позиция</th>
                            <th>Страна</th>
                            <th>Уровень жизни</th>
                            <th>Безопасность</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items">
                            <template v-if="item.status!=='edit'">
                                <td v-on:click="editItem(item, $index, $event)">{{item.position}}</td>
                                <td v-on:click="editItem(item, $index, $event)">{{item.name}}</td>
                                <td v-on:click="editItem(item, $index, $event)">{{item.levelLife}}</td>
                                <td v-on:click="editItem(item, $index, $event)">{{item.safe}}</td>

                                <td>
                                    <a v-on:click="editItem(item, $index, $event)" href="#" title="редактировать">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </template>

                            <template v-if="item.status=='edit'">
                                <td><input class="form-control" v-model="edit.position"></td>
                                <td><input class="form-control" v-model="edit.name"></td>
                                <td><input class="form-control" v-model="edit.levelLife"></td>
                                <td><input class="form-control" v-model="edit.safe"></td>

                                <td>
                                    <a v-on:click="successEdit(item, $index, $event)" href="#" title="Применить">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </a>
                                    <a v-on:click="cancelEdit(item, $index, $event)" href="#" title="Отмена">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div>
            <button @click="prevPage">
                Назад
            </button>
            <button @click="nextPage">
                Вперед
            </button>
        </div>

<!--         <pre>
Редактирование:
{{edit|json}}
        </pre> -->
    </div>

    <script type="text/javascript">
        var infoCountry = new Vue({
            el:'#infoCountry',
            data: {
                edit: {},
                editIndex: undefined,
                items: []
            },
            ready:function(){
                this.setDefaultItems();
            },
            watch:{
                edit: function(){
                    $('.date').mask("99.99.9999");
                }
            },
            methods: {
                setDefaultItems: function (){
                    var items = [
                        {position: '1', name:'Швейцария', levelLife:'190.82', safe:'78.65', status:''},
                        {position: '1', name:'Швейцария', levelLife:'190.82', safe:'78.65', status:''}, 
                        {position: '2', name:'Дания', levelLife:'190.01', safe:'73.28', status:''},
                        {position: '3', name:'Нидерланды', levelLife:'183.31', safe:'72.78', status:''},
                        {position: '4', name:'Финляндия', levelLife:'182.79', safe:'72.99', status:''},
                        {position: '5', name:'Австрия', levelLife:'182.37', safe:'74.77', status:''},
                        {position: '6', name:'Австралия', levelLife:'181.52', safe:'57.56', status:''},
                        {position: '7', name:'Исландия', levelLife:'179.10', safe:'75.87', status:''},
                        {position: '8', name:'Германия', levelLife:'176.76', safe:'64.58', status:''},
                        {position: '9', name:'Новая Зеландия', levelLife:'175.77', safe:'57.74', status:''},

                    ];

                    this.$set('items', items);
                },
                editItem: function(item, index, e){
                    for(var i = 0, len = this.items.length; i < len ; i++) {
                        this.items[i].status = '';
                    }

                    this.$data.edit = Vue.util.extend({}, item);
                    this.$data.editIndex = index;

                    item.status = 'edit';
                },

                successEdit: function (item, index, e) {
                    this.$data.items.$set(index, this.$data.edit);
                },

                cancelEdit: function (item, index, e) {
                    item.status = '';
                },
                prevPage: function() {
                    alert("Назад");
                },
                nextPage: function() {
                    alert("Вперед");
                },


            }
        });
    </script>
</body>
</html>