.side-panel-over {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  cursor: url("/local/templates/sotbit_origami/assets/img/cursor_close.png") 23 23, pointer; }

.side-panel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  min-width: 400px;
  background-color: #fff;
  z-index: 10001;
  cursor: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }
  .side-panel.show {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

.side-panel__nav {
  position: absolute;
  top: 200px;
  left: -60px;
  width: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 4px 0px 0px 4px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15); }

.side-panel-main__nav-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 70px;
  border-bottom: 1px solid #DADADA;
  z-index: 1; }
  .side-panel-main__nav-item:first-child {
    border-radius: 4px 0 0 0; }
  .side-panel-main__nav-item:last-child {
    border: none;
    border-radius: 0 0 0 4px; }
  .side-panel-main__nav-item svg {
    fill: #CBCBCB; }
  .side-panel-main__nav-item:hover {
    background-color: #F7F7F7; }
    .side-panel-main__nav-item:hover svg {
      fill: var(--main-color); }
    .side-panel-main__nav-item:hover .side-panel-main__nav-count {
      color: #fff;
      background-color: #BDBDBD; }
  .side-panel-main__nav-item:hover.active svg {
    fill: var(--main-color); }
  .side-panel-main__nav-item:hover.active .side-panel-main__nav-count {
    background-color: var(--main-color); }
  .side-panel-main__nav-item.active svg {
    fill: #000; }
  .side-panel-main__nav-item.active .side-panel-main__nav-count {
    background-color: var(--main-color); }
  .side-panel-main__nav-item.side-panel-main__nav-item--cart {
    background-color: var(--main-color); }
    .side-panel-main__nav-item.side-panel-main__nav-item--cart svg {
      fill: rgba(255, 255, 255, 0.7); }
    .side-panel-main__nav-item.side-panel-main__nav-item--cart .side-panel-main__nav-count {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3); }
    .side-panel-main__nav-item.side-panel-main__nav-item--cart:hover {
      background-color: var(--main-color-hover); }
      .side-panel-main__nav-item.side-panel-main__nav-item--cart:hover svg {
        fill: rgba(255, 255, 255, 0.6); }
      .side-panel-main__nav-item.side-panel-main__nav-item--cart:hover .side-panel-main__nav-count {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3); }
  .side-panel-main__nav-item.side-panel-main__nav-item--login svg {
    fill: #000; }
  .side-panel-main__nav-item.side-panel-main__nav-item--auth svg {
    fill: none;
    stroke: #000; }

.side-panel-main__nav-count {
  display: none;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  min-width: 20px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
  background-color: #CBCBCB;
  border-radius: 10px; }
  .side-panel-main__nav-count:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .side-panel-main__nav-count.active {
    color: #fff;
    background-color: var(--main-color); }

.side-panel__main-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
  width: 100%;
  padding: 10px;
  background-color: #F7F7F7; }

.side-panel__main-title {
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px; }

.side-panel__main-item {
  display: none; }
  .side-panel__main-item.show {
    display: block; }

.side-panel__main-auth {
  height: 100vh;
  width: 400px; }

.side-panel__main-basket {
  height: 100vh; }
  .side-panel__main-basket.without-order .basket__footer-checkout {
    display: none; }

.side-panel__main-order {
  width: 770px;
  height: 100vh; }
  .side-panel__main-order .side-panel__main-header {
    padding: 30px;
    -webkit-box-pack: left;
       -moz-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }

.main-order__content {
  height: calc(100% - 90px);
  position: relative;
  padding: 30px; }

@media (max-width: 1023px) {
  .side-panel {
    display: none; } }
