.filter-vertical {
  margin-bottom: 37px; }
  .filter-vertical .bx-filter-param-label.disabled .bx-color-sl {
    opacity: 0.4; }
  .filter-vertical .find_property_value_wrapper {
    display: none; }
  .filter-vertical .bx_filter_parameters_open_all {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8rem;
    color: var(--main-color);
    cursor: pointer; }
    .filter-vertical .bx_filter_parameters_open_all.open .icon-nav_button {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .filter-vertical .bx_filter_parameters_open_all:hover > .icon-nav_button {
      color: var(--main-color-hover);
      border-color: var(--main-color-hover); }
    .filter-vertical .bx_filter_parameters_open_all > .icon-nav_button {
      position: relative;
      display: inline-block;
      height: 10px;
      width: 30px;
      padding: 0 5px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .filter-vertical .bx_filter_parameters_open_all > .icon-nav_button::before {
        content: '';
        position: absolute;
        left: 11px;
        top: -1px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid var(--main-color-hover);
        border-left: 1px solid var(--main-color-hover);
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .filter-vertical .bx_filter_parameters_open_all .bx_filter_parameters_open_all_close {
      display: none; }
    .filter-vertical .bx_filter_parameters_open_all .bx_filter_parameters_open_all_open {
      display: inline-block;
      border-bottom: 1px solid var(--main-color); }
      .filter-vertical .bx_filter_parameters_open_all .bx_filter_parameters_open_all_open:hover {
        color: var(--main-color-hover);
        border-color: var(--main-color-hover); }
  .filter-vertical .bx_filter__title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    position: relative;
    padding: 17px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ededed; }
    .filter-vertical .bx_filter__title .block_main_left_menu__title-toggle {
      position: relative;
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 15px;
      height: 15px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .filter-vertical .bx_filter__title .block_main_left_menu__title-toggle::after {
        position: absolute;
        top: 2px;
        left: 4px;
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .filter-vertical .bx_filter__title.active .block_main_left_menu__title-toggle {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .filter-vertical .bx_filter_search_reset {
    cursor: pointer;
    outline: none;
    line-height: 39px;
    display: inline-block;
    height: 40px;
    padding: 0 0.5rem;
    width: 45%;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .filter-vertical .bx_filter_search_reset:hover {
      color: var(--main-color-hover);
      border: 1px solid var(--main-color-hover); }
    .filter-vertical .bx_filter_search_reset:active {
      position: relative; }
  .filter-vertical .bx_filter_section {
    position: relative;
    background-color: #fcfcfc;
    border: 1px solid #ededed;
    padding: 0; }
  .filter-vertical .bx_filter_button_box {
    margin-bottom: 0;
    padding-top: 25px;
    clear: both; }
  .filter-vertical .bx_filter_parameters_box {
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid #ededed; }
    .filter-vertical .bx_filter_parameters_box.active .bx_filter_parameters_box_title .bx_filter_arrow {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .filter-vertical .bx_filter_parameters_box_title {
    display: inline-block;
    margin-bottom: 0;
    padding: 17px 20px;
    font-size: 15px;
    cursor: pointer;
    position: relative; }
    .filter-vertical .bx_filter_parameters_box_title .bx_filter_arrow {
      position: relative;
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 11px;
      height: 10px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .filter-vertical .bx_filter_parameters_box_title .bx_filter_arrow::before {
        position: absolute;
        top: -1px;
        left: 2px;
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .filter-vertical .bx_filter_parameters_box_title.fonts__middle_text {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .filter-vertical .bx_filter_parameters_box_title .item_name {
      margin-right: 5px; }
  .filter-vertical .bx_filter_block {
    position: relative;
    display: none;
    padding: 0 20px;
    overflow: hidden; }
    .filter-vertical .bx_filter_block.button {
      padding: 0 20px;
      border: none; }
      .filter-vertical .bx_filter_block.button .bx_filter_parameters_box_container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
  .filter-vertical .bx_filter_button_box .bx_filter_block,
  .filter-vertical .bx_filter_parameters_box.active .bx_filter_block {
    display: block; }
  .filter-vertical .filter-title {
    margin-right: 5px; }
  .filter-vertical .hidden_filter_props {
    display: none; }

.mobile_filter_form .hidden_filter_props {
  display: block; }

.mobile_filter_form .bx_filter_block_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 90%;
  height: calc(100% - 90px);
  padding: 0;
  background: #fff;
  border: 1px solid #ededed;
  border-bottom: none !important;
  overflow-y: auto; }

.mobile_filter_form .bx_filter_parameters_box {
  padding: 13px;
  border-bottom: 1px solid #ededed;
  font-size: 13px; }
  .mobile_filter_form .bx_filter_parameters_box.active .bx_filter_block {
    display: none; }
  .mobile_filter_form .bx_filter_parameters_box .bx_filter_parameters_box_title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: normal;
    margin: 0; }
    .mobile_filter_form .bx_filter_parameters_box .bx_filter_parameters_box_title .item_name {
      margin-right: 15px; }
    .mobile_filter_form .bx_filter_parameters_box .bx_filter_parameters_box_title .bx_filter_arrow {
      display: none; }
    .mobile_filter_form .bx_filter_parameters_box .bx_filter_parameters_box_title > span {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
    .mobile_filter_form .bx_filter_parameters_box .bx_filter_parameters_box_title > span .selected_items {
      margin-right: 10px;
      font-size: 13px;
      color: #b3b3b3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.mobile_filter_form .bx_filter_section {
  padding: 0;
  border: none;
  height: calc(100% - 90px);
  overflow-y: auto;
  background: #ffffff; }

.mobile_filter_form .bx_filter_parameters_box_title {
  font-size: 13px;
  padding: 0; }
  .mobile_filter_form .bx_filter_parameters_box_title.fonts__middle_text span {
    max-width: 95%; }
  .mobile_filter_form .bx_filter_parameters_box_title:hover .item_name {
    color: var(--main-color-hover); }
  .mobile_filter_form .bx_filter_parameters_box_title:hover .icon-nav_button {
    color: var(--main-color-hover); }
  .mobile_filter_form .bx_filter_parameters_box_title .item_name {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
