.tags_wrapper {
    margin-bottom: 38px;
}

.tags__title {
    color: #0f0f0f;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 20px;
    font-weight: bold;
}

.tags .tag {
    background: #f7f7f7;
    color: #3f3f3f;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}

.sotbit-seometa-tags-column {
    display: flex;
    flex-direction: column;

    .sotbit-seometa-tags-column-container {

        .sotbit-seometa-tags-column__title {
            width: 100%;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 10px;
        }

        .tags_wrapper {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            transition: height 0.4s ease;
            margin-bottom: 0;

            .tags_section {
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                transition: height 0.4s ease;
                margin-bottom: 0;
            }

            .sotbit-seometa-tags-column-wrapper {
                max-width: 100%;
                width: auto;

                .sotbit-seometa-tag-column {

                    .sotbit-seometa-tag-link {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .sotbit-seometa-tags__hide {
        display: flex;

        .seometa-tags__hide, .seometa-tags__show {
            border: 1px solid #ededed;
            transition: all 0.2s ease-in-out;
            display: none;
            padding: 0 30px;
            font-size: 0.9rem;
            line-height: 32px;
            color: #000;
            align-items: center;

            &:hover {
                border: 1px solid var(--main-color);
                color: var(--main-color);

                .angle-up {
                    border-bottom: 1px solid var(--main-color);
                    border-right: 1px solid var(--main-color);
                }

            }

            .angle-up {
                font-weight: 400;
                display: block;
                content: '';
                width: 7px;
                height: 7px;
                top: 8px;
                right: 1rem;
                margin-top: 0;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
                transform: rotate(45deg) translateX(-3px);
                transition: all .2s ease-in-out;
                padding: 0;
                margin-left: 10px;
            }
        }

    }

    &.closed {

        .tags_wrapper {
            height: 88px;
        }

        .sotbit-seometa-tags__hide {

            .seometa-tags__hide {
                display: none;
            }

            .seometa-tags__show {
                display: flex;
            }
        }
    }

    &.opened {


        .sotbit-seometa-tags__hide {

            .seometa-tags__hide {
                display: flex;

                .angle-up {
                    transform: rotate(225deg) translateX(-3px);
                }
            }

            .seometa-tags__show {
                display: none;
            }
        }
    }
}

.seometa-tags__show,
.seometa-tags__hide {
    display: none;
}

.sotbit-seometa-tags-column-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
}

.sotbit-seometa-tags-column-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.8s;
}

.sotbit-seometa-tags-column {
    margin-top: 4rem;
    margin-bottom: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.sotbit-seometa-tags__hide {
    cursor: pointer;

    i {
        padding-top: 1rem;
        padding-left: 0.4rem;
    }
}

.sotbit-seometa-tag-column a {
    display: flex;
    padding: 0 10px;
    font-size: 0.9rem;
    line-height: 32px;
    color: #000;
}

.sotbit-seometa-tag-column {
    border: 1px solid #ededed;
    border-radius: 2px;
    transition: 0.1s;

    &:hover {
        border: 1px solid var(--main-color);
    }

    &:hover a {
        color: var(--main-color-hover);
    }

    &.active {
        border-color: var(--main-color);
        background-color: var(--main-color);
    }

    &.active a {
        color: #fff;
    }

    &.active a:hover {
        color: #fff;
    }
}

.sotbit-seometa-tags-column__title {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 32px;
    align-self: baseline;
}

@media (max-width: 768px) {
    .sotbit-seometa-tags-column-wrapper {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .sotbit-seometa-tags-row-container .sotbit-seometa-tags__hide {
        .seometa-tags__show:hover,
        .seometa-tags__hide:hover {
            border: none !important;
        }
    }

    .sotbit-seometa-tags-column {

        .sotbit-seometa-tags__hide {

            .seometa-tags__hide, .seometa-tags__show {
                width: 100%;
                justify-content: center;
                border: none;

                &:hover {
                    border: none;
                }
            }
        }

        &.closed {

            .tags_wrapper {
                height: 176px;
            }
        }
    }
}
