.tags_wrapper {
  margin-bottom: 38px; }

.tags__title {
  color: #0f0f0f;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 20px;
  font-weight: bold; }

.tags .tag {
  background: #f7f7f7;
  color: #3f3f3f;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  white-space: nowrap; }

.sotbit-seometa-tags-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .sotbit-seometa-tags-column .sotbit-seometa-tags-column-container .sotbit-seometa-tags-column__title {
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px; }
  .sotbit-seometa-tags-column .sotbit-seometa-tags-column-container .tags_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    -webkit-transition: height 0.4s ease;
    transition: height 0.4s ease;
    margin-bottom: 0; }
    .sotbit-seometa-tags-column .sotbit-seometa-tags-column-container .tags_wrapper .tags_section {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      overflow: hidden;
      -webkit-transition: height 0.4s ease;
      transition: height 0.4s ease;
      margin-bottom: 0; }
    .sotbit-seometa-tags-column .sotbit-seometa-tags-column-container .tags_wrapper .sotbit-seometa-tags-column-wrapper {
      max-width: 100%;
      width: auto; }
      .sotbit-seometa-tags-column .sotbit-seometa-tags-column-container .tags_wrapper .sotbit-seometa-tags-column-wrapper .sotbit-seometa-tag-column .sotbit-seometa-tag-link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 100%; }
  .sotbit-seometa-tags-column .sotbit-seometa-tags__hide {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__hide, .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__show {
      border: 1px solid #ededed;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      display: none;
      padding: 0 30px;
      font-size: 0.9rem;
      line-height: 32px;
      color: #000;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__hide:hover, .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__show:hover {
        border: 1px solid var(--main-color);
        color: var(--main-color); }
        .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__hide:hover .angle-up, .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__show:hover .angle-up {
          border-bottom: 1px solid var(--main-color);
          border-right: 1px solid var(--main-color); }
      .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__hide .angle-up, .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__show .angle-up {
        font-weight: 400;
        display: block;
        content: '';
        width: 7px;
        height: 7px;
        top: 8px;
        right: 1rem;
        margin-top: 0;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        -webkit-transform: rotate(45deg) translateX(-3px);
                transform: rotate(45deg) translateX(-3px);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 0;
        margin-left: 10px; }
  .sotbit-seometa-tags-column.closed .tags_wrapper {
    height: 88px; }
  .sotbit-seometa-tags-column.closed .sotbit-seometa-tags__hide .seometa-tags__hide {
    display: none; }
  .sotbit-seometa-tags-column.closed .sotbit-seometa-tags__hide .seometa-tags__show {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .sotbit-seometa-tags-column.opened .sotbit-seometa-tags__hide .seometa-tags__hide {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .sotbit-seometa-tags-column.opened .sotbit-seometa-tags__hide .seometa-tags__hide .angle-up {
      -webkit-transform: rotate(225deg) translateX(-3px);
              transform: rotate(225deg) translateX(-3px); }
  .sotbit-seometa-tags-column.opened .sotbit-seometa-tags__hide .seometa-tags__show {
    display: none; }

.seometa-tags__show,
.seometa-tags__hide {
  display: none; }

.sotbit-seometa-tags-column-wrapper {
  margin-right: 10px;
  margin-bottom: 10px; }

.sotbit-seometa-tags-column-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s; }

.sotbit-seometa-tags-column {
  margin-top: 4rem;
  margin-bottom: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed; }

.sotbit-seometa-tags__hide {
  cursor: pointer; }
  .sotbit-seometa-tags__hide i {
    padding-top: 1rem;
    padding-left: 0.4rem; }

.sotbit-seometa-tag-column a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  font-size: 0.9rem;
  line-height: 32px;
  color: #000; }

.sotbit-seometa-tag-column {
  border: 1px solid #ededed;
  border-radius: 2px;
  -webkit-transition: 0.1s;
  transition: 0.1s; }
  .sotbit-seometa-tag-column:hover {
    border: 1px solid var(--main-color); }
  .sotbit-seometa-tag-column:hover a {
    color: var(--main-color-hover); }
  .sotbit-seometa-tag-column.active {
    border-color: var(--main-color);
    background-color: var(--main-color); }
  .sotbit-seometa-tag-column.active a {
    color: #fff; }
  .sotbit-seometa-tag-column.active a:hover {
    color: #fff; }

.sotbit-seometa-tags-column__title {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 32px;
  -ms-flex-item-align: baseline;
      align-self: baseline; }

@media (max-width: 768px) {
  .sotbit-seometa-tags-column-wrapper {
    width: 50%; } }

@media screen and (max-width: 480px) {
  .sotbit-seometa-tags-row-container .sotbit-seometa-tags__hide .seometa-tags__show:hover,
  .sotbit-seometa-tags-row-container .sotbit-seometa-tags__hide .seometa-tags__hide:hover {
    border: none !important; }
  .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__hide, .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__show {
    width: 100%;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none; }
    .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__hide:hover, .sotbit-seometa-tags-column .sotbit-seometa-tags__hide .seometa-tags__show:hover {
      border: none; }
  .sotbit-seometa-tags-column.closed .tags_wrapper {
    height: 176px; } }
