body {
    height: 100%;
}

body .page-content {
    flex: auto;
    flex-shrink: 0;
}

.login-form .form-input-styled {
    position: absolute;
    left: 0;
    top: 3px;
}
.login-form .form-check {
    padding-left: 1.5rem;
}

.form-group-feedback-left .bx-captcha .form-control {
    padding-left: 1rem;
}


.password_recovery-captcha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password_recovery-captcha .captha_text {
    line-height: 36px;
    white-space: nowrap;
    margin-right: 1rem;
}

.password_recovery-captcha .password_recovery-captcha_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.password_recovery-captcha .password_recovery-captcha_image .captcha_reload_icon i {
    transition: all 0.2s ease-in-out;
}

.password_recovery-captcha .password_recovery-captcha_image .captcha_reload_icon:hover i {
    color: #2a3140 !important;
    cursor: pointer;
}
