.sale-acountpay-block { margin-bottom: 10px; }

.sale-acountpay-title { font-size: 14px; }

.sale-acountpay-fixedpay-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	background: #f8f8f8;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	color: #434343;
	font-size: 13px;
	min-width: 55px;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 0 9px;
	border:1px solid #c0c5cb;
}

.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item:hover {
	border:1px solid #7b7b7b;
}

.bx-sap .control-label.input-lg {
	font-weight: normal;
	font-size: 15px;
	height:36px;
	line-height:36px;
}

/*pay*/
.sale-acountpay-pp-company {
	padding-bottom: 20px;
	z-index: 100;
	position: relative;
}

.sale-acountpay-pp .sale-acountpay-pp-company {
	padding: 0;
	margin-right: 5px;
	border: 1px solid transparent;
	-webkit-transition: all 100ms ease;
	   -moz-transition: all 100ms ease;
		-ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
			transition: all 100ms ease;
}

.sale-acountpay-pp-company-graf-container {
	border: 1px solid #e2e5e9;
	border-radius: 2px;
	position: relative;
	background: #fff;
	width: auto;
	height: 39px;
	padding-top: 50%;
}

.sale-acountpay-pp-company-graf-container:hover
{
	cursor:pointer;
}

.sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container { 
	border-color: #7b7b7b;
}



.sale-acountpay-pp-company.bx-error .sale-acountpay-pp-company-graf-container { border-color: #db4a29; }

.sale-acountpay-pp-company.bx-warning .sale-acountpay-pp-company-graf-container { border-color: #ccbe71; }

input[type=checkbox].sale-acountpay-pp-company-checkbox {
	position: absolute;
	top: 7px;
	left: 7px;
	margin: 0;
	padding: 0;
	z-index: 100;
	display:none;
	
}

.sale-acountpay-pp-company-image {
	position: absolute;
	top: 3px;
	right: 0px;
	left: 0px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.sale-acountpay-pp-company-smalltitle {
	padding-top: 9px;
	color: #a3a3a3;
	font-size: 11px;
	text-align: center;
	padding-bottom: 5px;
}

.sale-acountpay-pp-company-title {
	font-size: 19px;
	font-weight: bold;
}

.sale-acountpay-pp-company-selected { padding: 4px 0; }

ul.sale-acountpay-pp-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	color: #000;
}

ul.sale-acountpay-pp-list li {
	clear: both;
	padding: 5px 0;
}

.sale-acountpay-pp-list-termin {
	color: #8d8d8d;
	display: block;
}

.sale-acountpay-pp-list-description { display: block; }

.sale-acountpay-pp-delivery-cost {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	padding: 2px 4px;
	right: -2px;
	bottom: -2px;
	border-radius: 1px;
	background: rgba(0,0,0,.5);
}

.sale-acountpay-pp-field .form-control { background: #fff; }

.sale-acountpay-pp-price {
	text-align: right;
	padding: 4px 0;
}

.sale-acountpay-service-small {
	color: #a3a3a3;
	font-size: 11px;
}

@media (min-width: 1200px) {
	.sale-acountpay-pp div .sale-acountpay-pp-company:nth-child(4n+1),
	.sale-acountpay-pp-item-container .sale-acountpay-pp-company:nth-child(4n+1) {
		clear: both;
		padding-left: 0;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.sale-acountpay-pp div .sale-acountpay-pp-company:nth-child(3n+1),
	.sale-acountpay-pp-item-container .sale-acountpay-pp-company:nth-child(3n+1) {
		clear: both;
		padding-left: 0;
	}
}
@media (max-width: 767px) {
	.sale-acountpay-pp,
	.sale-acountpay-pp-item-container { max-width: 300px; }
	.sale-acountpay-pp div .sale-acountpay-pp-company:nth-child(2n+1),
	.sale-acountpay-pp-item-container .sale-acountpay-pp-company:nth-child(2n+1) {
		clear: both;
		padding-left: 0;
	}
}


#loading_screen {
	position: fixed;
	z-index: 1150;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	width: 64px;
	height: 64px;
}

.sale-acountpay-input {
	text-align: right;
}

.sale-paysystem-yandex-button-descrition {
	display: inline-block;
	margin: 0 0 15px 0;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868e;
}
.sale-paysystem-wrapper
{
	position: relative;
	padding: 24px 38px 24px 38px;
	margin: 0 -15px 0 0;
	border: 1px solid #e2e2e2;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #424956;
}
.sale-paysystem-yandex-button-item {
	padding: 0 22px;
	height: 38px;
	border: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f59023;
	font: bold 13px/35px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	-webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	transition: background .3s ease;
}
.sale-paysystem-yandex-button-item
{
	font-family: 'PG Isadora Cyr Pro', Arial, regular;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: #fff;
	position: relative;
	background-color: #603a2f;
	line-height: 38px;
	height: 38px;
	display: block;
	text-decoration: none;
	text-align: center;
	box-shadow: 0px 2px 2px 1px #bebebe;
	-webkit-box-shadow: 0px 2px 2px 1px #bebebe;
	-moz-box-shadow: 0px 2px 2px 1px #bebebe;
	vertical-align: middle;
}
.sale-paysystem-yandex-button-item:hover,
.sale-paysystem-yandex-button-item:active
{
	background-color: #714a3f;
}
.sale-paysystem-yandex-button-container
{
	margin-top:14px;
}
.sale-paysystem-yandex-button-descrition {
	display: inline-block;
	margin: 0 0 15px 0;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868e;
}
.sale-paysystem-yandex-button-descrition
{
	display:block;
	font-family: 'Franklin Gothic Book', Arial, sans-serif;
	color:#666666;
	vertical-align: top;
	margin-top:12px;
	margin-bottom:5px;
}
.sale-paysystem-description {
	margin: 0 0 11px 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #bcbdc0;
}
.sale-paysystem-description
{
	font-family: 'Franklin Gothic Book', Arial, sans-serif;
	color:#666666;
}