.main-user-consent-input {
    display: none;
}
.main-user-consent-input:checked + .main-user-consent-input-fake::after {
    opacity: 1;
}
.main-user-consent-input-fake {
    cursor: pointer;
    border: .125rem solid
    #455a64;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 5px;
    width: 1.25rem;
    height: 1.25rem;
    color: #455a64;
    border-radius: .125rem;
    -webkit-transition: border-color ease-in-out .15s,color ease-in-out .15s;
    transition: border-color ease-in-out .15s,color ease-in-out .15s;
}
.main-user-consent-input-fake::after {
    content: "\e600";
    font-family: icomoon;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity ease-in-out .15s;
    transition: opacity ease-in-out .15s;
    color: #455a64;
}
.main-user-consent-request-announce:hover {
    color: #999 !important;
    transition: all .2s ease-in-out;
}