/*Table*/
table.sale_personal_order_list
{
	width:100%;
	border-collapse:collapse;
	font-size:12px;
	border:1px solid #ADC3D5;
}

/*Table head*/
table.sale_personal_order_list th
{
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_personal_order_list th, table.sale_personal_order_list td
{
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_personal_order_list_table
{
	width:100%;
	font-size:12px;
}

#ORDER_LIST-grid-settings-window .popup-window-buttons > .main-grid-settings-window-actions-item-button {
	display: inline-block;
	height: 39px;
	line-height: 39px;
	margin: 0 12px 0 0;
	background: #ecedef;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	outline: none;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	transition: background-color 0.2s linear, color 0.2s linear;
}
#ORDER_LIST-grid-settings-window .popup-window-buttons > .main-grid-settings-window-actions-item-button:hover {
	background: #f3f6f8;
}
#ORDER_LIST-grid-settings-window .main-grid-settings-window-buttons-wrapper > .main-grid-settings-window-actions-item-button
{
	margin: 0 10px 0 0;
}

