.sorting {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 42px;
  margin-bottom: 10px;
  /*margin-left:20px;*/
  font-size: 0.9rem;
  line-height: 42px; }
  .sorting .select_block {
    margin-bottom: 0; }
  .sorting .custom-select-trigger {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.5);
    line-height: 2rem;
    border: 0;
    padding: 0 2rem 0 1rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer; }
    .sorting .custom-select-trigger:hover {
      color: var(--main-color); }
      .sorting .custom-select-trigger:hover::after {
        border-bottom: 1px solid var(--main-color);
        border-right: 1px solid var(--main-color); }
    .sorting .custom-select-trigger::after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      right: 1rem;
      display: block;
      width: 6px;
      height: 6px;
      margin-top: 0;
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
  .sorting .custom-select-block.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .sorting .custom-select-block.opened .custom-select-trigger::after {
    top: calc(50% - 2px);
    margin-top: 0;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .sorting .custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 301;
    display: block;
    min-width: 12rem;
    padding: 0 1rem;
    margin-top: 0.7rem;
    color: #000000;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .sorting .custom-options::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      margin-bottom: -0.45rem;
      border-top: 1px solid #ced2d5;
      border-left: 1px solid #ced2d5;
      background: #fff;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
  .sorting .custom-option {
    position: relative;
    display: block;
    padding: 0 1rem;
    line-height: 2rem;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .sorting .custom-option:last-child {
      border-bottom: none; }
    .sorting .custom-option:hover {
      color: var(--main-color); }
    .sorting .custom-option:active {
      color: var(--main-color); }
  .sorting form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 115px; }
  .sorting .catalog_content__sort_horizon_btn-block {
    top: calc(50% - 1.15rem);
    position: absolute;
    right: 0; }
  .sorting .catalog_content__sort_horizon_btn {
    display: inline-block;
    margin-left: 10px; }
  .sorting span.catalog_content__sort_horizon_btn {
    fill: var(--main-color); }
  .sorting a.catalog_content__sort_horizon_btn {
    fill: #BDBDBD; }
  .sorting a.catalog_content__sort_horizon_btn-list {
    fill: #BDBDBD; }
  .sorting span.catalog_content__sort_horizon_btn-list {
    fill: var(--main-color); }
  .sorting .sorting__svg-icons {
    fill: var(--main-color);
    display: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .sorting .catalog_content__sort_horizon_property {
    display: inline-block; }
  .sorting .custom-select-wrapper {
    position: relative;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

@media (max-width: 768px) {
  .sorting form {
    padding-right: 0; }
  .sorting .catalog_content__sort_horizon_btn-block {
    display: none; } }

@media (max-width: 575px) {
  .sorting {
    width: 84px;
    z-index:1;
    margin-bottom: 0; }
    .sorting .custom-select-trigger_sorting_text {
      display: none; }
    .sorting .sorting__title {
      display: none; }
    .sorting .sorting__svg-icons {
      display: inline-block; }
    .sorting .catalog_content__sort_horizon_title {
      display: none; }
    .sorting .custom-select-trigger {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0; }
      .sorting .custom-select-trigger::after {
        display: none; }
    .sorting .catalog_content__sort_horizon_property {
      width: 50%;
      border: 1px solid #ededed; }
      .sorting .catalog_content__sort_horizon_property:hover {
        background: var(--main-color); }
        .sorting .catalog_content__sort_horizon_property:hover svg {
          fill: #ffffff; }
    .sorting .catalog_content__sort_horizon_property--second {
      border-left: 0; }
    .sorting .custom-options {
      left: auto; }
      .sorting .custom-options::before {
        right: 13px;
        left: auto; }
    .sorting .custom-select-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-width: 40px;
      min-height: 40px; } }
