.catalog_content__category {
   margin-top:29px;
}

.catalog_content .catalog_content__category_item  {
text-align: left;
width:auto;
margin-bottom: 10px;
margin-right:10px;
padding:2px;
}

.catalog_content .catalog_content__category_item p {
 padding:0 ;
 margin:0;
 padding-left:15px;
 padding-right:15px;

}