@import "../../../../../../local/templates/sotbit_origami/assets/scss/variables.scss";
@import "menu.scss";
@import "sidebar";
@import "dependence";


.header-three {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    z-index: 105;

    .header-two__basket-favorites,
    .header-two__basket-buy,
    .header-two__basket-compare {

        &.active span {
            color: #ffffff;
            background-color: var(--main-color);
            border: 2px solid #ffffff;
        }
    }

    .header-two__basket-compare,
    .header-two__basket-favorites,
    .header-two__basket-buy {
        &:hover svg {
            fill: var(--main-color);
        }
    }

    &.header-three--black {
        background-color: #333333;

        .header-three__btn-menu {
            border-color: #4D4D4D;

            &:hover {
                background-color: #4D4D4D;
            }
        }

        .header-three__city > a {
            color: #CBCBCB;
        }

        .basket-item-count {
            border-color: #333333;
        }

        .basket-item-count {
            color: #4D4D4D;
            background: #fff;
            border-color: #333333;
        }


        .header-three__personal-photo {
            border-color: #fff;
        }

        .contact-phone__link {
            color: #fff;
        }

    }

    &.header-three--white {
        background-color: #fff;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

        .header-three__btn-menu {
            border-color: #EDEDED;

            &:hover {
                background-color: #E6E6E6;

                .header-three__btn-menu-icon {
                    stroke: #fff;
                }
            }
        }

        .header-three__city > a {
            color: #000;
        }

        .basket-item-count {
            color: #fff;
            background: #BDBDBD;
            border-color: #F7F7F7;
        }

        .header-three__personal-photo {
            border-color: #E6E6E6;
        }

        .contact-phone__link {
            color: #000;
        }
    }

    &.header-three--gray {
        background-color: #F7F7F7;

        .header-three__btn-menu {
            border-color: #E6E6E6;

            &:hover {
                background-color: #fff;

                .header-three__btn-menu-icon {
                    stroke: #CBCBCB;
                }
            }
        }

        .header-three__city > a {
            color: #000;
        }

        .basket-item-count {
            color: #fff;
            background: #BDBDBD;
            border-color: #fff;
        }

        .header-three__personal-photo {
            border-color: #fff;
        }

        .contact-phone__link {
            color: #000;
        }
    }

    .header-three__city {
        position: relative;
    }

    .select-city__dropdown-wrap {
        top: 0;
        left: 0;
    }
}

.header-three__btn-menu {
    padding: 18px 27px;
    margin: 0;
    background: none;
    border: none;
}


.header-three-shadow {
    height: 60px;
}

.header-three__wrapper {
    display: flex;
    width: 100%;
}

.header-three__btn-menu-wrapper {
    display: flex;
}

.header-three__btn-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-three__btn-menu-icon {
    stroke: #CBCBCB;
}

.header-three__logo-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 15px;
}

.header-three__city {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-left: 15px;
    margin-right: 50px;
    color: #ffffff;

    & > svg {
        margin-right: 10px;
        fill: #CBCBCB;
    }

    & > a {
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        color: #CBCBCB;
    }
}

.header-three__search {
    display: flex;
    align-items: center;
    flex-basis: 886px;
    margin: 0 auto;
}

#search {
    width: 100%;

    &.state-input .header-search__btn-close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        z-index: 101;
    }

    form {
        position: relative;
    }

    input {
        width: 100%;
        padding: 10px 28px 10px 12px;
        border: 1px solid #EDEDED;
        border-radius: 4px;

        &::placeholder {
            font-size: 14px;
            line-height: 21px;
            color: #808080;
        }
    }

    button {
        position: absolute;
        top: 1px;
        right: 1px;

        height: calc(100% - 2px);
        padding: 0 12px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 0 4px 4px 0;
        cursor: pointer;

        svg {
            fill: #BDBDBD;
            transition: 0.2s fill ease-out;
        }

        &:hover {
            svg {
                fill: #000;
            }
        }
    }
}

.header-search__btn-close {
    display: none;
}

.header-search__btn-close-icon {
    stroke: #BDBDBD;
}

.header-three__contact {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-left: 50px;
    margin-right: 30px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s color ease-out;

    & .contact-phone__link {
        font-weight: bold;
    }

    & .contact-phone__link-icon,
    .contact-phone__arrow-icon {
        transition: 0.2s fill ease-out;
    }

    &:hover {
        color: var(--main-color);

        & .contact-phone__link-icon,
        .contact-phone__arrow-icon {
            fill: var(--main-color);
        }

        .contact-phone__drop-down {
            height: auto;
            top: 0;
        }
    }

    .contact-phone__link-icon {
        fill: #CBCBCB;
    }

    .contact-phone__arrow-icon {
        fill: #CBCBCB;
    }

    .contact-phone__drop-down {
        position: absolute;
        top: 10px;
        right: 0;
        height: 0;
        overflow: hidden;
        z-index: 100;
        transition: top 0.2s ease-out;
    }
}

.header-three__basket {
    display: flex;
    align-items: center;

    &.right-panel--show {
        display: none;
    }

    .header-two__basket-compare,
    .header-two__basket-favorites,
    .header-two__basket-buy {
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
        z-index: 100;

        &:hover {
            color: #000;
        }
    }

    .basket-compare-icon {
        width: 24px;
        height: 20px;
        fill: #CBCBCB;
    }

    .basket-favorites-icon {
        width: 24px;
        height: 20px;
        fill: #CBCBCB;
    }

    .basket-buy-icon {
        width: 24px;
        height: 20px;
        fill: #CBCBCB;
    }

    .basket-item-count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 6px;
        right: -6px;
        height: 24px;
        min-width: 24px;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        background-color: #fff;
        border: 2px solid;
        border-radius: 12px;
    }

    .header-two__basket-buy.active,
    .header-two__basket-favorites.active,
    .header-two__basket-compare.active {
        color: #fff;
    }

    .window_basket {
        right: -14px;
    }
}

.header-three__personal {
    display: flex;
    align-items: center;
    margin: 0 22px;

    &.right-panel--show {
        display: none;
    }

    & > a {
        display: flex;
        align-items: center;
        color: #fff;
    }


}

.header-three__personal-photo {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    background-color: gray;
    background-image: url("/local/templates/sotbit_origami/assets/img/logo_avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.header-three__personal-link {
    span {
        margin-left: 10px;
    }
}

.mobile_filter_icon_sorting_mobile,
.mobile_filter_icon_list_mobile {
    display: none;
}

.main-container {
    box-sizing: content-box;
}

.header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
    width: calc(100% - 111px);
}

.footer-block {

    .puzzle_block {
        width: 100%;
    }

    [class].main-container {
        width: calc(100% - 110px);
        padding-left: 95px;
    }

    .row {
        .col-xl-3 {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.main-container.puzzle_block.header-five,
[class].main-container.puzzle_block {
    padding-left: 95px;
    padding-right: 15px;
    box-sizing: content-box;
    width: calc(100% - 110px);
}

@media (max-width: 1343px) {
    .header-three__city {
        display: none;
    }
    .header-three__contact {
        display: none;
    }

    .header-three__search {
        margin: 0 50px;
    }
}

@media (max-width: 1023px) {
    .main-container.puzzle_block.header-five,
    [class].main-container.puzzle_block {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        width: 100%;
    }

    .header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
        width: calc(100% - 20px);
    }

    .header-three__wrapper {
        margin: 0 20px;
    }

    .footer-block [class].main-container {
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-three__btn-menu-wrapper {
        position: absolute;
        top: calc(50% - 22px);
        left: 20px;
        height: 44px;
        z-index: 1;
    }

    .header-three__btn-menu {
        padding: 0 12px;
        border: none;
    }

    .header-three__btn-menu-icon {
        stroke: #BDBDBD;
    }

    .header-three__search {
        margin: 0 auto;
    }

    .header-three__logo-wrapper {
        display: none;
    }

    .header-three__search {
        flex-basis: auto;
        width: 100%;
        margin: 0;
    }

    #search {
        input {
            padding-left: 50px;
            padding-right: 45px;
            background-repeat: no-repeat;
            background-position: center;

            &:focus {
            }
        }

        button {
            display: none;
        }
    }

    .header-three__basket {

        &.right-panel--show {
            display: flex;
        }

        .header-two__basket-compare {
            display: none;
        }

        .header-two__basket-favorites {
            display: none;
        }

        .header-two__basket-buy {
            position: absolute;
            top: calc(50% - 22px);
            right: 0;
            height: 44px;
            padding: 10px 12px;
        }

        .basket-item-count {
            display: none;
        }

        .basket-buy-icon {
            width: 20px;
        }
    }

    .header-three__personal {
        display: none;
    }

    .contact-phone__drop-down {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-three__wrapper {
        margin: 0 15px;
    }
}

@media (max-width: 575px) {
    .mobile_filter_icon_sorting_mobile,
    .mobile_filter_icon_list_mobile {
        display: block;
    }

    body .catalog_content__sort_horizon form .select_block {
        position: relative;
        height: 40px;
        padding-top: 0;
    }

    .mobile_filter_icon_list_mobile {
        position: absolute;
        top: calc(50% - 7px);
        left: calc(50% - 6px);
    }
}

@import "regions.scss";
