.header-three__btn-menu {
  padding: 18px;
  margin: 0;
  background: none;
  border: none;
  border-right: 1px solid #4D4D4D; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 2499; }
  .menu.show {
    width: 100%; }
  .menu.show .menu__wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.menu__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.menu__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #F7F7F7;
  z-index: 5000000;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }

.menu__header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 60px; }

.menu__header-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  border: none;
  background-color: var(--main-color);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer; }
  .menu__header-btn:hover {
    background-color: var(--main-color-hover); }

.menu__header-btn-icon {
  stroke: #fff; }

.menu__header-logo-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #E6E6E6; }

.menu__header-logo {
  width: 100%;
  margin-left: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu__contact {
  padding-top: 20px;
  padding-bottom: 50px;
  border-top: 1px solid #E6E6E6; }

.menu-contact__call-back {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100; }

.section__item,
.menu-nav__item {
  padding: 0;
  margin-bottom: 0; }

.section__item-main {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 44px;
  padding: 10px 40px 10px 20px; }
  .section__item-main:hover {
    background-color: var(--main-color); }
    .section__item-main:hover .section__item-title {
      color: #fff; }
    .section__item-main:hover .section__item-logo-icon {
      stroke: #fff; }
    .section__item-main:hover .section__item-arow-icon {
      stroke: #fff; }
  .section__item-main.current .section__item-logo-icon {
    stroke: none;
    fill: var(--main-color); }
  .section__item-main.current .section__item-title {
    color: var(--main-color); }
  .section__item-main.current .section__item-arow-icon {
    stroke: var(--main-color); }
  .section__item-main.current:hover {
    background-color: var(--main-color); }
    .section__item-main.current:hover .section__item-title {
      color: #fff; }
    .section__item-main.current:hover .section__item-logo-icon {
      stroke: #fff; }
    .section__item-main.current:hover .section__item-arow-icon {
      stroke: #fff; }
  .section__item-main.open {
    background-color: #EDEDED; }
    .section__item-main.open .section__item-arow-icon {
      -webkit-transform: scaleY(-1);
              transform: scaleY(-1); }
    .section__item-main.open:hover {
      background-color: var(--main-color); }

.menu-nav__item-link {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 44px;
  padding: 10px 40px 10px 20px; }
  .menu-nav__item-link:hover {
    background-color: var(--main-color); }
    .menu-nav__item-link:hover .menu-nav__item-title {
      color: #fff; }
    .menu-nav__item-link:hover .section__item-logo-icon {
      stroke: #fff; }
  .menu-nav__item-link.current .section__item-logo-icon {
    stroke: none;
    fill: var(--main-color); }
  .menu-nav__item-link.current .menu-nav__item-title {
    color: var(--main-color); }
  .menu-nav__item-link.current:hover {
    background-color: var(--main-color); }
    .menu-nav__item-link.current:hover .menu-nav__item-title {
      color: #fff; }
    .menu-nav__item-link.current:hover .section__item-logo-icon {
      stroke: #fff; }

.section__item-arow-icon {
  position: absolute;
  right: 18px;
  top: calc(50% - 2px);
  fill: none;
  stroke: #BDBDBD; }

.section__item-title,
.menu-nav__item-title {
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #4D4D4D; }

.section__item-submenu-item {
  padding: 0;
  margin-bottom: 0; }

.section__item-submenu-item-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 44px;
  padding: 10px 40px 10px 20px;
  margin: 0; }
  .section__item-submenu-item-link.current {
    color: var(--main-color); }
  .section__item-submenu-item-link:hover {
    color: var(--main-color); }

.section__item-logo-icon {
  display: block;
  margin-right: 20px;
  fill: none;
  stroke: #BDBDBD; }

.menu-nav__item-logo-icon {
  display: block;
  margin-right: 20px;
  fill: #BDBDBD; }

.menu-nav__item-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.section__item-submenu {
  padding-left: 44px;
  background-color: #F2F2F2;
  overflow: hidden;
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out; }

.menu__sectionts {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom: 1px solid #E6E6E6; }

.menu__nav {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.menu__contact {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto; }

.menu-nav__item-count {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  min-width: 20px;
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  border-radius: 10px;
  background-color: #BDBDBD; }
  .menu-nav__item-count.active {
    background-color: var(--main-color); }

.sidebar {
  position: fixed;
  height: 100%;
  width: 76px;
  background-color: #F7F7F7;
  overflow: hidden;
  z-index: 101; }

.sidebar {
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.sidebar__item {
  padding: 0;
  margin-bottom: 0;
  height: auto !important; }

.sidebar__item-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 0;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out; }
  .sidebar__item-link:hover {
    color: var(--main-color); }
    .sidebar__item-link:hover svg {
      fill: var(--main-color);
      stroke: var(--main-color); }
  .sidebar__item-link svg {
    fill: #BDBDBD;
    -webkit-transition: fill 0.1s ease-out;
    transition: fill 0.1s ease-out; }
  .sidebar__item-link.current {
    color: var(--main-color); }
    .sidebar__item-link.current svg {
      fill: var(--main-color);
      stroke: var(--main-color); }

.sidebar__item-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 26px;
  margin-bottom: 6px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden; }
  .sidebar__item-logo > svg {
    fill: none;
    stroke: #BDBDBD; }

.sidebar__item-name {
  padding: 0;
  font-size: 12px;
  line-height: 18px; }

.sidebar__slider-button {
  display: none; }

@media (max-width: 1023px) {
  .sidebar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 62px;
    padding: 0 25px;
    -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1); }
  .sidebar__item {
    width: auto; }
  .sidebar__wrapper.swiper-wrapper {
    width: auto; }
  .sidebar__item-link {
    padding: 8px 10px 4px 10px; }
  .sidebar__slider-button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
    background-color: #F7F7F7;
    z-index: 1; }
    .sidebar__slider-button.sidebar__slider-button--next {
      right: 0; }
    .sidebar__slider-button.sidebar__slider-button--prev {
      left: 0; }
    .sidebar__slider-button.swiper-button-disabled {
      display: none; }
  .sidebar__slider-button-icon {
    width: 12px;
    height: 15px;
    fill: none;
    stroke: #808080; } }

@media (max-width: 767px) {
  .sidebar {
    height: 52px; }
  .sidebar__item-link {
    padding-top: 0; }
  .sidebar__item-name {
    font-size: 11px;
    line-height: 17px; }
  .sidebar__item-logo {
    margin-bottom: 0;
    margin-top: 5px; }
    .sidebar__item-logo > svg {
      width: 16px;
      height: 16px; } }

.header-three ~ [class].main-container {
  padding-left: 95px; }

.header-three ~ .footer-block .row {
  margin: 0; }

@media (max-width: 1023px) {
  .header-three ~ .footer-block,
  .header-three ~ .site-builder__hide,
  .header-three ~ .blocks-wrapper {
    padding-left: 0; }
  .header-three ~ [class].main-container {
    padding-left: 10px; }
  .feedback_block {
    padding-left: 15px; } }

.header-three {
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  z-index: 105; }
  .header-three .header-two__basket-favorites.active span,
  .header-three .header-two__basket-buy.active span,
  .header-three .header-two__basket-compare.active span {
    color: #ffffff;
    background-color: var(--main-color);
    border: 2px solid #ffffff; }
  .header-three .header-two__basket-compare:hover svg,
  .header-three .header-two__basket-favorites:hover svg,
  .header-three .header-two__basket-buy:hover svg {
    fill: var(--main-color); }
  .header-three.header-three--black {
    background-color: #333333; }
    .header-three.header-three--black .header-three__btn-menu {
      border-color: #4D4D4D; }
      .header-three.header-three--black .header-three__btn-menu:hover {
        background-color: #4D4D4D; }
    .header-three.header-three--black .header-three__city > a {
      color: #CBCBCB; }
    .header-three.header-three--black .basket-item-count {
      border-color: #333333; }
    .header-three.header-three--black .basket-item-count {
      color: #4D4D4D;
      background: #fff;
      border-color: #333333; }
    .header-three.header-three--black .header-three__personal-photo {
      border-color: #fff; }
    .header-three.header-three--black .contact-phone__link {
      color: #fff; }
  .header-three.header-three--white {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); }
    .header-three.header-three--white .header-three__btn-menu {
      border-color: #EDEDED; }
      .header-three.header-three--white .header-three__btn-menu:hover {
        background-color: #E6E6E6; }
        .header-three.header-three--white .header-three__btn-menu:hover .header-three__btn-menu-icon {
          stroke: #fff; }
    .header-three.header-three--white .header-three__city > a {
      color: #000; }
    .header-three.header-three--white .basket-item-count {
      color: #fff;
      background: #BDBDBD;
      border-color: #F7F7F7; }
    .header-three.header-three--white .header-three__personal-photo {
      border-color: #E6E6E6; }
    .header-three.header-three--white .contact-phone__link {
      color: #000; }
  .header-three.header-three--gray {
    background-color: #F7F7F7; }
    .header-three.header-three--gray .header-three__btn-menu {
      border-color: #E6E6E6; }
      .header-three.header-three--gray .header-three__btn-menu:hover {
        background-color: #fff; }
        .header-three.header-three--gray .header-three__btn-menu:hover .header-three__btn-menu-icon {
          stroke: #CBCBCB; }
    .header-three.header-three--gray .header-three__city > a {
      color: #000; }
    .header-three.header-three--gray .basket-item-count {
      color: #fff;
      background: #BDBDBD;
      border-color: #fff; }
    .header-three.header-three--gray .header-three__personal-photo {
      border-color: #fff; }
    .header-three.header-three--gray .contact-phone__link {
      color: #000; }
  .header-three .header-three__city {
    position: relative; }
  .header-three .select-city__dropdown-wrap {
    top: 0;
    left: 0; }

.header-three__btn-menu {
  padding: 18px 27px;
  margin: 0;
  background: none;
  border: none; }

.header-three-shadow {
  height: 60px; }

.header-three__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.header-three__btn-menu-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.header-three__btn-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

.header-three__btn-menu-icon {
  stroke: #CBCBCB; }

.header-three__logo-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-right: 15px; }

.header-three__city {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  margin-right: 50px;
  color: #ffffff; }
  .header-three__city > svg {
    margin-right: 10px;
    fill: #CBCBCB; }
  .header-three__city > a {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #CBCBCB; }

.header-three__search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 886px;
      flex-basis: 886px;
  margin: 0 auto; }

#search {
  width: 100%; }
  #search.state-input .header-search__btn-close {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    z-index: 101; }
  #search form {
    position: relative; }
  #search input {
    width: 100%;
    padding: 10px 28px 10px 12px;
    border: 1px solid #EDEDED;
    border-radius: 4px; }
    #search input::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 21px;
      color: #808080; }
    #search input::-moz-placeholder {
      font-size: 14px;
      line-height: 21px;
      color: #808080; }
    #search input:-ms-input-placeholder {
      font-size: 14px;
      line-height: 21px;
      color: #808080; }
    #search input::-ms-input-placeholder {
      font-size: 14px;
      line-height: 21px;
      color: #808080; }
    #search input::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: #808080; }
  #search button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: calc(100% - 2px);
    padding: 0 12px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
    cursor: pointer; }
    #search button svg {
      fill: #BDBDBD;
      -webkit-transition: 0.2s fill ease-out;
      transition: 0.2s fill ease-out; }
    #search button:hover svg {
      fill: #000; }

.header-search__btn-close {
  display: none; }

.header-search__btn-close-icon {
  stroke: #BDBDBD; }

.header-three__contact {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-right: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s color ease-out;
  transition: 0.2s color ease-out; }
  .header-three__contact .contact-phone__link {
    font-weight: bold; }
  .header-three__contact .contact-phone__link-icon,
  .header-three__contact .contact-phone__arrow-icon {
    -webkit-transition: 0.2s fill ease-out;
    transition: 0.2s fill ease-out; }
  .header-three__contact:hover {
    color: var(--main-color); }
    .header-three__contact:hover .contact-phone__link-icon,
    .header-three__contact:hover .contact-phone__arrow-icon {
      fill: var(--main-color); }
    .header-three__contact:hover .contact-phone__drop-down {
      height: auto;
      top: 0; }
  .header-three__contact .contact-phone__link-icon {
    fill: #CBCBCB; }
  .header-three__contact .contact-phone__arrow-icon {
    fill: #CBCBCB; }
  .header-three__contact .contact-phone__drop-down {
    position: absolute;
    top: 10px;
    right: 0;
    height: 0;
    overflow: hidden;
    z-index: 100;
    -webkit-transition: top 0.2s ease-out;
    transition: top 0.2s ease-out; }

.header-three__basket {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-three__basket.right-panel--show {
    display: none; }
  .header-three__basket .header-two__basket-compare,
  .header-three__basket .header-two__basket-favorites,
  .header-three__basket .header-two__basket-buy {
    height: 60px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    z-index: 100; }
    .header-three__basket .header-two__basket-compare:hover,
    .header-three__basket .header-two__basket-favorites:hover,
    .header-three__basket .header-two__basket-buy:hover {
      color: #000; }
  .header-three__basket .basket-compare-icon {
    width: 24px;
    height: 20px;
    fill: #CBCBCB; }
  .header-three__basket .basket-favorites-icon {
    width: 24px;
    height: 20px;
    fill: #CBCBCB; }
  .header-three__basket .basket-buy-icon {
    width: 24px;
    height: 20px;
    fill: #CBCBCB; }
  .header-three__basket .basket-item-count {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 6px;
    right: -6px;
    height: 24px;
    min-width: 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    background-color: #fff;
    border: 2px solid;
    border-radius: 12px; }
  .header-three__basket .header-two__basket-buy.active,
  .header-three__basket .header-two__basket-favorites.active,
  .header-three__basket .header-two__basket-compare.active {
    color: #fff; }
  .header-three__basket .window_basket {
    right: -14px; }

.header-three__personal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 22px; }
  .header-three__personal.right-panel--show {
    display: none; }
  .header-three__personal > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }

.header-three__personal-photo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid;
  background-color: gray;
  background-image: url("/local/templates/sotbit_origami/assets/img/logo_avatar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 50%;
  overflow: hidden; }

.header-three__personal-link span {
  margin-left: 10px; }

.mobile_filter_icon_sorting_mobile,
.mobile_filter_icon_list_mobile {
  display: none; }

.main-container {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box; }

.header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
  width: calc(100% - 111px); }

.footer-block .puzzle_block {
  width: 100%; }

.footer-block [class].main-container {
  width: calc(100% - 110px);
  padding-left: 95px; }

.footer-block .row .col-xl-3:first-child {
  padding-left: 0; }

.footer-block .row .col-xl-3:last-child {
  padding-right: 0; }

.main-container.puzzle_block.header-five,
[class].main-container.puzzle_block {
  padding-left: 95px;
  padding-right: 15px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  width: calc(100% - 110px); }

@media (max-width: 1343px) {
  .header-three__city {
    display: none; }
  .header-three__contact {
    display: none; }
  .header-three__search {
    margin: 0 50px; } }

@media (max-width: 1023px) {
  .main-container.puzzle_block.header-five,
  [class].main-container.puzzle_block {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }
  .header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
    width: calc(100% - 20px); }
  .header-three__wrapper {
    margin: 0 20px; }
  .footer-block [class].main-container {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px; }
  .header-three__btn-menu-wrapper {
    position: absolute;
    top: calc(50% - 22px);
    left: 20px;
    height: 44px;
    z-index: 1; }
  .header-three__btn-menu {
    padding: 0 12px;
    border: none; }
  .header-three__btn-menu-icon {
    stroke: #BDBDBD; }
  .header-three__search {
    margin: 0 auto; }
  .header-three__logo-wrapper {
    display: none; }
  .header-three__search {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
    margin: 0; }
  #search input {
    padding-left: 50px;
    padding-right: 45px;
    background-repeat: no-repeat;
    background-position: center; }
  #search button {
    display: none; }
  .header-three__basket.right-panel--show {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .header-three__basket .header-two__basket-compare {
    display: none; }
  .header-three__basket .header-two__basket-favorites {
    display: none; }
  .header-three__basket .header-two__basket-buy {
    position: absolute;
    top: calc(50% - 22px);
    right: 0;
    height: 44px;
    padding: 10px 12px; }
  .header-three__basket .basket-item-count {
    display: none; }
  .header-three__basket .basket-buy-icon {
    width: 20px; }
  .header-three__personal {
    display: none; }
  .contact-phone__drop-down {
    display: none; } }

@media (max-width: 767px) {
  .header-three__wrapper {
    margin: 0 15px; } }

@media (max-width: 575px) {
  .mobile_filter_icon_sorting_mobile,
  .mobile_filter_icon_list_mobile {
    display: block; }
  body .catalog_content__sort_horizon form .select_block {
    position: relative;
    height: 40px;
    padding-top: 0; }
  .mobile_filter_icon_list_mobile {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 6px); } }

.menu-contact__title {
  padding: 0 20px;
  font-size: 12px;
  line-height: 18px;
  color: #808080; }

.menu-contact__item {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 6px;
  padding: 0 20px;
  font-size: 14px; }
  .menu-contact__item:last-of-type {
    margin-bottom: 0; }
  .menu-contact__item.menu-contact__item--contact {
    margin-bottom: 20px; }

.menu-contact__item-link-phone {
  color: #ffffff; }

.menu-contact__item-link {
  font-size: 14px;
  line-height: 21px;
  color: #fb0040; }
  .menu-contact__item-link:hover {
    color: #c80033; }
  .menu-contact__item-link:not(:first-of-type) {
    margin-top: 6px; }
  .menu-contact__item-link.menu-contact__item-link--phone {
    font-weight: bold; }

.menu-contact__item-text {
  padding: 0;
  font-size: 14px;
  line-height: 21px; }
  .menu-contact__item-text:not(:first-of-type) {
    margin-top: 6px; }

.menu-contact__call-back {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #fb0040; }

.contact-phone__drop-down {
  position: absolute !important;
  width: 280px;
  padding: 0;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); }

.contact-phone__drop-down-item {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px 0 24px; }
  .contact-phone__drop-down-item:not(:first-of-type) {
    margin-top: 26px; }
  .contact-phone__drop-down-item:last-of-type {
    margin-bottom: 26px; }
  .contact-phone__drop-down-item > svg {
    position: absolute;
    top: 2px;
    left: 20px;
    fill: #BDBDBD; }
  .contact-phone__drop-down-item.contact-phone__drop-down-item--phone {
    margin-top: 20px; }
    .contact-phone__drop-down-item.contact-phone__drop-down-item--phone > svg {
      top: 6px; }
  .contact-phone__drop-down-item .contact-phone__link-phone {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px; }
    .contact-phone__drop-down-item .contact-phone__link-phone:not(:first-of-type) {
      margin-top: 18px; }
  .contact-phone__drop-down-item a {
    padding-left: 27px;
    font-size: 14px;
    line-height: 21px;
    text-overflow: ellipsis;
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden; }
    .contact-phone__drop-down-item a:hover {
      color: var(--main-color-hover); }
  .contact-phone__drop-down-item p {
    padding-bottom: 0;
    padding-left: 27px;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.contact-phone__link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-phone__link-icon {
  margin-right: 10px; }

.contact-phone__arrow-icon {
  margin-left: 8px; }

.contact-phone__drop-down-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 34px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 0 4px 0 4px; }
  .contact-phone__drop-down-btn:hover {
    color: #fff;
    background-color: var(--main-color-hover); }
