.index_blank .table-responsive {
    position: relative;
    overflow: hidden;
}

.index_blank .table-responsive .scroll-ears {
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    z-index: 3;
    transition: all 0.5s ease-in-out;
}

.index_blank .row-under-modifications.row-under-modifications-fixed {
    position: relative;
}

.index_blank .datatable-header {
    display: none;
}

.index_blank .table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    border-top: 1px solid #b7b7b7;
}

.index_blank .table_header .index_blank-sorting {
    align-items: center;
    flex-wrap: initial;
    margin: 1rem 1rem 1rem 0;
}

.index_blank .table_header .index_blank-sorting .select2 {
    min-width: 200px;
}

.index_blank .table_header .dataTables_paginate {
    margin: 0;
}

.index_blank .table_header .index_blank-sorting_title {
    margin-right: 10px;
    white-space: nowrap;
}

.index_blank .table_header .index_blank-sorting-select {
    min-width: 200px;
}

.index_blank .blank_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.index_blank .datatable-footer_table_blank {
    margin: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index_blank .index_blank-sorting_pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.index_blank .index_blank.img-product {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    flex-wrap: wrap;
    max-width: 340px;
}

.index_blank .index_blank.img-product .block-cart-img {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
}

.index_blank .index_blank-product_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index_blank .datatable-scroll {
    overflow-y: hidden !important;
}

.index_blank .index_blank-table .add_to_cart > div {
    display: inline-block;
}

.index_blank .index_blank-table td,
.index_blank .index_blank-table th {
    white-space: normal;
}

.index_blank .index_blank-table .index_blank-table-tbody:nth-child(1) {
    border: 0;
}

.index_blank .index_blank-table .pagination-flat .page-item.active .page-link {
    background-color: #3e495f;
    border-color: #3e495f;
}

.index_blank .thead-item {
    width: 100px;
    display: inline-block;
}

.index_blank .thead-item.thead-item_name {
    width: 200px;
}

.index_blank .thead-item.thead-item_quantity {
    width: 155px;
}

.index_blank .dataTables_info {
    margin: 0;
}

.index_blank .form-control {
    padding: .4375rem .4rem;
    text-align: center;
}

.index_blank .input-group.bootstrap-touchspin {
    max-width: 115px;
}

.index_blank .block-cart-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.index_blank .block-cart-img .icon-zoomin3 {
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: calc(50% - 8px);
}

.index_blank .sorting-checkboxes > div {
    display: inline-block;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 1rem;
}

.index_blank .block-cart-img .block-cart-bg {
    background: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.index_blank .block-cart-img:hover .block-cart-bg {
    background: #737373;
    opacity: 0.7;
}

.index_blank .block-cart-img:hover .icon-zoomin3 {
    opacity: 1;
}

.index_blank .icon-watch2 {
    color: #145ca4;
}

.index_blank .icon-check2 {
    color: green;
}

.index_blank .icon-blocked.no-products {
    color: #fb0040;
    font-size: 13px;
    width: 16px;
}

.index_blank .row-under-modifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.index_blank .row-under-modifications .btn.add_to_cart {
    min-width: 170px;
    height: 36px;
    background: #3e495f;
    color: #fff;
}

.index_blank .row-under-modifications .btn.add_to_cart:hover {
    background-color: #2a3140;
    color: #fff;
}

.index_blank .webform-button,
.index_blank .webform-small-button,
.index_blank .webform-button-upload {
    background: none;
    box-shadow: none;
    color: #000000;
    text-transform: none;
    font: inherit;
}

.index_blank .webform-small-button,
.index_blank .webform-button.webform-button-upload,
.index_blank .webform-small-button.webform-button-upload,
.index_blank .webform-field-upload {
    font-size: .8125rem;
    line-height: 1.5385;
}

.index_blank .form-group {
    margin: 0;
}

.index_blank .webform-field-upload .webform-small-button {
    position: initial;
}

.index_blank .row-under-modifications {
    position: fixed;
    z-index: 2;
    bottom: -2px;
}

.index_blank .row-under-modifications-fixed {
    position: unset;
}

.index_blank .card-body:not(.card) + .card-body:not(.card) {
    border-top: 1px solid #b7b7b7;
}

.index_blank .index_blank-filter .form-group:last-child {
    margin-bottom: 0;
}

.index_blank .index_blank-filter .form-group {
    margin: 1.25rem 0;
}

.index_blank .index_blank-excel_upload-file {
    padding: 0;
}

.index_blank .webform-field-upload {
    height: 100%;
    width: 100%;
    max-height: 36px;
    font-size: .8125rem;
    line-height: 1.5385;
}

.index_blank .webform-field-upload > span {
    padding: .4375rem .875rem;
    width: 100%;
    height: 100%;
}

.index_blank .webform-field-upload > label {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    cursor: pointer;
}

.index_blank .file-input .webform-field-upload input[type=file], .index_blank .file-input .webform-field-upload input[type=button] {
    border: none;
}

.index_blank tbody:before {
    line-height: 25px;
    content: "";
    height: 25px;
    color: white;
    display: block;
    background: #fff;
}

.index_blank .table tbody {
    border: 0;
    border-bottom: 1px solid #ddd;
}

.index_blank .row-under-modifications {
    margin-top: 25px;
}

.index_blank .table-responsive .table .index_blank-table-tbody:first-child {
    border-top: none;
}

.index_blank .index_blank-table .input-group.bootstrap-touchspin {
    width: 115px;
    flex-wrap: nowrap;
}

.index_blank .index_blank-table tbody {
    background: #fafafa;
}

.index_blank .add_to_cart span {
    margin-right: 10px;
}

.index_blank .form-group.index_blank-search-left_sidebar {
    margin-top: 0;
}

.index_blank .form-group.index_blank-search-left_sidebar .form-group {
    margin-top: 0;
}

.index_blank .index_blank-search .form-control {
    text-align: start;
}

.index_blank .index_blank-table .table td,
.index_blank .table th {
    padding: 0.3rem 1.25rem;
}

.index_blank .card-excel-button button {
    width: 175px;
}

.index_blank .card-excel-button > div {
    display: inline-block;
}

.index_blank .total_products {
    padding: 0 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.index_blank .total_products-table_header {
    display: flex;
    align-items: center;
}

.index_blank .total_products-table_header .dropdown .form-check {
    margin-left: 0.5rem;
}

.index_blank-thead_fixed-wrapper {
    position: relative;
}

.index_blank-thead_fixed-wrapper.thead_fixed-wrapper-fixed {
    box-shadow: 0 -1px 10px 3px #ededed;
    border-bottom: 1px solid #ededed;
}

.thead_fixed-wrapper-fixed {
    position: fixed;
    top: 48px;
    z-index: 4;
}

.main-grid-ear-right {
    background: url("data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M40.024%2C0H42a0%2C0%2C0%2C0%2C1%2C0%2C0V81a0%2C0%2C0%2C0%2C1%2C0%2C0H40.977A40.977%2C40.977%2C0%2C0%2C1%2C0%2C40.024v0A40.024%2C40.024%2C0%2C0%2C1%2C40.024%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.2%2C31.91l8.014%2C8.576L20.2%2C49.061a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026l1.563%2C1.672a0.647%2C0.647%2C0%2C0%2C0%2C.958%2C0l8.014-8.576h0L32.776%2C41a0.762%2C0.762%2C0%2C0%2C0%2C0-1.025L22.72%2C29.212a0.647%2C0.647%2C0%2C0%2C0-.958%2C0L20.2%2C30.885A0.762%2C0.762%2C0%2C0%2C0%2C20.2%2C31.91Z%22/%3E%3C/svg%3E%0A") center right no-repeat;
    height: 60px;
    width: 32px;
    cursor: pointer;
    visibility: hidden;
    right: 0;
}

.main-grid-ear-left {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M0%2C0H1.023A40.977%2C40.977%2C0%2C0%2C1%2C42%2C40.977v0A40.024%2C40.024%2C0%2C0%2C1%2C1.977%2C81H0a0%2C0%2C0%2C0%2C1%2C0%2C0V0A0%2C0%2C0%2C0%2C1%2C0%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.8%2C49.09l-8.014-8.576L20.8%2C31.939a0.762%2C0.762%2C0%2C0%2C0%2C0-1.026l-1.563-1.673a0.647%2C0.647%2C0%2C0%2C0-.959%2C0l-8.014%2C8.576h0L8.224%2C40a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026L18.28%2C51.788a0.647%2C0.647%2C0%2C0%2C0%2C.959%2C0L20.8%2C50.116A0.761%2C0.761%2C0%2C0%2C0%2C20.8%2C49.09Z%22/%3E%3C/svg%3E") center left no-repeat;
    height: 60px;
    width: 32px;
    cursor: pointer;
    visibility: hidden;
    left: 0;
}

#index_blank-thead tr th {
    border: none;
}

#index_blank-thead_fixed {
    white-space: nowrap;
    position: absolute;
    background-color: #fff;
}

#index_blank-thead_fixed > div {
    outline: 0;
    position: relative;
    border-top-width: 0;
    vertical-align: middle;
    border-bottom: 1px solid #b7b7b7;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    min-height: 37px;
    white-space: normal;
}

.row-under-modifications-filter {
    padding: 1.25rem;
    position: fixed;
    z-index: 3;
    bottom: 0;
}

.row-under-modifications-filter.fixed-add-cart-animation {
    background-color: #fff;
    box-shadow: 0 -1px 10px 3px #ededed;
    border-top: 1px solid #ededed;
    transition: all 0.2s ease-in-out;
}

.row-under-modifications-filter.row-under-modifications-filter-fixed {
    position: relative;
}

.index_blank .card-body + * > .dataTables_wrapper,
.card-body + .dataTables_wrapper {
    border-top: none;
}

.index_blank .card-body + * > .dataTables_wrapper,
.card-body + .dataTables_wrapper {
    border-top: none;
}

.sidebar-component.smartfilter_wrapper {
    display: block;
    z-index: 990;
}

.slbElement .slbCloseBtn {
    top: 35px;
    width: 20px;
    height: 20px;
    font-size: 0;
    background-color: #ffffff;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.slbElement .slbCloseBtn::before {
    transform: rotate(45deg);
}

.slbElement .slbCloseBtn::after {
    transform: rotate(-45deg);
}

.slbElement .slbCloseBtn::after, .slbElement .slbCloseBtn::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    width: 16px;
    height: 1px;
    background-color: #3e495f;
}

.index_blank-filter .form-group .col-3 .badge.badge-flat {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.index_blank-filter .form-group .col-3 .badge.badge-flat:hover {
    background-color: #f5f5f5;
}

.index_blank-categories .nav-sidebar .nav-item:not(.nav-item-divider) li {
    margin: 0 1.25rem 0.5rem 2.25rem;
}

.content-wrapper.index_blank_wrapper {
    padding-top: 50px;
}

.index_blank-sorting_title-pagination .pagination-flat .page-item.active .page-link {
    background-color: #3e495f;
    border-color: #3e495f;
}

.nothing_to_show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

#modal_add_to_bascket .modal-dialog {
    max-width: 450px;
    top: calc(50% - 104px);
    margin-top: 0;
    margin-bottom: 0;
}

#modal_add_to_bascket .btn.btn_b2b {
    width: 170px;
}

#modal_add_to_bascket .modal-body {
    padding-bottom: 0;
}

.modal_add_to_bascket-preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
}

.modal_add_to_bascket-on_success,
.modal_add_to_bascket-on_error {
    display: none;
}

@media screen and (max-width: 1450px) {
    .index_blank .table_header {
        flex-direction: column;
    }

    .index_blank .total_products {
        float: initial;
        text-align: center;
        margin-top: 1rem;
    }

    .index_blank .sorting-checkboxes {
        margin-top: 0.8rem;
    }
}

@media screen and (max-width: 1300px) {
    .index_blank-sorting_pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    .index_blank .index_blank-table .add_to_cart > div {
        display: block;
        text-align: center;
    }

    .index_blank .datatable-footer_table_blank {
        flex-direction: column;
    }
}

/* categories and filters */
@media screen and (max-width: 1100px) {
    .index_blank .blank_wrapper {
        flex-direction: column-reverse;
    }

    .index_blank .flex-md-row {
        flex-direction: column !important;
    }

    .index_blank .sidebar-expand-md.sidebar-component-right {
        margin-left: 0;
    }

    .index_blank .sidebar-content {
        display: flex;
        justify-content: space-between;
    }

    .index_blank .sidebar-component-right {
        width: 100%;
    }

    .index_blank .sidebar-content > div {
        flex: 0 0 48%;
    }

    .index_blank .smartfilter {
        width: 100%;
    }

    .index_blank .filters_wrapper {
        display: flex;
        justify-content: space-between;
    }

    .index_blank .filters_wrapper > div {
        flex-basis: 49%;
    }
}

@media screen and (max-width: 550px) {
    .index_blank .table_header {
        flex-direction: column;
    }

    .index_blank .row-under-modifications {
        flex-direction: column;
    }

    .index_blank .table_header .index_blank-sorting {
        flex-direction: column;
    }

    .index_blank .row-under-modifications .btn.add_to_cart {
        margin: 1rem 0 0 0;
    }

    .index_blank .filters_wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .index_blank .card-excel-button button {
        margin: 1rem 0 0 0;
    }
}