.staff-list-row__content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0; }

.staff-list__text {
  padding-bottom: 45px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.staff-list-row__title {
  padding: 0 0 20px 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px; }

.staff-list-row__description {
  padding-bottom: 10px; }

.staff-list-item {
  position: relative;
  width: calc(25% - 22.5px);
  min-height: 373px;
  margin-right: 30px;
  margin-bottom: 20px; }
  .staff-list-item:nth-child(4n) {
    margin-right: 0; }

.staff-list-item__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1; }

.staff-list-item__img-block {
  position: relative;
  width: 100%;
  height: 280px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s; }

.staff-list-item__img-wrap {
  width: 100%;
  height: 100%; }

.staff-list-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.staff-list-item__social-block {
  position: absolute;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: calc(50% - 35px);
  left: calc(50% - 95px);
  width: 190px;
  height: 70px;
  z-index: 1; }

.staff-list-item__social-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 50%; }
  .staff-list-item__social-link:hover {
    border: 1px solid transparent;
    background-color: var(--main-color); }
  .staff-list-item__social-link:nth-child(5n) {
    margin-right: 0; }

.staff-list-item__social-link-svg {
  width: 16px;
  height: 16px;
  fill: #fff; }

.staff-list-item__info-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px; }

.staff-list-item__hidden-info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px; }

.staff-list-item__name {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px; }

.staff-list-item__post {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #808080; }

.staff-list-item__hidden-info-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px; }

.staff-list-item__hidden-info-icon {
  margin-right: 10px;
  fill: var(--main-color); }

.staff-list-item__hidden-info-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.staff-list-item__hidden-info-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer; }
  .staff-list-item__hidden-info-btn:hover {
    background-color: var(--main-color-hover); }

.staff-list-item__toggle-btn {
  display: none; }

@media (min-width: 1024px) {
  .staff-list-item__inner:hover {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    border: 0;
    -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15); }
    .staff-list-item__inner:hover .staff-list-item__social-block {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .staff-list-item__inner:hover .staff-list-item__img-block {
      height: 200px; }
      .staff-list-item__inner:hover .staff-list-item__img-block::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 0; }
    .staff-list-item__inner:hover .staff-list-item__name {
      color: var(--main-color); }
      .staff-list-item__inner:hover .staff-list-item__name:hover {
        color: var(--main-color-hover); }
    .staff-list-item__inner:hover .staff-list-item__hidden-info {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }

@media (max-width: 1343px) {
  .staff-list-item {
    width: calc(25% - 15px);
    min-height: 316px;
    margin-right: 20px; }
  .staff-list-item__img-block {
    height: 196px; }
  .staff-list-item__inner:hover .staff-list-item__img-block {
    height: 140px; }
  .staff-list__text {
    padding-bottom: 40px; }
  .staff-list-row__title {
    font-size: 24px;
    line-height: 29px; } }

@media (max-width: 1023px) {
  .staff-list-item {
    width: calc(50% - 10px);
    min-height: 213px;
    margin-right: 20px; }
    .staff-list-item:nth-child(2n) {
      margin-right: 0; }
  .staff-list-item__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 15px; }
    .staff-list-item__inner:hover .staff-list-item__img-block {
      height: auto; }
  .staff-list-item__info-block {
    width: 100%;
    padding: 0 0 0 15px; }
  .staff-list-item__img-block {
    width: 100px;
    min-width: 100px;
    height: auto; }
  .staff-list-item__img-wrap {
    width: 100%;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; }
  .staff-list-item__hidden-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .staff-list-item__hidden-info-text {
    font-size: 13px;
    line-height: 20px; }
  .staff-list__text {
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 20px; }
  .staff-list-row__title {
    padding-bottom: 15px; }
  .staff-list-row__description {
    padding-bottom: 0;
    font-size: 13px;
    line-height: 20px; }
  .staff-list-row__content {
    padding: 20px 0 10px 0; } }

@media (max-width: 767px) {
  .staff-list-item__info-block {
    padding: 0 10px; }
  .staff-list-item__hidden-info-wrap {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    transition: height 0.5s; }
  .staff-list-item__hidden-info {
    padding: 0; }
  .staff-list-item {
    width: 100%;
    min-height: 80px;
    margin-right: 0;
    margin-bottom: 10px; }
    .staff-list-item.opened .staff-list-item__toggle-btn-icon {
      -webkit-transform: scaleY(-1);
              transform: scaleY(-1); }
  .staff-list-item__inner {
    padding: 10px 0 10px 10px; }
  .staff-list-item__img-block {
    width: 60px;
    min-width: 60px; }
  .staff-list-item__img-wrap {
    height: 60px; }
  .staff-list-item__name {
    font-size: 15px;
    line-height: 24px; }
  .staff-list-item__post {
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 20px; }
  .staff-list-item__toggle-btn {
    position: relative;
    display: block;
    width: 29px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: #F7F7F7;
    cursor: pointer; }
  .staff-list-item__toggle-btn-icon {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 5px);
    fill: none;
    stroke: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .staff-list__text {
    padding-bottom: 20px; }
  .staff-list-row__title {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 26px; }
  .staff-list-row__content {
    padding: 20px 0 0 0; } }
