.staff-list-row__content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.staff-list__text {
    padding-bottom: 45px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.staff-list-row__title {
    padding: 0 0 20px 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.staff-list-row__description {
    padding-bottom: 10px;
}

.staff-list-item {
    position: relative;
    width: calc(25% - 22.5px);
    min-height: 373px;
    margin-right: 30px;
    margin-bottom: 20px;

    &:nth-child(4n){
        margin-right: 0;
    }
}

.staff-list-item__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #EDEDED;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.staff-list-item__img-block {
    position: relative;
    width: 100%;
    height: 280px;
    transition: height 0.3s;
}

.staff-list-item__img-wrap {
    width: 100%;
    height: 100%;
}

.staff-list-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.staff-list-item__social-block {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    top: calc(50% - 35px);
    left: calc(50% - 95px);
    width: 190px;
    height: 70px;
    z-index: 1;
}

.staff-list-item__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 50%;

    &:hover {
        border: 1px solid transparent;
        background-color: var(--main-color);
    }

    &:nth-child(5n) {
        margin-right: 0;
    }
}

.staff-list-item__social-link-svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.staff-list-item__info-block {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.staff-list-item__hidden-info {
    display: none;
    flex-direction: column;
    padding-top: 20px;
}

.staff-list-item__name {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.staff-list-item__post {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
}

.staff-list-item__hidden-info-item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.staff-list-item__hidden-info-icon {
    margin-right: 10px;
    fill: var(--main-color);
}

.staff-list-item__hidden-info-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.staff-list-item__hidden-info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;

    &:hover {
        background-color: var(--main-color-hover);
    }
}

.staff-list-item__toggle-btn {
    display: none;
}

@media(min-width:1024px) {
    .staff-list-item__inner {
        &:hover {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            border: 0;
            box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    
            .staff-list-item__social-block {
                display: flex;
            }
    
            .staff-list-item__img-block {
                height: 200px;
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    z-index: 0;
                }
            }
    
            .staff-list-item__name {
                color: var(--main-color);
    
                &:hover {
                    color: var(--main-color-hover);
                }
            }
    
            .staff-list-item__hidden-info {
                display: flex;
            }
        }
    }
}

@media(max-width:1343px) {
    .staff-list-item{
        width: calc(25% - 15px);
        min-height: 316px;
        margin-right: 20px;
    }

    .staff-list-item__img-block {
        height: 196px;
    }

    .staff-list-item__inner {
        &:hover{
            .staff-list-item__img-block{
                height: 140px;
            }
        }
    }

    .staff-list__text {
        padding-bottom: 40px;
    }

    .staff-list-row__title {
        font-size: 24px;
        line-height: 29px;
    }
}

@media(max-width:1023px) {
    .staff-list-item{
        width: calc(50% - 10px);
        min-height: 213px;
        margin-right: 20px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    .staff-list-item__inner {
        flex-direction: row;
        padding: 15px;

        &:hover{
            .staff-list-item__img-block{
                height: auto;
            }
        }
    }

    .staff-list-item__info-block {
        width: 100%;
        padding: 0 0 0 15px;
    }

    .staff-list-item__img-block{
        width: 100px;
        min-width: 100px;
        height: auto;
    }

    .staff-list-item__img-wrap{
        width: 100%;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }

    .staff-list-item__hidden-info{
        display: flex;
    }

    .staff-list-item__hidden-info-text{
        font-size: 13px;
        line-height: 20px;
    }

    .staff-list__text {
        padding-bottom: 30px;
        font-size: 13px;
        line-height: 20px;
    }

    .staff-list-row__title {
       padding-bottom: 15px;
    }

    .staff-list-row__description {
        padding-bottom: 0;
        font-size: 13px;
        line-height: 20px;
    }

    .staff-list-row__content {
        padding: 20px 0 10px 0;
    }
}

@media(max-width:767px) {
    .staff-list-item__info-block {
        padding: 0 10px;
    }

    .staff-list-item__hidden-info-wrap{
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
    }

    .staff-list-item__hidden-info {
        padding: 0;
    }

    .staff-list-item {
        width: 100%;
        min-height: 80px;
        margin-right: 0;
        margin-bottom: 10px;

        &.opened {
            & .staff-list-item__toggle-btn-icon {
                transform: scaleY(-1);
            }
        }
    }

    .staff-list-item__inner {
        padding: 10px 0 10px 10px;
    }

    .staff-list-item__img-block {
        width: 60px;
        min-width: 60px;
    }

    .staff-list-item__img-wrap {
        height: 60px;
    }

    .staff-list-item__name {
        font-size: 15px;
        line-height: 24px;
    }

    .staff-list-item__post {
        padding-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
    }

    .staff-list-item__toggle-btn {
        position: relative;
        display: block;
        width: 29px;
        margin-top: -10px;
        margin-bottom: -10px;
        background-color: #F7F7F7;
        cursor: pointer;
    }

    .staff-list-item__toggle-btn-icon {
        position: absolute;
        top: calc(50% - 3px);
        left: calc(50% - 5px);
        fill: none;
        stroke: #000;
        transition: transform 0.3s;
    }

    .staff-list__text {
        padding-bottom: 20px;
    }

    .staff-list-row__title {
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 26px;
    }

    .staff-list-row__content {
        padding: 20px 0 0 0;
    }
}
