.mobile_filter_form {

    .catalog_content__filter_horizon_item {
        margin: 0;
        padding: 13px;
        border-bottom: 1px solid #ededed;
    }

    .catalog_content__filter_horizon_item_name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .find_property_all_check {
        display: block;
        margin: 0;
        padding: 0 13px 10px;
        color: var(--main-color);
        cursor: pointer;
        border: 0;
        transition: all 0.2s ease-in-out;
    }

    .filter_horizontal-reset-all-filters {
        display: none;
    }

    .filter_horizontal-in_stock_checkbox {
        display: none;
    }

    .catalog_content__filter_horizon_item_wrapper {
        position: fixed;
        z-index: 350;
        left: 0;
        top: 0;
        display: none;
        width: 90%;
        height: calc(100% - 90px);
        background: #ffffff;
        border: 1px solid #ededed;
        border-bottom: none;
        overflow-y: auto;
        overflow-x: hidden;

        &::before {
            content: none;
        }
    }
}
