.show_more_block {
  position: relative;
  border: 1px solid var(--main-color);
  text-align: center;
  padding: 1rem 0;
  color: var(--main-color);
  cursor: pointer;
  margin-bottom: 2.5rem; }
  .show_more_block .icon-nav_button {
    display: inline-block;
    position: relative;
    top: -1px; }
  .show_more_block:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: #fff; }
    .show_more_block:hover.btnLoaderCustom > .loader-btn {
      fill: #fff; }
  .show_more_block:hover .sk-wave .sk-rect {
    color: #fff;
    background-color: #fff; }
  .show_more_block.btnLoaderCustom > .loader-btn {
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    fill: var(--main-color); }
  .show_more_block.fonts__main_comment.loaderBtns {
    color: transparent; }
    .show_more_block.fonts__main_comment.loaderBtns i {
      color: transparent; }
    .show_more_block.fonts__main_comment.loaderBtns .sk-wave {
      display: block; }
