.header-two__nav {
    display: none;
    background-color: var(--main-color);
}

.header-three--not-full-width{
    .header-two__nav {
        background-color: transparent;
    }

    .header-two__main-nav {
        .header-two__main-nav-catalog{
            &.hover > a {
                border-radius: 4px 0 0 0;
            }
        }
    }
}

.header-two__main-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: var(--main-width);
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;

    &.load {
        overflow: hidden;
    }

    & > li:first-child {
        position: static;
        min-width: 250px;

        & .site-navigation__item-icon {
            display: block;
        }
    }

    & > div {
        display: flex;
        flex-grow: 1;
    }

    .header-two__main-nav-catalog {
        display: flex;
        flex-grow: 1;
        min-width: 220px;
        touch-action: none;

        &.active > a,
        &.current > a {
            background-color: var(--main-color-hover);
        }

        & > a {
            position: relative;
            display: flex;
            height: 60px;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0 38px;
            font-size: 1.14rem;
            font-weight: 700;
            background-color: var(--main-color);
            color: #fff;
            border-radius: 4px 0 0 4px;
            touch-action: none;
            transition: none;
        }

        &.hover > a {
            background-color: var(--main-color-hover);
            color: #fff;
            border-radius: 0;

        }

        &.hover > .header-two__menu-catalog {
            width: calc(100% + 2px);
            top: 60px;
            padding: 30px 0;
            left: 0px;
            z-index: 100;
            opacity: 1;
            height: 500px;
        }

        & .site-navigation__item-icon {
            display: block;
        }
    }

    .header-two__main-navigation {
        display: flex;
        flex-grow: 1;
        background-color: var(--main-color);

        & > div {
            display: flex;
            flex-grow: 1;
        }
        &:last-child{
            border-radius: 0 4px 4px 0;
        }

    }

    & .header-two__main-nav-item {
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-grow: 1;
        margin-bottom: 0;
        padding: 0;

        &.current > a {
            background-color: var(--main-color-hover);
        }

        & > a {
            display: flex;
            height: 100%;
            height: 60px;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0 38px;
            font-size: 1.14rem;
            font-weight: 700;
            color: #fff;
            transition: none;
        }

        & > span {
            display: flex;
            height: 60px;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0 38px;
            font-size: 1.14rem;
            font-weight: 700;
            color: #fff;
            background-color: var(--main-color-hover);
        }

        &:hover > a {
            background-color: var(--main-color-hover);
            color: #fff;
        }
    }

    & svg {
        fill: #fff;
    }


    & .site-navigation__item-icon {
        position: absolute;
        display: none;
        right: 40px;
        top: calc(50% - 4px);
    }

    & .header-two__nav-submenu--other {
        display: flex;
    }
}

.header-three{
    .header-two__main-nav-item-more {
        transition: none;
    }
}

.header-two__main-nav-item-more {
    width: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & .header-two__nav-submenu {
        right: 0;
    }

    & .header-two__main-nav-item {
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #EDEDED;

        & .header-two__nav-submenu {
            top: 0 !important;
            right: 100%;
        }
    }

    & .header-two__main-nav-item a {
        display: block;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: 1.07rem;
        line-height: 30px;
        font-weight: 500;
        color: #000;
    }

    .header-two__main-nav-item.current > span {
        display: block;
        width: 100%;
        height: 60px;
        padding: 15px 45px 14px;
        color: #fff;
        font-size: 1.07rem;
        line-height: 30px;
        font-weight: 500;
        background-color: var(--main-color-hover);
    }

    & .header-two__main-nav-item:hover {
        & > a {
            color: var(--main-color);
            background-color: #fff;
            border-right: 1px solid var(--main-color-hover);
        }

        & > svg {
            fill: var(--main-color);
        }

        & .header-two__nav-submenu {
            top: 0 !important;
            right: 100%;
        }
    }

    &:hover {
        background-color: var(--main-color-hover);
    }

    &:hover > .header-two__nav-submenu {
        display: block;
        height: auto;
        opacity: 1;
        top: 60px;
        right: 0;
        z-index: 10;
    }

    & .header-two__nav-submenu-true svg {
        fill: #000;
        transform: rotate(90deg);
        left: 15px;
    }
}

.header-two__menu-icon {
    position: absolute;
    left: 26px;
    top: calc(50% - 10px);
    width: 26px;
    height: 20px;
}

.header-two__menu-catalog {
    height: 0;
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    z-index: -1;
    opacity: 0;
    transition: top 0.3s, opacity 0.3s, height 0s, padding 0s;
}

.header-three{
    .menu-catalog {
        & a {
            transition: none;
        }
    }
}

.menu-catalog {
    & a {
        color: #000;
        background-color: transparent;

    }

    & a:hover {
        background-color: transparent;
    }
}

.menu-catalog__section-list {
    margin-bottom: 0;
}

.header-two__nav-submenu {
    display: block;
    width: 300px;
    height: 0;
    position: absolute;
    top: 70px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s, z-index 0.1s ease-in-out 0.1s, height 0s;

    &.header-two__nav-submenu--right {
        right: 0;

        & .header-two__nav-submenu-sublevel {
            left: -100%;
        }

        & .site-navigation__item-icon-arrow {
            left: 20px;
            transform: rotate(0deg);
        }

        .header-two__nav-submenu-item {
            &:hover::after {
                right: 0;
            }
        }
    }

    &.header-two__nav-submenu--left {
        left: 0;

        & .header-two__nav-submenu-sublevel {
            left: 100%;
        }

        .header-two__nav-submenu-item {
            &:hover::after {
                left: 0;
            }
        }
    }

    & .header-two__nav-submenu-item:hover > .header-two__nav-submenu-sublevel {
        width: 300px;
        opacity: 1;
    }
}

.header-two__main-nav-item.header-two__nav-submenu-true {

    &:hover .header-two__nav-submenu {
        top: 60px;
        z-index: 60;
        opacity: 1;
        height: auto;
        max-height: 500px;
        overflow: initial;
        transition: top 0.3s;
    }

    & > a {
        padding-right: 70px;
    }

    & > span {
        padding-right: 70px;
    }

    & .site-navigation__item-icon {
        display: block;
    }
}

.header-two__nav-submenu-item {
    position: relative;
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid #EDEDED;

    &:hover > a {
        color: var(--main-color);
    }

    &:hover::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        background-color: var(--main-color);
    }
    a {
        display: block;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: 1.07rem;
        line-height: 21px;
        font-weight: 500;
    }

    span {
        display: block;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: 1.07rem;
        line-height: 21px;
        font-weight: 500;
        color: #fff;
    }

    & .site-navigation__item-icon-arrow {
        position: absolute;
        display: none;
        top: calc(50% - 6px);
        right: 15px;
        fill: #000;
        transform: rotate(180deg);
    }

    &:hover .site-navigation__item-icon-arrow {
        fill: var(--main-color);
    }

    &.header-two__nav-submenu-item--sublevel .site-navigation__item-icon-arrow {
        display: block;
    }
}

.header-two__nav-submenu-item.header-two__nav-submenu-true {
    &  svg {
        display: block;
    }
}

.header-two__nav-submenu-sublevel {
    position: absolute;
    top: 0;
    width: 0;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.3s, left 0.3s;

    & .header-two__nav-submenu-item {
        position: relative;
        margin-bottom: 0;
        padding-left: 0;
        border-bottom: 1px solid #EDEDED;
    }

    & a {
        padding-left: 30px;
    }
}

.menu-catalog {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.menu-catalog__item {
    display: flex;
    flex-basis: 25%;
    margin-bottom: 21px;
    padding: 0 15px;
}

.menu-catalog__image {
    width: 80px;
    margin-right: 5px;
    margin-top: 8px;

    & img {
        max-width: 100%;
        max-height: 100%;
    }
}

.menu-catalog__description {
    &.current > a,
    &.current > span {
        color: var(--main-color);
    }
}

.menu-catalog__section {
    max-width: 210px;
    margin-bottom: 7px;

    &.current > a,
    &.current > span {
        color: var(--main-color);
    }

    &.active > a,
    &.active > span {
        color: var(--main-color);
    }
}

.menu-catalog__title {
    display: block;
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: 700;
}

.menu-catalog__section-title {
    display: block;
    margin-bottom: 7px;
    font-size: 1.07rem;
    font-weight: 600;
}


.menu-catalog__section-item {
    position: relative;

    &.active span {
        color: var(--main-color);
        cursor: initial;
    }

    & a {
        font-size: 1.07rem;
        line-height: 21px;
        opacity: 0.7;
    }

    &::after {
        position: absolute;
        content: "";
        top: 10px;
        left: 9px;
        width: 3px;
        height: 3px;
        background-color: #000;
        border-radius: 50%;
        opacity: 0.7;
        transition: 0.3s;
    }

    &:hover a {
        opacity: 1;
    }

    &:hover::after {
        width: 7px;
        border-radius: 6px;
        background-color: var(--main-color);
        opacity: 1;
    }
}

.header-two__nav-submenu--other {
    position: relative;

    &:hover > a {
        color: var(--main-color);
    }

    &:hover::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        background-color: var(--main-color);
    }
    a {
        display: block;
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: 1.07rem;
        line-height: 21px;
        font-weight: 500;
    }

    & .header-two__nav-submenu-true {
        margin-bottom: 0;
        padding-left: 0;

        & > .site-navigation__item-icon {
            fill: #000;
            transform: rotate(90deg);
            left: 15px;
            width: 10px;
            height: 20px;
            top: calc(50% - 10px);
        }
    }

    & .header-two__nav-submenu-true:hover .header-two__nav-submenu  {
        z-index: 70;
        opacity: 1;
        top: 0;
    }

    & .header-two__nav-submenu-true .header-two__nav-submenu  {
        top: 10px;
        left: -100%;
    }

    & .header-two__nav-submenu {
        top: 70px;

        & > & .header-two__nav-submenu {
            top: 0;

        }
    }
}

@media(min-width:1024px){
    .header-three--unfixed{
        .header-two__nav{
            display: block;
        }
    }
}
