.menu-contact__title {
    padding: 0 20px;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
}

.menu-contact__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    padding: 0 20px;
    font-size: 14px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &.menu-contact__item--contact {
        margin-bottom: 20px;
    }
}

.menu-contact__item-link-phone {
    color: #ffffff;
}

.menu-contact__item-link {
    font-size: 14px;
    line-height: 21px;
    color: var(--main-color);

    &:hover {
        color: var(--main-color-hover);
    }

    &:not(:first-of-type) {
        margin-top: 6px;
    }

    &.menu-contact__item-link--phone {
        font-weight: bold;
    }
}

.menu-contact__item-text {
    padding: 0;
    font-size: 14px;
    line-height: 21px;

    &:not(:first-of-type) {
        margin-top: 6px;
    }
}

.menu-contact__call-back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: var(--main-color);
}

.contact-phone__drop-down {
    position: absolute !important;
    top: 0;
    right: 0;
    width: 280px;
    padding: 0;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-phone__drop-down-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 24px;

    &:not(:first-of-type) {
        margin-top: 26px;
    }

    &:last-of-type {
        margin-bottom: 26px;
    }

    & > svg {
        position: absolute;
        top: 2px;
        left: 20px;
        fill: #BDBDBD;
    }

    &.contact-phone__drop-down-item--phone {
        margin-top: 20px;
        & > svg {
            top: 6px;
        }
    }

    .contact-phone__link-phone {
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;

        &:not(:first-of-type) {
            margin-top: 18px;
        }
    }

    a {
        padding-left: 27px;
        font-size: 14px;
        line-height: 21px;
        text-overflow: ellipsis;
        color: var(--main-color);
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            color: var(--main-color-hover);
        }
    }

    p {
        padding-bottom: 0;
        padding-left: 27px;
        font-size: 14px;
        line-height: 21px;
        color: #000;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.contact-phone__link {
    display: flex;
    align-items: center;
}

.contact-phone__link-icon {
    margin-right: 10px;
}

.contact-phone__arrow-icon {
    margin-left: 8px;
}

.contact-phone__drop-down-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 34px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 0 4px 0 4px;

    &:hover {
        color: #fff;
        background-color: var(--main-color-hover);
    }
}

