@import "menu.scss";
@import "dependence.scss";
@import "navigation.scss";
@import "slider.scss";
@import "regions.scss";
@import "sidebar.scss";

@keyframes showHeader {
    from {
        transform: translateY(-100%);
        animation-duration: 0s;
    }

    to {
        transform: translateY(0);
        animation-duration: 1s;
    }
}

.header-three a,
.header-three div,
.header-three{
    transition: color 0.5s, background-color 0.5s;
}

.header-three {
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    z-index: 200;

    &.header-three--black {
        background-color: #333333;

        .header-three__btn-menu {
            border-color: #4D4D4D;

            &:hover {
                background-color: #4D4D4D;
            }
        }

        .basket-item-count {
            color: #4D4D4D;
            background: #fff;
            border-color: #333333;
        }


        .header-three__personal-photo {
            border-color: #fff;
        }

        .contact-phone__link {
            color: #fff;
        }

    }

    &.header-three--white {
        background-color: #fff;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

        .header-three__btn-menu {
            border-color: #EDEDED;

            &:hover {
                background-color: #E6E6E6;

                .header-three__btn-menu-icon {
                    stroke: #fff;
                }
            }
        }

        .basket-item-count {
            color: #fff;
            background: #BDBDBD;
            border-color: #F7F7F7;
        }

        .header-three__personal-photo {
            border-color: #E6E6E6;
        }

        .contact-phone__link {
            color: #000;
        }
    }

    .header-two__basket-favorites.active,
    .header-two__basket-buy.active,
    .header-two__basket-compare.active {
        .basket-item-count{
            background: var(--main-color);
            color: #fff;
        }
    }

    .header-three__city {
        position: relative;
    }

    .select-city__dropdown-wrap {
        top: 0;
        left: 0;
    }
}

.header-three--black{
    .header-three__city > a {
        color: #FFF;

        &:hover{
            color: var(--main-color);
            transition: none;
        }
    }

    .header-three__personal-sign-in{
        color: #fff;

        &:hover{
            color: var(--main-color);
        }
    }
}

.header-three--white{
    .header-three__city > a {
        color: var(--main-color);

        &:hover{
            color: var(--main-color-hover);
            transition: none;
        }
    }

    .header-three__personal-sign-in{
        color: #333;

        &:hover{
            color: var(--main-color);
        }
    }
}

.header-three-link-cabinet-unfixed__icon{
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
    fill: #fff;
}

.header-three-link-cabinet-unfixed__text{
    width: max-content;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
}

.header-three__search-wrap{
    display: flex;
    flex-grow: 1;
}

.header-three__search-icon-open,
.header-three__search-icon-close{
    display: none;
}

.header-three__btn-menu {
    padding: 18px 27px;
    margin: 0;
    background: none;
    border: none;
}

.header-three-shadow {
    height: 60px;
}

.header-three__wrapper {
    display: flex;
    width: 100%;
    min-height: 60px;
}

.header-three__btn-menu-wrapper {
    display: flex;
}

.header-three__btn-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-three__btn-menu-icon {
    stroke: #CBCBCB;
}

.header-three__logo-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 15px;
}

.header-three__city {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-left: 15px;
    margin-right: 50px;
    color: #ffffff;

    & > svg {
        margin-right: 10px;
        fill: #BDBDBD;
    }

    & > a {
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        color: #CBCBCB;
    }
}

.header-three__search {
    display: flex;
    align-items: center;
    flex-basis: 886px;
    margin: 0 auto;
}

#search {
    width: 100%;

    &.state-input .header-search__btn-close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        z-index: 101;
    }

    form {
        position: relative;
        overflow: hidden;
    }

    input {
        width: 100%;
        padding: 10px 28px 10px 12px;
        border: 1px solid #EDEDED;
        border-radius: 4px;

        &::placeholder {
            font-size: 14px;
            line-height: 21px;
            color: #808080;
        }
    }

    button {
        position: absolute;
        top: 1px;
        right: 1px;
        width:44px;
        height: calc(100% - 2px);
        padding: 0 12px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 0 4px 4px 0;
        cursor: pointer;

        svg {
            fill: #BDBDBD;
            transition: 0.2s fill ease-out;
        }

        &:hover {
            svg {
                fill: #000;
            }
        }
    }
}

.header-search__btn-close {
    display: none;
}

.header-search__btn-close-icon {
    stroke: #BDBDBD;
}

.header-three__contact {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-left: 50px;
    margin-right: 30px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s color ease-out;

    & .contact-phone__link {
        font-weight: bold;
    }

    & .contact-phone__link-icon,
    .contact-phone__arrow-icon {
        transition: 0.2s fill ease-out;
    }

    &:hover {
        color: var(--main-color);

        & .contact-phone__link-icon,
        .contact-phone__arrow-icon {
            fill: var(--main-color);
        }

        .contact-phone__drop-down {
            height: auto;
            top: 0px;
        }
    }

    .contact-phone__link-icon {
        fill: #CBCBCB;
    }

    .contact-phone__arrow-icon {
        fill: #CBCBCB;
    }

    .contact-phone__drop-down {
        position: absolute;
        top: 10px;
        right: 0;
        height: 0;
        overflow: hidden;
        z-index: 100;
        transition: top 0.2s ease-out;
    }
}

.header-three__basket {
    display: flex;
    align-items: center;

    &.right-panel--show {
        display: none;
    }

    .header-two__basket-compare,
    .header-two__basket-favorites,
    .header-two__basket-buy {
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
        z-index: 100;

        &:hover {
            color: #000;
        }
    }

    .basket-compare-icon {
        width: 24px;
        height: 20px;
        fill: #CBCBCB;

        &:hover{
            fill:var(--main-color);
        }
    }

    .basket-favorites-icon {
        width: 24px;
        height: 20px;
        fill: #CBCBCB;

        &:hover{
            fill:var(--main-color);
        }
    }

    .basket-buy-icon {
        width: 24px;
        height: 20px;
        fill: #CBCBCB;

        &:hover{
            fill:var(--main-color);
        }
    }

    .basket-item-count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 6px;
        right: -6px;
        height: 24px;
        min-width: 24px;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        background-color: #fff;
        border: 2px solid;
        border-radius: 12px;
    }

    .header-two__basket-buy.active,
    .header-two__basket-favorites.active,
    .header-two__basket-compare.active {
        color: #fff;
    }

    .window_basket {
        right: -14px;
    }
}

.header-three__personal {
    display: flex;
    align-items: center;
    margin: 0 22px;

    &.right-panel--show {
        display: none;
    }

    & > a {
        display: flex;
        align-items: center;
        color: #fff;
    }
}

.header-three__personal-photo {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    background-color: gray;
    background-image: url("/local/templates/sotbit_origami/assets/img/logo_avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.header-three__personal-sign-in {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
}


.mobile_filter_icon_sorting_mobile,
.mobile_filter_icon_list_mobile {
    display: none;
}

.header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
    width: calc(100% - 111px);
}

.footer-block {

    .puzzle_block {
        width: 100%;
    }

    .row {
        .col-xl-3 {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

@media(min-width:1024px) {
    .header-three {

        &.header-three--unfixed {
            position: relative;
        }
    }

    .header-three:not(.header-three--unfixed) {
        animation: showHeader 1s;
    }

    .header-three--unfixed {
        flex-direction: column;
        height: auto;

        .header-three__wrapper {
            max-width: var(--main-width);
            margin: 0 auto;
        }

        &.header-three--not-full-width {
            max-width: 1344px;
            margin: 0 auto;
        }

        .header-two__basket-compare,
        .header-two__basket-favorites,
        .header-two__basket-buy {
            padding: 10px 10px 10px 27px;
        }

        .bx-basket {
            margin-left:13px;
        }

        .header-three__contact {

            &.hidden {
                display: none;
            }
        }

        .header-three__personal {
            margin: 0 0 0 27px;
        }

        .header-three__search-icon-open {
            cursor: pointer;
            z-index: 1;
        }

        .header-three__search {
            order: 1;
            justify-content: flex-end;
        }

        .header-three__btn-menu-wrapper {
            display: none;
        }

        &.header-three--black {
            background-color: transparent;

            .basket-compare-icon,
            .basket-favorites-icon,
            .basket-buy-icon {
                fill: #FFF;

                &:hover {
                    fill: var(--main-color);
                }
            }

            .basket-item-count {
                background: #E6E6E6;
                border-color: transparent;
            }

            .contact-phone__link-icon {
                fill: #fff;
            }

            .contact-phone__arrow-icon {
                fill: #fff;
            }

            .header-three__city {
                svg {
                    fill: #fff;
                }
            }
        }

        &.header-three--white {
            background-color: transparent;
            box-shadow: none;

            .basket-compare-icon,
            .basket-favorites-icon,
            .basket-buy-icon {
                fill: #999;

                &:hover {
                    fill: var(--main-color);
                }
            }

            .basket-item-count {
                color: #4D4D4D;
                background: #FFF;
                border-color:#EDEDED;
            }

            .contact-phone__link-icon {
                fill: #999;
            }

            .contact-phone__arrow-icon {
                fill: #999;
            }

            .header-three__city {
                svg {
                    fill: #999;
                }

                & > a {
                    color: #333;

                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }

        .header-three__logo-wrapper {
            margin-left: 0;
            margin-right: 80px;
        }

        .header-three__city {
            margin-left: 0;
            margin-right: 50px;
        }

        .header-three__contact {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .header-three--white {
        .header-three-link-cabinet-unfixed__icon {
            fill: #333333;
        }

        .header-three-link-cabinet-unfixed__text {
            color: #333333;
        }

        .header-three__search-icon-open {
            fill:#999;

            &:hover {
                fill: var(--main-color);
            }
        }
    }

    .header-three--black {
        .header-three__search-icon-open {
            fill:#fff;

            &:hover {
                fill: var(--main-color);
            }
        }
    }

    .search-wrap--unfixed{
        position: relative;

        #search {
            position: absolute;
            top:calc(50% - 21.5px);
            right: 0;
            width: 32px;
            z-index: 1;

            button{
                left:1px;
                border-radius: 6px 0 0 6px;
            }

            input{
                padding: 10px 38px 10px 45px;
            }
        }

        &.search-wrap--close {
            & .header-search__btn-search {
                &.hidden {
                    display: none;
                }
            }
        }

        &.search-wrap--open {
            #search {
                width: 100%;
            }

            .header-three__search-icon-open {
                display: none;
            }
        }

        &.search-wrap--hide-input {


            #title-search-input {
                    border:1px solid transparent;
                    background: transparent;
                    cursor: default;
            }

            .header-search__btn-search {
                display: none;
            }

            .header-three__search-icon-open {
                display: flex;
            }
        }
    }

    .header-three__search-icon-close {
        position: absolute;
        right: 20px;
        z-index: 1;
        cursor: pointer;
        stroke: #BDBDBD;

        &.show {
            display: flex;
        }

        &:hover {
            stroke: var(--main-color);
        }
    }

    #search {
        &.transitionOn {
            transition: width 1s;
        }

    }
}

@media (min-width:1023px) and (max-width: 1343px) {

    .header-three--not-full-width {
        &.header-three--unfixed {
            padding: 0 42px;
        }

        .header-three__wrapper {
            padding: 0;
        }
    }

    .header-three__wrapper {
        padding: 0 15px;
    }
}

@media (min-width:1023px) and (max-width: 1200px) {

    .header-three {
        &.header-three--unfixed {
            .header-three-link-cabinet-unfixed__text {
                display: none;
            }

            .header-two__basket-compare,
            .header-two__basket-favorites,
            .header-two__basket-buy {
                margin-left: 7px;
            }
        }
    }
}

@media (max-width: 1023px) {

    .header-three__city {
        display: none;
    }
    .header-three__contact {
        display: none;
    }

    .header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
        width: calc(100% - 20px);
    }

    .header-three__wrapper {
        margin: 0 20px;
    }

    .header-three__btn-menu-wrapper {
        position: absolute;
        top: calc(50% - 22px);
        left: 20px;
        height: 44px;
        z-index: 1;
    }

    .header-three__btn-menu {
        padding: 0 12px;
        border: none;
    }

    .header-three__btn-menu-icon {
        stroke: #BDBDBD;
    }

    .header-three__search {
        margin: 0 auto;
    }

    .header-three__logo-wrapper {
        display: none;
    }

    .header-three__search {
        flex-basis: auto;
        width: 100%;
        margin: 0;
    }

    #search {
        input {
            padding-left: 50px;
            padding-right: 45px;
            background-repeat: no-repeat;
            background-position: center;
        }

        button {
            display: none;
        }
    }

    .header-three__basket {
        .header-two__basket-compare {
            display: none;
        }

        .header-two__basket-favorites {
            display: none;
        }

        .header-two__basket-buy {
            position: absolute;
            top: calc(50% - 22px);
            right: 0px;
            height: 44px;
            padding: 10px 12px;
        }

        .basket-item-count {
            display: none;
        }

        .basket-buy-icon {
            width: 20px;
        }
    }

    .header-three__personal {
        display: none;
    }

    .contact-phone__drop-down {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-three__wrapper {
        margin: 0 15px;
    }
}

@media (max-width: 575px) {
    .mobile_filter_icon_sorting_mobile,
    .mobile_filter_icon_list_mobile {
        display: block;
    }

    body .catalog_content__sort_horizon form .select_block {
        position: relative;
        height: 40px;
        padding-top: 0;
    }

    .mobile_filter_icon_list_mobile {
        position: absolute;
        top: calc(50% - 7px);
        left: calc(50% - 6px);
    }
}



