.product_card__inner {
  position: relative;
  height: 100%;
  width: 270px;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ededed; }
  .product_card__inner p {
    padding-bottom: 0; }
  .product_card__inner:hover {
    z-index: 100;
    -webkit-box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15); }
  .product_card__inner:hover .product-card-inner__img-view {
    display: block; }
  .product_card__inner:hover .product-card-inner__title-link {
    color: var(--main-color); }
  .product_card__inner:hover .product-card-inner__icon::before {
    color: #807f7f; }

.product-card-inner__stickers {
  position: absolute !important;
  top: 16px;
  left: 13px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 50px;
  z-index: 53; }
  .product-card-inner__stickers .timer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    -webkit-box-pack: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .product-card-inner__stickers .timer .timer-wrapper {
      position: relative;
      top: 0;
      left: 0; }

.product-card-inner__sticker {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 10px;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  background-color: var(--main-color); }

.product-card-inner__icons {
  position: absolute;
  right: 16px;
  top: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25px;
  margin-bottom: 15px;
  z-index: 53; }

.product-card-inner__icon {
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 26px;
  margin-bottom: 8px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .product-card-inner__icon:hover {
    background-color: #ededed; }
    .product-card-inner__icon:hover svg {
      fill: var(--main-color); }
  .product-card-inner__icon svg {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    fill: #BDBDBD; }
  .product-card-inner__icon.active {
    background-color: var(--main-color); }
    .product-card-inner__icon.active svg {
      fill: #fff; }
    .product-card-inner__icon.active:hover {
      background-color: #ededed !important; }
      .product-card-inner__icon.active:hover svg {
        fill: var(--main-color); }

.product-card-inner__img-wrapper {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  margin-bottom: 11px;
  overflow: hidden; }

.product-card-inner__img-view {
  position: absolute;
  top: 120px;
  left: calc(50% - 70px);
  display: none;
  width: 140px;
  padding: 6px 9px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  background-color: rgba(54, 53, 53, 0.7);
  cursor: pointer;
  z-index: 53; }

.product-card-inner__img-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  position: relative; }

.product_card__inner .product-card-inner__img-wrapper .product-card-inner__img-link > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.product-card-inner__title {
  margin-bottom: 13px;
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  color: #000; }

.product-card-inner__title-link {
  display: block;
  min-height: 39px;
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 20px; }

.product-card-inner__title-link:hover {
  color: var(--main-color); }

.product-card-inner__rating-block {
  height: 14px;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: auto; }
  .product-card-inner__rating-block .bx_item_detail_rating .bx_stars_container {
    cursor: auto; }
  .product-card-inner__rating-block .rating-block-title {
    display: none; }

.product-card-inner__info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 180px;
  -ms-flex-item-align: left;
      align-self: left;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px; }
  .product-card-inner__info > div {
 /*   margin: 0 auto;*/
   /* padding: 0 3px; */}
  .product-card-inner__info > .product-card-inner__vendor-code {
 /*   margin: 0 auto;
    padding: 0 3px;*/ }

.product-card-inner__quantity {
  display: block;
  position: relative;
  margin: 0;
  padding-left: 15px;
  font-size: 11px;
  color: #000; }

.product-card-inner__quantity--lot::before {
  content: url("data:image/svg+xml, %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='11px' height='11px' viewBox='0 0 78.369 78.369' style='enable-background:new 0 0 78.369 78.369;' xml:space='preserve' fill='%2300b02a'%3E%3Cg%3E%3Cpath d='M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 2px;
  left: 0; }

.product-card-inner__quantity--few::before {
  content: url("data:image/svg+xml, %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='11px' height='11px' viewBox='0 0 78.369 78.369' style='enable-background:new 0 0 78.369 78.369;' xml:space='preserve' fill='%23ffd876'%3E%3Cg%3E%3Cpath d='M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 2px;
  left: 0; }

.product-card-inner__quantity--enough::before {
  content: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAeFBMVEX////JASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASnJASkAAABW4CSsAAAAJ3RSTlMAQ94K2iQLhIIVgYUihtmwVnt5sUe/ZGNIzyxQTecPHx0MauTg42iJdFSmAAAAAWJLR0QnLQ+oIwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MDDAogAMlhp5AAAABMSURBVAjXHcZHAkAwAADBJSFC9N67/z8RmdMAOK7rYAnpedK3VYHWYfTPSBErkZivaUZekJVQ1dC0UHf0A4wTDD3zAusG+8xxXtb9vHWvBEG36StCAAAAAElFTkSuQmCC");
  position: absolute;
  top: 1px;
  left: 0; }

.product-card-inner__quantity--none::before {
  content: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEX////QIEPQIEPQIEPQIEPQIEPQIEPQIEPQIEPQIEPQIEPQIEPQIEPQIEMAAAAVbAepAAAADnRSTlMAT8H2ifuaTlOX/Ehp/ouaMcMAAAABYktHRA5vvTBPAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wMMCiUSR68inQAAAEJJREFUCNdjYBAyVmRgYAmrmOXAILqB4exCBjUGnjuTGMwZzh5oZrDgucNQzKB59gBDEoPUHQbuQAaWle2pDgxgXQDQ4g9peIy43QAAAABJRU5ErkJggg==");
  position: absolute;
  top: 1px;
  left: 0; }

.product-card-inner__vendor-code {
  margin: 0;
  font-size: 11px;
  color: #807f7f; }

.product-card-inner__price {
  margin-bottom: 10px; }

.product-card-inner__action-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3px;
  max-width: 188px; }

.product-card-inner__old-price {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0 4px;
  font-size: 14px;
  color: #cbcbcb; }
  .product-card-inner__old-price::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -2px;
    height: 1px;
    width: 100%;
    background-color: #cbcbcb; }

.product-card-inner__new-price {
  margin: 0 auto;
  padding: 0 4px;
  font-size: 18px;
  color: #000;
  font-weight: 700; }
  .product-card-inner__new-price span {
    font-size: 14px;
    font-weight: 700; }

.product-card-inner__saving {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.product-card-inner__saving-title {
  margin: 0;
  font-size: 11px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.product-card-inner__saving-value {
  margin-left: 3px;
  padding: 0 6px;
  color: #00b02a;
  border: 1px solid #00b02a; }

.product-card-inner__option-price-retail {
  margin-bottom: 5px;
  text-align: center; }

.product-card-inner__option-price-gross {
  text-align: center; }

.product-card-inner__option-price-title {
  margin: 0;
  margin-bottom: -3px;
  font-size: 12px;
  color: #989898; }

.product-card-inner__option-price-value {
  margin: 0;
  font-size: 18px;
  font-weight: 700; }

.product-card-inner__form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .product-card-inner__form .product-card-inner__buttons-block {
    margin-top: auto; }

.product-card-inner__option {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-card-inner__option-color {
  margin-bottom: 13px;
  -webkit-box-ordinal-group: 0;
     -moz-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.product-card-inner__option-memory {
  padding-bottom: 13px; }

.product-card-inner__option-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 700;
  text-align: left; }

.product-card-inner__option-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0 5px; }

.product-card-inner__option-color .product-card-inner__option-item {
  width: 38px;
  height: 38px; }
  .product-card-inner__option-color .product-card-inner__option-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  .product-card-inner__option-color .product-card-inner__option-item.disabled .product-card-inner__option-item-content {
    position: relative; }
    .product-card-inner__option-color .product-card-inner__option-item.disabled .product-card-inner__option-item-content::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 30px;
      height: 1px;
      background-color: #7c7b7a;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .product-card-inner__option-color .product-card-inner__option-item.disabled .product-card-inner__option-item-content::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 30px;
      height: 1px;
      background-color: #7c7b7a;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.product-card-inner__option-item {
  height: 38px;
  min-width: 38px;
  margin: 2px;
  padding: 3px;
  border: 1px solid #e9e9e9;
  cursor: pointer; }
  .product-card-inner__option-item:hover {
    border-color: #e9e9e9;
    -webkit-box-shadow: 0 0 1px 0 #bfbdbd;
            box-shadow: 0 0 1px 0 #bfbdbd; }
  .product-card-inner__option-item.checked {
    border-color: var(--main-color); }
  .product-card-inner__option-item.checked:hover {
    border-color: var(--main-color); }
  .product-card-inner__option-item.checked p {
    font-weight: 700; }
  .product-card-inner__option-item input {
    display: none; }
  .product-card-inner__option-item img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    border: 1px solid #e9e9e9;
    overflow: hidden; }
  .product-card-inner__option-item p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle; }
  .product-card-inner__option-item.disabled p {
    color: #bcbcbc; }

.product-card-inner__option-item-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left; }
  .product-card-inner__option-item-content span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: left;
        align-self: left;
    padding: 2px; }

.product-card-inner__buy {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 235px;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }
  .product-card-inner__buy .btnLoaderCustom {
    position: relative;
    font-size: inherit !important; }
    .product-card-inner__buy .btnLoaderCustom .product-card-inner__in-basket {
      color: transparent; }
    .product-card-inner__buy .btnLoaderCustom .loader-btn {
      top: calc(50% - 10px);
      left: calc(50% - 10px); }
  .product-card-inner__buy > div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px; }

.product-card-inner__counter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto; }
  .product-card-inner__counter input {
    width: 34px;
    padding: 9px 3px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6; }

.product-card-inner__counter-btn {
  margin: 0;
  padding: 0 8px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  cursor: pointer; }
  .product-card-inner__counter-btn:hover {
    background-color: #f2f2f2; }

.product-card-inner__in-basket {
  -ms-flex-preferred-size: 106px;
      flex-basis: 106px;
  height: 40px;
  margin-left: auto;
  padding: 0 16px;
  color: #fff;
  font-weight: 700;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  border-radius: 20px !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .product-card-inner__in-basket:hover {
    background-color: var(--main-color-hover); }

.product-card-inner__product-basket {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  padding-top: 13px; }

.product-card-inner__product-basket-btn {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  border-radius: 20px;
  background-color: #00b02a; }
  .product-card-inner__product-basket-btn:hover, .product-card-inner__product-basket-btn:focus {
    color: #fff;
    background-color: #007d1e; }
  .product-card-inner__product-basket-btn::before {
    content: url("data:image/svg+xml, %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='18px' height='18px' viewBox='0 0 78.369 78.369' style='enable-background:new 0 0 78.369 78.369;' xml:space='preserve' fill='%23fff'%3E%3Cg%3E%3Cpath d='M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z'/%3E%3C/g%3E%3C/svg%3E");
    position: relative;
    top: 3px;
    padding-right: 5px; }

.product-card-inner__subscribe {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px; }

.product-card-inner__buttons-block {
  padding-bottom: 13px;
  cursor: pointer; }

.product-card-inner__product-subscribe-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  background-color: var(--main-color);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .product-card-inner__product-subscribe-btn:hover {
    color: #fff;
    background-color: var(--main-color-hover); }
  .product-card-inner__product-subscribe-btn::before {
    content: url("data:image/svg+xml, %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='18px' height='18px' viewBox='0 0 78.369 78.369' style='enable-background:new 0 0 78.369 78.369;' xml:space='preserve' fill='%23fff'%3E%3Cg%3E%3Cpath d='M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z'/%3E%3C/g%3E%3C/svg%3E");
    position: relative;
    top: 3px;
    padding-right: 5px; }
  .product-card-inner__product-subscribe-btn.product-card-inner__product-subscribe-btn--active {
    background-color: #00b02a; }
    .product-card-inner__product-subscribe-btn.product-card-inner__product-subscribe-btn--active:hover {
      background-color: #007d1e; }

.product_card__inner-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 16px;
  padding-bottom: 24px;
  background-color: #fff; }

.product-card-inner__buttons-block.product-mode-N .product-card-inner__buttom-more-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #fff; }

.product_card__inner.product_card__inner--two {
  padding: 0;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .product_card__inner.product_card__inner--two .product-card-inner__form {
    display: none; }
  .product_card__inner.product_card__inner--two .product-card-inner__buttons-block {
    padding-top: 0; }
  .product_card__inner.product_card__inner--two .product_card__inner-wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 16px;
    padding-bottom: 24px;
    background-color: #fff; }
  .product_card__inner.product_card__inner--two .product-card-inner__rating-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__inner.product_card__inner--two:hover {
/*    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;*/ }
  .product_card__inner.product_card__inner--two: .product_card__inner-wrapper {
/*    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border: 1px solid #ededed;*/
    -webkit-box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15); }
  .product_card__inner.product_card__inner--two .product-card-inner__form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .product_card__inner.product_card__inner--two .product-card-inner__buttom-more-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: #fff; }

.product_card__inner.product_card__inner--three {
  padding: 0; }
  .product_card__inner.product_card__inner--three .product-card-inner__buttons-block {
    display: none; }
  .product_card__inner.product_card__inner--three .product_card__inner-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 16px;
    padding-bottom: 24px;
    background-color: #fff; }
  .product_card__inner.product_card__inner--three .product-card-inner__rating-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__inner.product_card__inner--three .product-card-inner__buttons-block {
    padding-top: 0;
    margin-top: auto; }
  .product_card__inner.product_card__inner--three:hover {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .product_card__inner.product_card__inner--three:hover .product_card__inner-wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border: 1px solid #ededed;
    -webkit-box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15); }
  .product_card__inner.product_card__inner--three:hover .product-card-inner__buttons-block {
    display: block; }

.product_card__inner.product_card__inner--four {
  padding: 0; }
  .product_card__inner.product_card__inner--four .product-card-inner__option {
    display: none; }
  .product_card__inner.product_card__inner--four .product-card-inner__buy {
    display: none; }
  .product_card__inner.product_card__inner--four .product-card-inner__subscribe {
    display: block; }
  .product_card__inner.product_card__inner--four .product-card-inner__buttom-more {
    padding-top: 13px; }
  .product_card__inner.product_card__inner--four .product-card-inner__buttom-more-btn {
    display: block;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    background-color: var(--main-color);
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .product_card__inner.product_card__inner--four .product-card-inner__buttom-more-btn:hover {
      background-color: var(--main-color-hover); }
  .product_card__inner.product_card__inner--four .product_card__inner-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 16px;
    padding-bottom: 24px;
    background-color: #fff; }
  .product_card__inner.product_card__inner--four .product-card-inner__rating-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__inner.product_card__inner--four:hover {
    z-index: 10; }

.product_card__block_item_inner-wrapper {
  height: 100%; }

.product_card__inner.product_card__inner--five {
  padding: 0; }
  .product_card__inner.product_card__inner--five .product-card-inner__buttons-block {
    display: none; }
  .product_card__inner.product_card__inner--five .product-card-inner__buy {
    display: none; }
  .product_card__inner.product_card__inner--five .product-card-inner__subscribe {
    display: block; }
  .product_card__inner.product_card__inner--five .product-card-inner__buttom-more {
    padding-top: 13px; }
  .product_card__inner.product_card__inner--five .product-card-inner__buttom-more-btn {
    display: block;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    background-color: var(--main-color);
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .product_card__inner.product_card__inner--five .product-card-inner__buttom-more-btn:hover {
      background-color: var(--main-color-hover); }
  .product_card__inner.product_card__inner--five .product_card__inner-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 16px;
    padding-bottom: 24px;
    background-color: #fff; }
  .product_card__inner.product_card__inner--five .product-card-inner__rating-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__inner.product_card__inner--five:hover {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .product_card__inner.product_card__inner--five:hover .product_card__inner-wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border: 1px solid #ededed;
    -webkit-box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15); }
  .product_card__inner.product_card__inner--five:hover .product-card-inner__form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .product_card__inner.product_card__inner--five:hover .product-card-inner__buttons-block {
    display: block; }

.product_card__block_item_inner-wrapper {
  height: 100%; }

.product_card__block_item_inner {
  height: 100%; }

.product_card__inner.product_card__inner--row {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  min-height: 240px; }
  .product_card__inner.product_card__inner--row .product_card__inner-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 11px 20px;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .product_card__inner.product_card__inner--row .product-card-inner__img-wrapper {
    position: relative;
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 30px; }
  .product_card__inner.product_card__inner--row .product-card-inner__img-view {
    text-align: center; }
  .product_card__inner.product_card__inner--row .product-card-inner__stickers {
    left: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__icons {
    top: 2px;
    right: 17px; }
  .product_card__inner.product_card__inner--row .product-card-inner__description-wrapper {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 10px; }
  .product_card__inner.product_card__inner--row .product-card-inner__title {
    margin-bottom: 11px;
    text-align: left; }
  .product_card__inner.product_card__inner--row .product-card-inner__title-link {
    min-height: auto;
    font-size: 17px;
    line-height: 25px; }
  .product_card__inner.product_card__inner--row .product-card-inner__info-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 23px; }
  .product_card__inner.product_card__inner--row .product-card-inner__info {
    width: auto;
    max-width: none;
    margin-bottom: 0; }
    .product_card__inner.product_card__inner--row .product-card-inner__info > div {
      margin-left: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__vendor-code {
    margin-right: 20px;
    margin-left: 0;
    color: #808080;
    font-size: 1rem;
    -webkit-box-ordinal-group: 0;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
    .product_card__inner.product_card__inner--row .product-card-inner__vendor-code span {
      color: #000; }
  .product_card__inner.product_card__inner--row .product-card-inner__quantity {
    font-size: 1rem; }
  .product_card__inner.product_card__inner--row .product-card-inner__rating-block {
    width: 100%;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 18px;
    -webkit-box-pack: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .product_card__inner.product_card__inner--row .bx_item_detail_rating {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .product_card__inner.product_card__inner--row .product-card-inner__quantity--lot::before {
    top: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-list {
    -webkit-box-pack: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-color {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px; }
    .product_card__inner.product_card__inner--row .product-card-inner__option-color .product-card-inner__option-item {
      height: 30px;
      width: 30px; }
    .product_card__inner.product_card__inner--row .product-card-inner__option-color .product-card-inner__option-item.disabled .product-card-inner__option-item-content::after {
      left: -3px;
      width: 29px; }
    .product_card__inner.product_card__inner--row .product-card-inner__option-color .product-card-inner__option-item.disabled .product-card-inner__option-item-content::before {
      left: -3px;
      width: 29px; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-title {
    color: #808080;
    font-weight: 400;
    text-align: left; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-item {
    width: auto;
    height: 30px;
    min-width: 30px; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-memory {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
       -moz-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .product_card__inner.product_card__inner--row .product-card-inner__buy-wrapper {
    position: relative;
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 250px;
    padding-left: 20px;
    margin: 5px 0;
    border-left: 1px solid #EDEDED;
    border-top: none; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-price-retail {
    margin-bottom: 8px;
    text-align: left; }
    .product_card__inner.product_card__inner--row .product-card-inner__option-price-retail:last-of-type {
      margin-bottom: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-price-title {
    padding-bottom: 7px;
    line-height: 12px; }
  .product_card__inner.product_card__inner--row .product-card-inner__price {
    margin-bottom: 11px; }
  .product_card__inner.product_card__inner--row .product-card-inner__action-price {
    margin: 0;
    margin-bottom: 10px;
    -webkit-box-pack: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: none; }
  .product_card__inner.product_card__inner--row .product-card-inner__saving {
    margin-bottom: 20px;
    -webkit-box-pack: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .product_card__inner.product_card__inner--row .product-card-inner__old-price {
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__new-price {
    margin: 0;
    margin-right: 10px;
    line-height: 18px; }
  .product_card__inner.product_card__inner--row .product-card-inner__buy {
    margin-left: 0;
    margin-right: 0; }
    .product_card__inner.product_card__inner--row .product-card-inner__buy > div {
      padding-top: 0;
      margin-left: 0;
      margin-right: 0; }
    .product_card__inner.product_card__inner--row .product-card-inner__buy div[id$="_basket_actions"] {
      max-width: 130px;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .product_card__inner.product_card__inner--row .product-card-inner__buy .product-card-inner__in-basket {
      width: 100%;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
  .product_card__inner.product_card__inner--row .product-card-inner__counter input {
    width: 29px; }
  .product_card__inner.product_card__inner--row .product-card-inner__product-basket {
    padding: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__one-click-basket {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 40px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid var(--main-color);
    cursor: pointer; }
    .product_card__inner.product_card__inner--row .product-card-inner__one-click-basket:hover {
      border-color: var(--main-color-hover); }
      .product_card__inner.product_card__inner--row .product-card-inner__one-click-basket:hover .product-card-inner__one-click-text {
        color: var(--main-color-hover); }
    .product_card__inner.product_card__inner--row .product-card-inner__one-click-basket.btnLoaderCustom span {
      font-size: 0; }
    .product_card__inner.product_card__inner--row .product-card-inner__one-click-basket.btnLoaderCustom .loader-btn {
      fill: var(--main-color);
      left: calc(50% - 10px); }
  .product_card__inner.product_card__inner--row .product-card-inner__one-click-text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: var(--main-color);
    text-align: center; }
  .product_card__inner.product_card__inner--row .product-card-inner__subscribe {
    padding: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__buttom-more + .product-card-inner__subscribe {
    margin-top: 12px; }
  .product_card__inner.product_card__inner--row .product-card-inner__product-subscribe-btn::before {
    content: none; }
  .product_card__inner.product_card__inner--row .product-card-inner__buttom-more-btn {
    display: none;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: #fff; }
  .product_card__inner.product_card__inner--row .product-card-inner__buttons-block.product-mode-N .product-card-inner__buttom-more-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: #fff; }
  .product_card__inner.product_card__inner--row .product-card-inner__buttons-block {
    padding-bottom: 3px; }
  .product_card__inner.product_card__inner--row .product-card-inner__info-more {
    display: none; }

@media (max-width: 768px) {
  .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min {
    height: auto; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min:nth-child(2n) .product_card__inner.product_card__inner--row {
      border-right: none; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min:nth-child(2n + 1) .product_card__inner.product_card__inner--row {
      border-left: none; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product_card__inner--row:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product_card__inner-wrapper {
      display: block; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__img-wrapper {
      float: left;
      height: 70px;
      margin-bottom: 0; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__description-wrapper {
      padding-left: 100px; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__form {
      display: none; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__info {
      display: none; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__buy-wrapper {
      padding-top: 0;
      padding-left: 100px;
      margin: 0;
      border: none; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__saving {
      display: none; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__action-price {
      -webkit-box-pack: start;
         -moz-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product_card__inner.product_card__inner--row {
      min-height: auto; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__title-link {
      max-height: 40px;
      overflow: hidden;
      font-size: 13px;
      line-height: 20px;
      font-weight: 400; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__action-price {
      font-size: 14px;
      line-height: 21px; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__new-price {
      padding-left: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__old-price {
      font-size: 12px; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__title {
      margin: 0;
      margin-bottom: 2px; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__info-wrapper {
      margin: 0; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__icons {
      top: 4px;
      right: 4px; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__icon {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      background-color: #EDEDED;
      opacity: 0.5; }
      .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__icon.active {
        opacity: 1;
        background-color: var(--main-color); }
        .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__icon.active svg {
          fill: #fff; }
      .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__icon svg {
        fill: #000; }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__old-price ~ .product-card-inner__new-price {
      color: var(--main-color); }
    .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min .product-card-inner__img-link {
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0; } }

.product-card-column__buttons .product-card-inner__buttons-block {
  padding-bottom: 0; }
  .product-card-column__buttons .product-card-inner__buttons-block .product-card-inner__buttom-more-btn {
    width: auto;
    margin-left: 20px;
    padding: 0 30px; }

.block__product_cards.block__product_cards--mobile-min .product_card__block_item.product_card__block_item--column {
  margin: 0;
  border-left: 1px solid #ededed;
  border-top: 1px solid #ededed;
  border-right: 1px solid #ededed;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .block__product_cards.block__product_cards--mobile-min .product_card__block_item.product_card__block_item--column:last-child {
    border-bottom: 1px solid #ededed; }
    .block__product_cards.block__product_cards--mobile-min .product_card__block_item.product_card__block_item--column:last-child:hover {
      border-bottom: 1px solid transparent; }
  .block__product_cards.block__product_cards--mobile-min .product_card__block_item.product_card__block_item--column:hover {
    border: 1px solid transparent;
    border-bottom: 0;
    -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15); }
    .block__product_cards.block__product_cards--mobile-min .product_card__block_item.product_card__block_item--column:hover .product-card-column__title {
      color: var(--main-color); }

.product-card-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px; }
  .product-card-column .product-card-inner__product-subscribe-btn {
    white-space: nowrap; }
  .product-card-column .product-card-inner__in-basket .icon_cart_medium {
    display: none; }
  .product-card-column .product-card-column__image-wrapper {
    width: 60px;
    height: 60px;
    margin-right: 20px; }
  .product-card-column .product-card-inner__product-basket-btn {
    padding: 0 30px; }
  .product-card-column .product-card-inner__product-basket {
    padding: 0;
    margin-left: 20px;
    white-space: nowrap; }
  .product-card-column .product-card-column__image-wrapper-link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 60px;
    overflow: hidden; }
    .product-card-column .product-card-column__image-wrapper-link img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .product-card-column .product-card-column__buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .product-card-column .product-card-column__title {
    display: block;
    font-size: 15px;
    line-height: 24px; }
  .product-card-column .product-card-column__data-btns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .product-card-column .product-card-inner__subscribe {
    padding: 0; }
  .product-card-column .product-card-inner__buy > div {
    padding: 0; }
  .product-card-column .product-card-column__price {
    margin-left: 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    white-space: nowrap; }
  .product-card-column .product-card-inner__counter-btn {
    height: 40px;
    margin: 0;
    padding: 0 8px;
    background-color: transparent;
    border: 1px solid #e6e6e6;
    cursor: pointer; }
  .product-card-column .product-card-inner__counter-btn {
    margin: 0;
    padding: 0 8px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #e6e6e6;
    cursor: pointer; }
  .product-card-column .product-card-column__data-wrapper-outer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .product-card-column .product-card-inner__counter.product-counter__amount {
    margin-left: 20px; }
  .product-card-column .product-card-inner__in-basket {
    -ms-flex-preferred-size: 106px;
        flex-basis: 106px;
    height: 40px;
    margin-left: 20px;
    padding: 0 30px;
    color: #fff;
    white-space: nowrap;
    font-weight: 700;
    background-color: var(--main-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .product-card-column .product-card-inner__product-subscribe-btn {
    margin-left: 20px;
    padding: 0 30px;
    cursor: pointer; }
    .product-card-column .product-card-inner__product-subscribe-btn:before {
      display: none; }
  .product-card-column .product-card-column .product-card-inner__buy > div {
    margin: 0; }
  .product-card-column .product-card-inner__buy {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto; }
  .product-card-column .product-card-inner__counter input {
    width: 34px;
    padding: 9px 3px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6; }
  .product-card-column .product-card-inner__quantity {
    margin-right: 15px; }
  .product-card-column .product-card-column__data-btns-favourite-compare {
    font-size: 0; }
    .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity='wish'] {
      display: inline-block;
      margin: 0 15px 0 0;
      padding: 5px;
      cursor: pointer;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity='wish'].active {
        background-color: #ededed; }
        .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity='wish'].active svg {
          fill: var(--main-color); }
      .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity='wish']:hover {
        background-color: #ededed; }
        .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity='wish']:hover svg {
          fill: var(--main-color); }
    .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity="compare-checkbox"] {
      display: inline-block;
      margin-right: 15px;
      padding: 5px;
      cursor: pointer;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity="compare-checkbox"].active {
        background-color: #ededed; }
        .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity="compare-checkbox"].active svg {
          fill: var(--main-color); }
      .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity="compare-checkbox"]:hover {
        background-color: #ededed; }
        .product-card-column .product-card-column__data-btns-favourite-compare span[data-entity="compare-checkbox"]:hover svg {
          fill: var(--main-color); }
    .product-card-column .product-card-column__data-btns-favourite-compare svg {
      fill: #BDBDBD; }

@media (max-width: 1024px) {
  .product-card-column .product-card-column__title {
    font-size: 14px;
    line-height: 21px; }
  .product-card-column .product-card-column__price {
    font-size: 15px;
    line-height: 24px; } }

@media (max-width: 1024px) {
  .product_card__inner.product_card__inner--row .product-card-inner__img-wrapper {
    width: 246px;
    margin-right: 20px; }
  .product_card__inner.product_card__inner--row .product-card-inner__rating-block {
    margin-bottom: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__vendor-code {
    margin-left: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__info > div {
    margin-left: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__buy-wrapper {
    max-width: 230px; }
  .product_card__inner.product_card__inner--row .product-card-inner__buy div[id$="_basket_actions"] {
    max-width: 108px; }
  .product_card__inner.product_card__inner--row .product-card-inner__info {
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .product_card__inner.product_card__inner--row .product-card-inner__info > div {
      margin: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__quantity {
    font-size: 13px;
    margin-top: 6px; } }

@media (max-width: 768px) {
  .product_card__inner.product_card__inner--four {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .product_card__inner.product_card__inner--four .product-card-inner__form {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .product_card__inner.product_card__inner--four:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--four:hover .product_card__inner-wrapper {
      position: relative;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--four .product-card-inner__buttons-block {
      display: block; }
  .product_card__inner.product_card__inner--four.product_card__inner--four-min {
    height: auto;
    border: none; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min:hover .product_card__inner-wrapper {
      position: static;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product_card__inner-wrapper {
      padding: 0; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__rating-block {
      display: none; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__info {
      display: none; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__form {
      display: none; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__saving {
      display: none; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__title {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__price {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__title-link {
      max-height: 42px;
      min-height: auto;
      overflow: hidden;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__new-price {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__img-link {
      padding: 10px;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #EDEDED;
      border-radius: 4px; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__stickers {
      top: 0;
      left: 0;
      height: 150px;
      -ms-flex-line-pack: end;
          align-content: flex-end; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__sticker {
      border-top-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__old-price ~ .product-card-inner__new-price {
      color: var(--main-color); }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__icons {
      top: 4px;
      right: 4px; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__icon {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      background-color: #EDEDED;
      opacity: 0.5;
      border-radius: 50%; }
      .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__icon.active {
        opacity: 1;
        background-color: var(--main-color); }
        .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__icon.active svg {
          fill: #fff; }
      .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__icon svg {
        fill: #000; }
    .product_card__inner.product_card__inner--four.product_card__inner--four-min .product-card-inner__action-price {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
         -moz-box-orient: horizontal;
         -moz-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

@media (max-width: 768px) {
  .product_card__inner.product_card__inner--three {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .product_card__inner.product_card__inner--three .product-card-inner__form {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .product_card__inner.product_card__inner--three:hover .product_card__inner-wrapper {
      position: relative;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--three .product-card-inner__buttons-block {
      display: block; }
  .product_card__inner.product_card__inner--three.product_card__inner--three-min {
    height: auto;
    border: none; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min:hover .product_card__inner-wrapper {
      position: static;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product_card__inner-wrapper {
      padding: 0; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__rating-block {
      display: none; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__info {
      display: none; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__form {
      display: none; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__saving {
      display: none; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__title {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__price {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__title-link {
      max-height: 42px;
      min-height: auto;
      overflow: hidden;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__new-price {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__img-link {
      padding: 10px;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #EDEDED;
      border-radius: 4px; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__stickers {
      top: 0;
      left: 0;
      height: 150px;
      -ms-flex-line-pack: end;
          align-content: flex-end; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__sticker {
      border-top-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__old-price ~ .product-card-inner__new-price {
      color: var(--main-color); }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__icons {
      top: 4px;
      right: 4px; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__icon {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      background-color: #EDEDED;
      opacity: 0.5;
      border-radius: 50%; }
      .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__icon.active {
        opacity: 1;
        background-color: var(--main-color); }
        .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__icon.active svg {
          fill: #fff; }
      .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__icon svg {
        fill: #000; }
    .product_card__inner.product_card__inner--three.product_card__inner--three-min .product-card-inner__action-price {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
         -moz-box-orient: horizontal;
         -moz-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

@media (max-width: 768px) {
  .product_card__inner.product_card__inner--two .product-card-inner__form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .product_card__inner.product_card__inner--two:hover .product_card__inner-wrapper {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .product_card__inner.product_card__inner--two.product_card__inner--two-min {
    height: auto;
    border: none; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min:hover .product_card__inner-wrapper {
      border: none; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product_card__inner-wrapper {
      padding: 0; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__rating-block {
      display: none; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__info {
      display: none; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__form {
      display: none; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__saving {
      display: none; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__title {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__price {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__title-link {
      max-height: 42px;
      min-height: auto;
      overflow: hidden;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__new-price {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__img-link {
      padding: 10px;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #EDEDED;
      border-radius: 4px; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__stickers {
      top: 0;
      left: 0;
      height: 150px;
      -ms-flex-line-pack: end;
          align-content: flex-end; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__sticker {
      border-top-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__old-price ~ .product-card-inner__new-price {
      color: var(--main-color); }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__icons {
      top: 4px;
      right: 4px; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__icon {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      background-color: #EDEDED;
      opacity: 0.5;
      border-radius: 50%; }
      .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__icon.active {
        opacity: 1;
        background-color: var(--main-color); }
        .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__icon.active svg {
          fill: #fff; }
      .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__icon svg {
        fill: #000; }
    .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__action-price {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
         -moz-box-orient: horizontal;
         -moz-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

@media (max-width: 768px) {
  .product_card__inner.product_card__inner--five {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .product_card__inner.product_card__inner--five .product-card-inner__form {
      display: block; }
    .product_card__inner.product_card__inner--five .product-card-inner__buttons-block {
      display: block; }
    .product_card__inner.product_card__inner--five .product-card-inner__form {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .product_card__inner.product_card__inner--five:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--five:hover .product_card__inner-wrapper {
      position: relative;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .product_card__inner.product_card__inner--five.product_card__inner--five-min {
    height: auto;
    border: none; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min:hover .product_card__inner-wrapper {
      position: static;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product_card__inner-wrapper {
      padding: 0; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__rating-block {
      display: none; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__info {
      display: none; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__form {
      display: none; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__saving {
      display: none; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__title {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__price {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__title-link {
      max-height: 42px;
      min-height: auto;
      overflow: hidden;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__new-price {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__img-link {
      padding: 10px;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #EDEDED;
      border-radius: 4px; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__stickers {
      top: 0;
      left: 0;
      height: 150px;
      -ms-flex-line-pack: end;
          align-content: flex-end; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__sticker {
      border-top-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__old-price ~ .product-card-inner__new-price {
      color: var(--main-color); }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__icons {
      top: 4px;
      right: 4px; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__icon {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      background-color: #EDEDED;
      opacity: 0.5;
      border-radius: 50%; }
      .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__icon.active {
        opacity: 1;
        background-color: var(--main-color); }
        .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__icon.active svg {
          fill: #fff; }
      .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__icon svg {
        fill: #000; }
    .product_card__inner.product_card__inner--five.product_card__inner--five-min .product-card-inner__action-price {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
         -moz-box-orient: horizontal;
         -moz-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

@media (max-width: 768px) {
  .product_card__block_item_inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; } }

@media (max-width: 768px) {
  .product_card__inner {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .product_card__inner:hover .product_card__inner-wrapper {
      position: relative;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner:hover .product-card-inner__img-view {
      display: none; }
  .product-card-inner__buttons-block {
    display: block; }
  .product_card__inner.product_card__inner--min {
    height: auto;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .product_card__inner.product_card__inner--min:hover .product_card__inner-wrapper {
      position: static;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .product_card__inner.product_card__inner--min .product_card__inner-wrapper {
      padding: 0; }
    .product_card__inner.product_card__inner--min .product-card-inner__rating-block {
      display: none; }
    .product_card__inner.product_card__inner--min .product-card-inner__info {
      display: none; }
    .product_card__inner.product_card__inner--min .product-card-inner__form {
      display: none; }
    .product_card__inner.product_card__inner--min .product-card-inner__saving {
      display: none; }
    .product_card__inner.product_card__inner--min .product-card-inner__title {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--min .product-card-inner__price {
      margin-bottom: 0; }
    .product_card__inner.product_card__inner--min .product-card-inner__title-link {
      max-height: 42px;
      min-height: auto;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      overflow: hidden; }
    .product_card__inner.product_card__inner--min .product-card-inner__new-price {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px; }
    .product_card__inner.product_card__inner--min .product-card-inner__img-link {
      padding: 10px;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #EDEDED;
      border-radius: 4px; }
    .product_card__inner.product_card__inner--min .product-card-inner__stickers {
      top: 0;
      left: 0;
      height: 150px;
      -ms-flex-line-pack: end;
          align-content: flex-end; }
    .product_card__inner.product_card__inner--min .product-card-inner__sticker {
      border-top-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .product_card__inner.product_card__inner--min .product-card-inner__old-price ~ .product-card-inner__new-price {
      color: var(--main-color); }
    .product_card__inner.product_card__inner--min .product-card-inner__icons {
      top: 4px;
      right: 4px; }
    .product_card__inner.product_card__inner--min .product-card-inner__icon {
      background-color: #EDEDED;
      opacity: 0.5;
      width: 24px;
      height: 24px;
      margin-bottom: 4px; }
      .product_card__inner.product_card__inner--min .product-card-inner__icon.active {
        opacity: 1;
        background-color: var(--main-color); }
        .product_card__inner.product_card__inner--min .product-card-inner__icon.active svg {
          fill: #fff; }
      .product_card__inner.product_card__inner--min .product-card-inner__icon svg {
        fill: #000; }
    .product_card__inner.product_card__inner--min .product-card-inner__action-price {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
         -moz-box-orient: horizontal;
         -moz-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }

@media (max-width: 768px) {
  .product-card-column .product-card-inner__counter.product-counter__amount {
    margin-left: 10px; }
  .product-card-column .product-card-inner__in-basket {
    margin-left: 10px; }
  .product-card-column .product-card-inner__product-basket {
    margin-left: 10px; } }

@media (max-width: 768px) {
  .product_card__block_item--row-min .product_card__inner--row .product_card__inner-wrapper {
    padding: 10px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__img-wrapper {
    width: 90px;
    height: 110px;
    margin-right: 10px;
    padding-right: 10px;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__icons {
    right: 2px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__description-wrapper {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__stickers {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    top: 0; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__sticker {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__sticker:not([id$="_dsc_perc"]) {
    display: none; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__title-link {
    font-size: 14px;
    font-weight: normal; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__option {
    display: none; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__rating-block {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 2px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-bottom: 10px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__vendor-code {
    display: none; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__info {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__quantity.product-card-inner__quantity--lot {
    margin-top: 0; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__quantity {
    margin-top: 7px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__info-more {
    display: block;
    margin-top: 8px;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .product_card__block_item--row-min .product_card__inner--row .product-card-inner__info-more a {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: var(--main-color); }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__info-more-icon {
    margin-left: 6px;
    fill: var(--main-color); }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buy-wrapper {
    padding: 0;
    padding-top: 13px;
    width: 100%;
    max-width: none;
    border-left: none;
    border-top: 1px solid #EDEDED; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__old-price {
    margin: 0; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__new-price {
    margin: 0; }
    .product_card__block_item--row-min .product_card__inner--row .product-card-inner__new-price span {
      font-size: 18px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__action-price {
    max-width: none;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__saving {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__option-price-retail {
    text-align: center; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buy {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
    .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buy div[id$="_basket_actions"] {
      max-width: none;
      margin-left: 20px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__product-basket {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__product-subscribe-btn {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__counter-btn {
    width: 40px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__counter input {
    width: 40px; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__one-click-basket {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buttom-more-btn {
    display: block;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 350px;
    width: 100%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    background-color: var(--main-color);
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buttom-more-btn:hover {
      background-color: var(--main-color-hover); }
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buttons-block.offer .product-card-inner__product-basket,
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buttons-block.offer .product-card-inner__one-click-basket,
  .product_card__block_item--row-min .product_card__inner--row .product-card-inner__buttons-block.offer .product-card-inner__buy {
    display: none !important; }
  .product-card-inner__icon.active:hover {
    background-color: initial; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .product_card__inner.product_card__inner--row .product-card-inner__option-color {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-memory {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-title {
    margin-right: 5px; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-list {
    margin: 0;
    -webkit-box-pack: start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (max-width: 767px) {
  .product_card__inner--row:hover {
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media (max-width: 768px) {
  .product_card__inner.product_card__inner--row .product_card__inner-wrapper {
    padding: 10px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .product_card__inner.product_card__inner--row .product-card-inner__img-wrapper {
    width: 90px;
    height: 110px;
    margin-right: 10px;
    padding-right: 10px;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .product_card__inner.product_card__inner--row .product-card-inner__icons {
    right: 2px; }
  .product_card__inner.product_card__inner--row .product-card-inner__description-wrapper {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px; }
  .product_card__inner.product_card__inner--row .product-card-inner__stickers {
    display: none; }
  .product_card__inner.product_card__inner--row .product-card-inner__title-link {
    font-size: 14px;
    font-weight: normal; }
  .product_card__inner.product_card__inner--row .product-card-inner__option {
    display: none; }
  .product_card__inner.product_card__inner--row .product-card-inner__rating-block {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 2px; }
  .product_card__inner.product_card__inner--row .product-card-inner__info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-bottom: 10px; }
  .product_card__inner.product_card__inner--row .product-card-inner__vendor-code {
    display: none; }
  .product_card__inner.product_card__inner--row .product-card-inner__info {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .product_card__inner.product_card__inner--row .product-card-inner__quantity.product-card-inner__quantity--lot {
    margin-top: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__quantity {
    margin-top: 7px; }
  .product_card__inner.product_card__inner--row .product-card-inner__info-more {
    display: block;
    margin-top: 8px;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .product_card__inner.product_card__inner--row .product-card-inner__info-more a {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: var(--main-color); }
  .product_card__inner.product_card__inner--row .product-card-inner__info-more-icon {
    margin-left: 6px;
    fill: var(--main-color); }
  .product_card__inner.product_card__inner--row .product-card-inner__buy-wrapper {
    padding: 0;
    padding-top: 13px;
    width: 100%;
    max-width: none;
    border-left: none;
    border-top: 1px solid #EDEDED; }
  .product_card__inner.product_card__inner--row .product-card-inner__old-price {
    margin: 0; }
  .product_card__inner.product_card__inner--row .product-card-inner__new-price {
    margin: 0; }
    .product_card__inner.product_card__inner--row .product-card-inner__new-price span {
      font-size: 18px; }
  .product_card__inner.product_card__inner--row .product-card-inner__action-price {
    max-width: none;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__inner.product_card__inner--row .product-card-inner__saving {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product_card__inner.product_card__inner--row .product-card-inner__option-price-retail {
    text-align: center; }
  .product_card__inner.product_card__inner--row .product-card-inner__buy {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
    .product_card__inner.product_card__inner--row .product-card-inner__buy div[id$="_basket_actions"] {
      max-width: none;
      margin-left: 20px; }
  .product_card__inner.product_card__inner--row .product-card-inner__product-basket {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .product_card__inner.product_card__inner--row .product-card-inner__product-subscribe-btn {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .product_card__inner.product_card__inner--row .product-card-inner__counter-btn {
    width: 40px; }
  .product_card__inner.product_card__inner--row .product-card-inner__counter input {
    width: 40px; }
  .product_card__inner.product_card__inner--row .product-card-inner__one-click-basket {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .product_card__inner.product_card__inner--row .product-card-inner__buttom-more-btn {
    display: block;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 350px;
    width: 100%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    background-color: var(--main-color);
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .product_card__inner.product_card__inner--row .product-card-inner__buttom-more-btn:hover {
      background-color: var(--main-color-hover); }
  .product_card__inner.product_card__inner--row .product-card-inner__buttons-block.offer .product-card-inner__product-basket,
  .product_card__inner.product_card__inner--row .product-card-inner__buttons-block.offer .product-card-inner__one-click-basket,
  .product_card__inner.product_card__inner--row .product-card-inner__buttons-block.offer .product-card-inner__buy {
    display: none !important; }
  .product-card-inner__icon.active:hover {
    background-color: initial; } }

@media (max-width: 640px) {
  .product-card-inner__title-link {
    max-height: 34px;
    font-size: 11px;
    line-height: 17px;
    font-weight: 400; } }

@media (max-width: 630px) {
  .product-card-column {
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .product-card-column .product-card-inner__counter.product-counter__amount {
      display: none; }
    .product-card-column .product-card-inner__in-basket span {
      display: none; }
    .product-card-column .product-card-inner__in-basket .icon_cart_medium {
      display: block;
      fill: none;
      stroke: #ffffff; }
    .product-card-column .product-card-inner__in-basket {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 40px;
      padding: 0; }
    .product-card-column .product-card-inner__product-subscribe-btn,
    .product-card-column .product-card-inner__product-basket-btn {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 40px;
      padding: 0; }
      .product-card-column .product-card-inner__product-subscribe-btn span,
      .product-card-column .product-card-inner__product-basket-btn span {
        display: none; }
      .product-card-column .product-card-inner__product-subscribe-btn:before,
      .product-card-column .product-card-inner__product-basket-btn:before {
        padding: 0; }
    .product-card-column .product-card-column__data-btns {
      display: none; }
    .product-card-column .product-card-column__price {
      margin-left: 0; }
    .product-card-column .product-card-column__data-wrapper-outer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
         -moz-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
         -moz-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
  .product-card-column .product-card-column__title {
    font-size: 13px;
    line-height: 20px; }
  .product-card-column .product-card-column__price {
    font-size: 14px;
    line-height: 21px; }
  .product-card-column .product-card-inner__product-subscribe-btn .icon_mail {
    display: block !important;
    fill: #ffffff; }
  .product-card-column .product-card-inner__product-subscribe-btn.product-card-inner__product-subscribe-btn--active {
    background-color: #00b02a !important; } }

@media (max-width: 480px) {
  .product-card-inner__old-price {
    font-size: 12px;
    line-height: 18px; }
  .product-card-inner__new-price {
    font-size: 11px;
    line-height: 17px; }
  .product-card-inner__old-price::before {
    top: 9px; }
  .product_card__inner.product_card__inner--row {
    border-left: none;
    border-right: none; } }

.raz-ryad {
  width:90% !important;
  padding-left:5%;
  padding-right: 5%;
}

.raz-ryad tr td {
  width:10px;
  padding:0;
  text-align: center;
}