.brand-detail-info:not(.without-banner) .brand-detail-info__banner {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 140px;
  margin-bottom: 30px; }

.brand-detail-info:not(.without-banner) .brand-detail-info__banner-logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 20px; }

.brand-detail-info:not(.without-banner) .brand-detail-info__banner-bg-image {
  width: 100%;
  height: 100%; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner-bg-image > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.brand-detail-info:not(.without-banner) .brand-detail-info__banner-logo {
  width: 100px;
  height: 100px;
  padding: 10px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 4px; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner-logo > img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.brand-detail-info:not(.without-banner) .brand-detail-info__description-text-wrapper {
  font-size: 14px;
  line-height: 21px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease; }

.brand-detail-info:not(.without-banner) .brand-detail-info__description-text {
  display: block; }

.brand-detail-info:not(.without-banner) .brand-detail-info__collapse-btns {
  display: none;
  margin-top: 10px;
  cursor: pointer; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__collapse-btns .brand-detail-info__collapse-btns-show {
    display: block; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__collapse-btns .brand-detail-info__collapse-btns-hide {
    display: none; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__collapse-btns[data-active='true'] .brand-detail-info__collapse-btns-show {
    display: none; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__collapse-btns[data-active='true'] .brand-detail-info__collapse-btns-hide {
    display: block; }

.brand-detail-info.without-banner {
  min-height: 335px; }
  .brand-detail-info.without-banner .brand-detail-info__banner {
    position: relative;
    width: 305px;
    height: 305px;
    margin-left: 30px;
    margin-bottom: 30px;
    float: right;
    border: 1px solid #ececec; }
  .brand-detail-info.without-banner .brand-detail-info__banner-logo-wrapper {
    width: 100%;
    height: 100%; }
  .brand-detail-info.without-banner .brand-detail-info__banner-logo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%; }
    .brand-detail-info.without-banner .brand-detail-info__banner-logo > img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

@media (max-width: 1024px) {
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner {
    margin-bottom: 25px; } }

@media (max-width: 768px) {
  .brand-detail-info:not(.without-banner) .brand-detail-info__description-text-wrapper {
    font-size: 13px;
    line-height: 20px; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner {
    height: 124px;
    margin-bottom: 20px; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner-logo {
    width: 85px;
    height: 85px;
    padding: 10px; }
  .brand-detail-info.without-banner .brand-detail-info__banner {
    position: relative;
    width: 200px;
    height: 200px; } }

@media (max-width: 480px) {
  .brand-detail-info.without-banner .brand-detail-info__banner {
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-bottom: 20px; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner {
    height: 110px; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner-logo-wrapper {
    padding: 15px; }
  .brand-detail-info:not(.without-banner) .brand-detail-info__banner-logo {
    width: 80px;
    height: 80px; } }

@media (max-width: 390px) {
  .brand-detail-info.without-banner .brand-detail-info__banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-left: 20px;
    margin-bottom: 20px; }
  .brand-detail-info.without-banner .brand-detail-info__banner-logo-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; } }
