/*=============================================================================================================== ALL*/

.nav-item.your_manager {
	background: #3e495f;
	margin: 0 20px;
	border-radius: 10px;
	padding: 20px;
}

.nav-item.your_manager .your_manager-icon {
	background-image: url("https://bitrix2.cdnvideo.ru/b150937/resize_cache/104358/f72cdc32ecc10461003d548dee4468d0/crm/button/df8108c32f686824ee0d0d9fb8282d68.png?h=sotbit.bitrix24.ru");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.nav-item.your_manager .your_manager-icon_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.your_manager {
	text-align: center;
	margin-top: 20px;
}

.your_manager .your_manager-icon {
	margin-bottom: 10px;
}

.your_manager-icon .icon-user-tie {
	font-size: 30px;
}

.your_manager-icon .icon-user-tie {
	display: none;
}

.your_manager-icon .icon-user {
	font-size: 30px;
}

.your_manager .your_manager-title {
	font-weight: bold;
}

.your_manager .your_manager-contact {
	margin: 5px;
}

.your_manager .your_maanger-contact .your_maanger-phone_number {
	font-weight: bold;
}

.your_manager .your_manager-call_back_button button {
	min-width: 170px;
	margin: 10px;
}

.display_block {
	display: block;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.form-group .form-control.touchspin-empty {
	max-width: 55px;
	text-align: center;
}

.uniform-uploader .filename {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* registration */

.chouse-company {
	padding-bottom: 15px;
}

/*.content-wrapper {
	padding-top: 50px;
}*/

.content-wrapper.content_no_padding {
	padding: 0;
}

/* ===================== FILE INPUT ===================== */
.file-area {
	width: 100%;
	position: relative;
	color: #455a64;
}

.file-area input[type=file] {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	cursor: pointer;
	border-radius: .1875rem;
}

.file-area .file-dummy {
	width: 100%;
	padding: 30px;
	background: rgba(69, 90, 100, 0.2);
	border: 2px dashed rgba(69, 90, 100, 0.2);
	text-align: center;
	transition: background 0.3s ease-in-out;
	border-radius: 15px;
}

.file-area .file-dummy .success {
	display: none;
}

.file-area:hover .file-dummy {
	background: rgba(69, 90, 100, 0.1);
}

.file-area input[type=file]:focus + .file-dummy {
	outline: 2px solid rgba(0, 0, 0, 0.5);
	outline: -webkit-focus-ring-color auto 5px;
}

.file-area input[type=file]:valid + .file-dummy {
	border-color: rgba(69, 90, 100, 0.4);
	background-color: rgba(69, 90, 100, 0.3);
}

.file-area input[type=file]:valid + .file-dummy .success {
	display: inline-block;
}

.file-area input[type=file]:valid + .file-dummy .default {
	display: none;
}

/* end registration */


/* for company*/

.card-bitrix-cabinet {
	height: 100%;
}

/* end for company */

/* ===============================================================blank product */
.card-body.blank_product-sorting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-body.blank_product-sorting .form-group.sorting {
	display: inline-block;
}

.card-body.blank_product-sorting .form-group.sorting {
	margin: 0 10px;
}

.blank_product_table .datatable-header {
	/*display: none;*/
}

.card-body.blank_product-sorting .dataTables_paginate {
	margin: 0;
}

.card-body.blank_product-sorting .form-group.sorting > span {
	margin-left: 10px;
}

.card-body.blank_product-search form > div {
	margin: 0;
}

.blank_product_table .input-group.bootstrap-touchspin {
	width: 115px;
}

.blank_product_table .input-group.bootstrap-touchspin input {
	text-align: center;
	padding: 0.4rem 0.4rem;
}

.blank_product_table .icon-checkmark3.mr-2 {
	color: #00B02A;
}

.blank_product_table .icon-zoomin3.mr-2 {
	color: #2a3140;
}

.card-body.blank_product_table-add_cart {
	border-top: 1px solid rgba(0, 0, 0, .125);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 3;
}

.blank_product_table-add_cart.add_cart_fixed {
	position: unset;
	width: auto;
}

.blank_product_table-add_cart-total .number {
	margin-right: 30px;
}

.blank_product_table-add_cart .add_cart-button button {
	min-width: 170px;
}

.blank_product_table tbody::before {
	content: " ";
	display: block;
	line-height: 1em;
	color: transparent;
	height: 25px;
	border: none;
}

.blank_product_table .table tbody + tbody {
	border-top: 1px solid #ddd;
}

/* end blank product */

/* ======================================================================================================blank detail*/

.blank_detail .col-sm-3 {
	flex: 0 0 40%;
	max-width: 40%;
	padding-left: 3rem;
}

.blank_detail .col-sm-9 {
	flex: 0 0 60%;
	max-width: 60%;
}

.blank_detail .nav-tabs-highlight .nav-link.active:before {
	background-color: #3e495f;
}

.blank_detail .col-md-12.Ñol-lg-6 {
	flex: 0 0 100%;
	max-width: 100%;
}

.blank_detail .flex-column {
	flex: 0 0 50%;
	max-width: 50%;
}

.blank_detail .blank_detail-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	background: #fafafa;
}

.blank_detail .blank_detail-common-search_form {
	height: 36px;
	width: 30%;
}

.blank_detail .blank_detail_table {
	border: 1px solid rgba(0, 0, 0, .125);
}

.blank_detail .blank_detail-total {
	margin-top: 20px;
}

.blank_detail .blank_detail-table_documents {
	border: 1px solid #ddd;
}

.blank_detail .blank_detail-table_payments {
	border: 1px solid #ddd;
}

.blank_detail .blank_detail-table_documents-nothing_to_show {
	text-align: center;
}

.blank_detail .blank_detail-table_documents-nothing_to_show .icon-file-minus {
	font-size: 90px;
	opacity: 0.2;
	margin: 40px 0;
}

.blank_detail .blank_detail-table_delivery {
	border: 1px solid #ddd;
}

.blank_detail .blank_detail-support_button {
	margin-top: 20px;
}

.blank_detail .blank_detail-add_more_files {
	margin-top: 10px;
}

.blank_detail .blank_detail-add_more_files .icon-plus3 {
	font-size: 12px;
	margin-right: 5px;
}

.blank_detail .index_blank-search {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.blank_detail .blank_detail-menu {
	display: flex;
	justify-content: space-between;
}

.blank_detail .blank_detail-dropdown_menu button {
	width: 170px;
	height: 36px;
	background: #3e495f;
	color: #fff;
}

.blank_detail .blank_detail-dropdown_menu button:hover {
	background: #2a3140;
}

.blank_detail .blank_detail-dropdown_menu button:active {
	background: #2a3140;
}

@media screen and (max-width: 1400px) {
	.blank_detail .col-sm-3 {
		padding-left: 1rem;
	}
}

@media screen and (max-width: 1200px) {
	.blank_detail .flex-column {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.blank_detail .table td, .table th {
		padding: 5px;
	}

	.blank_detail .blank_detail-menu {
		flex-direction: column;
	}
}


/* =================================================================================================personal invoices*/

.blank_personal .form-check.form-check-switchery {
	margin-left: 10px;
}

.blank_personal .blank_personal-title {
	margin: 2rem 0 1.25rem 0;
}

.card-body.blank_invoices-payment_method {
	padding: 0;
	max-width: 350px;
}

.blank_invoices-amount {
	max-width: 350px;
}

.blank_invoices-pay_button {
	width: 170px;
	background: #3e495f;
	color: #fff;
}

.blank_invoices-pay_button:hover {
	background-color: #2a3140;
	color: #fff;
}

.blank_invoices-pay_button:active {
	background-color: #2a3140;
	color: #fff;
}

.nav-pills .nav-link.blank_personal-payment_method-button.active {
	background-color: #3e495f;
	border-color: #2a3140;
}

.blank_personal .fix_payment .btn {
	margin-bottom: 0.2rem;
}

.blank_invoices_payment-pay_button {
	width: 170px;
	background: #3e495f;
	color: #fff;
}

.blank_invoices_payment-pay_button:hover {
	background-color: #2a3140;
	color: #fff;
}

.blank_invoices_payment-pay_button:active {
	background-color: #2a3140;
	color: #fff;
}

.blank_personal_payment .blank_personal_payment_description > span {
	padding-left: 0;
}

/* ======================================================================================================index blank*/
.index_blank-thead_fixed-wrapper {
	position: relative;
}

#index_blank-thead_fixed {
	white-space: nowrap;
	position: absolute;
}

#index_blank-thead_fixed > div {
	outline: 0;
	position: relative;
	border-top-width: 0;
	vertical-align: middle;
	border-bottom: 1px solid #b7b7b7;
	padding: 0.5rem 1.25rem;
	font-weight: 500;
}

.index_blank .card-body + * > .dataTables_wrapper, .card-body + .dataTables_wrapper {
	border-top: none;
}

.index_blank .card-body + * > .dataTables_wrapper, .card-body + .dataTables_wrapper {
	border-top: none;
}

.index_blank .datatable-header {
	display: none;
}

.index_blank .table_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.25rem;
	border-top: 1px solid #b7b7b7;
}

.index_blank .table_header .index_blank-sorting {
	align-items: center;
	flex-wrap: initial;
	margin: 1rem 1rem 1rem 0;
}

.index_blank .table_header .index_blank-sorting .select2 {
	min-width: 250px;
}

.index_blank .table_header .dataTables_paginate {
	margin: 0;
}

.index_blank .table_header .index_blank-sorting_title {
	margin-right: 10px;
	white-space: nowrap;
}

.index_blank .table_header .index_blank-sorting-select {
	min-width: 200px;
}

.index_blank .datatable-footer_table_blank {
	margin: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.index_blank .dataTables_info {
	margin: 0;
}

.index_blank .form-control {
	padding: .4375rem .4rem;
	text-align: center;
}

.index_blank .input-group.bootstrap-touchspin {
	max-width: 115px;
}

.index_blank .block-cart-img {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

.index_blank .block-cart-img .icon-zoomin3 {
	color: #fff;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	position: absolute;
	top: calc(50% - 8px);
}

.index_blank .sorting-checkboxes > div {
	display: inline-block;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 1rem;
}

.index_blank .block-cart-img .block-cart-bg {
	background: none;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.index_blank .block-cart-img:hover .block-cart-bg {
	background: #737373;
	opacity: 0.7;
}

.index_blank .block-cart-img:hover .icon-zoomin3 {
	opacity: 1;
}

.index_blank .icon-watch2 {
	color: #145ca4;
}

.index_blank .icon-check2 {
	color: green;
}

.index_blank .icon-blocked.no-products {
	color: #fb0040;
	font-size: 13px;
	width: 16px;
}

.index_blank .row-under-modifications {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.index_blank .row-under-modifications .btn.add_to_cart {
	min-width: 170px;
	height: 36px;
	background: #3e495f;
	color: #fff;
}

.index_blank .row-under-modifications .btn.add_to_cart:hover {
	background-color: #2a3140;
	color: #fff;
}

.index_blank .form-group {
	margin: 0;
}

.index_blank .row-under-modifications {
	position: fixed;
	z-index: 2;
	bottom: -2px;
}

.index_blank .row-under-modifications-fixed {
	position: unset;
}

.index_blank .card-body:not(.card) + .card-body:not(.card) {
	border-top: 1px solid #b7b7b7;
}

.index_blank .index_blank-filter .form-group {
	margin: 1.25rem 0;
}

.index_blank tbody:before {
	line-height: 25px;
	content: "";
	height: 25px;
	color: white;
	display: block;
	background: #fff;
}

.index_blank .table tbody {
	border-top: 1px solid #ddd;
}

.index_blank .index_blank-table .input-group.bootstrap-touchspin {
	width: 115px;
	flex-wrap: nowrap;
}

.index_blank .add_to_cart span {
	margin-right: 10px;
}

.index_blank .index_blank-table tbody {
	background: #fafafa;
}

.index_blank .form-group.index_blank-search-left_sidebar {
	margin-top: 0;
}

.index_blank .form-group.index_blank-search-left_sidebar .form-group {
	margin-top: 0;
}

.index_blank .index_blank-search .form-control {
	text-align: start;
}

.index_blank .index_blank-table .table td, .table th {
	padding: 0.3rem 1.25rem;
}

.index_blank .card-excel-button button {
	width: 175px;
}

.index_blank .total_products {
	padding: 0 1.25rem;
	margin-bottom: 1rem;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}

.index_blank .total_products-table_header {
	display: flex;
	align-items: center;
}

.index_blank .total_products-table_header .dropdown .form-check {
	margin-left: 0.5rem;
}

.index_blank-categories .nav-sidebar .nav-item:not(.nav-item-divider) li {
	margin: 0 1.25rem 0.5rem 2.25rem;
}

.index_blank .index_blank-table .add_to_cart > div {
	display: inline-block;
}

.index_blank .index_blank-sorting_pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
}

.content-wrapper.index_blank_wrapper {
	padding-top: 50px;
}

.index_blank .index_blank.img-product {
	display: flex;
	flex-direction: row;
	margin: 0 5px;
	flex-wrap: wrap;
	max-width: 340px;
}

.index_blank .index_blank.img-product .block-cart-img {
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	overflow: hidden;
	width: 45px;
	height: 45px;
}

.index_blank .index_blank-product_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.index_blank-sorting_title-pagination .pagination-flat .page-item.active .page-link {
	background-color: #3e495f;
	border-color: #3e495f;
}

@media screen and (max-width: 1450px) {
	.index_blank .table_header {
		flex-direction: column;
	}

	.index_blank .total_products {
		float: initial;
		text-align: center;
		margin-top: 1rem;
	}

	.index_blank .sorting-checkboxes {
		margin-top: 0.8rem;
	}
}

@media screen and (max-width: 1300px) {
	.index_blank-sorting_pagination {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 1200px) {
	.index_blank .index_blank-table .add_to_cart > div {
		display: block;
		text-align: center;
	}

	.index_blank .datatable-footer_table_blank {
		flex-direction: column;
	}
}

/* categories and filters */
@media screen and (max-width: 1100px) {
	.index_blank .flex-md-row {
		flex-direction: column !important;
	}

	.index_blank .sidebar-expand-md.sidebar-component-right {
		margin-left: 0;
	}

	.index_blank .sidebar-content {
		display: flex;
		justify-content: space-between;
	}

	.index_blank .sidebar-component-right {
		width: 100%;
	}

	.index_blank .sidebar-content > div {
		flex: 0 0 48%;
	}
}

@media screen and (max-width: 550px) {
	.index_blank .table_header {
		flex-direction: column;
	}

	.index_blank .row-under-modifications {
		flex-direction: column;
	}

	.index_blank .table_header .index_blank-sorting {
		flex-direction: column;
	}

	.index_blank .card-excel-button button {
		margin: 1rem 0 0 0;
	}

	.index_blank .row-under-modifications .btn.add_to_cart {
		margin: 1rem 0 0 0;
	}
}

/* ======================================================================================================index checkout*/

.index_checkout .index_checkout-formalize_button {
	width: 170px;
	background: #3e495f;
	color: #fff;
}

.index_checkout .checkout_form-individual .form-group.row .col-lg-9 .col-form-label {
	color: #000;
}

.index_checkout .index_checkout-formalize_button:hover {
	background-color: #2a3140;
	color: #fff;
}

.index_checkout .index_checkout-formalize_button:active {
	background-color: #2a3140;
	color: #fff;
}

.index_checkout .index_checkout-table .form-control {
	padding: .4375rem .4rem;
	text-align: center;
}

.index_checkout .form-group {
	margin: 0;
}

.index_checkout .input-group.bootstrap-touchspin {
	width: 115px;
	flex-wrap: nowrap;
}

.index_checkout .index_checkout-table .table td, .table th {
	padding: 0.5rem 1.25rem;
}


.index_checkout .index_checkout-table a {
	color: #ddd;
	transition: all 0.2s ease-in-out;
}

.index_checkout .index_checkout-table a:hover {
	color: #2a3140;
}

.index_checkout .index_checkout-promocode > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.index_checkout .index_checkout-promocode .form-group > div {
	display: flex;
	align-items: center;
}

.index_checkout .index_checkout-promocode input {
	max-width: 170px;
}

.index_checkout .index_checkout-promocode .form-group div {
	margin: 0 0.5rem;
}

.index_checkout .index_checkout-promocode .form-group {
	display: flex;
	align-items: center;
}

.index_checkout .card-body {
	padding: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total {
	text-align: center;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.index_checkout .index_checkout-promocode .index_checkout-promocode-total > h5 {
	margin-right: 1rem;
	margin-bottom: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total > h4 {
	margin-bottom: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total h3 {
	display: inline-block;
	margin: 0 0 0 10px;
}

.index_checkout .index_checkout-payer_type {
	padding: 0 1.25rem 1.25rem 1.25rem;
}

.index_checkout .card-body.checkout_form {
	padding: 1.25rem;
	border-top: 1px solid #ddd;
}

.index_checkout .card-body.checkout_form .form-group {
	margin-bottom: 1.25rem;
}

.index_checkout .payer_type-title {
	padding-left: 1.25rem;
}

.index_checkout .index_checkout-payment_system {
	display: flex;
	flex-direction: column;
}

.index_checkout .index_checkout-delivery_type {
	display: flex;
	flex-direction: column;
	color: black;
}

.index_checkout .index_checkout-delivery_type .form-check.disabled {
	color: #455a64;
}

.index_checkout .index_checkout-payment_system .form-check.disabled {
	color: #455a64;
}

.index_checkout .index_checkout-delivery_type i {
	line-height: 1.25rem;
}

.index_checkout .index_checkout-payment_system i {
	line-height: 1.25rem;
}

.index_checkout .index_checkout-radios_description {
	color: #999;
}

.index_checkout .index_checkout-delivery_type label {
	width: 100%;
}

.index_checkout .index_checkout-delivery_type > div {
	margin-right: 0;
	flex-wrap: wrap;
}

.index_checkout .index_checkout-delivery_type .index_checkout-delivery_text {
	width: 50%;
}

.index_checkout .index_checkout-deliveries {
	white-space: nowrap;
}

.index_checkout .index_checkout-delivery_cost {
	margin: 0;
	display: block;
}

.index_checkout .index_checkout-delivery_type .form-check-inline:last-child {
	margin-right: 0rem;
}

.index_checkout .index_checkout-table_total {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.index_checkout .index_checkout-table_total table {
	margin-right: 5rem;
}

.index_checkout .checkout_form-individual {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.index_checkout .checkout_form-individual .card-header.header-elements-inline {
	padding-left: 0;
}

.index_checkout .checkout_form-individual .form-group.row .col-form-label {
	padding-left: 0;
	color: #999;
}

.index_checkout .checkout_form-individual > div {
	flex: 0 0 49.5%;
	background: #fafafa;
	border: 1px solid #ededed;
	padding: 1rem;
}

.index_checkout .checkout_form-individual > div:first-child {
	padding-right: 1rem;
}

.index_checkout .checkout_radio {
	display: flex;
	flex-direction: column;
}

.index_checkout .checkout_form .checkout_form-individual .checkout_form-title_inner {
	padding-top: 0;
	width: 50%;
	border-bottom: 1px solid #ededed;
	margin-bottom: 1.25rem;
	padding-bottom: 0.8rem;
}

.index_checkout .index_checkout-table_total .index_checkout-total {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.index_checkout .index_checkout-table_total .index_checkout-total .index_checkout-total_title h3 {
	margin-bottom: 0;
}

.index_checkout .index_checkout-table_total .index_checkout-total .form-group.row {
	margin-left: 5rem;
	margin-bottom: 0;
}

.index_checkout .delivery_payment_logo {
	width: 40px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1200px) {
	.index_checkout .index_checkout-table_total {
		flex-direction: column;
	}

	.index_checkout .index_checkout-table_total .index_checkout-total {
		margin-top: 1.25rem;
	}

	.index_checkout .checkout_form-individual {
		flex-direction: column;
	}

	.index_checkout .checkout_form-individual > div:first-child {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 1000px) {
	.index_checkout .index_checkout-promocode > div:first-child {
		flex-direction: column;
	}

	.index_checkout .index_checkout-promocode-total {
		margin-top: 1rem;
	}

	.index_checkout .index_checkout-payer_type > div {
		display: flex;
		flex-direction: column;
	}

	.index_checkout .index_checkout-delivery_type .index_checkout-delivery_text {
		width: 70%;
	}
}

@media screen and (max-width: 550px) {
	.index_checkout .index_checkout-delivery_type .form-check-label {
		flex-wrap: wrap;
	}

	.index_checkout .index_checkout-delivery_type .form-check-label .index_checkout-deliveries {
		width: 100%;
		padding-left: 3.5rem;
	}
}

@media screen and (max-width: 500px) {
	.index_checkout .index_checkout-promocode .form-group {
		flex-direction: column;
	}

	.index_checkout .checkout_form-individual > div:first-child {
		padding-right: 0;
	}

	.index_checkout .index_checkout-promocode .form-group button {
		margin-top: 1.25rem;
	}

	.index_checkout .index_checkout-total {
		flex-direction: column;
	}

	.index_checkout .index_checkout-table_total .index_checkout-total .form-group.row {
		margin-left: 0;
	}
}

/* =================================================================================================password recovery*/

.password_recovery-captcha {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.password_recovery-captcha .captha_text {
	line-height: 36px;
	white-space: nowrap;
	margin-right: 1rem;
}

.password_recovery-captcha .password_recovery-captcha_image {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 1rem;
}

.password_recovery-captcha .password_recovery-captcha_image .captcha_reload_icon i {
	transition: all 0.2s ease-in-out;
}

.password_recovery-captcha .password_recovery-captcha_image .captcha_reload_icon:hover i {
	color: #2a3140 !important;
	cursor: pointer;
}

/* =======================================================================================================order cancel*/

.index_order_cancel .index_order_cancel-button {
	width: 170px;
	height: 36px;
	background: #3e495f;
	color: #fff;
}

.index_order_cancel .index_order_cancel-button:hover {
	background: #2a3140;
	color: #fff;
}

.index_order_cancel .index_order_cancel-button:active {
	background: #2a3140;
	color: #fff;
}

.index_order_cancel .index_order_cancel_form .col-lg-3 {
	flex: 0 0 20%;
	max-width: 20%;
}

.index_order_cancel .index_order_cancel_form .col-lg-9 {
	flex: 0 0 80%;
	max-width: 80%;
}

@media screen and (max-width: 1200px) {
	.index_order_cancel .index_order_cancel_form .col-lg-3 {
		flex: 0 0 40%;
		max-width: 40%;
	}

	.index_order_cancel .index_order_cancel_form .col-lg-9 {
		flex: 0 0 60%;
		max-width: 60%;
	}
}

@media screen and (max-width: 500px) {
	.index_order_cancel .index_order_cancel_form .col-lg-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.index_order_cancel .index_order_cancel_form .col-lg-9 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* =======================================================================================================company*/

.btn.btn-light.index_company-add_organization-button {
	width: 170px;
	background: #3e495f;
	color: #fff;
	float: right;
}

.btn.btn-light.index_company-add_organization-button:hover {
	background: #2a3140;
	color: #fff;
}

.btn.btn-light.index_company-add_organization-button:active {
	background: #2a3140;
	color: #fff;
}

.index_company-modal-colums {
	display: flex;
	flex-wrap: wrap;
}

.index_company-modal-colums .form-check {
	width: 50%;
}

.company-modal_check_all {
	margin-bottom: 1rem;
}

.company-modal_check_all span {
	margin-right: 0.5rem;
}

.popup-window-buttons .form-check {
	margin-bottom: 0;
}

.popup-window-buttons > div {
	display: flex;
}

.popup-window-buttons .btn_save {
	width: 170px;
	background: #3e495f;
	color: #fff;
	float: right;
}

.popup-window-buttons .btn_save:hover {
	background: #2a3140;
	color: #fff;
}

.company-modal-undo {
	padding: 0 0.87rem;
	cursor: pointer;
}

.company-modal-undo:hover {
	color: #2a3140;
}

.index_company-buttons .btn-primary {
	min-width: 170px;
	height: 36px;
	background: #3e495f;
	color: #fff;
}

.index_company-buttons .btn.btn-light.btn-ladda {
	margin-top: 0.1rem;
	min-width: 170px;
}

@media screen and (max-width: 600px) {
	.popup-window-buttons {
		flex-direction: column;
	}

	.popup-window-buttons .popup-window-buttons_btns {
		margin-left: 0;
		margin-top: 1rem;
	}

	.index_company-buttons {
		display: flex;
		flex-direction: column;
	}

	.index_company-buttons .btn {
		margin-top: 0.3rem;
	}

	.index_company-buttons .btn.btn-light.btn-ladda {
		margin-top: 0.3rem;
	}
}

/* ========================================================================================================== widgets*/

.index_widgets {
	display: flex;
	flex-wrap: wrap;
}

.card.personal_widget {
	margin: 0.5rem;
	min-width: 380px;
}

.card.personal_widget .header-elements .list-icons-item {
	color: #fff;
}

.personal_widget .widget_payment_waiting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ededed;
}

.personal_widget .widget_payment_waiting h4 {
	margin-bottom: 0;
}

.personal_widget .widget_payment_waiting h5 {
	margin-bottom: 0;
}

.widget-payment_waiting-content {
	border-bottom: 1px solid #ededed;
}

.widget-private_invoices-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.widget-private_invoices-input .widget_button_wrapper {
	margin: 0;
}

.widget-organizations-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget-organizations-change_icons {
	cursor: pointer;
}

.widget-pending .widget-pending-goods {
	display: flex;
	flex-direction: row;
	margin: 13px 0 5px 0;
	flex-wrap: wrap;
	max-width: 340px;
}

.widget-pending .widget-pending-goods .block-cart-img {
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	overflow: hidden;
	margin: 5px;
	width: 45px;
	height: 45px;
}

.widget-my_cart .widget-my_cart-products {
	display: flex;
	flex-direction: row;
	margin: 13px 0 5px 0;
	flex-wrap: wrap;
	max-width: 340px;
}

.widget-my_cart .widget-my_cart-products .block-cart-img {
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	overflow: hidden;
	margin: 5px;
	width: 45px;
	height: 45px;
}

.widget-organizations-content .icon-pencil {
	font-size: 13px;
	margin-right: 0.4rem;
}

.widget-payment_waiting-content .payment_waiting_text {
	color: #999;
}

.card.personal_widget a {
	color: #000;
}

.personal_widget .widget_content {
	padding: 0.75rem 1rem;
}

.widget_content.widget_links_btns a {
	border-bottom: 1px dotted #000;
}

.card.personal_widget .card-header.header-elements-inline {
	border-bottom: 1px solid #ededed;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	background: #3e495f;
	/*background: #f5f5f5;*/
	color: #fff;
}

.widget_content.widget_links {
	border-bottom: 1px solid #ededed;
}

.widget_content .icon-arrow-right13.mr-2 {
	float: right;
}

.widget_content .widget_order_header a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget_content .widget_order_header h6 {
	margin-bottom: 0;
	padding: 0;

}

.widget_content .widget_order_information {
	padding: .7rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.widget_content .widget_order_content {
	margin: 0.4rem 0;
}

.personal_widget .widget_button_wrapper .widget_button {
	min-width: 170px;
	height: 36px;
	background: #3e495f;
	color: #fff;
}

.widget_content.widget_links a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.personal_widget .widget_button_wrapper .widget_button:hover {
	background: #2a3140;
	color: #fff;
}

.personal_widget .widget_review_info {
	margin-top: 0.5rem;
}

.personal_widget .widget_review_info .number_products {
	color: #999;
}

.personal_widget .widget_review_info .price_total {
	color: #999;
}

.widget_content.widget_links.orders .widget_button_wrapper {
	margin: 0;
}

.widget_content.widget_links.orders .btn {
	margin: 0.5rem 0;
}

.widget_button_wrapper {
	margin: 1rem;
}

.widget_content.widget_links.personal_info {
	display: flex;
	justify-content: space-between;
}

.widget_content.widget_links.personal_info .image_photo {
	flex: 0 0 30%;
	text-align: center;
	background-image: url("http://b2bcabinet.sotbit.com/local/gadgets/sotbit/profile/img/empty_avatar.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 70px;
}

.widget_content.widget_links.personal_info .image_photo i {
	font-size: 4rem;
}

.widget_content.widget_links.personal_info .personal_information {
	flex: 0 0 65%;
	padding: 1rem 0;
}

.widget_content.widget_links.personal_info .personal_information .email {
	color: #999;
}

.card.personal_widget .widget_content .form-group {
	margin-bottom: 0.5rem;
}

.widget_weather-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.widget_weather-content > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget_weather-content .widget_weather-temp {
	flex: 0 0 20%;
	color: #d44343;
	font-size: 2rem;
}

.widget_weather-content .widget_weather-icons {
	flex: 0 0 20%;
}

.widget_weather-content .widget_weather-text {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	align-items: self-start;
	color: #999;
}

.widget-private_invoices_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ededed;
}

.widget-private_invoices_header h4 {
	margin-bottom: 0;
}

.widget-private_invoices-input_description {
	margin-bottom: 0.5rem;
}

.widget-private_invoices-input .form-control {
	max-width: 49%;
}

.widget_content.widget-private_invoices_content {
	padding: 0.75rem 1rem 0 1rem;
}

.widget-private_invoices_icons {
	padding: 0.5rem 0;
}

.widget_discount {
	display: flex;
	justify-content: flex-start;
}

.widget_discount .widget_discount-img {
	background: #3e495f;
	border-radius: 100%;
	padding: 1rem;
}

.widget_discount .test_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
}

.congestion_content {
	display: flex;
	justify-content: space-between;
}

.congestion_content .congestion_content-rate {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 20%;
	font-size: 2rem;
	color: #E7AD01;
}

.congestion_content .congestion_content-text {
	color: #999;
}

@media screen and (max-width: 440px) {
	.card.personal_widget {
		min-width: 0;
	}

	.content {
		padding: 0;
	}

	.index_widgets {
		flex-direction: column;
	}

	.widget_blank-buttons .btn {
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}

}

/* ============================================================================================== login_registration*/

.create_account-captcha {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.create_account-captcha .captha_text {
	margin: 0 1rem;
	white-space: nowrap;
}

.create_account-captcha .captcha_reload_icon {
	color: #999;
	cursor: pointer;
}

.create_account-captcha .captcha_reload_icon i {
	transition: all 0.2s ease-in-out;
}

.create_account-captcha .captcha_reload_icon:hover i {
	color: #000;
}

/* ==============================================================================================index order success*/

.index_order_success .index_checkout-formalize_button {
	width: 170px;
	background: #3e495f;
	color: #fff;
}

.index_order_success .index_checkout-formalize_button:hover {
	background-color: #2a3140;
	color: #fff;
}

.index_order_success .index_checkout-formalize_button:active {
	background-color: #2a3140;
	color: #fff;
}

.index_order_success .index_checkout-table .form-control {
	padding: .4375rem .4rem;
	text-align: center;
}

.index_order_success .form-group {
	margin: 0;
}

.index_order_success .input-group.bootstrap-touchspin {
	width: 115px;
	flex-wrap: nowrap;
}

.index_order_success .index_checkout-table .table td, .table th {
	padding: 0.5rem 1.25rem;
}


.index_order_success .index_checkout-table a {
	color: #ddd;
	transition: all 0.2s ease-in-out;
}

.index_order_success .index_checkout-table a:hover {
	color: #2a3140;
}

.index_order_success .index_checkout-promocode {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.index_order_success .index_checkout-promocode .form-group > div {
	display: flex;
	align-items: center;
}

.index_order_success .index_checkout-promocode input {
	max-width: 170px;
}

.index_order_success .index_checkout-promocode .form-group div {
	margin: 0 0.5rem;
}

.index_order_success .index_checkout-promocode .form-group {
	display: flex;
	align-items: center;
}

.index_order_success .card-body {
	padding: 0;
}

.index_order_success .index_checkout-promocode .index_checkout-promocode-total {
	text-align: center;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.index_order_success .index_checkout-promocode .index_checkout-promocode-total > h5 {
	margin-right: 1rem;
	margin-bottom: 0;
}

.index_order_success .index_checkout-promocode .index_checkout-promocode-total > h4 {
	margin-bottom: 0;
}

.index_order_success .index_checkout-promocode .index_checkout-promocode-total h3 {
	display: inline-block;
	margin: 0 0 0 10px;
}

.index_order_success .index_checkout-payer_type {
	padding: 0 1.25rem 1.25rem 1.25rem;
}

.index_order_success .card-body.checkout_form {
	padding: 1.25rem;
}

.index_order_success .card-body.checkout_form .form-group {
	margin-bottom: 1.25rem;
}

.index_order_success .payer_type-title {
	padding-left: 1.25rem;
}

.index_order_success .index_checkout-payment_system {
	display: flex;
	flex-direction: column;
}

.index_order_success .index_checkout-delivery_type {
	display: flex;
	flex-direction: column;
	color: black;
}

.index_order_success .index_checkout-delivery_type .form-check.disabled {
	color: #455a64;
}

.index_order_success .index_checkout-payment_system .form-check.disabled {
	color: #455a64;
}

.index_order_success .index_checkout-delivery_type i {
	line-height: 1.25rem;
}

.index_order_success .index_checkout-payment_system i {
	line-height: 1.25rem;
}

.index_order_success .index_checkout-radios_description {
	color: #999;
}

.index_order_success .index_checkout-delivery_type label {
	width: 100%;
}

.index_order_success .index_checkout-delivery_type > div {
	margin-right: 0;
	flex-wrap: wrap;
}

.index_order_success .index_checkout-delivery_type .index_checkout-delivery_text {
	width: 50%;
}

.index_order_success .index_checkout-deliveries {
	white-space: nowrap;
}

.index_order_success .index_checkout-delivery_cost {
	margin: 0;
	display: block;
}

.index_order_success .index_checkout-delivery_type .form-check-inline:last-child {
	margin-right: 0rem;
}

.index_order_success .index_checkout-table_total {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.index_order_success .index_checkout-table_total table {
	margin-right: 5rem;
}

.index_order_success .checkout_form-individual {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.index_order_success .checkout_form-individual .card-header.header-elements-inline {
	padding-left: 0;
}

.index_order_success .checkout_form-individual .form-group.row .col-form-label {
	padding-left: 0;
	color: #999;
}

.index_order_success .checkout_form-individual > div {
	flex: 0 0 49.5%;
	background: #fafafa;
	border: 1px solid #ededed;
	padding: 1rem;
}

.index_order_success .checkout_form-individual > div:first-child {
	padding-right: 1rem;
}

.index_order_success .checkout_form .checkout_form-individual .checkout_form-title_inner {
	padding-top: 0;
	width: 50%;
	border-bottom: 1px solid #ededed;
	margin-bottom: 1.25rem;
	padding-bottom: 0.8rem;
}

.index_order_success .index_checkout-table_total .index_checkout-total {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.index_order_success .index_checkout-table_total .index_checkout-total .index_checkout-total_title h3 {
	margin-bottom: 0;
}

.index_order_success .index_checkout-table_total .index_checkout-total .form-group.row {
	margin-left: 5rem;
	margin-bottom: 0;
}

.index_order_success .description {
	color: #999;
}

@media screen and (max-width: 1200px) {
	.index_order_success .index_checkout-table_total {
		flex-direction: column;
	}

	.index_order_success .index_checkout-table_total .index_checkout-total {
		margin-top: 1.25rem;
	}

	.index_order_success .checkout_form-individual {
		flex-direction: column;
	}

	.index_order_success .checkout_form-individual > div:first-child {
		margin-bottom: 1rem;
	}
}


/* ===========================================================================================================index_issue_point*/

.modal-issue_point {
	display: flex;
}

.modal-issue_point .card-body {
	padding-left: 1rem;
}

.modal-issue_point .card-body .card-header:not([class*="bg-"]):not([class*="alpha-"]) {
	padding-left: 0;
}

@media screen and (max-width: 600px) {
	.modal-issue_point {
		flex-direction: column;
	}
}

/* ======================================================================================================index appeals*/

.index_appeals .index_appeals-formalize_button {
	width: 170px;
	background: #3e495f;
	color: #fff;
	margin: 0.3rem 0.3rem 0.3rem 0;
}

.index_appeals .index_appeals-formalize_button:hover {
	background-color: #2a3140;
	color: #fff;
}

.index_appeals .index_appeals-formalize_button:active {
	background-color: #2a3140;
	color: #fff;
}

.index_appeals .index_checkout-table .form-control {
	padding: .4375rem .4rem;
	text-align: center;
}

.index_appeals .form-group {
	margin: 0;
}

.index_appeals .input-group.bootstrap-touchspin {
	width: 115px;
	flex-wrap: nowrap;
}

.index_appeals .index_checkout-table .table td, .table th {
	padding: 0.5rem 1.25rem;
}


.index_appeals .index_checkout-table a {
	color: #ddd;
	transition: all 0.2s ease-in-out;
}

.index_appeals .index_checkout-table a:hover {
	color: #2a3140;
}

.index_appeals .index_checkout-promocode {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.index_appeals .index_checkout-promocode .form-group > div {
	display: flex;
	align-items: center;
}

.index_appeals .index_checkout-promocode input {
	max-width: 170px;
}

.index_appeals .index_checkout-promocode .form-group div {
	margin: 0 0.5rem;
}

.index_appeals .index_checkout-promocode .form-group {
	display: flex;
	align-items: center;
}

.index_appeals .card-body {
	padding: 0;
}

.index_appeals .index_checkout-promocode .index_checkout-promocode-total {
	text-align: center;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.index_appeals .index_checkout-promocode .index_checkout-promocode-total > h5 {
	margin-right: 1rem;
	margin-bottom: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total > h4 {
	margin-bottom: 0;
}

.index_appeals .index_checkout-promocode .index_checkout-promocode-total h3 {
	display: inline-block;
	margin: 0 0 0 10px;
}

.index_appeals .index_checkout-payer_type {
	padding: 0 1.25rem 1.25rem 1.25rem;
}

.index_appeals .card-body.index_appeal_form {
	padding: 1.25rem;
}

.index_appeals .card-body.index_appeal_form .form-group {
	margin-bottom: 1.25rem;
}

.index_appeals .payer_type-title {
	padding-left: 1.25rem;
}

.index_appeals .index_checkout-payment_system {
	display: flex;
	flex-direction: column;
}

.index_appeals .index_checkout-delivery_type {
	display: flex;
	flex-direction: column;
	color: black;
}

.index_appeals .index_checkout-delivery_type .form-check.disabled {
	color: #455a64;
}

.index_appeals .index_checkout-payment_system .form-check.disabled {
	color: #455a64;
}

.index_appeals .index_checkout-delivery_type i {
	line-height: 1.25rem;
}

.index_appeals .index_checkout-payment_system i {
	line-height: 1.25rem;
}

.index_appeals .index_checkout-radios_description {
	color: #999;
}

.index_appeals .index_checkout-delivery_type label {
	width: 100%;
}

.index_appeals .index_checkout-delivery_type > div {
	margin-right: 0;
	flex-wrap: wrap;
}

.index_appeals .index_checkout-delivery_type .index_checkout-delivery_text {
	width: 50%;
}

.index_appeals .index_checkout-deliveries {
	white-space: nowrap;
}

.index_appeals .index_checkout-delivery_cost {
	margin: 0;
	display: block;
}

.index_appeals .index_checkout-delivery_type .form-check-inline:last-child {
	margin-right: 0rem;
}

.index_appeals .index_checkout-table_total {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.index_appeals .index_checkout-table_total table {
	margin-right: 5rem;
}

.index_appeals .index_appeals-answer-row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.index_appeals .index_appeals-answer-row .card-header.header-elements-inline {
	padding-left: 0;
}

.index_appeals .index_appeals-answer-row .form-group.row .col-form-label {
	padding-left: 0;
	color: #999;
}

.index_appeals .index_appeals-answer-row > div {
	flex: 0 0 49.5%;
	padding: 1rem 1rem 0 1rem;
}

.index_appeals .index_appeals-answer-row > div:first-child {
	padding-right: 1rem;
}

.index_appeals .index_appeal_form .appeals_form-title_inner {
	padding-top: 0.8rem;
	border-bottom: 1px solid #ededed;
	padding-bottom: 0.8rem;
}

.index_appeals .index_checkout-table_total .index_checkout-total {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.index_appeals .index_checkout-table_total .index_checkout-total .index_checkout-total_title h3 {
	margin-bottom: 0;
}

.index_appeals .index_checkout-table_total .index_checkout-total .form-group.row {
	margin-left: 5rem;
	margin-bottom: 0;
}

.index_appeals .delivery_payment_logo {
	width: 40px;
	display: flex;
	justify-content: center;
}

.index_appeals .index_appeals-add_more_files {
	margin-top: 10px;
}

.index_appeals .index_appeals-add_more_files .icon-plus3 {
	font-size: 12px;
	margin-right: 5px;
}

.index_appeals .index_appeals-answer-form {
	background: #fafafa;
	border: 1px solid #ededed;
}

.index_appeals .card-body:not(.card) + .card-body:not(.card) {
	border: none;
}

.index_appeals .index_appeals-answer-row-information {
	padding: 1rem;
}

.index_appeals .index_appeals-answer-row-information .card-body {
	padding: 1.25rem;
}

.index_appeals .index_appeals-answer-row-messages .card-body {
	padding: 1.25rem;
}

.index_appeals .index_appeals-answer-row-messages {
	padding: 0 1.25rem;
}

.index_appeals .index_appeals-answer-row-messages > div {
	padding: 0;
}

.index_appeals .index_appeals-answer-row-messages .appeals-messages-title {
	font-size: 0.9rem;
}

.index_appeals .index_appeals-answer-row-messages .appeals-messages-title-header {
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	border-bottom: 1px solid #ededed;
}

.index_appeals .card {
	margin-bottom: 0;
}

.index_appeals .card .card-body {
	padding-bottom: 1rem;
}

.index_appeals .index_appeals-answer-row-messages .icon-pencil3 {
	font-size: 13px;
	cursor: pointer;
}

/* ==========*/
.main-ui-pagination {
	float: right;
}

.support-ticket-hint {
	margin-top: 1rem;
}

/* ==========*/


@media screen and (max-width: 1200px) {
	.index_appeals .index_checkout-table_total {
		flex-direction: column;
	}

	.index_appeals .index_checkout-table_total .index_checkout-total {
		margin-top: 1.25rem;
	}

	.index_appeals .index_appeals-answer-row {
		flex-direction: column;
	}

	.index_checkout .index_appeals-answer-row > div:first-child {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 1000px) {
	.index_appeals .index_checkout-promocode {
		flex-direction: column;
	}

	.index_appeals .index_checkout-promocode-total {
		margin-top: 1rem;
	}

	.index_appeals .index_checkout-payer_type > div {
		display: flex;
		flex-direction: column;
	}

	.index_appeals .index_checkout-delivery_type .index_checkout-delivery_text {
		width: 70%;
	}
}

@media screen and (max-width: 550px) {
	.index_appeals .index_checkout-delivery_type .form-check-label {
		flex-wrap: wrap;
	}

	.index_appeals .index_checkout-delivery_type .form-check-label .index_checkout-deliveries {
		width: 100%;
		padding-left: 3.5rem;
	}
}

@media screen and (max-width: 500px) {
	.index_appeals .index_checkout-promocode .form-group {
		flex-direction: column;
	}

	.index_appeals .index_appeals-answer-row > div:first-child {
		padding-right: 0;
	}

	.index_appeals .index_checkout-promocode .form-group button {
		margin-top: 1.25rem;
	}

	.index_appeals .index_checkout-total {
		flex-direction: column;
	}

	.index_appeals .index_checkout-table_total .index_checkout-total .form-group.row {
		margin-left: 0;
	}
}