.header-two__main-wrapper {
  background-color: #fff; }

.header-two__main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: var(--main-width);
  min-height: 100px;
  margin-left: auto;
  margin-right: auto; }

.header-two__logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 227px;
      flex-basis: 227px;
  padding: 10px 6px;
  padding-left: 0; }

.header-two__btn-fixed-menu {
  display: none; }

.header-two__main-mobile {
  display: none;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  cursor: pointer; }
  .header-two__main-mobile:hover svg {
    fill: var(--main-color); }

@media (max-width: 1023px) {
  .header-two {
    border-bottom: 1px solid #eee; }
  .header-two__main {
    min-height: 30px; }
  .header-two__main-mobile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767px) {
  .header-two__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header-two__main .mobileSelectCity {
      width: 100%; } }

.header-two__city {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 185px;
      flex-basis: 185px;
  padding-left: 30px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header-two__city svg {
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
    width: 20px;
    height: 22px;
    fill: #B2B2B2; }
  .header-two__city p {
    font-size: 1rem;
    padding-bottom: 0; }
  .header-two__city a {
    font-size: 1.07rem;
    font-weight: 700;
    color: var(--main-color); }
    .header-two__city a:hover {
      color: var(--main-color-hover); }
  .header-two__city .select-city__dropdown-wrap {
    top: calc(100% - 10px);
    left: 0; }

@media (max-width: 1023px) {
  .header-two__city {
    display: none; } }

.header-two__search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 360px;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  color: #000; }
  .header-two__search form {
    position: relative;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .header-two__search > #search {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative; }
  .header-two__search input {
    max-width: 360px;
    width: 100%;
    padding: 8px 14px;
    padding-right: 40px;
    border: 1px solid #EBEBEB;
    border-radius: 4px; }
    .header-two__search input::-webkit-input-placeholder {
      color: #808080; }
    .header-two__search input::-moz-placeholder {
      color: #808080; }
    .header-two__search input:-ms-input-placeholder {
      color: #808080; }
    .header-two__search input::-ms-input-placeholder {
      color: #808080; }
    .header-two__search input::placeholder {
      color: #808080; }
    .header-two__search input:hover {
      border-color: #B2B2B2; }
    .header-two__search input:focus + button svg {
      fill: #000; }
    .header-two__search input:disabled {
      background-color: #EBEBEB; }
  .header-two__search button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    background: none;
    cursor: pointer; }
  .header-two__search svg {
    fill: #B2B2B2; }

.title-search-result {
  position: absolute;
  min-width: 320px;
  z-index: 120; }
  .title-search-result.fixed {
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    min-width: 320px !important; }

@media (max-width: 1199px) {
  .title-search-result.fixed {
    position: absolute;
    top: calc(100% + 5px) !important;
    left: 0 !important;
    width: 320px !important; } }

@media (max-width: 1023px) {
  .header-two__search {
    display: none; } }

.header-two__search-matches {
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 30;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); }
  .header-two__search-matches.active {
    display: table; }

.header-two__search-matches-list {
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: 450px; }
  .header-two__search-matches-list li:last-of-type {
    display: none; }

.header-two__search-matches-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  border-top: 1px solid #EBEBEB; }
  .header-two__search-matches-item a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .header-two__search-matches-item:first-child {
    border-top: none; }

.header-two__search-matches-item-btn {
  height: 40px;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .header-two__search-matches-item-btn a {
    display: block;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    border-radius: 0 0 4px 4px; }
  .header-two__search-matches-item-btn a:hover {
    background-color: var(--main-color-hover); }
  .header-two__search-matches-item-btn .header-two__search-matches-description {
    width: 100%;
    padding: 0; }
  .header-two__search-matches-item-btn .header-two__search-matches-name {
    margin-bottom: 0;
    text-align: center;
    line-height: 40px; }

.header-two__search-matches-img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80px;
  padding: 10px;
  border-right: 1px solid #EBEBEB; }

.header-two__search-matches-description {
  padding: 17px 23px; }

.header-two__search-matches-name {
  margin-bottom: 3px;
  padding-bottom: 0; }
  .header-two__search-matches-name span {
    font-weight: 700; }

.header-two__search-matches-price {
  font-weight: 700;
  padding-bottom: 0; }

.header-two__search-matches-btn {
  width: 100%;
  padding: 9px 0;
  font-weight: 700;
  font-size: 1.07rem;
  color: #fff;
  text-align: center;
  background-color: var(--main-color);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header-two__search-matches-btn:hover {
    color: #fff;
    background-color: var(--main-color-hover); }

.header-two__contact {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 227px;
      flex-basis: 227px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
  padding-bottom: 8px; }
  .header-two__contact .header-two__contact-arrow {
    position: absolute;
    right: -23px;
    top: 8px;
    width: 14px;
    height: 12px; }
  .header-two__contact .header-two__contact-phone-link {
    position: relative;
    padding-bottom: 0;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer; }
    .header-two__contact .header-two__contact-phone-link > svg:not([class]) {
      position: absolute;
      left: 0;
      top: calc(50% - 20px);
      fill: #B2B2B2; }
    .header-two__contact .header-two__contact-phone-link .header-two__contact-phone-link-icon {
      position: absolute;
      left: -28px;
      top: calc(50% - 8px);
      fill: #B2B2B2; }
  .header-two__contact .header-two__contact-phone-link:hover ~ .header-two__drop-down {
    display: block;
    top: 0;
    height: auto;
    overflow: auto;
    z-index: 101;
    opacity: 1; 
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .header-two__contact > .header-two__contact-arrow-link {
    position: relative;
    font-size: 1.07rem;
    color: var(--main-color);
    cursor: pointer;
    -webkit-transition: font-size 0s;
    transition: font-size 0s; }
    .header-two__contact > .header-two__contact-arrow-link:hover {
      color: var(--main-color-hover); }
    .header-two__contact > .header-two__contact-arrow-link.btnLoaderCustom {
      min-height: 22px;
      font-size: 0; }
    .header-two__contact > .header-two__contact-arrow-link .loader-btn {
      top: 0;
      left: 0;
      fill: var(--main-color); }

@media (max-width: 1023px) {
  .header-two__contact {
    display: none; } }

.header-two__personal {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 13px;
  margin-left: auto; }
  .header-two__personal.right-panel--show {
    display: none; }
  .header-two__personal svg {
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
    fill: #BDBDBD; }
  .header-two__personal p {
    padding-left: 30px;
    padding-bottom: 0;
    font-size: 12px;
    color: #B2B2B2; }
  .header-two__personal a {
    padding-left: 30px;
    font-size: 1.07rem;
    color: #000;
    -webkit-transition: color 0.1s ease-in-out, fill 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, fill 0.1s ease-in-out; }
    .header-two__personal a:hover {
      color: var(--main-color); }
      .header-two__personal a:hover svg {
        fill: var(--main-color); }

@media (max-width: 1200px) {
  .header-two__personal {
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
    .header-two__personal svg {
      top: calc(50% - 3px);
      cursor: pointer;
      -webkit-transition: fill 0.3s;
      transition: fill 0.3s; }
    .header-two__personal svg:hover {
      fill: var(--main-color-hover); }
    .header-two__personal a {
      font-size: 0; }
    .header-two__personal p {
      display: none; } }

@media (max-width: 767px) {
  .header-two__personal {
    display: none; } }

.header-two__basket {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  padding-right: 15px; }
  .header-two__basket.right-panel--show {
    display: none; }
    @media (max-width: 1023px) {
      .header-two__basket.right-panel--show {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; } }

.header-two__basket-compare {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-top: 16px;
  margin-right: 24px;
  cursor: pointer;
  z-index: 100; }
  .header-two__basket-compare:hover svg {
    fill: var(--main-color);
    opacity: 0.3; }
  .header-two__basket-compare.active svg {
    fill: #000;
    opacity: 0.9; }
  .header-two__basket-compare.active:hover svg {
    fill: var(--main-color);
    opacity: 0.9; }
  .header-two__basket-compare.active span {
    background-color: var(--main-color); }
  .header-two__basket-compare svg {
    width: 24px;
    height: 20px;
    fill: #B2B2B2;
    opacity: 0.9; }
  .header-two__basket-compare span {
    position: absolute;
    bottom: 16px;
    right: -15px;
    height: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 24px;
    background: #B2B2B2;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-size: 12px; }

.header-two__basket-favorites {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-top: 16px;
  padding-right: 24px;
  cursor: pointer;
  z-index: 100; }
  .header-two__basket-favorites:hover svg {
    fill: var(--main-color);
    opacity: 0.3; }
  .header-two__basket-favorites.active svg {
    fill: #000;
    opacity: 0.9; }
  .header-two__basket-favorites.active:hover svg {
    fill: var(--main-color);
    opacity: 0.9; }
  .header-two__basket-favorites.active span {
    background-color: var(--main-color); }
  .header-two__basket-favorites svg {
    width: 24px;
    height: 20px;
    fill: #B2B2B2;
    opacity: 0.9; }
  .header-two__basket-favorites span {
    position: absolute;
    bottom: 16px;
    left: 15px;
    height: 24px;
    min-width: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #B2B2B2;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-size: 12px; }

.header-two__basket-buy {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-top: 16px;
  cursor: pointer;
  z-index: 100; }
  .header-two__basket-buy:hover svg {
    fill: var(--main-color);
    opacity: 0.3; }
  .header-two__basket-buy.active svg {
    opacity: 0.9;
    fill: #000; }
  .header-two__basket-buy.active:hover svg {
    fill: var(--main-color);
    opacity: 0.9; }
  .header-two__basket-buy.active span {
    background-color: var(--main-color); }
  .header-two__basket-buy svg {
    width: 24px;
    height: 20px;
    fill: #B2B2B2;
    opacity: 0.9; }
  .header-two__basket-buy span {
    position: absolute;
    bottom: 16px;
    right: -15px;
    height: 24px;
    min-width: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #B2B2B2;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-size: 12px; }

.header-two__nav {
  background-color: #fff; }

@media (max-width: 1023px) {
  .header-two__nav {
    display: none; }
  .header-two__logo {
    margin-left: auto; } }

@media (max-width: 767px) {
  .header-two__basket-compare {
    display: none; }
  .header-two__basket-favorites {
    display: none; }
  .header-two__basket {
    margin-left: auto; }
  .header-two__basket {
    padding-right: 25px; }
  .header-two__logo {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px; } }

.header-two__main-nav {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1344px;
/*  min-height: 60px;*/
  margin-left: auto;
  margin-right: auto;
/*  border-left: 1px solid var(--main-color-hover);
  border-right: 1px solid var(--main-color-hover); */}
  .header-two__main-nav.load {
   /* overflow: hidden;*/ }
  .header-two__main-nav > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .header-two__main-nav .header-two__main-nav-catalog {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 220px; }
    .header-two__main-nav .header-two__main-nav-catalog.active > a,
    .header-two__main-nav .header-two__main-nav-catalog.current > a {
      background-color: var(--main-color-hover); }
    .header-two__main-nav .header-two__main-nav-catalog > a {
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: 60px;
      width: 100%;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 38px;
      font-size: 1.14rem;
      font-weight: 700;
      color: #fff; }
    .header-two__main-nav .header-two__main-nav-catalog:hover > a {
      background-color: var(--main-color-hover);
      color: #fff; }
    .header-two__main-nav .header-two__main-nav-catalog:hover > .header-two__menu-catalog {
      top: 60px;
      padding: 30px 0;
      left: -1px;
      z-index: 100;
      opacity: 1;
      height: 500px; }
    .header-two__main-nav .header-two__main-nav-catalog .site-navigation__item-icon {
      display: block; }
  .header-two__main-nav .header-two__main-navigation {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .header-two__main-nav .header-two__main-navigation > div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  .header-two__main-nav .header-two__main-nav-item {
    position: relative;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 0;
    padding: 0;
    border-left: 1px solid var(--main-color-hover); }
    .header-two__main-nav .header-two__main-nav-item.current > a {
      background-color: var(--main-color-hover); }
    .header-two__main-nav .header-two__main-nav-item > a {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: 60px;
      width: 100%;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 38px;
      font-size: 1.14rem;
      font-weight: 700;
      color: #fff; }
    .header-two__main-nav .header-two__main-nav-item > span {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: 60px;
      width: 100%;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 38px;
      font-size: 1.14rem;
      font-weight: 700;
      color: #fff;
      background-color: var(--main-color-hover); }
    .header-two__main-nav .header-two__main-nav-item:hover > a {
      background-color: var(--main-color-hover);
      color: #fff; }
  .header-two__main-nav svg {
    /*fill: #fff; */}
  .header-two__main-nav .site-navigation__item-icon {
    position: absolute;
    display: none;
    right: 40px;
    top: calc(50% - 4px); }
  .header-two__main-nav .header-two__nav-submenu--other {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }

.header-two__main-nav-item-more {
  width: 60px;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid var(--main-color-hover);
  cursor: pointer; }
  .header-two__main-nav-item-more .header-two__nav-submenu {
    right: 0; }
  .header-two__main-nav-item-more .header-two__main-nav-item {
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #EDEDED; }
    .header-two__main-nav-item-more .header-two__main-nav-item .header-two__nav-submenu {
      top: 0 !important;
      right: 100%; }
  .header-two__main-nav-item-more .header-two__main-nav-item.current > span {
    display: block;
    width: 100%;
    height: 60px;
    padding: 15px 45px 14px;
    color: var(--main-color-hover);
    font-size: 1.07rem;
    line-height: 30px;
    font-weight: 500;
    background-color: #F7F7F7; }
  .header-two__main-nav-item-more .header-two__main-nav-item a {
    color: #000;
    display: block;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 1.07rem;
    line-height: 30px;
    font-weight: 500; }
  .header-two__main-nav-item-more .header-two__main-nav-item:hover > a {
    color: var(--main-color);
    background-color: #F7F7F7;
    border-right: 1px solid var(--main-color-hover); }
  .header-two__main-nav-item-more .header-two__main-nav-item:hover > span {
    color: var(--main-color);
    background-color: #F7F7F7;
    border-right: 1px solid var(--main-color-hover); }
  .header-two__main-nav-item-more .header-two__main-nav-item:hover > svg {
    fill: var(--main-color); }
  .header-two__main-nav-item-more .header-two__main-nav-item:hover .header-two__nav-submenu {
    top: 0 !important;
    right: 100%; }
  .header-two__main-nav-item-more:hover {
    background-color: var(--main-color-hover); }
  .header-two__main-nav-item-more:hover > .header-two__nav-submenu {
    display: block;
    height: auto;
    opacity: 1;
    top: 60px;
    right: 0;
    z-index: 10; }
  .header-two__main-nav-item-more .header-two__nav-submenu-true svg {
    fill: #000;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 15px; }

.header-two__menu-icon {
  position: absolute;
  left: 26px;
  top: calc(50% - 10px);
  width: 26px;
  height: 20px; }

.header-two__menu-catalog {
  height: 0;
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  z-index: -1;
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, height 0s, padding 0s;
  transition: top 0.3s, opacity 0.3s, height 0s, padding 0s; }

.header-two__nav-submenu {
  display: block;
  width: 300px;
  height: 0;
  position: absolute;
  top: 70px;
  background-color: #EDEDED;
  overflow: hidden;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s, z-index 0.1s ease-in-out 0.1s, height 0s;
  transition: opacity 0.3s, z-index 0.1s ease-in-out 0.1s, height 0s; }
  .header-two__nav-submenu.header-two__nav-submenu--right {
    right: 0; }
    .header-two__nav-submenu.header-two__nav-submenu--right .header-two__nav-submenu-sublevel {
      left: -100%; }
    .header-two__nav-submenu.header-two__nav-submenu--right .site-navigation__item-icon-arrow {
      left: 20px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    .header-two__nav-submenu.header-two__nav-submenu--right .header-two__nav-submenu-item:hover::after {
      right: 0; }
  .header-two__nav-submenu.header-two__nav-submenu--left {
    left: 0; }
    .header-two__nav-submenu.header-two__nav-submenu--left .header-two__nav-submenu-sublevel {
      left: 100%; }
    .header-two__nav-submenu.header-two__nav-submenu--left .header-two__nav-submenu-item:hover::after {
      left: 0; }
  .header-two__nav-submenu .header-two__nav-submenu-item:hover > .header-two__nav-submenu-sublevel {
    width: 300px;
    opacity: 1; }

.header-two__main-nav-item.header-two__nav-submenu-true:hover .header-two__nav-submenu {
  top: 60px;
  z-index: 60;
  opacity: 1;
  height: auto;
  max-height: 500px;
  overflow: initial;
  -webkit-transition: top 0.3s;
  transition: top 0.3s; }

.header-two__main-nav-item.header-two__nav-submenu-true > a {
  padding-right: 70px; }

.header-two__main-nav-item.header-two__nav-submenu-true > span {
  padding-right: 70px; }

.header-two__main-nav-item.header-two__nav-submenu-true .site-navigation__item-icon {
  display: block; }

.header-two__nav-submenu-item {
  position: relative;
  margin-bottom: 0;
  padding-left: 0;
  border-bottom: 1px solid #EDEDED; }
  .header-two__nav-submenu-item:hover > a {
    background-color: #f7f7f7;
    color: var(--main-color); }
  .header-two__nav-submenu-item a {
    display: block;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 1rem;
    line-height: 21px;
    font-weight: 700; }
  .header-two__nav-submenu-item span {
    display: block;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 1.07rem;
    line-height: 21px;
    font-weight: 500;
    color: #fff; }
  .header-two__nav-submenu-item .site-navigation__item-icon-arrow {
    position: absolute;
    display: none;
    top: calc(50% - 6px);
    right: 15px;
    fill: #000;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .header-two__nav-submenu-item:hover .site-navigation__item-icon-arrow {
    fill: var(--main-color); }
  .header-two__nav-submenu-item.header-two__nav-submenu-item--sublevel .site-navigation__item-icon-arrow {
    display: block; }

.header-two__nav-submenu-item.header-two__nav-submenu-true svg {
  display: block; }

.header-two__nav-submenu-sublevel {
  position: absolute;
  top: 0;
  width: 0;
  background-color: #EDEDED;
  z-index: 10;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transition: opacity 0.3s, left 0.3s;
  transition: opacity 0.3s, left 0.3s; }
  .header-two__nav-submenu-sublevel .header-two__nav-submenu-item {
    position: relative;
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid #EDEDED; }
  .header-two__nav-submenu-sublevel a {
    padding-left: 30px; }

.header-two__drop-down {
  position: absolute !important;
  top: 10px;
  left: 0;
  width: 280px;
  height: 0;
  padding-top: 23px;
  background-color: #fff;
/*  border-radius: 0 0 4px 4px;*/
  overflow: hidden;
/*  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);*/
  z-index: -10;
  opacity: 0;
  -webkit-transition: heigth 0s, opacity 0s, top 0.3s;
  transition: heigth 0s, opacity 0s, top 0.3s;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);

   }
  .header-two__drop-down:hover {
    display: block;
    top: 0;
    height: auto;
    overflow: auto;
    z-index: 101;
    opacity: 1; }

.header-two__drop-down-item {
  position: relative;
  margin-bottom: 27px;
  padding-left: 51px;
  padding-right: 10px; }
  .header-two__drop-down-item > a {
    overflow: hidden;
    width: 100%;
    display: block;
    text-overflow: ellipsis; }
  .header-two__drop-down-item > p {
    overflow: hidden;
    width: 100%;
    display: block;
    text-overflow: ellipsis; }
  .header-two__drop-down-item p {
    padding-bottom: 0; }
  .header-two__drop-down-item svg {
    position: absolute;
    top: 0;
    left: 20px;
    width: 18px;
    height: 20px;
    fill: #B2B2B2; }
  .header-two__drop-down-item:last-of-type {
    margin-bottom: 32px; }
  .header-two__drop-down-item.header-two__drop-down-item--phone a {
    display: block;
    margin-bottom: 18px;
    padding-bottom: 0;
    font-size: 17px;
    font-weight: 700;
    color: var(--main-color); }
    .header-two__drop-down-item.header-two__drop-down-item--phone a:hover {
      color: var(--main-color-hover); }
  .header-two__drop-down-item.header-two__drop-down-item--phone a:last-child {
    margin-bottom: 0; }
  .header-two__drop-down-item.header-two__drop-down-item--phone svg {
    top: 7px; }
  .header-two__drop-down-item .container_menu__contact_item__email::before {
    display: none; }

.header-two__drop-down-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 0;
  font-weight: 700;
  font-size: 1.07rem;
  color: #fff;
  border-radius: 0 0 4px 4px;
  background-color: var(--main-color);
  cursor: pointer; }
  .header-two__drop-down-btn:hover {
    color: #fff;
    background-color: var(--main-color-hover); }

.header-two__nav-submenu--other {
  position: relative; }
  .header-two__nav-submenu--other:hover > a {
    color: var(--main-color); }
  .header-two__nav-submenu--other:hover::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    background-color: var(--main-color); }
  .header-two__nav-submenu--other a {
    display: block;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 1.07rem;
    line-height: 21px;
    font-weight: 500; }
  .header-two__nav-submenu--other .header-two__nav-submenu-true {
    margin-bottom: 0;
    padding-left: 0; }
    .header-two__nav-submenu--other .header-two__nav-submenu-true > .site-navigation__item-icon {
      fill: #000;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      left: 15px;
      width: 10px;
      height: 20px;
      top: calc(50% - 10px); }
  .header-two__nav-submenu--other .header-two__nav-submenu-true:hover .header-two__nav-submenu {
    z-index: 70;
    opacity: 1;
    top: 0; }
  .header-two__nav-submenu--other .header-two__nav-submenu-true .header-two__nav-submenu {
    top: 10px;
    left: -100%; }
  .header-two__nav-submenu--other .header-two__nav-submenu {
    top: 70px; }
    .header-two__nav-submenu--other .header-two__nav-submenu > .header-two__nav-submenu--other .header-two__nav-submenu .header-two__nav-submenu {
      top: 0; }

@-webkit-keyframes showHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-animation-duration: 0s;
            animation-duration: 0s; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-duration: 1s;
            animation-duration: 1s; } }

@keyframes showHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-animation-duration: 0s;
            animation-duration: 0s; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-duration: 1s;
            animation-duration: 1s; } }

.bx-panel-fixed ~ .header-two.fix-header-two {
  top: auto; }

.header-two.fix-header-two {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 105;
  -webkit-animation: showHeader 1s;
          animation: showHeader 1s; }
  .header-two.fix-header-two .header-two__city {
    padding-bottom: 0; }
    .header-two.fix-header-two .header-two__city svg {
      top: calc(50% - 18px); }
    .header-two.fix-header-two .header-two__city .select-city__dropdown-wrap {
      top: 100%;
      left: -20px; }
  .header-two.fix-header-two .header-two__main {
    background-color: #fff;
    min-height: 60px; }
  .header-two.fix-header-two .header-two__nav {
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: -1;
    -webkit-transition: top 0.5s;
    transition: top 0.5s; }
    .header-two.fix-header-two .header-two__nav.active {
      top: 100%; }
  .header-two.fix-header-two .header-two__contact {
    padding-bottom: 0; }
  .header-two.fix-header-two .header-two__personal {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding-bottom: 0;
    padding-right: 11px;
    -webkit-box-ordinal-group: 3;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    .header-two.fix-header-two .header-two__personal > p {
      display: none; }
    .header-two.fix-header-two .header-two__personal > a {
      font-size: 0;
      -webkit-transition: none;
      transition: none; }
    .header-two.fix-header-two .header-two__personal svg {
      fill: #B2B2B2;
      top: calc(50% - 6px);
      -webkit-transform: scaleY(1.2);
              transform: scaleY(1.2); }
  .header-two.fix-header-two .header-two__basket {
    -webkit-box-ordinal-group: 4;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .header-two.fix-header-two .header-two__btn-fixed-menu {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 28px;
    width: 178px;
    margin-right: 20px;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    -webkit-transition: color 0.3s, stroke 0.3s, fill 0.3s;
    transition: color 0.3s, stroke 0.3s, fill 0.3s;
    cursor: pointer; }
    .header-two.fix-header-two .header-two__btn-fixed-menu:hover {
      color: var(--main-color); }
      .header-two.fix-header-two .header-two__btn-fixed-menu:hover .header-two__btn-fixed-menu-icon {
        stroke: var(--main-color);
        fill: var(--main-color); }
        .header-two.fix-header-two .header-two__btn-fixed-menu:hover .header-two__btn-fixed-menu-icon.header-two__btn-fixed-menu-icon--arrow {
          stroke: none; }
      .header-two.fix-header-two .header-two__btn-fixed-menu:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--main-color); }
  .header-two.fix-header-two .header-two__btn-fixed-menu-icon {
    stroke: #000;
    fill: #000; }
    .header-two.fix-header-two .header-two__btn-fixed-menu-icon.header-two__btn-fixed-menu-icon--arrow {
      stroke: none; }
  .header-two.fix-header-two .header-two__btn-fixed-menu-content {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 0; }
  .header-two.fix-header-two #search {
    position: relative; }

@media (max-width: 1199px) {
  .header-two.fix-header-two .header-two__search {
    margin-right: 20px;
    padding-top: 12px;
    width: 190px;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative; }
    .header-two.fix-header-two .header-two__search #search {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: #fff;
      z-index: 1; }
    .header-two.fix-header-two .header-two__search form {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-two.fix-header-two .header-two__search input {
      width: 130px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .header-two.fix-header-two .header-two__search input:hover {
      width: 386px; }
    .header-two.fix-header-two .header-two__search button {
      right: 8px;
      padding: 0;
      width: 20px;
      cursor: pointer; }
      .header-two.fix-header-two .header-two__search button:hover svg {
        fill: var(--main-color); }
      .header-two.fix-header-two .header-two__search button svg {
        width: 20px;
        height: 20px;
        -webkit-transition: fill 0.3s;
        transition: fill 0.3s; } }

@media (max-width: 1023px) {
  .header-two.fix-header-two .header-two__btn-fixed-menu {
    display: none; } }

.header-two__main-nav .header-two__main-nav-catalog:hover > .header-two__menu-catalog.menu-catalog-one {
  max-height: 350px;
  padding: 0; }

.header-two__menu-catalog.menu-catalog-one {
  background-color: transparent; }

.menu-catalog-one {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); }

.menu-catalog-one__main-menu {
  min-width: 220px; }

.menu-catalog-one__main-menu-item {
  position: relative;
  margin: 0;
  padding: 15px 30px;
  background-color: var(--main-color); }
  .menu-catalog-one__main-menu-item .menu-catalog-one__menu-item-icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .menu-catalog-one__main-menu-item:hover {
    background-color: #f7f7f7; }
    .menu-catalog-one__main-menu-item:hover > .menu-catalog-one__submenu {
      display: block; }

.menu-catalog-one__submenu-item {
  margin: 0;
  padding: 15px 30px; }
  .menu-catalog-one__submenu-item:hover > .menu-catalog-one__submenu {
    display: block; }

.menu-catalog-one__submenu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 312px;
  display: none;
  background-color: #f7f7f7; }
  .menu-catalog-one__submenu:nth-of-type(2n) {
    background-color: red; }
  .menu-catalog-one__submenu .menu-catalog-one__submenu--white {
    background-color: #fff; }

.header-two__city .select-city__block__text-city {
  padding: 0;
  font-weight: 700;
  color: var(--main-color);
  line-height: normal; }
  .header-two__city .select-city__block__text-city:hover {
    color: var(--main-color-hover); }
  .header-two__city .select-city__block__text-city::after {
    content: none; }
