.index_appeals .index_appeals-formalize_button {
	width: 170px;
	background: #3e495f;
	color: #fff;
	margin: 0.3rem 0.3rem 0.3rem 0;
}

.index_appeals .index_appeals-formalize_button:hover {
	background-color: #2a3140;
	color: #fff;
}

.index_appeals .index_appeals-formalize_button:active {
	background-color: #2a3140;
	color: #fff;
}

.index_appeals .index_checkout-table .form-control {
	padding: .4375rem .4rem;
	text-align: center;
}

.index_appeals .form-group {
	margin: 0;
}

.index_appeals .input-group.bootstrap-touchspin {
	width: 115px;
	flex-wrap: nowrap;
}

.index_appeals .index_checkout-table .table td, .table th {
	padding: 0.5rem 1.25rem;
}


.index_appeals .index_checkout-table a {
	color: #ddd;
	transition: all 0.2s ease-in-out;
}

.index_appeals .index_checkout-table a:hover {
	color: #2a3140;
}

.index_appeals .index_checkout-promocode {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.index_appeals .index_checkout-promocode .form-group > div {
	display: flex;
	align-items: center;
}

.index_appeals .index_checkout-promocode input {
	max-width: 170px;
}

.index_appeals .index_checkout-promocode .form-group div {
	margin: 0 0.5rem;
}

.index_appeals .index_checkout-promocode .form-group {
	display: flex;
	align-items: center;
}

.index_appeals .card-body {
	padding: 0;
}

.index_appeals .index_checkout-promocode .index_checkout-promocode-total {
	text-align: center;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.index_appeals .index_checkout-promocode .index_checkout-promocode-total > h5 {
	margin-right: 1rem;
	margin-bottom: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total > h4 {
	margin-bottom: 0;
}

.index_appeals .index_checkout-promocode .index_checkout-promocode-total h3 {
	display: inline-block;
	margin: 0 0 0 10px;
}

.index_appeals .index_checkout-payer_type {
	padding: 0 1.25rem 1.25rem 1.25rem;
}

.index_appeals .card-body.index_appeal_form {
	padding: 1.25rem;
}

.index_appeals .card-body.index_appeal_form .form-group {
	margin-bottom: 1.25rem;
}

.index_appeals .payer_type-title {
	padding-left: 1.25rem;
}

.index_appeals .index_checkout-payment_system {
	display: flex;
	flex-direction: column;
}

.index_appeals .index_checkout-delivery_type {
	display: flex;
	flex-direction: column;
	color: black;
}

.index_appeals .index_checkout-delivery_type .form-check.disabled {
	color: #455a64;
}

.index_appeals .index_checkout-payment_system .form-check.disabled {
	color: #455a64;
}

.index_appeals .index_checkout-delivery_type i {
	line-height: 1.25rem;
}

.index_appeals .index_checkout-payment_system i {
	line-height: 1.25rem;
}

.index_appeals .index_checkout-radios_description {
	color: #999;
}

.index_appeals .index_checkout-delivery_type label {
	width: 100%;
}

.index_appeals .index_checkout-delivery_type > div {
	margin-right: 0;
	flex-wrap: wrap;
}

.index_appeals .index_checkout-delivery_type .index_checkout-delivery_text {
	width: 50%;
}

.index_appeals .index_checkout-deliveries {
	white-space: nowrap;
}

.index_appeals .index_checkout-delivery_cost {
	margin: 0;
	display: block;
}

.index_appeals .index_checkout-delivery_type .form-check-inline:last-child {
	margin-right: 0rem;
}

.index_appeals .index_checkout-table_total {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.index_appeals .index_checkout-table_total table {
	margin-right: 5rem;
}

.index_appeals .index_appeals-answer-row {
	display: block;
	justify-content: space-between;
	flex-direction: column;
}

.index_appeals .index_appeals-answer-row .card-header.header-elements-inline {
	padding-left: 0;
}

.index_appeals .index_appeals-answer-row .form-group.row .col-form-label {
	padding-left: 0;
	color: #999;
}

.index_appeals .index_appeals-answer-row > div {
	flex: 0 0 49.5%;
	padding: 1rem 1rem 0 1rem;
}

.index_appeals .index_appeals-answer-row > div:first-child {
	padding-right: 1rem;
}

.index_appeals .index_appeal_form .appeals_form-title_inner {
	padding-top: 0.8rem;
	border-bottom: 1px solid #ededed;
	padding-bottom: 0.8rem;
}

.index_appeals .index_checkout-table_total .index_checkout-total {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.index_appeals .index_checkout-table_total .index_checkout-total .index_checkout-total_title h3 {
	margin-bottom: 0;
}

.index_appeals .index_checkout-table_total .index_checkout-total .form-group.row {
	margin-left: 5rem;
	margin-bottom: 0;
}

.index_appeals .delivery_payment_logo {
	width: 40px;
	display: flex;
	justify-content: center;
}

.index_appeals .index_appeals-add_more_files {
	margin-top: 10px;
}

.index_appeals-answer-row .btn:not(.action) {
	margin-bottom: 0.5rem;
}

.add-more-files {
	cursor: pointer;
}

.add-more-files:hover {
	color: #999;
	transition: all 0.3s ease;
}

.index_appeals-add_more_files > div:not(last-child) {
	margin-bottom: 10px;
}

.index_appeals .index_appeals-add_more_files .icon-plus3 {
	font-size: 12px;
	margin-right: 5px;
}

.index_appeals .index_appeals-answer-form {
	background: #fafafa;
	border: 1px solid #ededed;
}

.index_appeals .card-body:not(.card) + .card-body:not(.card) {
	border: none;
}

.index_appeals .index_appeals-answer-row-information {
	padding: 1rem;
}

.index_appeals .index_appeals-answer-row-information .card-body {
	padding: 1.25rem;
}

.index_appeals .index_appeals-answer-row-messages .card-body {
	padding: 1.25rem;
}

.index_appeals .index_appeals-answer-row-messages {
	padding: 0 1.25rem;
}

.index_appeals .index_appeals-answer-row-messages > div {
	padding: 0;
}

.index_appeals .index_appeals-answer-row-messages .appeals-messages-title {
	font-size: 0.9rem;
}

.index_appeals .index_appeals-answer-row-messages .appeals-messages-title-header {
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	border-bottom: 1px solid #ededed;
}

.index_appeals .card {
	margin-bottom: 0;
}

.index_appeals .card .card-body {
	padding-bottom: 1rem;
}

.index_appeals .card-header:not([class*=bg-]):not([class*=alpha-]) {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.index_appeals-answer-row-messages .list-icons-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.index_appeals-answer-row-messages .list-icons-item i[class="icon-quotes-right"] {
	font-size: 12px;
}

.index_appeals-add_more_files > label {
	cursor: pointer;
}

.index_appeals .index_appeals-answer-row-messages .icon-pencil3 {
	font-size: 13px;
	cursor: pointer;
}
.index_appeals .index_appeals-answer-row-messages .card-header {
	background-color: #99abb2;
	color: #fff;
}
.index_appeals .index_appeals-answer-row-messages.support-answer .card-header {
	background-color: #00AEEF;
}


@media screen and (max-width: 1200px) {
	.index_appeals .index_checkout-table_total {
		flex-direction: column;
	}

	.index_appeals .index_checkout-table_total .index_checkout-total {
		margin-top: 1.25rem;
	}

	.index_appeals .index_appeals-answer-row {
		flex-direction: column;
	}

	.index_checkout .index_appeals-answer-row > div:first-child {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 1000px) {
	.index_appeals .index_checkout-promocode {
		flex-direction: column;
	}

	.index_appeals .index_checkout-promocode-total {
		margin-top: 1rem;
	}

	.index_appeals .index_checkout-payer_type > div {
		display: flex;
		flex-direction: column;
	}

	.index_appeals .index_checkout-delivery_type .index_checkout-delivery_text {
		width: 70%;
	}
}

@media screen and (max-width: 550px) {
	.index_appeals .index_checkout-delivery_type .form-check-label {
		flex-wrap: wrap;
	}

	.index_appeals .index_checkout-delivery_type .form-check-label .index_checkout-deliveries {
		width: 100%;
		padding-left: 3.5rem;
	}
}

@media screen and (max-width: 500px) {
	.index_appeals .index_checkout-promocode .form-group {
		flex-direction: column;
	}

	.index_appeals .index_appeals-answer-row > div:first-child {
		padding-right: 0;
	}

	.index_appeals .index_checkout-promocode .form-group button {
		margin-top: 1.25rem;
	}

	.index_appeals .index_checkout-total {
		flex-direction: column;
	}

	.index_appeals .index_checkout-table_total .index_checkout-total .form-group.row {
		margin-left: 0;
	}
}