.catalog_content__canvas_img {
  width: 100%; }

#loadMore,
.catalog_content__category_block_img {
  margin-bottom: 2rem; }

#loadMore {
  display: none; }

.catalog_content__category {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px; }

.catalog_content__category_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
/*  border: 1px solid #ebedee;*/
  margin-top: -1px;
  margin-left: -1px;
/*  padding: 1rem;*/
  line-height:30px;
  text-align: left;
  width: 100%; }
  .catalog_content__category_item:hover {
/*    -webkit-box-shadow: 0 5px 9.7px 0.3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 9.7px 0.3px rgba(0, 0, 0, 0.15);*/ }

.catalog_content__category_block_img {
  height: 110px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.catalog_content__category_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

#loadMore {
  cursor: pointer;
  text-align: center;
  color: #949393; }
  #loadMore .icon-nav_button {
    display: inline; }
  #loadMore .icon-nav_button::before {
    top: -1px;
    position: relative; }

.catalog_content__category_comment {
  margin-bottom: 2rem; }
  .catalog_content__category_comment img {
    max-width: 100%;
    max-height: 100%; }

/* ___________ end catalog filter __________________ */
.catalog_content__sort_horizon_view_card {
  float: right; }
  .catalog_content__sort_horizon_view_card .sort_horizon_view_card {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
    margin: 0 0.5rem; }
  .catalog_content__sort_horizon_view_card .sort_horizon_view_card.active {
    opacity: 1; }

/* ___________ end catalog filter __________________ */
/* ___________ catalog pagination __________________ */
.show_more_block {
  position: relative;
  border: 1px solid var(--main-color);
  text-align: center;
  padding: 1rem 0;
  color: var(--main-color);
  cursor: pointer;
  margin-bottom: 2.5rem; }
  .show_more_block .icon-nav_button {
    display: inline-block;
    position: relative;
    top: -1px; }
  .show_more_block:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: #fff; }
    .show_more_block:hover.btnLoaderCustom > .loader-btn {
      fill: #fff; }
  .show_more_block:hover .sk-wave .sk-rect {
    color: #fff;
    background-color: #fff; }
  .show_more_block.btnLoaderCustom > .loader-btn {
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    fill: var(--main-color); }

.show_more_block.fonts__main_comment.loaderBtns {
  color: transparent; }
  .show_more_block.fonts__main_comment.loaderBtns i {
    color: transparent; }
  .show_more_block.fonts__main_comment.loaderBtns .sk-wave {
    display: block; }

.block_page_navigation {
  text-align: center;
  margin-bottom: 2.5rem; }
  .block_page_navigation > span, .block_page_navigation > a {
    padding: 0.3rem 0.7rem;
    margin: 0 0.5rem; }

.block_page_current {
  border: 1px solid var(--main-color); }

/* ___________ end catalog pagination __________________ */
/* ___________ catalog_section __________________ */
.catalog_section_block {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px; }
  .catalog_section_block.catalog_section_block_bestsellers {
    padding: 0 0 32px; }

.block__product_cards .product_card__block_item,
.block__product_cards.block__product_cards--mobile-min .product_card__block_item {
}

.block__product_cards .product_card__block_item-4,
.block__product_cards.block__product_cards--mobile-min .product_card__block_item-4 {/

    box-sizing: border-box;
    border-radius: 20px !important;
    text-decoration: none;
    margin: 0 1% 1% 1%;

  margin-bottom: 10px; 
  width: 30.33%; }

.block__product_cards .product_card__block_item-5,
.block__product_cards.block__product_cards--mobile-min .product_card__block_item-5 {
  width: 20%; }

.block__product_cards .product_card__block_item-3,
.block__product_cards.block__product_cards--mobile-min .product_card__block_item-3 {
  width: calc(100% / 3); }

.block__product_cards .product_card__block_item.product_card__block_item--column,
.block__product_cards.block__product_cards--mobile-min .product_card__block_item.product_card__block_item--column {
  width: 100%; }

.catalog_content__category_img_title {
  font-size: 0.9rem; }

.product_card__block_item > div {
  height: 100%; }

.tabs_block__product_card,
.block__product_cards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  .tabs_block__product_card .product_card__inner,
  .block__product_cards .product_card__inner {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    width: auto;
    margin-left: -1px; }
  .tabs_block__product_card .product_card__inner.product_card__inner--row,
  .block__product_cards .product_card__inner.product_card__inner--row {
    width: 100%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
        border-radius:20px;
         }

.block__product_cards {
  margin-bottom: 37px; }

/* ___________ end catalog_section __________________ */
/* ------------catalog_section_page----------*/
.catalog_section_page {
  border-top: 1px solid #eeeeee;
  padding: 2rem 0 3rem 0;
  position: relative; }
  .catalog_section_page .popular_category_block_variant__canvas {
    margin-bottom: 3rem; }
  .catalog_section_page .catalog_content__sort_horizon_view_card {
    position: absolute;
    top: -2.5rem;
    right: 0; }

/* ------------end catalog_section_page----------*/
.catalog-wrapper {
  padding-left: 15px;
  padding-right: 15px; }

.catalog_section_block_bestsellers .product_card__block_item {
  width: 100%; }

.block__product_cards.block__product_cards--row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.product_card__block_item.product_card__block_item--row {
  width: 100%;
  margin-bottom: -1px; }

@media (max-width: 1300px) {
  .catalog_content__category_item {
    padding: 1rem; } }

@media (max-width: 1200px) {
  div.block__product_cards .product_card__block_item {
    width: 25%; }
  div.block__product_cards .product_card__block_item.product_card__block_item--row {
    width: 100%; }
  div.block__product_cards .product_card__block_item {
    width: 33.33%; } }

@media (max-width: 992px) {
  div.block__product_cards
.product_card__block_item {
    width: calc(100% / 3); }
  div.block__product_cards
.product_card__block_item.product_card__block_item--row {
    width: 100%; }
  .catalog_content__category_item {
    padding: 1.5rem; }
  #loadMore,
  .catalog_content__category,
  .catalog_content__category_block_img {
    margin-bottom: 1rem; } }

@media (max-width: 768px) {
  .catalog_section_block {
    padding-left: 15px;
    padding-right: 15px; }
  .catalog_content__category_item {
    width: 50%; }
  div.catalog_section_block .product_card__block_item,
  div.block__product_cards-section .product_card__block_item {
    width: 50%; }
  div.catalog_section_block .product_card__block_item.product_card__block_item--row,
  div.block__product_cards-section .product_card__block_item.product_card__block_item--row {
    width: 100%; }
  .rating-block-title {
    display: none; }
  .product-detail-info-block-comment {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem; }
  .product-detail-info-block-title {
    text-align: center; }
  .product-detail-photo-block .sticker_product,
  .product-detail-photo-block .product_card__block_icon {
    top: 1rem; }
  .product-detail-price-and-cheaper {
    background: #f7f7f7;
    text-align: center;
    padding: 2rem 1rem 0 1rem; }
    .product-detail-price-and-cheaper .product-detail-title-price {
      display: inline-block; }
    .product-detail-price-and-cheaper .product_card__block__new_price_product {
      padding-right: 0;
      padding-bottom: 0; }
    .product-detail-price-and-cheaper .product_card__block__old_price_product {
      display: block;
      font-size: 0.8rem;
      margin: 0.3rem 0 0.5rem 0; }
    .product-detail-price-and-cheaper .product-detail-info-block-price {
      padding-bottom: 1rem; }
  .product-detail-info-block-brand {
    padding: 2.5rem 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #ededed; }
    .product-detail-info-block-brand .product-detail-info-block-brand-link {
      margin-bottom: 0; }
  .product-detail-info-block-main-property {
    text-align: center; }
  .product-detail-info-block .block-property-text-item {
    opacity: 0.5; }
  .product-detail-info-block .block-property-color-item.active,
  .product-detail-info-block .block-property-text-item.active {
    opacity: 1; }
  .product-detail-info-block .product-detail-info-block-size {
    display: none; }
  .product-detail-info-block .product-detail-info-block-basket {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 555;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-bottom: 0; }
    .product-detail-info-block .product-detail-info-block-basket .main_btn {
      width: 50%;
      padding: 0.8rem 0.8rem; }
    .product-detail-info-block .product-detail-info-block-basket .detail-basket-wrapper {
      width: 50%; }
    .product-detail-info-block .product-detail-info-block-basket .product_card__block_buy_quantity {
      width: 50%;
      margin-left: 0; }
      .product-detail-info-block .product-detail-info-block-basket .product_card__block_buy_quantity .product_card__block_buy_quantity__input,
      .product-detail-info-block .product-detail-info-block-basket .product_card__block_buy_quantity .product_card__block_buy_quantity__minus,
      .product-detail-info-block .product-detail-info-block-basket .product_card__block_buy_quantity .product_card__block_buy_quantity__plus {
        width: 33.33%;
        height: 100%;
        line-height: 3.2rem; }
  .product-detail-info-block .product-detail-info-block-one-click-basket .one_click_btn {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.8rem 0.5rem; }
  .product-detail-info-block .block-advantages-title {
    text-align: center;
    font-size: 1.5rem; }
  .product-detail-info-block .product-detail-info-block-advantages-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem; }
  .product-detail-info-block .product-detail-info-block-advantages-item img {
    max-width: 50px;
    margin-right: 0;
    margin-bottom: 1rem; }
  .product-detail-info-block .product-detail-info-block-advantages {
    border-bottom: 1px solid #ededed; }
  .product-detail-info-block-basic-property,
  .product-detail-share-block-comment {
    display: none; }
  .product-detail-share-block-button {
    margin-right: 0;
    width: 100%;
    text-align: center;
    padding: 0.8rem 1.5rem; }
  .product-detail-info-block-one-click-basket {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ededed; }
  .product_card__block_item {
    width: 100%; }
  .detail-product-advice.owl-carousel .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #ededed;
    border-radius: 50px;
    margin-right: 1.333rem; }
  .detail-product-advice.owl-carousel .owl-dot.active span {
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    border-radius: 50px;
    margin-right: 1.333rem; }
  .detail-product-advice.owl-carousel .owl-dots {
    display: block;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 2rem; }
  .tabs_block__product_card {
    padding-right: 0; }
  .detail-product-advice.owl-carousel .product_card__block {
    padding: 2rem 0; }
  .product_set_item::before {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-top: auto;
    margin-bottom: -27px;
    margin-right: -27px; }
  .product_set_item .d24 {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-top: auto;
    margin-bottom: -13px;
    margin-right: -2px; }
  .product_set_comment {
    padding-bottom: 2rem; }
  .puzzle_block .detail_product {
    border-bottom: 1px solid #ededed;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem; }
  .product_set_comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .product_set_comment__price {
    padding-right: 0;
    padding-bottom: 1rem; }
  .product-detail-info-block .product-detail-info-block-basket .main_btn {
    width: 100%;
    height: 100%;
    padding: 0.8rem 0.8rem; }
  .product-detail-info-block .product-detail-info-block-basket .product_card__block_buy_quantity {
    width: 50%;
    margin-left: 0; }
  div.block__product_cards .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min {
    width: 50%; }
  div.block__product_cards .product_card__block_item.product_card__block_item--row {
    width: 100%; }
  div.block__product_cards .product_card__block_item {
    width: 50%;
    height: auto; }
  .catalog_content__sort_horizon_btn-block {
    display: none; }
  .catalog_content__category_item {
    width: calc(50% + 1px); }
  .block_page_previous,
  .block_page_next {
    display: none; }
  .catalog_section_block {
    padding-left: 15px;
    padding-right: 0;
    margin-bottom: 40px; }
  .block__product_cards.block__product_cards--mobile-min .product_card__block_item {
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
    margin-bottom: 10px; }
    .block__product_cards.block__product_cards--mobile-min .product_card__block_item:nth-child(3n) {
      margin-right: 0; }
  .block__product_cards.block__product_cards--mobile-min .product_card__block_item-4 {
    width: calc((93% - 20px) / 3); }
  .block__product_cards.block__product_cards--mobile-min .product_card__block_item-5 {
    width: calc((100% - 20px) / 3); }
  .block__product_cards.block__product_cards--mobile-min .product_card__block_item-3 {
    width: calc((100% - 20px) / 3); } }

/*@media (max-width: 576px) {
  div.block__product_cards .product_card__block_item {
    width: 100%;
    height: 100%; }
  .catalog-wrapper {
    padding-left: 15px;
    padding-right: 15px; }
    .catalog-wrapper .block_main_left_menu__content.no-padding {
      padding: 0 !important; }
  div.catalog_section_block .product_card__block_item,
  div.block__product_cards-section .product_card__block_item {
    width: 100%; }
  .catalog_content__category_item {
    width: 100%; }
  .product_card__block__article {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .block_page_navigation > span,
  .block_page_navigation > a {
    padding: 0.3rem 0.7rem;
    margin: 0 0.3rem; } 

  .block__product_cards.block__product_cards--mobile-min .product_card__block_item-4 {
    width: 100%; }

  }*/

/*@media (max-width: 576px) {
  div.block__product_cards .product_card__block_item.product_card__block_item--row.product_card__block_item--row-min {
    width: 100%; } 

  .block__product_cards.block__product_cards--mobile-min .product_card__block_item-4 {
    width: 100%; }
  }*/

@media (max-width: 576px) {
  .catalog_content__category_block_img {
    height: 85px;
    margin-bottom: 7px; } 

  .block__product_cards.block__product_cards--mobile-min .product_card__block_item-4 {
    width: 48%; 
    margin-right:0;}
  
  .product_card__inner .product-card-inner__img-wrapper .product-card-inner__img-link > img {
/*    object-fit: cover !important;
    height:250px !important;*/
    border-radius: 10px;
    max-width: 168px;
  }

  .product_card__inner.product_card__inner--two.product_card__inner--two-min .product-card-inner__img-link {
    border:none;
  }

   .hover-zoom:hover img {
      transform: none !important;
   } 

   .product-card-inner__img-wrapper {
    height:auto !important;
    margin-bottom: 0;

   }

   .product_card__inner.product_card__inner--two:hover {
    box-shadow: none !important;
   }

   .price_max {
/*     display:none;*/
   }

  }

.product_card__inner {
  border-radius: 20px;
  border-color: unset;
  background-color: #fff;
/*  height:auto !important;*/
}
.product_card__inner-wrapper {
  background-color: transparent !important;
}

   .price_min {
      color:#007bff;
      font-weight:800;
   }

.text_w .name {

    text-decoration: none;
/*    text-overflow: ellipsis;*/
    width:100%;
/*    display: block;*/
    margin-bottom: 3px;
/*    text-overflow: ellipsis;*/
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    height: 38px;
    color: #000;

    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


@media (max-width: 576px) {
.text_w .name. {
    white-space: normal;
}
}