@media (max-width:1240px){
		
.forsuppliers2 {margin-bottom:77px;}
.forsuppliers2 .img_wrap {flex:0 0 48.05%}
.forsuppliers2 .img_wrap img {width:100%}


#htop {padding:20px 0;position:relative}


#topmenu {width:calc(100% - 133px - 6px - 233px - 47px - 14px - 21px) /* 100% - ш.телефона - отступ - ш.кнопки wa */;}
#topmenu ul {display:block;height:30px;line-height:30px;overflow-y:hidden}
#topmenu li {white-space:nowrap;float:left;}
.moremenu_wrap {float:left;margin:0 14px 0 21px;position:absolute;left:0;top:20px;display:none;}
#topmenu_toggle {display:block;border:0 !important;line-height:30px;margin:0 !important; }
#topmenu_toggle a {padding-right:22px;font-size:12px;position:relative;line-height:30px;height:30px;display:block;vertical-align:middle}
#topmenu_toggle a:before{position:absolute;content:'';right:0;top:12px;width:0;height:0;border-style:solid;border-width:7px 4px 0 5px;border-color:#FF5722 transparent transparent transparent;}	

.moremenu {position:absolute;display:none;left:0;top:35px;background:#fff;border-radius:20px; box-shadow:2px 2px 6px rgba(0, 0, 0, 0.25);z-index:300;}
.moremenu li {padding:0 26px;line-height:45px;font-size:12px;white-space:nowrap;border-top:1px solid #F2F2F2;}
.moremenu li:first-child {border-top:0}
.moremenu li  a {text-decoration:none}
}

@media (max-width:1100px){
.mychbx label:hover:before {background-color:#fff;border-color:#e0e0e0}
.mychbx label.active:before {border-color:#16213E;background:#16213E url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABqSURBVHgBlZGBCYAwDASDEzhC3KAjOEI3sJvUzTqKIzhCfDBKCFpj4GghvSclRMESkRE0sAxRAUcDM5giAoNNzlp90i+haoOdkIxQfFrRxi2qsCuZXsbI5lE190QfH77S5Wncnsi6i65wAJIjmWsT3nnMAAAAAElFTkSuQmCC') 50% 50% no-repeat}

.cart_wrap .mychbx label:hover:before {border-color:#16213E}

.page {padding:0 24px}
	
	
#header {margin-bottom:30px;}
#hmid .logo, #footer .logo {width:17.5%;margin-right:15px}
#hmid .logo img, #footer .logo img {width:100%}



#htop .btn_thin {margin-right:6px;}
#hmid {padding:15px 0}

h1 {font-size:26px;line-height:31px;}
h2, .h2 {font-size:20px;line-height:24px;}
p.h3, h3 {font-size:18px;line-height:22px;}

.welcome {margin-bottom:45px;margin-top:25px;padding-top:51px;padding-bottom:0;min-height:202px;}
.welcome  h1 {max-width:325px; margin:0 0 15px 0 ;}
.welcome .txt  {margin-bottom:24px;}
.welcome .btn {margin-right:10px;}
.welcome img {right:77px;}
.page_pay .welcome img {position:relative;float:right;right:0;top:0;margin-top:-51px;max-width:39%}
.welcome.index {padding-top:60px}
.homepage .welcome {margin-top:34px;padding-top:55px;padding-left:0 }
.homepage .welcome img {position:relative;float:right;right:0;top:0;margin-top:-21px;max-width:39%}
.homepage .welcome .txt {max-width:351px;}

.btn_getmark svg, .btn_photo svg  {left:10%;}
.mainmenu > .btn {margin-left:15px;white-space:nowrap;padding:0 10px 0 31px;}
.mainmenu > .btn span, .btn_login span {display:none;}
	
.suppliers_features {flex-wrap:wrap;padding:18px 10.55% 6px 0;margin-bottom:45px}
.suppliers_features img {width:65px;height:auto}
.suppliers_features p {flex:0 0 calc(50% - 10.55%);margin-bottom:20px;margin-left:10.55%;font-size:14px;line-height:21px;}
	
.suppliers_features img {margin-right:15px;} 

.forsuppliers2 {margin-bottom:45px;}
.forsuppliers2 .text_wrap {margin-left:15px;font-size:14px;line-height:21px;}
.forsuppliers2 h2, .forsuppliers2 .text_wrap .h2 { margin-bottom:16px;}
.forsuppliers2.ltr .text_wrap {margin-right:30px}
	
.suppliers_steps {padding:48px 8.88% 66px 8.88%;margin-bottom:68px}
.suppliers_steps h2,  .suppliers_steps .h2 { max-width:243px;margin:0 0  35px 0;}
	
.suppliers_steps .row div p {padding:26px  20.9% 26px 12.19%;min-height:90px;align-self:center;font-size:12px;line-height:18px;}
.suppliers_steps .row div p {display:flex;align-items:center}
.suppliers_steps .row div {background-size:auto 100% !important}
.suppliers_steps .row  span {max-width:220px}



.suppliers_wedo {margin-bottom:-60px}
.suppliers_wedo div {font-size:12px;line-height:18px;margin-left:4.2%;width:21.83%;margin-bottom:60px }
.suppliers_wedo div:nth-child(4n) {width:20%}
.suppliers_wedo div span  {line-height:45px;height:45px;}
.suppliers_wedo div span img {max-height:45px;width:auto;}

.suppliers_wedo div:first-child, .suppliers_wedo div:last-child {width:23%}

.suppliers_wedo_short {margin-bottom:-0px;}
.suppliers_wedo_short .h2, .suppliers_wedo_short h2 {max-width:240px;margin-bottom:40px;}
.suppliers_wedo_short .suppliers_wedo {text-align:center;display:flex;justify-content:space-between;}
.suppliers_wedo_short .suppliers_wedo div {font-size:14px;line-height:21px;width:27%;}
.suppliers_wedo_short .suppliers_wedo div span {margin-bottom:20px;}
.suppliers_wedo_short .suppliers_wedo div span img  {max-height:59px;}
.suppliers_wedo_short .suppliers_wedo div:nth-child(3) {display:none;}



.payby .row {margin-bottom:45px}
.pay_steps .item { font-size:12px;line-height:18px;padding:5px 10px 0 58px;width:calc(50% - 68px);margin-bottom:25px;min-height:39px;}
.pay_steps .item .num {width:39px;height:39px;line-height:39px;font-size:12px;background-position:0 -65px }
.pay_steps.sber .num{ }
.pay_steps.alfa .num{background-position:-39px -65px;}
.pay_steps.tf .num{background-position:-78px -65px;}
.pay_steps.firms .num{background-position:-117px -65px;}

.payby .aftertitle {font-size:12px;line-height:18px; margin-bottom: 40px; max-width: 378px}
.payby .col .aftertitle {margin-bottom: 16px;padding-top: 5px;}

.colorform {background-size:auto 100%;margin-bottom:5px;}
.colorform_in {background-size:auto 55%;padding:56px 8.33% 63px 8.33%;height:auto;}
.colorform .ttl {font-size:20px;line-height:24px;margin-bottom:12px;}
.colorform .txt {font-size:14px;line-height:21px;max-width:379px;}

.colorform form input.text {margin-right:12px;border-radius:15px;height:40px;padding:0 18px;font-size:12px;}
.colorform form .btn {height:40px;padding:0 25px;font-size:12px;line-height:13px;border-radius:15px;}

#footer {margin-top:45px;padding-top:25px}


.f_social {margin-bottom:25px}
#footer .row {margin-bottom:35px}
#footer .col {width:34.3%;float:left;margin-left:20px; }
#footer .logo {margin-bottom:25px}

#footer .col.botmenu_col {width:60.4%;margin-left:5.27%; }
#footer .col.double {clear:both;margin-left:0;width:auto;}
#footer .fcontacts {font-size:12px;line-height:18px;margin-bottom:-23px}
#footer .fcontacts p {padding-left:31px;margin-bottom:23px;}
#footer .fcontacts p.phone svg {width:16px;height:16px; top:4px;}
#footer .fcontacts p.address svg {width:13px;height:18px;top:2px;}


.botmenu {position:relative;padding-top:0;}
.botmenu li  {width:33.3%;margin-right:0;font-size:12px;line-height:15px;margin-bottom:31px;}
.botmenu li:nth-child(5) {position:absolute;margin-right:0;top:0;right:0;text-align:right;}
.botmenu li:last-child {position:absolute;top:46px;right:0;text-align:right}

.f_payby {display:none;}

#footer .f_subscr_col.col {position:static;width:387px ;margin-left:5.27%; }
.f_subscr .ttl  {margin-bottom:7px;}

.f_subscr_input, .f_subscr_button {height:33px;}
.f_subscr_button {line-height: 33px; font-size: 12px}
.f_messeng_col {width:100% !important}

.f_about_col {width:100% !important;padding-right:0 !important;margin-bottom:22px;}
.f_about {padding-right:0;margin-bottom:0 !important}

.f_cats {width:50% !important;margin-left:0 !important;margin-bottom:-30px !important}


#cat_slider { margin-bottom:40px;white-space:nowrap;font-size:0;overflow-x:scroll;overflow-y:auto;margin:0 -24px;padding:0 24px}
#cat_slider::-webkit-scrollbar{height:0;width:0}
#cat_slider div {display:inline-block;margin-left:20px}
#cat_slider div:first-child {margin-left:0;}
.cat_slider_wrap a.item {display:flex; width:227px;height:100px;position:relative;margin:0 ; overflow:hidden	}
.cat_slider_wrap .item img {position:absolute;z-index:-1;top:0;border-radius:20px;width:227px;height:auto}
.cat_slider_wrap .item span {font-size:16px;line-height:24px;padding-left:27px;}

.prods_minislider_wr {margin-bottom:63px;}
.prods_minislider_wr span.rest {display:block !important;min-height:42px;}



.catalog_main {width:calc(100% - 200px);}
.catalog .item {width:calc(50% - 20px);}
.catalog .item .text_w {padding:29px 27px 22px 27px;position:relative}
.catalog .item .addToFav {right:27px;top:29px;border-radius:4px;width:24px;height:24px;}
.catalog .item .addToFav svg {width:13px;}

.pagination .lbl {margin-right:15px;font-size:14px;}
.pagination span {font-size:12px;line-height:30px;margin-right:10px;}
.pagination a {height:21px;width:28px;margin-top:0;}
.pagination .current {border-radius:20px;width:60px;height:30px;display:inline-block;line-height:30px;text-align:center}

.catalog .item .name { width:calc(100% - 30px);}

.pagination a {height:30px;width:40px;}
.pagination a.prev:before,.pagination a.next:before{left:14px;top:10px; }
.pagination a.next:before {left:auto;right:14px;}
	
	
.catalog_active_filters {margin: 0 -10px 25px -10px; padding: 0 0 0 10px; white-space: nowrap; overflow-x: scroll; overflow-y: hidden}
.catalog_active_filters::-webkit-scrollbar{height:0;width:0}
.catalog_active_filters a {font-size: 14px; line-height: 28px; padding: 0 33px 0 12px;border-radius: 15px}
.catalog_active_filters a:before {width: 16px; height: 16px; top:calc(50% - 8px);right: 7px}
.catalog_active_filters a:hover {box-shadow:none}


.ctlg_fltrs {width: 183px; margin-top: -3px;}
.ctlg_fltrs .category {font-size:14px;line-height:21px; min-width: 90px;}
.ctlg_fltrs .cat_childs a {font-size:14px;line-height:21px;}

.mychbx label { font-size:14px; }

.cart_wrap .welcome .title {font-size:24px;line-height:30px;}

.cart_prods {float: none; width: auto; margin-bottom: 20px;}

.product_wrap {margin-bottom: 50px}
.prod_pics {width:51.38%; }
.prod_pics .addToFav {top:22px;right:34px;}
.prod_main {width:45.55%; position: relative;}
.prod_main .prod_stickers {margin-bottom: 29px;}
.prod_main .sticker {line-height: 18px; }
.prod_main h1 {font-size: 22px; line-height: 27px; width: 100%; margin-bottom: 13px;} 
.prod_main.nostickers h1 {padding-right: 100px; width: calc(100% - 100px); margin-bottom: 25px}
.prod_codes {margin-bottom: 25px; }
.prod_codes .lbl {display: block}
.prod_prices {margin-bottom: 30px;}
.prod_prices .price {font-size:30px;line-height:36px;}
.prod_prices .sroke {font-size:20px;line-height:36px;}


.prod_pics .img_wrap .nophoto {height: 469px;}
.prod_pics .img_wrap .nophoto img {width: 124px; height: auto}

.followprice {float: left; clear: left; margin-right: 30%; margin-top: 21px;}

.prod_main .ttl {font-size:14px;line-height:19px;}
.prod_colors {margin-bottom: 25px;}

.prod_sizes {margin-bottom: 15px;}
.prod_sizes_l {width: calc(100% - 107px); }
.prod_sizes_r {width: 94px; position: relative; padding-top: 34px;}
.prod_sizes_r a.sizestable {position: absolute; right: 0;top:0; font-size:14px;line-height:19px; white-space: nowrap}

.prod_sizes_r .q_wrap {width:94px;}
.prod_sizes_r .q_wrap .q_less,.prod_sizes_r .q_wrap .q_more {width: 24px}
.prod_sizes_r .q_wrap input {width: 44px}

.prod_main .starssmall_w {position: absolute; right: 0;top:0; margin: 0;}
.prod_main .starssmall_w .lbl {font-size:10px;line-height:12px;margin-bottom:4px;}
.prod_main .starssmall {width:88px; height:15px; }
.prod_main .starssmall:before { background:url(../i/starssmall_m.png) 0 100% repeat-x;height:15px}
.prod_main .starssmall.star1:before {width:8px}.prod_main  .starssmall.star2:before {width:17px}
.prod_main .starssmall.star3:before {width:27px}.prod_main  .starssmall.star4:before {width:36px}
.prod_main .starssmall.star5:before {width:46px}.prod_main  .starssmall.star6:before {width:54px}
.prod_main .starssmall.star7:before {width:63px}.prod_main  .starssmall.star8:before {width:71px}
.prod_main .starssmall.star9:before {width:80px}.prod_main  .starssmall.star10:before {width:88px}


.prod_btns {margin-bottom: 25px}
.prod_btns a {display: block; float: none; width: auto !important;}
.prod_btns a.like {margin: 0 0 15px 0;}
.prod_btns .like .astar {right: 13%; position: absolute; }
.prod_btns .tocart {position: relative}
.prod_btns .tocart svg {position: absolute; right: 12% }
.prod_btns .tocart span {padding-left:0%;}


.prod_main .specs, .prod_main .description {font-size:12px;line-height:18px;}
.prod_main .specs dt:before {bottom: 24px;}



.lk_sect {margin-bottom: 0px;}
.lk_sect .ttl {font-size:16px;line-height:24px;margin-bottom: 17px;}
.lk_sect .item, .lk_request{width: calc(50% - 20px); margin-bottom: 20px;  padding: 25px 5% ; position: relative; font-size:14px;line-height:21px;}
.lk_request {margin: 0; width: calc(66.66% - 10px); }
.lk_sect .item.lk_sect_del a, .lk_sect .item.lk_sect_orders a {font-size:12px;line-height:18px;}

.lk_sect .lk_sect_del {order:1}
.lk_sect .lk_sect_orders {order:2}
.lk_sect .lk_sect_prsn {order:4}
.lk_sect .lk_sect_addr {order:3}
.lk_sect .lk_sect_rekv {order:5}
.lk_sect .lk_sect_dtl {order:6}

.lk_sect .prsn_ava .img img {width: 76px; height: 76px;}
.lk_sect .prsn_info .name {font-size:16px;line-height:24px;}
.lk_sect .prsn_info {margin-right: -10px;}

.lk_sect .edit {top:25px; right: 24px; width: 18px; height: 18px; background-size: 18px 18px; }
.lk_sect .edit svg{ width: 18px !important; height: 18px !important; }

.lk_sect .prsn_ava {margin-bottom: -5px}
.lk_sect .prsn_ava .img {margin-bottom: 7px;  }
.lk_sect_addr .the_addr, .lk_sect_addr .addr_edit  {padding-bottom: 0px;}
.lk_sect_addr .addr_edit .text_input {font-size:14px;line-height:18px;}
.lk_sect_dtl .cats {margin-right: -20px;}
.lk_request {width: 100%}
.lk_request .col .info {font-size:14px;line-height:18px;}
.lk_request small  {font-size:10px;line-height:13px;}

.lk_request .btn {width: 170px; height: 41px; border-radius: 16px;}

.lk_personal {margin-top: 35px}
.lk_request_photos .place {width: 38px;height: 38px; }
.lk_request_photos .place img {width: 38px;height: 38px;}
.lk_personal .cols {width: calc(100% - 100px - 47px); flex-wrap: wrap}
.lk_personal .cols .col {width: calc(50% - 10px) !important; position: relative; flex-grow: 0; margin-left: 10px; margin-bottom: 30px;}
.lk_personal .cols .col:last-child {max-width: none}
.lk_personal .cols .col:nth-child(2n+1) {margin-left: 0}
.lk_personal .btn {width: 100%}


.lk_form .text_input  {font-size: 14px;}
.lk_form .clean { display: block; border: 0; position:absolute;content:'';right:24px;bottom:14px;width:24px;height:24px; background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAZElEQVR42mPgerI8/j8DKlwVw/eEYVkyw/9lYcjCy8IY/i9NhTKWw6WWh0EUIjjhYNXhMEVI2g9ZHbJCGAs3+ZgxiDpmDOMTksBhFA7LcTgX5BVMDy5LZuB7sioGPUiWx3M9AQACl48bNLMIMwAAAABJRU5ErkJggg==') 50% 50% no-repeat}


.lk_rekvizit {position: relative;margin-top: 35px}
.lk_rekvizit .cols {display: block;margin-bottom: 0}
.lk_rekvizit .cols .col {float: left; margin-bottom: 25px; margin-left: 3.05%}
.lk_rekvizit .lk_rek_cmp {width: 45.97%}
.lk_rekvizit .lk_rek_inn {width: calc(25.77% - 3.05%)}
.lk_rekvizit .lk_rek_kpp {width: calc(28.22% - 3.05%)}
.lk_rekvizit .col.lk_rek_rs  {width: 36.86%;margin-left: 0 !important }
.lk_rekvizit .lk_rek_bik {width: calc(25.8% - 3.05%)}
.lk_rekvizit .text_input {padding-left: 25px;padding-right: 25px;}

.lk_rekvizit .btn {position: absolute; right: 0;bottom: 25px;}
.lk_rekvizit .clean {right: 19px;}


.lk_orders {margin-top: 30px;}
.lk_orders_in .row {padding: 30px 0 40px 0;}
.lk_orders_in .col p { font-size:14px;line-height:21px;}



.lk_orders_in  {margin-bottom: 28px;}
.lk_orders_in .col.lk_o_num {width:calc(23% - 10px);}
.lk_orders_in .col.lk_o_sta {width:calc(28% - 10px);}
.lk_orders_in .col.lk_o_kol {width:calc(18% - 10px);}
.lk_orders_in .col.lk_o_dos {width:31%; padding-right: 0; margin-bottom: 30px;}

.lk_orders_in .col.lk_o_ito  {width:33.33%;padding-right: 0; margin-left: 51%;padding-top: 10px; }
.lk_orders_in .col.lk_o_ito p {display: inline-block; }
.lk_orders_in .col.lk_o_ito p.lbl {position: relative;margin-right: 3px;}
.lk_orders_in .col.lk_o_ito p.lbl:after{display: inline-block; content: ":";}


.lk_biznes {margin-top: 35px}
.lk_biznes_choose {float: left; width: 267px;position: relative}
.lk_biznes_rest {float: right; width:calc(100% - 267px - 14px)}

.lk_biznes .my_groups {display: flex; padding: 11px 22px 11px 33px ; flex-wrap: wrap; justify-content: space-between}

.lk_biznes .my_groups .addgroup:hover {box-shadow:none}



}
@media (max-width:960px){
#hmid .logo, #footer .logo {margin-right:5px}
#hmid .logo, #footer .logo, #hmid .logo img, #footer .logo img  {width:126px !important;}

.btn_login {padding:0 18px 0 40px}
.btn_login svg  {left:14px}

#footer .f_subscr_col.col  {float:right;margin-left:0}

.btn_special_offers {margin-left:10px;padding:0 23px 0 51px}
.btn_special_offers svg {left:19px}

.tsearch_input {padding:0 60px 0 20px;}


.welcome img  {width:40.27%;height:auto}
.welcome img {right:0;}

.catalog_cats_list {white-space:nowrap;overflow-x:scroll;overflow-y:hidden;margin:1px -24px 0 -24px;padding:30px 17px 44px 17px;}
.catalog_cats_list a {margin-bottom:0;}

.catalog_cats_list::-webkit-scrollbar{height:0;width:0}

.catalog_sort{font-size:14px;line-height:17px;}
.catalog {margin-left:-5px;margin-right:-5px;}
.catalog .item {width:calc(50% - 10px);margin:0 5px 10px 5px }
.catalog .item .name {font-size:14px;line-height:17px;height:17px;margin-bottom:2px;}
.catalog .item .cat {font-size:12px;line-height:14px;margin-bottom:10px;}
.catalog .item .price_lbl {font-size:10px;line-height:12px;}
.catalog .item .stroke {font-size:10px;line-height:11px;left:115px;padding-top:7px;}
.catalog .item .price_max {font-size:10px;line-height:13px; }
.catalog .item .price_min i {font-size:10px; }
.catalog .item .rest {font-size:10px;line-height:12px;}
.catalog .item .rest .store_count {font-size:12px ;width:32px;line-height:17px;}
.catalog .item .rest .readon {font-size:12px ;line-height:31px;height:31px;}
.catalog .item .rest  .store{margin-bottom:5px;}

.catalog .item .readon:before{left:calc(50% - 52px);top:5px;width:18px;height:18px;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAABI0lEQVR4AX3BPUgUAAAG0A8KC0yRCMNFKHEIh4bSCFx0chJqFgXRKYQg5yIKB2mJaDxokSgcpBYxh0ow/5EwqItEEFxuiKAg0HhxSJ2U53upcNZ9M5Ysm/VIa/7ngZIFDw0ZMG7eD88dS4UTPinqzgE6bNhxJn8o+phDeOar4ylz189U4YvJJOrQnio0oSVuKuYI3ijErEKixqALSaLH9STRbEh94pb1eGck8RS7anUq60/s4G2iy4eYN5x4peyUbmWjiT1sJ656H689TjQa05skRtxWk7hiTFvihtW4YyFH8NJENOF8qnDSL5eTeGIzVZi2mH2+KeQQ7uF09mlUsuJcDtBgEh2pUGvOd1P6XXJRnwklq1ryL51eWPPZlg3TruWv3x+55qEl6GShAAAAAElFTkSuQmCC') 0 0 no-repeat} 

.catalog .item .discount {top:28px;right:17px;width:44px;line-height:18px;font-size:12px;}

.catalog_sort a {margin-left:30px} .catalog_sort .lbl {margin-right:30px;}
.catalog_sort a.up:before{bottom:4px;border-width:0 5.5px 8px 5.5px;bottom:3px;}
.catalog_sort a.down:before{border-width:8px 5.5px 0 5.5px;bottom:3px;}

.show_catalog  {padding:0 18px 0 33px !important}
.show_catalog svg {width:12px;height:10px;left:13px;top:17px;}
.btn_status svg  {width:13px;height:13px;left:13px;top:16px;}
.btn_request svg {width:16px;height:18px;left:10px;top:13px;}
.btn_getmark, .btn_photo  {padding-left:43px !important;}
.btn_getmark svg {width:16px;height:12px;left:18px;top:17px}
.btn_photo svg {width:16px;height:13px;top:16px;left:18px;}

.colorform form input.text {font-size:10px;height:30px;border-radius:12px;}
.colorform form .btn {font-size:10px;height:30px;border-radius:12px;}
	
	
.solve {margin-bottom:80px}

.suppliers_how {margin-bottom:70px;}
.suppliers_how h2 {font-size:20px;line-height:24px;margin-bottom:52px}
.suppliers_how .item p {margin:0}
.suppliers_how .item {font-size:14px;line-height:21px;margin-bottom:82px}
.suppliers_how .row1 .item:first-child { width:216px;}
.suppliers_how .row1 .item:last-child { width:209px;}
.suppliers_how .row2 {margin:0 5%}
.suppliers_how .row2 .itemwrap:first-child .item {width:250px;}
.suppliers_how .row2 .itemwrap:last-child .item {width:222px}

.suppliers_how .item img {width:90px;height:auto;margin-bottom:10px}

.solve {margin-bottom:50px;padding-top:87px;height:225px;background-size:auto 100%  }
.solve h2 {font-size:20px;line-height:24px;max-width:467px;margin-bottom:3px}
.solve .txt {max-width:390px;font-size:14px;line-height:21px;}



.main_cats .item {margin-bottom:25px;}
.main_cats .item .pic {margin-bottom:15px}
.main_cats .item img {width:350px;top:0;right:0;left:auto;}
.main_cats .item .lbl {left:40px;top:auto; bottom: 28px; border-radius: 15px; font-size:16px;line-height:22px;font-weight:600;}
.main_cats .item .sub {font-size:14px;line-height:21px;}
.main_cats .item .sub a {margin:0 10px 15px 10px;}

.prods_minislider_wr {margin-bottom:50px;}
.prods_mini_slider { margin:0 -24px;display:block;padding:0 4px  0 24px !important; overflow-x:scroll;overflow-y:auto;white-space:nowrap;}
.prods_mini_slider::-webkit-scrollbar{height:0;width:0}
.prods_mini_slider div {margin:0 20px 0 0;display:inline-block;vertical-align:top} 
.prods_minislider_wr span.rest {position:static}
.prods_mini_slider div .item {position:relative;height:100%;margin:0;}
.prods_minislider_wr .readon  {width:calc(100% + 2px);left:-1px;}

.prods_minislider_wr h2{margin-bottom: 26px;font-size:18px;line-height:22px;}
.prods_minislider_wr .item .addToFav {display:flex;}

.starssmall_w {position:absolute;margin:0 0 0 70%}
.starssmall_w .lbl {font-size:10px;line-height:12px;margin-bottom:4px;}
.starssmall {width:88px; height:15px; }
.starssmall:before { background:url(../i/starssmall_m.png) 0 100% repeat-x;height:15px}
.starssmall.star1:before {width:8px}.starssmall.star2:before {width:17px}
.starssmall.star3:before {width:27px}.starssmall.star4:before {width:36px}
.starssmall.star5:before {width:46px}.starssmall.star6:before {width:54px}
.starssmall.star7:before {width:63px}.starssmall.star8:before {width:71px}
.starssmall.star9:before {width:80px}.starssmall.star10:before {width:88px}

.cart_wrap .welcome .title {font-size:14px;line-height:21px; margin-bottom: 18px;}
.cart_wrap .welcome .txt {font-size:12px;line-height:18px; max-width: 333px;margin-bottom: 23px; min-height: 0}



.cart_info { float: right; width:auto; display: flex;  }
.cart_total {padding: 47px 15px 37px 15px; width: calc(35.33% - 30px); min-width: 196px;}
.cart_total .info {font-size:10px !important;line-height:15px; margin-bottom: 30px;}
.cart_total dl { padding-top: 11px; padding-bottom: 6px; }
.cart_total dt, .cart_total dd {font-size:12px;line-height:18px; padding-bottom: 9px;}
.cart_total dl.total {margin-bottom: -16px}
.cart_total dl.total dt, .cart_total dl.total dd{font-size: 14px;}
.cart_method .lbl {font-size:10px;line-height:15px;margin-bottom:5px;}
.cart_method .rekviziti {font-size:10px;line-height:18px;margin-bottom: 0px;}
.cart_total .info.bill {  margin-left: -2px; margin-right: -2px;}

.cart_total a.btn { height: 30px;line-height: 30px; margin-bottom: 4px; font-size: 12px; border-radius: 14px }
.cart_prods {padding-right: 41px;}
.cart_prods .item {padding: 30px 65px 30px 45px; display: flex; position: relative; width: calc(100% - 110px); justify-content:space-between; }
.cart_prods .item:before{left:45px;width:calc(100% - 45px - 54px);}


.cart_total .info.pay {  color: #828282; }
.cart_info .border  {border-radius: 10px;}
.cart_method {margin-bottom: 0; margin-right: 20px; width: 32.33%; position: relative; padding: 27px 18px 80px 18px}
.cart_method img {position: absolute; margin-top:-2px;}
.cart_method .edit {position: absolute; bottom: 39px; width: calc(100% - 36px); font-size: 12px; border-radius: 10px; height: 30px; line-height: 30px;  }
.cart_method .ttl {font-size:12px;line-height:18px; margin-bottom: 24px;}
.cart_method .ttl2 {font-size:12px;line-height:18px; margin-bottom: 6px;}

.ico_cart_delivery {width: 26px; height: 20px;}
.ico_cart_bill {width: 20px; height: 24px;}
.ico_cart_cash {width: 28px; height: 22px;}
.ico_cart_card {width: 24px;}
.cart_method .address, .cart_method .name {font-size:12px;line-height:18px;}
.cart_method .ttl2, .cart_method .address, .cart_method .name, .cart_method .rekviziti, .cart_method .lbl {padding-left: 38px;}

.cart_method .ico_cart_bill + .ttl2 {max-width: 85px}

.cart_wrap .mychbx label:before {top:-1px;width: 16px; height: 16px;}
.cart_wrap .mychbx label, .cart_control a.delete { font-size:12px;line-height:18px; }

.cart_prods .img {width: 112px;}
.cart_prods .picname img {max-width: 87px; max-height: 129px; width: auto; height: auto}
.cart_prods .name {font-size:12px; line-height:15px; padding-top: 0}
.cart_prods .cat {font-size:10px;line-height:12px; }
.cart_prods .item .lbl {font-size:12px;line-height:16px;margin-bottom: 11px;  }
.cart_prods .item .models .mdl, .cart_prods .item .price p {margin-bottom: 16px;font-size:12px;line-height:16px;}
.cart_prods .item .models .mdl a.cross{top:0} 
.cart_prods .item .total {font-size:12px;line-height:16px;}
.cart_prods .item .total .lbl {margin: 0 9px 0 0; font-size: 9px}
.cart_prods .item .quant {width: 70px}
.cart_prods .quant .lbl {margin-bottom: 8px}
.cart_prods .item .total {right: 65px;  }


}


@media (max-width:960px) AND (min-width:600px) {
.cart_prods .q_wrap {width:58px;margin-bottom: 9px; height: 19px;border-radius: 9px;}
.cart_prods .q_wrap .q_less,.cart_prods .q_wrap .q_more { border-radius: 9px 0 0 9px; width: 16px; height: 18px;font-size: 8px; line-height: 16px; }
.cart_prods .q_wrap input {width: 24px;  line-height: 10px; padding: 3px 0; height: 10px; font-size: 8px;}
.cart_prods .q_wrap .q_more {border-radius: 0 9px 9px 0;width: 16px; }

}

@media (max-width:800px){
.suppliers_steps .row div.st3 {background-position:90% 50% !important;background-size:auto 90% !important }
.suppliers_steps .row div.st4 span {max-width:160px}


.f_messeng_buts {display:flex;}
.f_messeng .f_messeng_buts a {margin-left:36px;flex-grow:1;white-space:nowrap}
.f_messeng .btn_thin {margin-right:0px !important;}
.f_messeng a:first-child {margin-left:0}


	
}


@media (max-width:1250px){

.prods_minislider_wr .item {margin:0 auto;}
.cat_slider_wrap a.item {margin:0 auto;}

}