/* ======================================================================================================index checkout*/
.index_checkout-location input {
    padding-left: 2rem;
}

.data {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.data td {
    text-align: left;
    vertical-align: top;

    width: 50%;
}
.data .map {
    width: 40%;
    padding: 1.25rem 1.25rem 0 1.25rem;
    min-width: 400px;
}
.data .store {
    width: 60%;
    padding: 0;
}
.data .store table td {
    border-bottom: 1px solid #ccc;
}
.data .store table td.last {
    border-bottom: none;
}
.data table td {
    width: auto;
    padding: 10px 3px 10px;
}
.data .name {
    font-weight: bold;
    font-size: 12px;
}
.data .image_cell, .image {
    width: 120px;
    text-align: center !important;
    vertical-align: middle;
}
#store_table .store_row {
    font-size: 10px;
    cursor:pointer;
    display: block;
    padding: 2px 8px;
    border-radius: 3px;
    margin: 1px;
    border: 2px solid #F5F9F9;
}
#store_table .store_row:hover,
#store_table .checked {
    border: 2px solid #3e495f;
    transition: all 0.2s ease-in-out;
}
.data input[type=radio] {
    display: none;
}
.data .view_map {
    box-shadow: 3px 3px 4px rgba(180,188,191,0.5);
}
.data .ora-storelist {
    height: 400px;
    overflow: auto;
    padding: 1.25rem 1.25rem 0 1.25rem;
}
/* ===========================================================================================================index_issue_point*/

.modal-issue_point {
    display: flex;
}

.modal-issue_point .card-body {
    padding-left: 1rem;
}

.modal-issue_point .card-body .card-header:not([class*="bg-"]):not([class*="alpha-"]) {
    padding-left: 0;
}

@media screen and (max-width: 600px) {
    .modal-issue_point {
        flex-direction: column;
    }
}
/* ===========================================================================================================index_issue_point*/

.index_checkout .card-body.checkout_form .index_checkout-location .form-group {
    margin-bottom: 0;
}

.index_checkout-alpaca-icon {
    position: absolute;
    top: 0;
    height: 36px;
    display: flex;
    align-items: center;
    left: 20px;
}

.index_checkout .index_checkout-formalize_button {
    width: 170px;
    background: #3e495f;
    color: #fff;
}

.index_checkout .checkout_form-individual .form-group.row .col-lg-9 .col-form-label {
    color: #000;
}

.index_checkout .index_checkout-formalize_button:hover {
    background-color: #2a3140;
    color: #fff;
}

.index_checkout .index_checkout-formalize_button:active {
    background-color: #2a3140;
    color: #fff;
}

.index_checkout .index_checkout-table .form-control {
    padding: .4375rem .4rem;
    text-align: center;
}

.index_checkout .form-group {
    margin: 0;
}

.index_checkout .input-group.bootstrap-touchspin {
    width: 115px;
    flex-wrap: nowrap;
}

.index_checkout .index_checkout-table .table td, .table th {
    padding: 0.5rem 1.25rem;
}


.index_checkout .index_checkout-table a {
    color: #ddd;
    transition: all 0.2s ease-in-out;
}

.index_checkout .index_checkout-table a:hover {
    color: #2a3140;
}

.index_checkout .index_checkout-promocode  > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.index_checkout .index_checkout-promocode .form-group > div {
    display: flex;
    align-items: center;
}

.index_checkout .index_checkout-promocode input {
    max-width: 170px;
}

.index_checkout .index_checkout-promocode .form-group div {
    margin: 0 0.5rem;
}

.index_checkout .index_checkout-promocode .form-group {
    display: flex;
    align-items: center;
}

.index_checkout .card-body {
    padding: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total .index_checkout-promocode-total_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total h5 {
    margin-right: 1rem;
    margin-bottom: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total h4 {
    margin-bottom: 0;
}

.index_checkout .index_checkout-promocode .index_checkout-promocode-total h3 {
    display: inline-block;
    margin: 0 0 0 10px;
}

.index_checkout .index_checkout-payer_type {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.index_checkout .card-body.checkout_form {
    padding: 1.25rem;
    border-top: 1px solid #ddd;
}

.index_checkout .card-body.checkout_form .form-group {
    margin-bottom: 1.25rem;
}

.index_checkout .payer_type-title {
    padding-left: 1.25rem;
}

.index_checkout .index_checkout-payment_system {
    display: flex;
    flex-direction: column;
}

.index_checkout .index_checkout-delivery_type {
    display: flex;
    flex-direction: column;
    color: black;
}

.index_checkout .index_checkout-delivery_type .form-check.disabled {
    color: #455a64;
}

.index_checkout .index_checkout-payment_system .form-check.disabled {
    color: #455a64;
}

.index_checkout .index_checkout-delivery_type i {
    line-height: 1.25rem;
}

.index_checkout .index_checkout-payment_system i {
    line-height: 1.25rem;
}

.index_checkout .index_checkout-radios_description {
    color: #999;
}

.index_checkout .index_checkout-delivery_type label {
    width: 100%;
}

.index_checkout .index_checkout-delivery_type > div {
    margin-right: 0;
    flex-wrap: wrap;
}

.index_checkout .index_checkout-delivery_type .index_checkout-delivery_text {
    width: 50%;
}

.index_checkout .index_checkout-deliveries {
    white-space: nowrap;
}

.index_checkout .index_checkout-delivery_cost {
    margin: 0;
    display: block;
}

.index_checkout .index_checkout-delivery_type .form-check-inline:last-child {
    margin-right: 0rem;
}

.index_checkout .index_checkout-table_total {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.index_checkout .index_checkout-table_total table {
    margin-right: 5rem;
}

.index_checkout .checkout_form-individual {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.index_checkout .checkout_form-individual .card-header.header-elements-inline {
    padding-left: 0;
}

.index_checkout .checkout_form-individual .form-group.row .col-form-label {
    padding-left: 0;
    color: #999;
}

.index_checkout .checkout_form-individual > div {
    flex: 0 0 49.5%;
    background: #fafafa;
    border: 1px solid #ededed;
    padding: 1rem;
}

.index_checkout .checkout_form-individual > div:first-child {
    padding-right: 1rem;
}

.index_checkout .checkout_radio {
    display: flex;
    flex-direction: column;
}

.index_checkout .checkout_form .checkout_form-individual .checkout_form-title_inner {
    padding-top: 0;
    width: 50%;
    border-bottom: 1px solid #ededed;
    margin-bottom: 1.25rem;
    padding-bottom: 0.8rem;
}

.index_checkout .index_checkout-table_total .index_checkout-total {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.index_checkout .index_checkout-table_total .index_checkout-total .index_checkout-total_title h3 {
    margin-bottom: 0;
}

.index_checkout .index_checkout-table_total .index_checkout-total .form-group.row {
    margin-left: 5rem;
    margin-bottom: 0;
}

.index_checkout .delivery_payment_logo {
    width: 40px;
    display: flex;
    justify-content: center;
}

.index_checkout .index_checkout-formalize_button.checkout_btn{
    margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
    .index_checkout .index_checkout-table_total {
        flex-direction: column;
    }

    .index_checkout .index_checkout-table_total .index_checkout-total {
        margin-top: 1.25rem;
    }

    .index_checkout .checkout_form-individual {
        flex-direction: column;
    }

    .index_checkout .checkout_form-individual > div:first-child {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .index_checkout .index_checkout-promocode  > div:first-child {
        flex-direction: column;
    }

    .index_checkout .index_checkout-promocode-total {
        margin-top: 1rem;
    }

    .index_checkout .index_checkout-payer_type > div {
        display: flex;
        flex-direction: column;
    }

    .index_checkout .index_checkout-delivery_type .index_checkout-delivery_text {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .index_checkout .index_checkout-delivery_type .form-check-label {
        flex-wrap: wrap;
    }

    .index_checkout .index_checkout-delivery_type .form-check-label .index_checkout-deliveries {
        width: 100%;
        padding-left: 3.5rem;
    }
}

@media screen and (max-width: 500px) {
    .index_checkout .index_checkout-promocode .form-group {
        flex-direction: column;
    }

    .index_checkout .checkout_form-individual > div:first-child {
        padding-right: 0;
    }

    .index_checkout .index_checkout-promocode .form-group button {
        margin-top: 1.25rem;
    }

    .index_checkout .index_checkout-total {
        flex-direction: column;
    }

    .index_checkout .index_checkout-table_total .index_checkout-total .form-group.row {
        margin-left: 0;
    }
}


/* ==============================================================================================index order success*/

.index_order_success .index_checkout-formalize_button {
    width: 170px;
    background: #3e495f;
    color: #fff;
}

.index_order_success .index_checkout-formalize_button:hover {
    background-color: #2a3140;
    color: #fff;
}

.index_order_success .index_checkout-formalize_button:active {
    background-color: #2a3140;
    color: #fff;
}

.index_order_success .index_checkout-table .form-control {
    padding: .4375rem .4rem;
    text-align: center;
}

.index_order_success .form-group {
    margin: 0;
}

.index_order_success .input-group.bootstrap-touchspin {
    width: 115px;
    flex-wrap: nowrap;
}

.index_order_success .index_checkout-table .table td, .table th {
    padding: 0.5rem 1.25rem;
}


.index_order_success .index_checkout-table a {
    color: #ddd;
    transition: all 0.2s ease-in-out;
}

.index_order_success .index_checkout-table a:hover {
    color: #2a3140;
}

.index_order_success .index_checkout-promocode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.index_order_success .index_checkout-promocode .form-group > div {
    display: flex;
    align-items: center;
}

.index_order_success .index_checkout-promocode input {
    max-width: 170px;
}

.index_order_success .index_checkout-promocode .form-group div {
    margin: 0 0.5rem;
}

.index_order_success .index_checkout-promocode .form-group {
    display: flex;
    align-items: center;
}

.index_order_success .card-body {
    padding: 0;
}

.index_order_success .index_checkout-promocode .index_checkout-promocode-total {
    text-align: center;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.index_order_success .index_checkout-promocode .index_checkout-promocode-total > h5 {
    margin-right: 1rem;
    margin-bottom: 0;
}

.index_order_success .index_checkout-promocode .index_checkout-promocode-total > h4 {
    margin-bottom: 0;
}

.index_order_success .index_checkout-promocode .index_checkout-promocode-total h3 {
    display: inline-block;
    margin: 0 0 0 10px;
}

.index_order_success .index_checkout-payer_type {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.index_order_success .card-body.checkout_form {
    padding: 1.25rem;
}

.index_order_success .card-body.checkout_form .form-group {
    margin-bottom: 1.25rem;
}

.index_order_success .payer_type-title {
    padding-left: 1.25rem;
}

.index_order_success .index_checkout-payment_system {
    display: flex;
    flex-direction: column;
}

.index_order_success .index_checkout-delivery_type {
    display: flex;
    flex-direction: column;
    color: black;
}

.index_order_success .index_checkout-delivery_type .form-check.disabled {
    color: #455a64;
}

.index_order_success .index_checkout-payment_system .form-check.disabled {
    color: #455a64;
}

.index_order_success .index_checkout-delivery_type i {
    line-height: 1.25rem;
}

.index_order_success .index_checkout-payment_system i {
    line-height: 1.25rem;
}

.index_order_success .index_checkout-radios_description {
    color: #999;
}

.index_order_success .index_checkout-delivery_type label {
    width: 100%;
}

.index_order_success .index_checkout-delivery_type > div {
    margin-right: 0;
    flex-wrap: wrap;
}

.index_order_success .index_checkout-delivery_type .index_checkout-delivery_text {
    width: 50%;
}

.index_order_success .index_checkout-deliveries {
    white-space: nowrap;
}

.index_order_success .index_checkout-delivery_cost {
    margin: 0;
    display: block;
}

.index_order_success .index_checkout-delivery_type .form-check-inline:last-child {
    margin-right: 0rem;
}

.index_order_success .index_checkout-table_total {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.index_order_success .index_checkout-table_total table {
    margin-right: 5rem;
}

.index_order_success .checkout_form-individual {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.index_order_success .checkout_form-individual .card-header.header-elements-inline {
    padding-left: 0;
}

.index_order_success .checkout_form-individual .form-group.row .col-form-label {
    padding-left: 0;
    color: #999;
}

.index_order_success .checkout_form-individual > div {
    flex: 0 0 49.5%;
    background: #fafafa;
    border: 1px solid #ededed;
    padding: 1rem;
}

.index_order_success .checkout_form-individual > div:first-child {
    padding-right: 1rem;
}


.index_order_success .checkout_form .checkout_form-individual .checkout_form-title_inner {
    padding-top: 0;
    width: 50%;
    border-bottom: 1px solid #ededed;
    margin-bottom: 1.25rem;
    padding-bottom: 0.8rem;
}

.index_order_success .index_checkout-table_total .index_checkout-total {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.index_order_success .index_checkout-table_total .index_checkout-total .index_checkout-total_title h3 {
    margin-bottom: 0;
}

.index_order_success .index_checkout-table_total .index_checkout-total .form-group.row {
    margin-left: 5rem;
    margin-bottom: 0;
}

.index_order_success .description {
    color: #999;
}

.modal-issue_point {
    padding: 1rem 1rem 0 1rem;
}

#store_table {
    max-height: 500px;
    overflow: auto;
    padding: 0 0.6rem 0 0;
    margin-left: 1rem;
    height: 500px;
    position: relative;
}

#store_table .store_row {
    font-size: 10px;
    cursor: pointer;
    display: block;
    padding: 2px 8px;
    border-radius: 3px;
    margin: 1px;
    border: 2px solid #F5F9F9;
}

#store_table .store_row:hover,
#store_table .checked {
    border: 2px solid #3e495f;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1200px) {
    .index_order_success .index_checkout-table_total {
        flex-direction: column;
    }

    .index_order_success .index_checkout-table_total .index_checkout-total {
        margin-top: 1.25rem;
    }

    .index_order_success .checkout_form-individual {
        flex-direction: column;
    }

    .index_order_success .checkout_form-individual > div:first-child {
        margin-bottom: 1rem;
    }
}