@media (min-width: 992px) and (max-width: 1200px) {
    .filter-size .col-xs-12 {
        padding-left: 9px !important;
    }
}

@media (max-width: 991px) {
    .bx_filter_wrapper {
        display: none;
    }

    .mobile_filter_btn {
        display: inline-block;
        flex-shrink: 0;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .mobile_filter_btn {
        margin: 0;
        height: 100%;
        width: calc(100% - 84px);
        padding: 10px;
        border-right: 0;
    }
}
