.address-block-wrap__title-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.address-block-wrap__title {
  padding: 21px 0 30px 0;
  margin-right: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px; }

.address-block-wrap__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #807F7F; }
  .address-block-wrap__link:hover {
    color: var(--main-color); }

.address-block {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.address-block__map {
  width: calc(100% - 320px); }
  .address-block__map .bx-yandex-view-layout {
    height: 100%; }
  .address-block__map .bx-yandex-view-map {
    height: 100%; }

.sidebar-address-block {
  position: relative;
  width: 320px;
  min-width: 320px;
  border: 1px solid #EDEDED;
  border-right: none;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; }

.sidebar-address-block__search-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #EDEDED; }

.sidebar-address-block__search-wrap {
  position: relative;
  width: 280px;
  height: 40px; }
  .sidebar-address-block__search-wrap:hover .sidebar-address-block__search {
    border: 1px solid #BDBDBD; }

.sidebar-address-block__search {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  background: transparent;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  z-index: 1; }
  .sidebar-address-block__search:focus {
    cursor: text; }
    .sidebar-address-block__search:focus ~ .sidebar-address-block__search-icon {
      display: none; }
    .sidebar-address-block__search:focus ~ .sidebar-address-block__cancel-icon-wrap {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 2; }

.sidebar-address-block__search::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #808080; }

.sidebar-address-block__search::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #808080; }

.sidebar-address-block__search:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #808080; }

.sidebar-address-block__search::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #808080; }

.sidebar-address-block__search::placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #808080; }

.sidebar-address-block__search-icon {
  position: absolute;
  top: calc(50% - 8px);
  right: 12px;
  width: 16px;
  height: 16px;
  fill: #BDBDBD;
  cursor: pointer; }

.sidebar-address-block__cancel-icon-wrap {
  position: absolute;
  top: calc(50% - 6.5px);
  right: 12px;
  display: none;
  width: 13px;
  height: 13px;
  cursor: pointer; }
  .sidebar-address-block__cancel-icon-wrap:hover .sidebar-address-block__cancel-icon {
    stroke: var(--main-color); }

.sidebar-address-block__cancel-icon {
  width: 100%;
  height: 100%;
  stroke: #BDBDBD; }

.sidebar-address-block-city-list {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 392px;
  padding: 0;
  margin: 0;
  background-color: #F7F7F7; }
  .sidebar-address-block-city-list.ps {
    cursor: default; }
  .sidebar-address-block-city-list li.ps__rail-y {
    width: 12px;
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
    border-left: 1px solid #E6E6E6;
    cursor: pointer; }
  .sidebar-address-block-city-list .ps__thumb-y {
    right: 3px;
    width: 5px;
    background-color: #E6E6E6; }

.sidebar-address-block-city-list__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 55px;
  padding: 0 20px;
  cursor: pointer; }
  .sidebar-address-block-city-list__item:hover {
    color: var(--main-color);
    fill: var(--main-color); }

.sidebar-address-block-city-list__item-wrap {
  position: static;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #EDEDED; }
  .sidebar-address-block-city-list__item-wrap.opened .sidebar-address-block-city-list__item {
    background-color: var(--main-color);
    color: #fff;
    fill: #fff; }
  .sidebar-address-block-city-list__item-wrap.opened .sidebar-address-block-city-list__icon-dropdown {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1); }

.sidebar-address-block-city-list__icon-dropdown {
  width: 12px;
  height: 6px;
  min-width: 12px;
  min-height: 6px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.sidebar-address-block-city-list__name-city {
  max-width: 264px;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  overflow: hidden; }

.sub-item-sidebar-address-block {
  position: static;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 0;
  cursor: pointer; }
  .sub-item-sidebar-address-block:hover {
    background-color: #F7F7F7; }
    .sub-item-sidebar-address-block:hover .sub-item-sidebar-address-block__address-name {
      color: var(--main-color); }

.sub-item-sidebar-address-block__img-wrap {
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-right: 10px; }

.sub-item-sidebar-address-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.sub-item-sidebar-address-block__info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.sub-item-sidebar-address-block__address-name {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px; }

.sub-item-sidebar-address-block__time-work-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.sub-item-sidebar-address-block__time-icon {
  width: 11px;
  min-width: 11px;
  height: 11px;
  margin-right: 10px;
  fill: #808080; }

.sub-item-sidebar-address-block__time-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #808080; }

.sidebar-address-block-city-list__sub-items-block {
  height: 0;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s; }

.sidebar-address-block-city-list__sub-items-list {
  margin: 0;
  padding: 0; }

.sidebar-address-block__popup-wrap {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; }
  .sidebar-address-block__popup-wrap .ps__rail-y {
    width: 5px; }
  .sidebar-address-block__popup-wrap .ps__thumb-y {
    width: 5px;
    right: 0; }

.popup-info-item-address-block {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7; }
  .popup-info-item-address-block.showed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }

.popup-info-item-address-block__title-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 30px 15px 15px;
  background-color: #fff; }

.popup-info-item-address-block__img-wrap {
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-right: 15px; }

.popup-info-item-address-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.popup-info-item-address-block__btn-open-map {
  display: none;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  color: var(--main-color);
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  background: none;
  border: none; }
  .popup-info-item-address-block__btn-open-map:hover {
    color: var(--main-color-hover); }
    .popup-info-item-address-block__btn-open-map:hover .popup-info-item-address-block__btn-open-map-icon {
      stroke: var(--main-color-hover); }

.popup-info-item-address-block__btn-open-map-icon {
  width: 12px;
  height: 14px;
  margin-right: 6px;
  fill: none;
  stroke: var(--main-color); }

.popup-info-item-address-block__title-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden; }

.popup-info-item-address-block__title {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px; }

.popup-info-item-address-block__close-wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 13px;
  height: 13px;
  cursor: pointer; }
  .popup-info-item-address-block__close-wrap:hover .popup-info-item-address-block__close-icon {
    stroke: var(--main-color); }

.popup-info-item-address-block__close-icon {
  width: 100%;
  height: 100%;
  stroke: #BDBDBD; }

.popup-info-item-address-block__content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
  padding: 20px;
  background-color: #F7F7F7; }

.popup-info-item-address-block__content-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px; }

.popup-info-item-address-block__content-item-title {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #808080; }

.popup-info-item-address-block__content-item-text {
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.popup-info-item-address-block__content-item-text--grey {
  color: #808080; }

.popup-info-item-address-block__content-item-text--main-color {
  color: var(--main-color); }
  .popup-info-item-address-block__content-item-text--main-color:hover {
    color: var(--main-color-hover); }

.address-block-wrap__tabs-block {
  display: none; }

.map_popover {
  position: absolute;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); }

.map-popover__content {
  padding: 20px; }

.map_popover__close {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: none;
  stroke: #BDBDBD;
  cursor: pointer; }

.map_popover__close:hover {
  stroke: var(--main-color); }

.map_popover__arrow::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-top-color: #fff; }

.content_balloon__title {
  padding: 0 0 5px 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px; }

.content_balloon__title-item {
  padding: 10px 0 5px 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  color: #808080; }

.content_balloon__item {
  display: block;
  padding: 0 0 5px 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px; }

.content_balloon__item--main-color {
  color: var(--main-color); }

.infobox-inner {
  padding: 20px; }

@media (max-width: 599px) {
  .address-block-wrap__tabs-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0 0 10px 0; }
  .address-block-wrap__tab-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #EDEDED;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer; }
    .address-block-wrap__tab-item.active {
      color: var(--main-color);
      border-bottom: 1px solid var(--main-color); }
  .address-block-wrap__title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .address-block-wrap__title {
    padding: 21px 0 10px 0;
    margin-right: 0;
    font-size: 20px;
    line-height: 26px; }
  .address-block-wrap__link {
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 20px; }
  .address-block__tab-content {
    opacity: 0;
    position: absolute;
    z-index: -1000000; }
    .address-block__tab-content.active {
      position: relative;
      opacity: 1;
      z-index: 1; }
  .sidebar-address-block {
    width: 100%;
    min-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-right: 1px solid #EDEDED; }
  .sidebar-address-block__search-block {
    padding: 0 15px;
    height: 68px; }
  .sidebar-address-block__search-wrap {
    width: 100%;
    height: 38px; }
  .sidebar-address-block-city-list {
    height: 352px; }
  .sidebar-address-block-city-list__name-city {
    font-size: 14px;
    line-height: 21px; }
  .sub-item-sidebar-address-block__address-name {
    font-size: 13px;
    line-height: 20px; }
  .sub-item-sidebar-address-block__img-wrap {
    width: 40px;
    min-width: 40px;
    height: 40px; }
  .sidebar-address-block__search {
    font-size: 12px;
    line-height: 18px; }
  .popup-info-item-address-block__title {
    font-size: 14px;
    line-height: 21px; }
  .popup-info-item-address-block__btn-open-map {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .popup-info-item-address-block__content {
    padding: 15px; }
  .popup-info-item-address-block__content-item-text {
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 20px; }
  .popup-info-item-address-block__content-item {
    margin-bottom: 10px; }
  .address-block__map {
    width: 100%;
    height: 420px; } }
