.staff-block__headline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 30px; }

.staff-block__title {
  padding: 0;
  margin-right: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px; }

.staff-block__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #807F7F; }

.staff-block__slider.swiper-container {
  padding-bottom: 500px;
  margin-bottom: -500px; }

.staff-block__slider .swiper-slide {
  height: auto; }

.staff-block-item.swiper-slide {
  width: calc(25% - 22.5px); }

.staff-block-item__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  background-color: #F7F7F7;
  border: 1px solid #EDEDED; }

.staff-block-item__img-wrap {
  width: 140px;
  height: 140px;
  margin-bottom: 12px;
  border-radius: 50%;
  overflow: hidden; }

.staff-block-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.staff-block-item__name {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center; }
  .staff-block-item__name:hover {
    color: var(--main-color-hover); }

.staff-block-item__post {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  text-align: center; }

.staff-block-item__hidden-block {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  padding-top: 15px; }

.staff-block-item__phone {
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.staff-block-item__phone-icon {
  margin-right: 10px;
  fill: var(--main-color); }

.staff-block-item__email {
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--main-color); }

.staff-block-item__link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 195px;
  height: 40px;
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #FFF; }
  .staff-block-item__link:hover {
    background-color: var(--main-color-hover);
    color: #FFF; }

@media (min-width: 1024px) {
  .staff-block-item__inner:hover {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    background-color: #FFF;
    -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15); }
    .staff-block-item__inner:hover .staff-block-item__hidden-block {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }

@media (max-width: 1343px) {
  .staff-block-item.swiper-slide {
    width: calc(33.33% - 13.33px); } }

@media (max-width: 1023px) {
  .staff-block-item.swiper-slide {
    width: 286px; }
  .staff-block-item__hidden-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .staff-block-item__img-wrap {
    width: 100px;
    height: 100px;
    margin-bottom: 15px; }
  .staff-block-item__email {
    padding-bottom: 40px; }
  .staff-block__slider.swiper-container:hover .btn-slider-main {
    display: none; }
  .staff-block__headline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px; }
  .staff-block__title {
    padding-bottom: 10px;
    margin-right: 0;
    font-size: 24px;
    line-height: 29px; }
  .staff-block__link {
    font-size: 14px;
    line-height: 21px; } }

@media (max-width: 767px) {
  .staff-block__title {
    font-size: 20px;
    line-height: 26px; }
  .staff-block__link {
    font-size: 13px;
    line-height: 20px; }
  .staff-block-item.swiper-slide {
    width: 220px; }
  .staff-block-item__name {
    font-size: 15px;
    line-height: 24px; }
  .staff-block-item__post,
  .staff-block-item__phone,
  .staff-block-item__email {
    font-size: 13px;
    line-height: 20px; }
  .staff-block-item__phone {
    padding-bottom: 5px; }
  .staff-block-item__email {
    padding-bottom: 15px; }
  .staff-block-item__link {
    width: 200px; } }
