div.support-lamp-red, div.support-lamp-green, div.support-lamp-green-s, div.support-lamp-yellow, div.support-lamp-grey
{
	width:14px; height:14px; background-repeat:no-repeat;
}

div.support-lamp-red {background-image: url(images/red.gif)}
div.support-lamp-green {background-image: url(images/green.gif)}
div.support-lamp-green-s {background-image: url(images/green_s.gif)}
div.support-lamp-yellow {background-image: url(images/yellow.gif)}
div.support-lamp-grey {background-image: url(images/grey.gif)}
.support-add-wrapper
{
	position:absolute;
	top:-41px;
	right:-1px;
}
.support-add
{
	border:1px solid #eeeeee;
	cursor:pointer;
	height:30px;
	line-height:30px;
	padding:0 10px;
}
.support-add-wrapper .support-add-inner a
{
	color:#000;
	font-size:13px;
	font-family:ProximaNova;
	text-decoration:none;
}
.support-list__title
{
	font-family: "ProximaNova", Arial, sans-serif;
	font-size: 20px;
	color: #000;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: normal;
	border-bottom: 1px solid #cfd3da;
	padding-bottom: 7px;
}
.support-ticket-hint td
{
	padding:0 2px;
}

.card.support_page .btn.btn_b2b.btn_create-appeal {
	position: absolute;
	right: 0;
	top: -53px;
}

.support-ticket-hint {
	margin-top: 1.25rem;
}