.popup-window {
  padding: 0 12px;
  border: 1px solid #ededed;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.bx-filter-select-popup {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      height: 42px;
      border-bottom: 1px solid #ededed;

      &::before {
        content: none;
      }

      &:last-child {
        border-bottom: none;
      }

      label {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-weight: normal;
        margin: 0;
      }

      label.disabled {
        color: #e4e4e4;
      }
    }
  }
}

.bx_filter .bx_filter_block {
  position: relative;
  overflow: hidden;
}

.index_blank-filter {

  .blank_ul_wrapper.type-checkbox.overflow-auto {
    max-height: 190px;
  }

  .bx_filter_section .card-body {
    padding: 0 1.25rem;
  }

  label {
    margin: 0;
    cursor: pointer;
  }

  .form-group .col-3 label > span {
    padding: 0 !important;
  }

  .form-group .col-3 .border-grey.text-grey-800.border-text-warning {
    color: #d84315;
    border-color: #ff7043;
  }

  .filter_buttons {
    display: flex;
    flex-direction: column;

    > input:last-child {
      margin-top: 0.5rem;
      min-width: 170px;
      height: 36px;
      background: #3e495f;
      color: #fff;

      &:hover {
        background-color: #2a3140;
        color: #fff;
      }
    }
  }

  .bx_filter_popup_result.fonts__middle_comment {
    width: 100%;

    > div {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }
  }

  .bx_filter_parameters_box_container {
    &.row {
      display: flex;
      justify-content: space-between;

      > div {
        flex: 0 0 47%;
      }
    }

    > .row > div {
      flex: 0 0 47%;
    }
  }
}

.input-range-number.row {
  display: flex;
  justify-content: space-between;
}

.index_blank .index_blank-categories .nav-item.catalog_section {
  cursor: pointer;
}

.sidebar .index_blank-filter .row:not(.no-gutters) {
  margin-left: 0;
  margin-right: 0;
}

.bx_filter_popup_result {
  text-align: center;
  margin-bottom: 10px;
}

.smartfilter [indeterminate="true"] span::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 20%;
  width: 60%;
  height: 10%;
  background-color: #455a64;
}

.row-under-modifications-filter.row-under-modifications-filter-fixed {
  width: 16.87rem;
}

.find_property_value_wrapper {
  position: relative;
  display: none;

  .find_property_value::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

.find_property_value {
  width: 100%;
  margin-bottom: 12px;
  outline: none;
  &::-ms-clear {
    display: none;
  }
}

.find_property_value__button {
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 14px;
  background: none;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.find_property_value__button-close {
  display: none;
}

.find_property_value__icon-close {
  min-width: 12px;
  height: 12px;
  fill: none;
  stroke: #9B9B9B;
  &:hover {
    stroke: #696969;
  }
}