.popup-window {
  padding: 0 12px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15); }

.bx-filter-select-popup ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .bx-filter-select-popup ul li {
    height: 42px;
    border-bottom: 1px solid #ededed; }
    .bx-filter-select-popup ul li::before {
      content: none; }
    .bx-filter-select-popup ul li:last-child {
      border-bottom: none; }
    .bx-filter-select-popup ul li label {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-weight: normal;
      margin: 0; }
    .bx-filter-select-popup ul li label.disabled {
      color: #e4e4e4; }

.bx_filter .bx_filter_block {
  position: relative;
  overflow: hidden; }

.index_blank-filter .blank_ul_wrapper.type-checkbox.overflow-auto {
  max-height: 190px; }

.index_blank-filter .bx_filter_section .card-body {
  padding: 0 1.25rem; }

.index_blank-filter label {
  margin: 0;
  cursor: pointer; }

.index_blank-filter .form-group .col-3 label > span {
  padding: 0 !important; }

.index_blank-filter .form-group .col-3 .border-grey.text-grey-800.border-text-warning {
  color: #d84315;
  border-color: #ff7043; }

.index_blank-filter .filter_buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .index_blank-filter .filter_buttons > input:last-child {
    margin-top: 0.5rem;
    min-width: 170px;
    height: 36px;
    background: #3e495f;
    color: #fff; }
    .index_blank-filter .filter_buttons > input:last-child:hover {
      background-color: #2a3140;
      color: #fff; }

.index_blank-filter .bx_filter_popup_result.fonts__middle_comment {
  width: 100%; }
  .index_blank-filter .bx_filter_popup_result.fonts__middle_comment > div {
    width: 100%;
    text-align: center;
    margin-top: 1rem; }

.index_blank-filter .bx_filter_parameters_box_container.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .index_blank-filter .bx_filter_parameters_box_container.row > div {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%; }

.index_blank-filter .bx_filter_parameters_box_container > .row > div {
  -webkit-box-flex: 0;
     -moz-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%; }

.input-range-number.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.index_blank .index_blank-categories .nav-item.catalog_section {
  cursor: pointer; }

.sidebar .index_blank-filter .row:not(.no-gutters) {
  margin-left: 0;
  margin-right: 0; }

.bx_filter_popup_result {
  text-align: center;
  margin-bottom: 10px; }

.smartfilter [indeterminate="true"] span::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 20%;
  width: 60%;
  height: 10%;
  background-color: #455a64; }

.row-under-modifications-filter.row-under-modifications-filter-fixed {
  width: 16.87rem; }

.find_property_value_wrapper {
  position: relative;
  display: none; }
  .find_property_value_wrapper .find_property_value::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5); }
  .find_property_value_wrapper .find_property_value::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5); }
  .find_property_value_wrapper .find_property_value:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5); }
  .find_property_value_wrapper .find_property_value::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5); }
  .find_property_value_wrapper .find_property_value::placeholder {
    color: rgba(0, 0, 0, 0.5); }

.find_property_value {
  width: 100%;
  margin-bottom: 12px;
  outline: none; }
  .find_property_value::-ms-clear {
    display: none; }

.find_property_value__button {
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 14px;
  background: none;
  border: none;
  cursor: pointer; }
  .find_property_value__button:focus {
    outline: none; }

.find_property_value__button-close {
  display: none; }

.find_property_value__icon-close {
  min-width: 12px;
  height: 12px;
  fill: none;
  stroke: #9B9B9B; }
  .find_property_value__icon-close:hover {
    stroke: #696969; }
