.brand-detail__back {
    display: inline-block;
    border: 1px solid #ced2d5;
    color: #000;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
}

.block_main_left_menu__content.active {
    margin-bottom: 40px;
}

.brand-detail__back:before {
    font-weight: 400;
    color: #000;
    position: relative;
    display: inline-block;
    content: '';
    width: 7px;
    height: 7px;
    top: -1px;
    right: 0.4rem;
    margin-top: 0;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.brand-detail .breadcrumb_block {
    margin-bottom: 0.5rem;
}

.brand-detail .personal_title_block h1 {
    margin-bottom: 0.6rem;
}

.brand-detail {
    padding-left: 15px;
    padding-right: 15px;
}

.brand-detail h1 {
    font-size: 28px;
}

.brand-detail h2 {
    margin-bottom: 10px;
}

.brand-detail .line {
    background: #ced2d5;
    height: 1px;
    margin-bottom: 40px;
}

.brand-detail .catalog_section_block {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.brands_list__text {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 576px) {
    .brands_list {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .brand-detail h1 {
        font-size: 42px;
    }

    .brand-detail__picture {
        float: none;
        margin: 0 auto 10px auto;
    }
}

@media (max-width: 575px) {
    .brand-detail {
        padding-left: 10px;
        padding-right: 10px;
    }

    .panel_filter_sort {
        display: flex;
        width: 100%;
        height: 42px;
        margin-bottom: 30px;
    }
}
