#loadMore {
  margin-bottom: 2rem;
  text-align: center;
  color: #949393;
  cursor: pointer; }
  #loadMore .icon-nav_button {
    display: inline; }
    #loadMore .icon-nav_button::before {
      top: -1px;
      position: relative; }
