#loadMore {
    margin-bottom: 2rem;
    text-align: center;
    color: #949393;
    cursor: pointer;

    & .icon-nav_button {
        display: inline;

        &::before {
            top: -1px;
            position: relative;
        }
    }
}
