.main_order_block__top_line {
    background: #f7f7f7;
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    &.top_line_all_price {
        justify-content: space-between;
        flex-direction: row;
        padding: 0 1rem;
    }
}

.main_order_block__item {
    display: flex;
    align-items: center;
    border: 1px solid #ebebeb;
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin-bottom: -1px;
    position: relative;
    transition: 3s;
    height: auto;
}

.main_order_block__item_img {
    display: block;
    width: 9rem;
    min-width: 9rem;
    border: 1px solid #ebebeb;
    padding: 0.5rem;
    text-align: center;
    height: 9rem;
    line-height: 8rem;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.main_order_block__item_col,
.main_order_block__item_price {
    width: 20%;
    text-align: center;
}

.main_order_block__item_price_old {
    text-decoration: line-through;
    color: #cbcbcb;
    padding: 0.5rem 0;
}

.main_order_block__item_info__name {
    display: block;
    padding-bottom: 1rem;
}

.main_order_block__item_info {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 4rem;
}

.main_order_block__item_info__property_one {
    padding-right: 2rem;

    &:last-child {
        padding-right: 0;
    }
}

.main_order_block__item_info__and_price {
    display: flex;
    align-items: center;
    width: calc(93% - 9rem);
}

.main_order_block__item_col_name {
    display: none;
}

// feedback

.main_order_block_feedback {
    padding: 2rem;
    border: 1px solid #ebebeb;

    .feedback_block__compliance {
        padding-bottom: 1.5rem;

        .feedback_block__compliance_link {
            color: #000000;
            border-bottom: 1px solid #000000;
        }
    }
}

.main_order_block_feedback_comment {
    padding-bottom: 1.5rem;
}

.main_order_block_feedback_input {
    display: flex;
    padding-bottom: 1rem;

    input {
        width: calc(100% - 40px);
        padding-left: 1rem;
        height: 3rem;
        border: 1px solid #ededed;

        &::placeholder {
            color: #8b8b8b;
        }
    }

    input[type="submit"] {
        width: 40px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAARCAQAAABgb9T8AAAAfUlEQVR42qXLoRWFMBAF0TWjMQgsigpQGFxUCsBRIZ4WIiNSDwexZgWf95nR1/iwcTD/RWcOY6Kx6JTGZBa4RM35qlOdr4HeMVJJP2miMbrReKLiNMZAJcv0Bc9UBnuOnkLWaORboIXePIlvL6lHR2EPVOY7hU6Tzk9OgWpdmp8oxR7q2OAAAAAASUVORK5CYII=') no-repeat 50% 50%;
        border-left: none;
        cursor: pointer;
    }

    input[type="text"] {
        border-right: none;
    }
}

.coupon_block {
    color: #00b02a;
    height: 20px;
}

.main_order {
    margin-bottom: 5rem;
}

.info_order_item {
    border: 1px solid #ebebeb;
    height: 100%;

    .info_order_item_content__comment {
        textarea {
            width: 100%;
        }
    }
}

.info_order_item_content {
    padding: 2rem 4rem 2rem 2rem;

    .bx_filter_block {
        margin-bottom: 2rem;
    }

    .custom-select-trigger {
        height: 3rem;
        line-height: 3rem;
        color: #8b8b8b;
    }

    .info_order_item_content__comment {
        textarea {
            width: 100%;
        }
    }

}

.info_order_item_content__input {
    input {
        width: 100%;
        padding-left: 1rem;
        height: 3rem;
        border: 1px solid #ededed;
        margin-bottom: 1.5rem;

        &::placeholder {
            color: #8b8b8b;
        }
    }

    textarea {
        width: 100%;
        padding: 1rem 0 0 1rem;
        min-height: 5rem;
        border: 1px solid #ededed;
        margin-bottom: 1.5rem;

        &::placeholder {
            color: #8b8b8b;
        }
    }
}

.info_order_item_content__comment {
    textarea {
        width: calc(70% - 5px);
        padding: 1rem 0 0 1rem;
        min-height: 5rem;
        border: 1px solid #ededed;

        &::placeholder {
            color: #8b8b8b;
        }
    }
}

.radio_container {
    display: flex;
    align-items: flex-start;


    input {
        margin-top: 3px;
        margin-right: 8px;
    }
}

.radio_container_comment {
    display: block;
    color: #949494;
    margin: 0 0 1.2rem 2rem;
}

.info_order {
    margin-bottom: 1.5rem;
}

.price_order_block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.price_order_block__item {
    padding-right: 3rem;

    &:last-child {
        padding-right: 0;
    }
}

.order_block__ordering_link {
    display: block;
    width: 20%;
}

.order_block__ordering {
    background: #f7f7f7;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;

    .cntr {
        width: 60%;
        display: block;
    }

    .feedback_block__compliance_link {
        color: #000000;
        border-bottom: 1px solid #000000;
        display: inline;
    }

    .label-cbx {
        display: inline-block;
    }
}

.order_block__ordering_btn {
    width: 20%;

    input {
        width: 100%;
        border: none;
    }
}

.order_block__basket_link {
    display: none;
}

.main_order_block__item_slide {
    width: 0;
    height: 0;
    opacity: 0;
}

.main_order_block__item_slide_open {
    display: none;
    width: 40px;
    height: 5rem;
}


/* ----------------- variant  two -------------*/

.main_order_block__link {
    color: var(--main-color);
}

.main_order_block_feedback__price_item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 100%;
}

.main_order_block_feedback__price_item.all_price {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid #e6e6e6;
}

.main_order_block_feedback__price_title.main_order_price_title_sale {
    border: 1px solid #41b713;
    display: block;
    padding: 0 0.5rem;
}

.pay_info_block {
    border: 1px solid #ebebeb;
    margin-bottom: 3rem;
    padding: 2rem 3rem 0 0;
}

.step_icons_item {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}

.pay_info_block__step {
    width: 75%;

    .custom-select-trigger {
        height: 3rem;
        line-height: 3rem;
    }
}

.pay_info_block__step_title {
    padding-bottom: 2rem;
}

.info_order_item_content__input_item {
    display: flex;
    width: 100%;

    textarea,
    input {
        width: calc(70% - 5px);
        padding-left: 1rem;
        height: 3rem;
        border: 1px solid #ededed;
        margin-bottom: 1.5rem;
        color: #000000;

        &::placeholder {
            color: #dad9d9;
        }
    }

    textarea {
        padding: 0.5rem 0 0 1rem;
    }
}

.pay_info_block__input_block {
    .pay_info_block__input_title {
        width: 30%;
        display: inline-block;
        height: 3rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
        color: #7f7f7f;

        &:last-child {
            color: #000000;
        }
    }

    .select_block {
        width: calc(70% - 5px);
        display: inline-block;
        height: 3rem;
    }

}

.info_order_item_content .custom-select-trigger {
    height: 3rem;
    line-height: 3rem;
    color: #8b8b8b;
}

/*------------vertical tabs--------------*/
$color_no_active: #cccccc;

.admin-panel {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    display: flex;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        margin: 0;
        position: relative;
        text-align: center;
    }
}

.slide_bar_block {
    width: 20%;
    padding: 0 2rem;

    ul {
        position: relative;
        height: 100%;
    }

    a {
        text-decoration: none;
    }

    li {
        text-align: center;
        padding: 0;

        &:after {
            background-color: $color_no_active;
            content: "";
            display: inline-block;
            height: 50px;
            position: relative;
            vertical-align: middle;
            width: 1px;
        }

        &:last-child {
            margin-bottom: 3rem;

            &:after {
                display: none;
            }
        }

    }

    ul a {
        color: $color_no_active;
        text-decoration: none;
        box-sizing: border-box;
        display: block;
        text-transform: capitalize;
        padding: 0.5rem 0;
    }

    li:hover a,
    li#active a {
        color: var(--main-color);
    }

}

.slide_bar_block__content {
    width: 80%;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0 0 7rem 0;
    margin: 0 0 2rem 0;

    .custom-select-trigger {
        height: 3rem;
        line-height: 3rem;
    }

    .label-cbx {
        line-height: 1.7rem;
    }

    .info_order_item_content {
        padding: 0;
    }

    .info_order_item_content__comment {
        display: flex;
        margin-bottom: 2rem;

        textarea {
            min-height: 8rem;
            width: 100%;
        }
    }

    .cntr {
        width: 50%;
        line-height: 3rem;
    }

    .feedback_block__compliance_title {
        color: #8b8b8b;
    }

}

.slide_bar_block__content__button_next {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAARCAQAAABgb9T8AAAAfUlEQVR42qXLoRWFMBAF0TWjMQgsigpQGFxUCsBRIZ4WIiNSDwexZgWf95nR1/iwcTD/RWcOY6Kx6JTGZBa4RM35qlOdr4HeMVJJP2miMbrReKLiNMZAJcv0Bc9UBnuOnkLWaORboIXePIlvL6lHR2EPVOY7hU6Tzk9OgWpdmp8oxR7q2OAAAAAASUVORK5CYII=') no-repeat 50% 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem 0 0 0;
    cursor: pointer;

    .icon-nav_button {
        display: block;
        font-size: 2rem;
    }

}

#blink {
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        color: rgba(34, 34, 34, 1);
    }
    50% {
        color: rgba(34, 34, 34, 0);
    }
    100% {
        color: rgba(34, 34, 34, 1);
    }
}

.radio_container_block {
    display: flex;
    flex-wrap: wrap;

    .radio_container {
        width: 50%;
    }

    .radio-label_title {
        padding-bottom: 0.7rem;
    }
}

.pay_info_block__input_block.client_info_block {
    margin-bottom: 2rem;
}

.content_promocod_block_title {
    padding-bottom: 0.5rem;
}

.content_promocod_block_comment {
    color: #7f7f7f;
}

.content_promocod_block_form {
    display: flex;
    padding: 1rem 0 2rem 0;

    .content_promocod_block_input {
        margin-right: 1.5rem;
    }

    input {
        height: 3rem;
        background: #ffffff;
        border: 1px solid #dfe1e3;
    }
}

.content_promocod_block_order {
    .main_btn {
        border: none;
    }
}


.main_order_all_price {
    margin-bottom: 3rem;
}

/* colors for default template sale.order.ajax */
.radio-inline input:checked::before {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}

.bx-soa-more-btn .pull-right {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.popup-window-with-titlebar .btn.btn-default {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.popup-window-with-titlebar .btn.btn-default:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (min-width: 1300px) {
    .main_order_block_feedback {
        padding: 2rem 2rem;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .info_order_item_content {
        padding: 1rem;
    }
}

@media (max-width: 992px) {
    .main_order,
    .main_order_block {
        margin-bottom: 2.5rem;
    }
    .info_order_item {
        margin-bottom: 2rem;
    }
    .order_block__ordering .cntr {
        width: 50%;
        padding: 0 1rem;
    }
    .order_block__ordering_btn {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .main_order_block__item_info__name {
        padding-bottom: 0.5rem;
    }

    .main_order_block_feedback.price_item {
        padding: 1.5rem;
    }

    .main_order_block__link {
        display: block;
        padding: 0.7rem 0;
    }

    .price_order_block,
    .order_block__ordering {
        flex-wrap: wrap;
        margin-bottom: 1rem;
        text-align: center;
    }

    .price_order_block__item {
        padding-right: 0;
    }

    .price_order_block__item,
    .order_block__ordering .cntr,
    .order_block__ordering_btn,
    .order_block__ordering_link {
        width: 100%;
        margin-bottom: 1rem;
    }

    .order_block__ordering .cntr {
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }

    .main_order_block__top_line {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
    }

    .main_order_block {
        .main_order_block__top_line {
            margin-bottom: 1.5rem;
            padding: 1.5rem 0;

            .main_order_block__col_buy {
                color: #8b8b8b;

                b {
                    color: #000000;
                }
            }
        }
    }

    .main_order_block__item_info__title {
        padding-bottom: 0;
    }

    .main_order_block__item_info__property_one {
        padding-right: 0;
        display: block;
    }

    .main_order_block__item {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }

    .main_order_block__item_price {
        width: 25%;
    }

    .main_order_block__item_info {
        padding-left: 2rem;
    }

    .order_block__basket_link {
        display: block;
    }

    .info_order {
        margin-bottom: 0;
    }

    //// tabs vertical mobile
    .admin-panel {
        flex-direction: column;
    }

    .slide_bar_block__content {
        width: 100%;
        padding: 2rem 1rem;

        .cntr {
            width: 100%;
            line-height: 1rem;
        }
    }

    .step_icons_comment {
        display: none;

    }

    .pay_info_block {
        padding: 0;
        border: none;
    }

    .slide_bar_block {
        width: 100%;

        ul {
            display: flex;
            justify-content: center;
        }

        li {
            border-bottom: 1px solid #cccccc;
            padding: 0 1rem;

            &:after {
                display: none;
            }
        }

        li#active {
            border-bottom: 2px solid var(--main-color);
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    .main_order_all_price {
        margin-bottom: 0;
    }

    .pay_info_block__input_block {
        .info_order_item_content__input_item {
            flex-wrap: wrap;
        }

        .pay_info_block__input_title {
            width: 100%;
            color: #000000;
            height: auto;
            line-height: 1rem;
            margin-bottom: 0.5rem;
        }

        .select_block {
            width: 100%;
        }
    }

    .info_order_item_content__input_item {
        textarea,
        input {
            width: 100%;
        }
    }

    .radio_container_block {
        .radio_container {
            width: 100%;
            margin-bottom: 0;

            .radio-label_title {
                display: block;
            }

            span {
                display: block;
            }
        }
    }

    .pay_info_block__input_block.client_info_block {
        margin-bottom: 0;
    }

    .pay_info_block__step_title,
    .slide_bar_block__content_item__info_title {
        padding-bottom: 1rem;
    }

    .main_order_block__item_number {
        width: 2rem;
    }

    .main_order_block__item_info__and_price {
        width: calc(93% - 11rem);
    }

    .main_order_block__item_info {
        width: 55%;
    }
}

@media (max-width: 576px) {
    .main_order_block__item {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
    .header_mmenu__phone_block_hidden {
        display: block;
    }
    .main_order_block__item_info {
        padding-left: 0;
    }

    .main_order_block__item_info__and_price {
        flex-direction: column;
        padding-left: 1rem;
        width: 70%;
    }
    .main_order_block__item_info,
    .main_order_block__item_price {
        width: 100%;
        text-align: left;
    }
    .main_order_block__item_img {
        min-width: 5rem;
        width: 5rem;
        height: 5rem;
        line-height: 3.8rem;
    }
    .main_order_block__item_number {
        text-align: left;
    }
    .main_order_block_feedback_input input,
    .main_order_block_feedback_comment {
        text-align: center;
    }
    .main_order_block_feedback {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .info_order_item_content {
        padding: 2rem 1rem;
    }
    .info_order_item {
        margin-bottom: 0;
        height: auto;
    }
    .info_order {
        margin-bottom: 2rem;
    }
    .price_order_block__item {
        padding-right: 0;

        &:last-child {
            font-size: 1.7rem;
        }
    }
    .price_order_block {
        margin-bottom: 1rem;
        text-align: right;
    }
    .order_block__ordering_link {
        text-align: center;
        margin-bottom: 2rem;
    }
    .order_block__ordering {
        .cntr {
            margin-bottom: 2rem;
        }
    }

    .order_block__ordering {
        margin-bottom: 0;
    }
    .main_order_block__item_price_old {
        padding: 0;
    }
    .item_price_sale__title,
    .main_order_block__item_price_old,
    .main_order_block__item_price_new {
        display: inline-block;
    }
    .main_order_block__item_col {
        width: 100%;
        text-align: left;
    }

    .main_order_block__item_col_name {
        display: inline-block;

    }

    .main_order_block__property_one_color {
        color: #949494;
    }

    .main_order_block__item_number {
        display: none;
    }
    .main_order_block__item_price_new {
        color: var(--main-color);
        font-weight: 400;
        font-size: 1rem;
    }
    .main_order_coupon {
        .main_order_block__top_line {
            display: none;
        }
    }
    .main_order_block_feedback {
        border: none;
    }
    .coupon_block {
        text-align: center;
    }
    .main_order {
        margin-bottom: 1.5rem;
    }
    .main_order_block {
        margin-bottom: 0;
    }
    .main_order_block__item_slide {
        border-top: 1px solid #eeeeee;
        text-align: left;
        width: 100%;

        .main_order_block__item_info__property,
        .main_order_block__item_col {
            display: block;
        }
    }
    .main_order_block__item_info__property,
    .main_order_block__item_col {
        display: none;
    }

    .main_order_block__item_slide_open {
        display: block;
        position: relative;
        cursor: pointer;
    }
    .main_order_block__item_slide_open.active {
        .main_order_block__item_slide_open_arrow {
            transition: .5s;
            transform: rotate(45deg);
        }
    }

    .main_order_block__item_slide_open_arrow {
        display: block;
        content: '';
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        box-sizing: content-box;
        width: 8px;
        height: 8px;
        //margin: auto;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: rotate(225deg);
        margin-right: -4px;
        margin-top: -4px;
        transition: .5s;
    }
    .main_order_block__item {
        align-items: flex-start;
        justify-content: space-between;
    }
    .main_order_block__item_info__name {
        font-size: 0.9rem;
    }
    .slide_bar_block__content_item.active {
        opacity: 1;
        transition: 1s linear;
        height: auto;
    }

    .main_order_block__item_slide.active {
        height: auto;
        opacity: 1;
        transition: 1s linear;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 399.98px) {
    .order_block__ordering {
        padding: 2rem 1rem;
    }
}
