.catalog_content__title {
    padding-bottom: 1rem;
}

//---- pagination-nav
.block_page_navigation {
    text-align: center;
    margin-bottom: 2.5rem;

    > span, > a {
        padding: 0.3rem 0.7rem;
        margin: 0 0.5rem;
    }

    .block_page_current {
        border: 1px solid var(--main-color);
    }
}
//---- pagination-nav

.catalog_section_block {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;

    &.catalog_section_block_bestsellers {
        padding: 0 0 32px;
    }
}

.catalog_content {

    .catalog_content__category_img_title {
        font-size: 0.9rem;
    }

    .catalog_content__category_comment {
        margin-bottom: 2rem;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .catalog_content__category_block_img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110px;
        margin-bottom: 2rem;
    }

    .catalog_content__category_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .catalog_content__canvas {
        margin-bottom: 2rem;
    }

    .catalog_content__canvas_img {
        width: 100%;
    }

    .catalog_content__category {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .catalog_content__category_item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-top: -1px;
        margin-left: -1px;
        padding: 1rem;
        text-align: center;
        border: 1px solid #ebedee;

        &:hover {
            box-shadow: 0 5px 9.7px 0.3px rgba(0, 0, 0, 0.15);
        }
    }
}

.tabs_block__product_card,
.block__product_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    & .product_card__inner {
        flex-basis: 270px;
        width: auto;
        margin-left: -1px;
    }

    & .product_card__inner.product_card__inner--row {
        width: 100%;
        flex-basis: auto;
    }
}

.block__product_cards {
    margin-bottom: 37px;
    width: 100%;

    &.block__product_cards--row {
        flex-direction: column;
    }

    &.block__product_cards--mobile-min {
        .product_card__block_item.product_card__block_item--column {
            width: 100%;
        }
    }

    .product_card__block_item {
        width: 25%;
        margin-bottom: -1px;
    }

    .product_card__block_item-4 {
        width: 25%;
    }

    .product_card__block_item-5 {
        width: 20%;
    }

    .product_card__block_item-3 {
        width: calc(100% / 3);
    }

    &.block__product_cards--mobile-min {
        .product_card__block_item {
            width: 25%;
            margin-bottom: -1px;
        }

        .product_card__block_item-4 {
            width: 25%;
        }

        .product_card__block_item-5 {
            width: 20%;
        }

        .product_card__block_item-3 {
            width: calc(100% / 3);
        }
    }

}

.catalog-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.catalog_section_block_bestsellers .product_card__block_item {
    width: 100%;
}

.product_card__block_item {
    > div {
        height: 100%;
    }

    &.product_card__block_item--row {
        width: 100%;
        margin-bottom: -1px;
    }
}

@import "media.scss";
