.filter-horizontal .number_selected_items {
  display: inline-block;
  padding-right: 20px; }

.filter-horizontal .catalog_content__filter_horizon_item_inner {
  width: 100%;
  margin: 1rem 0 0 !important;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  border: 0;
  border-top: 1px solid #EDEDED;
  overflow: hidden; }

.filter-horizontal .bx_filter .bx_filter_search_reset {
  display: none; }

.filter-horizontal .bx_filter .bx_filter_search_button {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0; }

.filter-horizontal .blank_ul_wrapper {
  padding: 20px 0;
  margin-top: 16px; }

.filter-horizontal .radio_container_wrapper {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED; }
  .filter-horizontal .radio_container_wrapper.blank_ul_wrapper {
    margin-top: 0; }

.filter-horizontal .bx-filter-select-container {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED; }

.filter-horizontal .find_property_value_wrapper {
  display: block; }

.filter-horizontal .find_property_all_check {
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0;
  color: var(--main-color);
  border: 0; }
  .filter-horizontal .find_property_all_check:hover {
    border: none;
    color: var(--main-color-hover); }
  .filter-horizontal .find_property_all_check:hover {
    color: var(--main-color);
    border-bottom: 1px dotted var(--main-color); }

.filter-horizontal .blank_ul_wrapper > ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.filter-horizontal .blank_ul_wrapper {
  padding: 1rem 0;
  margin: 1rem 0 1.5rem 0;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed; }

.filter-horizontal .button_filter_block {
  cursor: pointer;
  outline: none;
  line-height: 39px;
  display: inline-block;
  height: 40px;
  padding: 0 0.5rem;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid var(--main-color);
  background: var(--main-color); }

.filter-horizontal .catalog_content__filter_horizon_item_name {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 10px;
  border: 1px solid #EDEDED; }
  .filter-horizontal .catalog_content__filter_horizon_item_name:hover {
    color: var(--main-color);
    border-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); }
  .filter-horizontal .catalog_content__filter_horizon_item_name [class^="icon-"],
  .filter-horizontal .catalog_content__filter_horizon_item_name [class*=" icon-"] {
    font-size: 7px; }

.filter-horizontal .bx_filter__title {
  display: inline-block;
  margin-right: 10px; }

.filter-horizontal .icon-nav_button.icon-nav_button--custom {
  display: inline-block; }
  .filter-horizontal .icon-nav_button.icon-nav_button--custom::before {
    content: "";
    position: relative;
    left: -3px;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-top: 0;
    font-size: 7px;
    color: #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: rotate(45deg) translateY(-2px);
            transform: rotate(45deg) translateY(-2px); }

.filter-horizontal .icon-nav_button-rotate::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-top: 0;
  font-size: 7px;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  -webkit-transform: rotate(225deg) translateY(-2px);
          transform: rotate(225deg) translateY(-2px); }

.filter-horizontal .catalog_content__filter_horizon_item {
  position: relative;
  display: inline-block;
  height: 30px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; }
  .filter-horizontal .catalog_content__filter_horizon_item.active .catalog_content__filter_horizon_item_name:hover {
    color: var(--main-color); }
  .filter-horizontal .catalog_content__filter_horizon_item.active .catalog_content__filter_horizon_item_name {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .filter-horizontal .catalog_content__filter_horizon_item.filter_used:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .filter-horizontal .catalog_content__filter_horizon_item.filter_used .catalog_content__filter_horizon_item_name {
    border: 1px solid var(--main-color);
    color: var(--main-color); }
    .filter-horizontal .catalog_content__filter_horizon_item.filter_used .catalog_content__filter_horizon_item_name:hover {
      color: var(--main-color);
      -webkit-box-shadow: none;
              box-shadow: none; }

.filter-horizontal .catalog_content__filter_horizon_item_wrapper {
  position: absolute;
  left: 0;
  z-index: 102;
  display: none;
  width: 260px;
  color: #000000;
  background: none; }
  .filter-horizontal .catalog_content__filter_horizon_item_wrapper.wrapper_right {
    left: auto;
    right: 0; }
    .filter-horizontal .catalog_content__filter_horizon_item_wrapper.wrapper_right::before {
      left: initial;
      right: 1.5rem; }
  .filter-horizontal .catalog_content__filter_horizon_item_wrapper::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    left: 1.5rem;
    width: 1rem;
    height: 1rem;
    margin-bottom: -1.5rem;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    background: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.filter-horizontal .bx_filter_popup_result .popup_result_btns a.del_filter,
.filter-horizontal .bx_filter_popup_result .popup_result_btns input {
  display: none; }

.filter-horizontal .bx_filter_popup_result.right {
  left: 0;
  top: calc(100% + 11px); }
  .filter-horizontal .bx_filter_popup_result.right::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -4px;
    left: 20%;
    -webkit-transform: skew(0) rotate(45deg);
            transform: skew(0) rotate(45deg);
    background-color: var(--main-color);
    z-index: 900; }

.filter-horizontal .popup_result_info {
  position: relative;
  z-index: 940; }

.filter-horizontal .bx_ui_slider_part.p1 span {
  text-align: left; }

.filter-horizontal .bx_ui_slider_part.p5 span {
  text-align: right; }

.filter-horizontal .bx_ui_slider_part.p1 {
  left: 38px; }

.filter-horizontal .bx_ui_slider_part.p5 {
  right: 35px; }

.filter-horizontal .bx_filter_input_container input {
  margin: 0; }

.filter-horizontal .bx_ui_slider_handle.left {
  margin-left: -13px; }

.filter-horizontal .bx_ui_slider_handle.right {
  margin-right: -15px; }

.filter-horizontal .bx_filter_parameters_box_container_block_wrapper .popup-window-hr {
  display: block; }

.filter-horizontal .bx_ui_slider_pricebar_VN {
  left: -11px !important;
  right: -14px !important; }

.filter-horizontal .filter-slide_tracks-wrapper {
  border-bottom: 1px solid #EDEDED; }

.filter-horizontal .checkbox__label::before {
  margin: 3px 3px 3px 0; }

.filter-horizontal .checkbox__label:hover::before {
  border: 1px solid var(--main-color); }

.filter-horizontal .checkboxes_with_pictures-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED; }

.filter-horizontal .col-xs-12 {
  margin: 1rem 0 1.5rem 0;
  padding: 20px 0;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed; }

.filter-horizontal .horizontal_filter-icon_cancel {
  position: absolute;
  top: 11px;
  right: 10px;
  display: none;
  width: 8px;
  height: 8px;
  fill: var(--main-color);
  stroke: var(--main-color); }

.filter-horizontal .filter_horizontal-in_stock_checkbox {
  display: none;
  /* wait backend realisation*/
  line-height: 19px;
  vertical-align: middle;
  margin-right: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .filter-horizontal .filter_horizontal-in_stock_checkbox .checkbox__label {
    margin: 0;
    font-size: 14px; }

.filter-horizontal .filter_horizontal-reset-all-filters {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  color: #808080;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  margin-right: 20px; }
  .filter-horizontal .filter_horizontal-reset-all-filters .horizontal_filter-icon_cancel {
    position: relative;
    top: -1px;
    left: 0;
    fill: #808080;
    stroke: #808080;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .filter-horizontal .filter_horizontal-reset-all-filters:hover {
    color: var(--main-color); }
    .filter-horizontal .filter_horizontal-reset-all-filters:hover .horizontal_filter-icon_cancel {
      fill: var(--main-color);
      stroke: var(--main-color); }

.mobile_filter_form .catalog_content__filter_horizon_item {
  margin: 0;
  padding: 13px;
  border-bottom: 1px solid #ededed; }

.mobile_filter_form .catalog_content__filter_horizon_item_name {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mobile_filter_form .find_property_all_check {
  display: block;
  margin: 0;
  padding: 0 13px 10px;
  color: var(--main-color);
  cursor: pointer;
  border: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.mobile_filter_form .filter_horizontal-reset-all-filters {
  display: none; }

.mobile_filter_form .filter_horizontal-in_stock_checkbox {
  display: none; }

.mobile_filter_form .catalog_content__filter_horizon_item_wrapper {
  position: fixed;
  z-index: 350;
  left: 0;
  top: 0;
  display: none;
  width: 90%;
  height: calc(100% - 90px);
  background: #ffffff;
  border: 1px solid #ededed;
  border-bottom: none;
  overflow-y: auto;
  overflow-x: hidden; }
  .mobile_filter_form .catalog_content__filter_horizon_item_wrapper::before {
    content: none; }
