@media (min-width:1400px){

#topmenu li {margin-left:50px;}
.mainmenu .btn {margin-left:60px;}

.main_cats .item img {width: 100%;}
.main_cats .item .pic {max-width: none}


.f_messeng .btn_thin {margin-right:40px;}

#footer .f_cats.col {padding-left: 90px;  width:calc(33.33% - 104px);}


.suppliers_wedo div {display:inline-block;vertical-align:top;width:17%;margin-left:9.8%;font-size:16px;line-height:24px;margin-bottom:91px}
.suppliers_wedo div:nth-child(4n) {width:19%;}
.prods_minislider_wr .item {width: 182px !important}
.slick-prev{left:-30px !important}
.slick-next{right:-30px !important}

.suppliers_steps  {padding-left: 202px; padding-right: 202px;}
	
}

@media (min-width:1300px){
	
.cat_slider_wrap a.item {margin-left: auto; margin-right: auto}
.welcome, .forsuppliers2, .faq {max-width: 1200px; margin-left: auto; margin-right: auto}
.colorform_w  {max-width: 1000px;  margin: 0 auto;}
.botmenu li {width:calc(52% - 20px);}
#footer .f_subscr_col {max-width: 390px}
}
@media (max-width:1370px) AND (min-width:1100px) {
	.prod_prices  {position: relative}
	.prod_prices .sroke {position: absolute;left: 0; top:30px;}
}