@media (max-width:750px){
.page {padding:0 10px}
	
#htop .btn_thin {display:none !important;}
#hmid {display:block;padding-bottom:0;border-bottom:0 }
.mainmenu > *, .show_catalog {display:none;}
.mainmenu #catalog_wrapper {display:block;}

#header {margin-bottom:0;padding-top:64px;}
#dd_catalog {margin:0 -10px;}
#dd_catalog .dd_catalog_in {padding:5px 10px 10px 10px !important;overflow-x:scroll;overflow-y:visible;margin-bottom:10px;width:calc( 100vw - 20px);}
.dd_catalog_in::-webkit-scrollbar{height:0;width:0}


#dd_catalog {padding-top:0}
#dd_catalog .dd_catalog_in {font-size:0;white-space:nowrap;border-radius:0;box-shadow:none;}
#dd_catalog li {display:inline-block;font-size:12px;line-height:45px;background:#fff;margin-right:10px;box-shadow:2px 2px 6px rgba(0, 0, 0, 0.25);border-radius:20px;}
#dd_catalog li:first-child {margin-left:0}
#dd_catalog li a:before {display:none !important}
#dd_catalog li a svg {fill:#FF5722 !important}

#mm_close {position:absolute;top:21px;right:22px;width:17px;height:17px;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABQSURBVHgBnZLZCQAgDEM7UkdyY0dwFC+qH0pp0oAo9AV7iSRV51GQVeP3owHGj4uMbtwLhJm8AJr6BQtqOFqGbjck+ie6Jrp79JxSG0Hv3gAXDh6oLka6DAAAAABJRU5ErkJggg==')  50% 50% no-repeat;}

#mm_layout {background:rgba(0,0,0,.45);display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:700;}

#mmenu{position:absolute;z-index:750;left:-269px;top:0;background:#fff;border-radius:0 0 20px 0;padding:56px 0 0 0;width:269px;max-height:calc(100vh - 56px);overflow-x:hidden;overflow-y:scroll;transition:.3s }
#mmenu.shown {left:0; box-shadow:2px 2px 6px rgba(0, 0, 0, 0.25);}
#mmenu #topmenu {width:100%;float:none;}
#mmenu #topmenu ul {height:auto}
#mmenu #topmenu ul li {float:none;margin:0;border-bottom:1px solid #F2F2F2; line-height:45px;}
#mmenu #topmenu ul li a {display:block;position:relative;padding:0 20px;}
#mmenu #topmenu ul li a:before, #mmenu .btn.bg_gray:before{position:absolute;content:'';right:28px;top:calc(50% - 4px);width:5px;height:8px;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAICAYAAAAx8TU7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABNSURBVHgBZc7dDQAREATgudPAlXId0Qkl6EAtKlGCqICRLPEzyZcwuw+rACT6KEKiqJCX/xz0GKpkceSnTOHFnWc8tGy5tahrATlpKxppBgyjo2o9nwAAAABJRU5ErkJggg==') 0 0 no-repeat;}

#mmenu .btn.bg_gray {height:45px;float:none;background:none;border-radius:0;border-bottom:1px solid #F2F2F2;line-height:45px;display:block;text-align:left;padding-left:48px !important;font-size:14px;position:relative;}
#mmenu .btn.bg_gray span {display:none;}
#mmenu .btn.bg_gray svg {position:absolute;left:20px;margin-top:-1px !important}

#mmenu #ddown_phones {display:block !important;background:transparent;padding:30px 20px 13px 20px;width:auto;position:static;border-radius:0;box-shadow:none;}
#mmenu #ddown_phones #show_mini_clbck {display:none}
#mmenu #ddown_phones .dd_place {width:140px;line-height:18px;}

#dd_catalog {position:static;display:block;}
#hmid .logo, #footer .logo {margin-right:0}
#hmid .logo, #footer .logo, #hmid .logo img, #footer .logo img  {width:161px !important;}

.tsearch_input {height:32px !important;padding-left:20px;}

.f_messeng_buts {display:block;width:250px}
.f_messeng_buts a {display:inline-block !important;margin:0 0 15px 0 !important;}

#htop  {display:none !important;}

#show_mob_menu {position:absolute;left:10px;top:24px;}
#show_mob_menu svg {width:26px;height:18px;}

#mobiletop {position:fixed;left:0;top:0;display:block;width:calc(100% - 20px);z-index:400;background:#fff;height:32px;padding:16px 10px;box-shadow:2px 2px 6px rgba(0, 0, 0, 0.25);text-align:right }
#mobiletop .btn_special_offers,#mobiletop .btn_cart,#mobiletop .btn_login,#mobiletop #top_phone, #mobiletop .btn_fav {display:inline-block;height:32px;line-height:32px;font-size:12px;vertical-align:top; margin-left: 5px}
#mobiletop #top_phone  {margin-left:10px;float:none;}

#mobiletop .btn_special_offers,#mobiletop .btn_cart, #mobiletop .btn_fav {border-radius: 12px}

.btn_login {padding:0 15px 0 34px}
.btn_login svg {left:16px;top:8px;width:13px;height:16px;}
.btn_fav {width:38px;}
.btn_fav svg {left:11px;top:9px;width:14px;height:12px;}
.btn_cart {width:51px;}
.btn_cart svg {left:20px;top:8px;width:13px;height:14px;}
.btn_special_offers {padding:0 17px 0 35px}
.btn_special_offers svg {left:16px;top:8px;width:11px;height:14px;}

.welcome {padding-top:35px;margin-top:0}
.cart_wrap .welcome {margin-top: 0px; text-align: center; margin-bottom: -20px}
.cart_wrap .welcome img {margin-bottom: 17px}
.cart_wrap .welcome .title {margin-bottom: 14px;}
.cart_wrap .welcome .txt {margin-left: auto; margin-right: auto}
.cart_wrap .welcome  .btn {display: inline-block; font-size: 12px;}

#path {font-size:14px;position:relative;line-height:21px; vertical-align:top;padding-left:48px;}
#path .hide {display:none}
#path .larr{display:inline-block;vertical-align:top;position:absolute;left:0;top:0;height:21px;width:20px;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAICAYAAAAWX7TTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA8SURBVHgBzZCxDQAgDMMMF3FSP4UXuIBXKFIXZgLCkpXNQ2CnuIaQFRyx/wVThKrb3I6AzEXkfz4JG4dM13MIoCSFrc8AAAAASUVORK5CYII=') 0 50% no-repeat;}

#path span {vertical-align:top;line-height:21px;display:inline-block;}


.suppliers_features {padding-right:5%}
.suppliers_features p {margin-left:5%}


.suppliers_steps {padding-left:5%;padding-right:5%;margin:0 -10px 55px -10px;}
.suppliers_steps .row div.st3 {background-position:100% 50% !important; }
#cat_slider {  margin:0 -10px;padding:0 10px}
.prods_mini_slider {padding:0 0 0 10px !important;margin:0 -10px;}


.catalog_cats_list {margin-left:-10px;margin-right:-10px;padding-left:3px;padding-right:3px;}


.features {text-align: center; margin-bottom: 0 }
.features h2 {margin-bottom: 30px;}
.features .flex {display: block;}
.features .flex .col { margin: 0 auto 55px auto;}

.features .flex .img {height: auto; }


}

@media (max-width:700px){
	
	
.catalog_main {float:none;width:100%;}
	
.payby_toggle {display:block;padding:5px 10px 10px;white-space:nowrap; margin:0 -10px 35px -10px;height:40px;overflow-x:scroll;overflow-y:hidden;width:100%}
.payby_toggle::-webkit-scrollbar{height:0;width:0}
.payby_toggle a {display:inline-block;line-height:37px;height:40px;padding:0 20px;border-radius:20px;box-shadow:2px 2px 6px rgba(0, 0, 0, 0.25);margin-left:10px;box-sizing:border-box;border:1px solid #fff}
.payby_toggle a.active {border:1px solid #FF5722;}

.payby_toggle a:first-child {margin-left:0;}
.payby_toggle a img {vertical-align:middle;}
.payby_toggle a:nth-child(1) img {width:100px}
.payby_toggle a:nth-child(2) img {width:76px}
.payby_toggle a:nth-child(3) img {width:112px}
.payby h2 {text-align:center;margin-bottom:18px}
.payby .row:not(.nohide) {display:none}
#payby_sber {display:block;}

.payby .col.double {width:auto;}

.payby .row:not(.nohide) .col:first-child {display:none}
.payby .row.nohide {display: block}
.payby .row.nohide .col:first-child {width: 100%; float: none}
.payby .row.nohide .col:first-child img {display: none}


}

@media (max-width:660px){

.suppliers_steps {padding:21px 16px 52px 16px;margin:0 -3.33% 55px -3.33%;border-radius:0}

.suppliers_steps h2,  .suppliers_steps .h2 {text-align:center;margin:0 auto 16px auto}
}

@media (max-width:600px){
	
.welcome img {float:none !important;margin-top:0 !important;max-width:100%;height:auto;margin-bottom:33px}
.page_pay .welcome {margin-bottom:0}
 .homepage .welcome img {margin-bottom:20px;max-width:100% !important;}
.homepage .welcome {padding-top:0px;margin-top:15px;}
.welcome.photostd img {max-width:calc(100% - 6vw)}
.welcome.forim img,  .welcome.for_rm img  {display: block; margin-left: auto; margin-right: auto; max-width: calc(100% - 40px)}


.welcome.forim {margin-bottom: 60px}
.welcome.forim h1 {text-align: center; margin-left: auto;margin-right: auto}
.welcome.forim .txt, .welcome.for_rm .txt, .welcome.for_rm h1 {text-align: center; margin-left: auto;margin-right: auto}

.payby .col.double {float:none;width:auto;padding:0;margin:0}

.pay_steps {display:flex}
.payby .row {margin-bottom:20px;}
.pay_steps .item {width:calc(100% - 68px);max-width:400px;display:block;float:none;margin-bottom:30px;}
#payby_sber .pay_steps .item:nth-child(1) {order:1;}
#payby_sber .pay_steps .item:nth-child(2) {order:4;}
#payby_sber .pay_steps .item:nth-child(3) {order:2;}
#payby_sber .pay_steps .item:nth-child(4) {order:5;}
#payby_sber .pay_steps .item:nth-child(5) {order:3;}

#payby_alfa .pay_steps .item:nth-child(1) {order:1;}
#payby_alfa .pay_steps .item:nth-child(2) {order:3;}
#payby_alfa .pay_steps .item:nth-child(3) {order:2;}
#payby_alfa .pay_steps .item:nth-child(4) {order:4;}
#payby_tf .pay_steps .item:nth-child(1) {order:1;}
#payby_tf .pay_steps .item:nth-child(2) {order:3;}
#payby_tf .pay_steps .item:nth-child(3) {order:2;}

#payby_online .pay_steps .item:nth-child(1) {order:1;}
#payby_online .pay_steps .item:nth-child(2) {order:3;}
#payby_online .pay_steps .item:nth-child(3) {order:2;}


#payby_firms .pay_steps .item:nth-child(1) {order:1;}
#payby_firms .pay_steps .item:nth-child(2) {order:3;}
#payby_firms .pay_steps .item:nth-child(3) {order:2;}
#payby_firms .pay_steps .item:nth-child(4) {order:4;}

.colorform {text-align:center;border-radius:6px;background:#16213e url(../i/colorform_l_mob.png) 0 0 no-repeat;}
.colorform_in { padding: 20px 8.33% 63px 8.33%; border-radius:4px;height:374px;background:url(../i/colorform_r_mob.png) 100% 0 no-repeat;}
.colorform_w {width:210px;margin: auto;}
.colorform .ttl {font-size:18px;line-height:21px;}
.colorform .txt {font-size:12px;line-height:18px;margin-bottom:22px;}
.colorform form .colorform_wrap {display:block;width:210px;}
.colorform form input.text {margin-right:0;width:100%;}
.colorform form .btn {width:100%}

.colorform form input.text{margin-bottom:10px;width:100%;display:block;}
.colorform form .btn {padding:0;text-align:center;}
	
#mobiletop .btn_wa {display:none !important;}

.welcome {margin-bottom:25px}
.suppliers_features {background:none;padding:0;display:block;}
.suppliers_features p {margin-left:5%;background:#14B6FE;width:auto;display:block;border-radius:20px;text-align:center;margin:0 0 10px 0;padding:20px 20px 16px 20px;}
.suppliers_features img {width:auto;height:auto;margin-bottom:0}
.suppliers_features p:nth-child(2) span {max-width:130px;}
.suppliers_features span {display:block;margin:0 auto;max-width:148px;}

.welcome img {position:static;max-width:100%;height:auto;width:auto;margin-bottom:27px;}

.forsuppliers2 {display:block;margin-bottom:55px}
.forsuppliers2 .img_wrap img {display:block;margin-bottom:32px;}
.forsuppliers2 .text_wrap {text-align:center;margin:0;font-size:12px;line-height:18px;}
.forsuppliers2 h2, .forsuppliers2 .text_wrap .h2 {font-size:18px;line-height:22px;margin-bottom:15px;}

.forsuppliers2.ltr {display:flex;flex-wrap:wrap;}
.forsuppliers2.ltr .text_wrap {text-align:center;margin:0;order:2}
.forsuppliers2.ltr .img_wrap  {order:1;flex:0 0 calc(100% - 20px);margin:0 10px 25px 10px}

.suppliers_steps .row  {display:block;margin-bottom:0;}
.suppliers_steps .row div {max-width:300px;margin:0 auto 10px auto !important;float:none;width:auto;}

.suppliers_wedo {white-space:nowrap;margin:0 -10px;padding:0 10px !important;overflow-x:scroll;overflow-y:visible;margin-bottom:5px;}
.suppliers_wedo div span  {line-height:45px;height:45px;margin-bottom:10px}
.suppliers_wedo::-webkit-scrollbar{height:0;width:0}
.suppliers_wedo div {margin:0 0 0 30px !important;width:auto;text-align:left;white-space:normal}

.suppliers_wedo div:nth-child(1) {width:167px;margin-left:0px !important}
.suppliers_wedo div:nth-child(2) {width:155px}
.suppliers_wedo div:nth-child(3) {width:148px}
.suppliers_wedo div:nth-child(4) {width:147px}
.suppliers_wedo div:nth-child(5) {width:137px}
.suppliers_wedo div:nth-child(6) {width:76px}
.suppliers_wedo div:nth-child(7) {width:171px}


.suppliers_wedo_short .suppliers_wedo{display:block;}
.suppliers_wedo_short .suppliers_wedo div{display:block;margin:0 auto !important;text-align:center }
.suppliers_wedo_short .suppliers_wedo div {width:190px !important;margin-bottom:47px !important}
.suppliers_wedo_short .suppliers_wedo p {height:auto;width:190px;}
.suppliers_wedo div span  {line-height:60px;height:60px;margin-bottom:10px}


#footer .row {display:block;margin-bottom:0}
#footer .col {width:100%;margin:0;float:none;clear:both;}
#footer .col.botmenu_col {float:none;display:block;width:100% !important;margin:0 ;}
#footer .fcontacts {margin-bottom:25px;}

.botmenu {display:flex;flex-flow:column wrap; height:123px;margin-bottom:12px}
.botmenu li {width:calc(50% - 20px);padding:0;margin-bottom:24px;float:none; }
.botmenu li:nth-child(5), .botmenu li:last-child {position:static;text-align:left;  }

#footer .f_subscr_col.col {width:100%}
.f_social  {margin-bottom:10px}

.f_messeng {margin-bottom:20px}
.f_about {margin-bottom:20px !important}
.f_cats {width:calc(100% + 8px) !important;margin-right:-30px !important; }
.f_cats a {width:auto;padding:0 9px;}

.suppliers_how {margin-bottom:-10px !important}
.suppliers_how .item { display:block;margin-left:auto ;margin-right:auto ;float:none !important;position:static !important;margin-bottom:45px !important;}

.suppliers_how .row2 .itemwrap {float:none !important;width:auto;}
.suppliers_how .row2 .itemwrap:first-child .item {width:250px;}
.suppliers_how .row2 .itemwrap:last-child .item {width:222px}

.solve {height:217px;padding-top:52px;}
.solve h2 {font-size:18px;line-height:21px;margin-bottom:7px;max-width:286px;}
.solve .txt {font-size:12px;line-height:18px;max-width:255px}

.main_cats .item {width:auto; }
.main_cats .item img {width:auto}

.catalog_wr {position: relative}

.show_filters_mob {display: block; width: 30px; height: 30px; float: right; background:url(../i/showfltrs.png) 50% 50% no-repeat ; margin-top: -4px;}

.ctlg_fltrs {display: none; background: #fff; padding-bottom: 50px; box-shadow:2px 2px 6px rgba(0, 0, 0, 0.25); position: absolute; left: -10px; top:-20px; z-index: 950; width: 100vw; max-width: 400px; }
.ctlg_fltrs .mobttl {line-height: 64px; text-align: center; font-size:14px;font-weight:800;color: #000;box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); margin-bottom: 31px; display: block;}
.ctlg_fltrs .block {padding: 0 10px;}
.ctlg_fltrs .close_popup{display: block;}
.mob_fltr_apply {margin: 0 10px;line-height: 17px; text-align: center; display: block; align-content: center; padding-top: 7px; height: 50px; border-radius: 20px; font-weight: 800}
.mob_fltr_apply span {display: block;font-size:12px;line-height:14px; padding-top: 3px;font-weight:normal}

.ctlg_fltrs .block {margin-bottom: 25px}


.ctlg_fltrs .block .ttl {margin-bottom: 18px;}
.ctlg_fltrs .block.categories {padding: 0; font-size: 0;}
.ctlg_fltrs .block.categories .ttl {padding-left: 10px;}
.ctlg_fltrs .mob_catalog  {display: inline-block; cursor: default; box-sizing: border-box;border-radius: 20px; font-weight:800; font-size:14px;line-height:21px; margin-left: 10px; padding: 0 30px 0 19px; line-height: 40px;}
.ctlg_fltrs .mob_catalog svg  {width: 12px; height: 10px; margin-right: 22px}
.ctlg_fltrs .mob_catalog.inactive svg {fill:#000 !important;}
.ctlg_fltrs .mob_catalog.inactive {background: #FFF;border: 1px solid #E0E0E0;}
.ctlg_fltrs .category {margin-left: 10px; min-width: 102px; padding-right: 0; padding-left: 46px;}

.ctlg_fltrs .category:before {-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);}


.ctlg_fltrs .cat_childs {padding: 0px 0 11px 53px; font-size: 0;}
.ctlg_fltrs .cat_childs a {display: inline-block; width: 50%; padding: 10px 0 }


.ctlg_fltrs .mychbx {width: calc(50% - 20px); float:left;padding-right: 20px;}


div.price_range {width: 100%;  margin-bottom: 10px}
div.price_range input.text {padding-top: 15px; padding-bottom: 15px; font-size: 14px; width: 59px;}
div.price_range span {width:100px;   height:52px; line-height:52px; font-size:12px; }
div.price_range span.max {margin-left:7px !important; float: right;}


.cart_wrap {margin: 0;}

.cart_prods {padding: 0 0; border: 0;border-radius: 0;}
.cart_prods_in {max-height: none;  }
.cart_wrap .mychbx label, .cart_control a.delete { font-size:14px;line-height:21px; }
.cart_wrap .mychbx label:before {top:3px; }
.cart_control {padding-bottom: 4px;}
.cart_control a.delete {float: right; margin-top: 2px;}
.cart_prods .item:before {display: none !important;}
.cart_prods .item {border-top:1px solid #e0e0e0;display: block; width: auto; padding: 25px 10px 35px 19px;}
.cart_prods .picname {width: 100%;  min-height: 106px;margin-bottom: 24px;} 
.cart_prods .img {width: 95px; }
.cart_prods .picname img {max-width: 72px; max-height: 106px;}
.cart_prods .mychbx { left: 0px;top:78px; height: 16px;}
.cart_prods .picname .txt {width: calc(100% - 115px)}
.cart_prods .name {font-size:16px; line-height:20px; margin-bottom: 3px;width:100%; }
.cart_prods .cat {font-size:12px;line-height:15px; }
.cart_prods .item .models {width: 42%; float: left; padding-left: 0}
.cart_prods .item .models .lbl, .cart_prods .item .price .lbl, .cart_prods .item .quant .lbl {margin-bottom: 14px;}
.cart_prods .item .price {width: 26%; float: left;}
.cart_prods .item .quant { float: right; width: 80px;}
.cart_prods .item .total {clear: both; position: static; text-align: right;width: 100%; padding-top: 20px;}
.cart_prods .item .total .lbl {font-size:12px;line-height:15px;}
.cart_prods .item .total div {width: 100%}
.cart_prods .item .models  {line-height: 15px;}
.cart_prods .item .models .mdl{margin-bottom: 27px;  }
.cart_prods .item .price p {margin-bottom: 28px; }
.cart_prods .item .quant .lbl {margin-bottom: 10px;}
.cart_prods .item .q_wrap {margin-bottom: 20px}
.cart_prods .item .trash {top:58px; right: 10px; }
.cart_info {float: none; margin-bottom: 45px; display: block;}
.cart_total {padding: 47px 15px 37px 15px; width: calc(100vw - 20px); flex: none;}
.cart_total dl {padding-top: 14px;}
.cart_method {margin-right: 0; width: auto;margin-bottom: 10px; padding: 23px 20px 30px 24px; min-height: 0;}
.cart_method .ico_cart_bill + .ttl2 {max-width: 485px}
.cart_method .edit {position: absolute; top: 19px; right: 19px; width: 88px; font-size: 12px; border-radius: 14px; height: 24px; line-height: 24px;  }
.cart_method .name {margin-bottom: 0}



.product_wrap {margin-top: 20px;}
.prod_pics {width:100%; float: none; margin-bottom: 18px;}
.product_images_thumbs  {display: none;}
.prod_main {width:100%;float: none;}
.prod_pics .product_images_big {width: 100%; float: none; }
.prod_pics .product_images_big .slick-list {border-radius: 20px;}
.prod_pics .product_images_big .item img {border-radius: 0}
.prod_pics .product_images_big .slick-track {
  display: flex;}
.prod_pics .product_images_big  .slick-track .slick-slide {display: flex;height: auto;align-items: center;justify-content: center;}
.prod_pics .img_wrap .nophoto {height: 323px;}

.prod_main .prod_stickers {margin-bottom: 25px}
.prod_main h1 {font-size: 20px; line-height: 24px; margin-bottom: 15px;} 

.prod_main .ttl {font-size:12px;line-height:16px;}
.prod_prices, .prod_colors {margin-bottom: 35px;}
.prod_sizes {margin-bottom: 20px;}
.prod_sizes_r a.sizestable {font-size:12px;line-height:16px;}
.prod_sizes_r { padding-top: 31px;}
.prod_sizes_l .mdl {font-size:12px;font-weight:500}
 
.followprice { margin-top:15px;}
.prod_main .specs {margin-bottom: 15px}



.lk_orders {margin-top: 25px;}
.lk_orders_head .btn {font-size: 12px;margin: 0 0 0 10px;line-height: 38px; height: 38px;}
.lk_orders_head .btn:first-child {margin-left: 0}
.lk_orders_head .lk_orders_search {padding-top: 10px;}
.lk_orders_head .lk_orders_search .lk_search_input {height: 38px;}
.lk_orders_head .lk_orders_search .tsearch_button{height: 38px;bottom: 0; top:auto}

.lk_orders_in {border: 0; margin-bottom: -35px}
.lk_orders_in .row {position: relative;padding: 0; border: 0;margin-bottom: 70px;}
.lk_orders_in .col.lk_o_num {width:calc(50% - 10px); margin-bottom: 25px;}
.lk_orders_in .col.lk_o_sta {width:50%;padding-right: 0;margin-bottom: 25px;}
.lk_orders_in .col.lk_o_kol {width:calc(50% - 10px); position: absolute; bottom: 66px;}
.lk_orders_in .col.lk_o_dos {width: 100%; float: none;  clear: both; }
.lk_orders_in .col.lk_o_ito {width: 50%; margin-bottom: 25px; margin-left: 50%; padding: 0}

.lk_orders_in .col.lk_o_btn {float: none; width: 100%;}
.lk_orders_in .col.lk_o_btn .btn {width: 100%; font-size: 16px; line-height: 40px; height: 40px}

.lk_orders_in .col.lk_o_ito p {display: block; }
.lk_orders_in .col.lk_o_ito p.lbl {position: relative;margin-right: 0;}
.lk_orders_in .col.lk_o_ito p.lbl:after{display: none}

.lk_biznes {margin-top: 25px}
.lk_biznes_choose { width: 100%; float: none; margin-bottom: 15px;}
.lk_biznes_rest { width:100%; float: none;}


.lk_biznes .lk_biznes_current {font-size: 14px; padding-left: 24px}

.lk_biznes .my_groups {padding-left: 17px; padding-right: 19px;}
.lk_biznes .my_groups > a {font-size:12px;line-height:27px;}

.lk_biznes .my_groups .addgroup {font-size:12px; line-height: 27px; height: 27px}


.lk_biznes .my_groups .groups_dd  {width: calc(100vw - 20px); margin-left: -17px;margin-top: 15px;}

.lk_biznes .my_groups .groups_dd .list  {width: 100%}
.lk_biznes_rest .btn {float: none; width: 100%}


.error {display: block; margin: 25px 0 0 0;}
.error .text h2 {margin-bottom: 10px; font-size: 18px;}
.error .text {text-align: center}
.error .pic {margin-bottom: 25px;margin-left: 0;}
.error .pic img {max-width: 100%;}
.error .txt {font-size:12px;line-height:16px; max-width: 277px; margin: 0 auto 20px auto;} 
.error .btn {font-size: 12px; line-height: 32px; width: 260px; height: 32px; font-weight:600}
.error.e500 .txt {max-width: 277px;}

.welcome.getmark {margin-bottom: 50px;}
 
.getmark_logo {display: block; padding: 40px 20px 60px 20px; margin-bottom: 30px;}
.getmark_logo .img {width: auto; margin-left: 2%;margin-bottom: 25px}
.getmark_logo .txt {width: auto; text-align: center; padding: 0 15px; font-size:18px;line-height:22px;} 
.getmark_logo .txt .small { text-align: center}



.getmark_video {display: block; padding: 50px 10% 41px 10%; background-image:url(../i/getmark_video_bg_mob.png); background-size: 100% auto; height: auto; min-height: 213px }
.getmark_video .txt {text-align: center;margin-bottom: 13px; font-size:18px;line-height:22px; padding-left: 0 !important}
.getmark_video .the_video {margin: 0 3.33%; width: auto; height: 0; padding-bottom: 52.54%;position: relative}
.getmark_video .the_video iframe {position: absolute; width: 100%; height: 100%; left: 0;top:0}
.getmark_video .the_video iframe {border-radius:17px}


.getmarkwhy {text-align: center; }
.getmarkwhy .flex {display: block;  margin-bottom: 50px}
.getmarkwhy .img {float: none; width: auto; margin-bottom: 30px;padding-left: 0}
.getmarkwhy .col {width: 268px; float: none; margin-left: auto;margin-right: auto; margin-bottom: 30px;padding: 0 15px; font-size:14px;line-height:21px;}
.getmarkwhy .col .ttl {margin-bottom: 10px;}


.specialprice {display: block;margin-bottom: 50px;}
.specialprice .img {width: auto;margin-bottom: 25px}
.specialprice .txt {width: auto; padding: 0;text-align: center; font-size:14px;line-height:19px;}
.specialprice .txt p {margin-bottom: 25px}


.photostd_info {padding: 41px 0 62px 0; background: url(../i/photostudio_bg_mob.png) 50% 0 no-repeat; background-size: auto 100%; margin-bottom: 50px;}
.photostd_info .ttl {font-size:18px;line-height:22px; max-width: 242px; margin-bottom: 12px;}
.photostd_info .txt {font-size:12px;line-height:18px; max-width: 275px;} 


.photostd_details {margin-bottom: 77px}
.photostd_details .flex {display: block;}
.photostd_details .col{margin-bottom: 50px; margin-left: auto;margin-right: auto; }
.photostd_details .small { text-align: center; max-width: 263px; margin: -25px auto 0 auto;}

.delivery_tk .tk_list {max-width: 300px; margin: 0 auto;}
.delivery_tk .tk_list .item {display: block; clear: both; margin-bottom: 60px;}
.delivery_tk .tk_list .img {float: left; width: 50%; padding-top: 4px; }
.delivery_tk .tk_list .area {float: right; width:110px; margin-bottom: 22px; }
.delivery_tk .tk_list .btn {clear: both;}
.delivery_tk .tk_list .item.dell .img img {max-width: 164px; height: auto;}

.orangebor_3col .flex {display: block;}
.orangebor_3col .flex .col {margin-bottom: 45px;}
.orangebor_3col.for_rm .col {margin-left: auto; margin-right: auto;} 



.howtobuy_list {display:block;padding:0 10px;white-space:nowrap; margin:0 -10px 20px -10px;overflow-x:scroll;overflow-y:hidden;width:100%}
.howtobuy_list::-webkit-scrollbar{height:0;width:0}

.howtobuy_list .item{display: inline-block; float: none; white-space: normal;  font-size:14px;line-height:20px; text-align: center; margin-right: 35px !important;} 
.howtobuy_list .item:last-child {margin-right: 0 !important}

.howtobuy_list .item:nth-child(2n) { float: none}
.howtobuy_list .item:nth-child(2n+1) {clear: none;}
.howtobuy_list .item:nth-child(1){width: 290px !important;}
.howtobuy_list .item:nth-child(2){width: 182px !important; }
.howtobuy_list .item:nth-child(3){width: 241px !important;}
.howtobuy_list .item:nth-child(4){width: 211px !important;}
.howtobuy_list .item:nth-child(5){width: 223px !important;}
.howtobuy_list .item:nth-child(7){width: 239px !important;}
.howtobuy_list .item:nth-child(6){width: 287px !important}

.howtobuy_list .item .img img {width: auto; height: auto;}
.howtobuy_list .item .img {position: relative; width: 91px; margin: 0 auto 34px auto}
.howtobuy_list .item .img::before{left:calc(50% - 26px);top:26px;width:50px;height:36px;font-size: 30px;line-height: 36px;}


}
@media (max-width:500px){
.welcome  h1 {max-width:277px; margin:0 0 9px 0 ;}
.welcome .txt  {margin-bottom:17px;}
.welcome .btn {width:auto;display:block;margin:0 0 10px 0}
	
h1 {font-size:22px;line-height:27px;}
.cat_slider_wrap h2, .cat_slider_wrap .h2, .suppliers_how h2, .suppliers_how .h2 {font-size:18px;line-height:22px;}
.cat_slider_wrap h2 { margin-bottom:20px;}
.cat_slider_wrap {margin-bottom:25px}

#cat_slider {white-space:normal;}
#cat_slider div {display:block;margin:0;}
#cat_slider a.item { width:calc(100vw - 20px);align-items:flex-end;height:calc((100vw - 20px) * 0.4);margin:0 0 15px 0 ;}
.cat_slider_wrap .item img {position:absolute;z-index:-1;top:0;border-radius:20px;width:calc(100vw - 20px);height:calc((100vw - 20px) * 0.4);height:auto}
.cat_slider_wrap div:nth-child(4) .item img, .cat_slider_wrap div:nth-child(5) .item img {top:auto;bottom:-30px;} 
.cat_slider_wrap .item span {padding-left:33px;padding-bottom:20px;}

.homepage .h2, .homepage h2 , .homepage .h3, .homepage h3 {text-align:center;margin-left:auto;margin-right:auto;}


.catalog_wr {margin-bottom:57px }
.prods_minislider_wr.mob_grid {margin-bottom:10px;}
.prods_minislider_wr.mob_grid .h3, .prods_minislider_wr.mob_grid h3  {margin-bottom:20px;color:#000;font-size:20px;line-height:24px;font-weight:800}
.mob_grid .prods_mini_slider {white-space:normal;overflow:auto;padding:0 !important;margin:0 -8px;}
.mob_grid .prods_mini_slider div {display:block;width:50%;float:left;margin:0}
.mob_grid .prods_mini_slider div:nth-child(2n+1) { clear:both}
.mob_grid .prods_mini_slider .item {width:auto;margin:0 8px 15px 8px;border-radius:15px }
.mob_grid.prods_minislider_wr .item .img {height:121px;}
.mob_grid.prods_minislider_wr .addToFav {display:none}
.mob_grid.prods_minislider_wr .item .img img{max-height:121px;max-width:100%;}
.mob_grid.prods_minislider_wr .item .rest {display:none !important}
.mob_grid.prods_minislider_wr .text_w {padding:10px 14px 19px 14px}
.mob_grid.prods_minislider_wr .item .name {font-size:12px;line-height:15px;margin:0;}
.mob_grid.prods_minislider_wr .item span {font-size:10px;line-height:12px;}
.mob_grid.prods_minislider_wr .item .price_min {font-size:14px;line-height:18px;margin:0;}
.mob_grid.prods_minislider_wr .price_min i {font-size:10px;}
.mob_grid.prods_minislider_wr .item .stroke {font-size:10px;line-height:12px;margin-left:0;left:auto;right:7px;}

.prods_minislider_wr h2 {margin-bottom: 20px}

.catalog_sort a {margin-left:15px} .catalog_sort .lbl {margin-right:20px;}


.cart_wrap .welcome img{ max-width: 178px;margin-left: auto;margin-right: auto; display: block}


.lk_sect .ttl {font-size:14px;line-height:21px; margin-bottom: 10px; }
.lk_sect .item, .lk_request{width: 100%; margin-bottom: 10px;  padding: 25px 10% ; position: relative; font-size:14px;line-height:21px;}

.lk_sect_addr {min-height: 167px;}
.lk_sect_prsn {min-height: 167px;}
.lk_sect .lk_sect_prsn {order:3}
.lk_sect .lk_sect_addr {order:4}

.lk_request .col {width: 100%; padding: 0; text-align: center; font-size:12px;line-height:16px;}
.lk_request .col:last-child {padding-left: 0;  max-width: 999px; }
.lk_request .col .info {font-size:12px;line-height:16px; max-width: 226px; margin: 0 auto 22px auto; padding-top: 0;}
.lk_sect .prsn_ava .img {margin-bottom: 14px}
.lk_sect .prsn_ava .img img {width: 49px; height: 49px;}
.lk_sect .prsn_info .name {font-size:14px;line-height:21px; margin-bottom: 15px}
.lk_sect .prsn_info p {font-size:12px;line-height:18px;}

.prsn_ava .btnava {width: 19px; height: 19px;}
.prsn_ava .btnava:before{background-size: 11px 11px}
.prsn_ava .delete:before{background-size: 9px 9px;background-position: 50% 50%}

.lk_request .btn {float: none !important; font-size:14px;line-height:21px;}

.lk_sect_addr .addr_edit .text_input {font-size:12px;line-height:16px;}

.lk_sect_addr .save {right: 26px; top:25px}

.lk_personal .lk_sect_prsn {margin: 0 auto 9px auto; float: none; min-height: 1px; }
.lk_personal .cols {width:100%}
.lk_personal .cols .col {width: 100% !important;margin-left: 0px; margin-bottom: 15px;}
.lk_form .text_input {font-size:14px;line-height:21px;padding: 14px 30px;}
.lk_personal .btn {margin-top: 4px}

.lk_rekvizit .cols .col {float: none; margin-bottom: 15px; margin-left: 0}
.lk_rekvizit .lk_rek_cmp {width: 100%}
.lk_rekvizit  .cols .col.lk_rek_inn {width: calc(50% - 5px); float: left;}
.lk_rekvizit  .cols .col.lk_rek_kpp {width: calc(50% - 5px);float: right;}
.lk_rekvizit .col.lk_rek_rs  {width: 100%;  clear: both }
.lk_rekvizit .lk_rek_bik {width: 100%}
.lk_rekvizit .text_input {padding-left: 25px;padding-right: 25px;}
.lk_rekvizit .btn {position: static; width: 100%}


.tyak {margin-bottom: 50px;}
.tyak .ttl {margin:0 auto 25px auto; font-size:18px;line-height:26px; max-width: 230px}
.tyak .flex  {display: block;}
.tyak .flex .col, .tyak .flex .col:first-child {max-width: 202px; margin: 0 auto 55px auto}
.tyak .flex .col:last-child {margin: 0 auto }
.tyak .flex .col .img {height: auto}

.orangebor_3col {padding: 28px 0 21px 0; margin-bottom: 50px}
.orangebor_3col .ttl {font-size:18px;line-height:25px; max-width: 225px;margin-bottom: 25px;}
.orangebor_3col .txt {font-size:14px;line-height:20px; margin-bottom: 45px; max-width: 226px;}
.orangebor_3col .txt br {display: none;}




.delivery_tk {margin-bottom: 60px;}
.delivery_tk .ttl {font-size:18px;line-height:25px; margin-bottom: 25px;}
.delivery_tk .txt {margin-bottom: 44px} 


.faq_topics .ttl {text-align: center; font-size:16px;line-height:25px; margin-bottom: 20px; }

.faq_topics .list {display:block;padding:0 10px;white-space:nowrap; margin:0 -10px 20px -10px;height:40px;overflow-x:scroll;overflow-y:hidden;width:100%}
.faq_topics .list::-webkit-scrollbar{height:0;width:0}
.faq_topics .list a {margin-bottom: 0;}
.faq_topics .list a:last-child {margin-right: 0}
.faq_content .item {padding-top: 40px;}
.faq_content .an {padding: 0 0 15px 0;}

.howtobuyorange {margin-bottom: 47px; padding: 85px 0 75px 0; background: url(../i/howtobuy_bg_mob.png) 50% 0 no-repeat; background-size: auto 100%}


.howtobuyorange .ttl {max-width:256px; margin: 0 auto 20px auto}
.howtobuyorange .txt {font-size:14px;line-height:21px; max-width: 242px; }
}


@media (max-width:400px){

	
.catalog {margin:0 0 4px 0;}
.catalog .item {width:100%;margin:0 0 15px 0 }

.catalog_cats_list {padding-top:21px;padding-bottom:30px;}

.catalog_sort{display:none;}
.catalog_sort_mob {display:block;margin-bottom:28px;}
.catalog_sort_mob .up, .catalog_sort_mob .down{position:relative;padding-right:18px}
.catalog_sort_mob .up:before{position:absolute;content:'';right:0;bottom:4px;width:0;height:0;border-style:solid;border-width:0 6.5px 10px 6.5px;border-color:transparent transparent #000 transparent;}
 .catalog_sort_mob .down:before{position:absolute;content:'';right:0;bottom:4px;width:0;height:0;border-style:solid;border-width:10px 6.5px 0 6.5px;border-color:#000 transparent transparent transparent;}
.sort_popup {position:absolute; padding: 0 !important; margin-top:11px;width:calc(100vw - 20px);border-radius:20px;background:#fff;z-index:950; display: none;}
.sort_popup a {display:block;border-top:1px solid #E0E0E0;padding:0 34px;position:relative;color:#000;font-size:14px;line-height:57px;}
.sort_popup a:first-child {border:0;}
.sort_popup a:before{position:absolute;content:'';right:30px;top:calc(50% - 10px);width:20px;height:20px;border:1px solid #BDBDBD;box-sizing:border-box;border-radius:20px;}
.sort_popup a.active:after{position:absolute;content:'';right:36px;top:calc(50% - 4px);width:8px;height:8px;background:#16213E;box-sizing:border-box;border-radius:20px;}

.main_cats {margin-bottom:8px}
.main_cats .main_cats_content .pic {display:none;}
.main_cats .main_cats_content .item {display:none;}
.main_cats .main_cats_content .item:first-child {display:block;}
.main_cats .main_cats_content .item .sub {font-size:0;}
.main_cats .main_cats_content .item .sub a {margin:0 0 18px 0;width:33.33%;font-size:14px;line-height:21px;}
.main_cats .main_cats_content .item .sub a:nth-child(3n+2) {text-align:center;}
.main_cats .main_cats_content .item .sub a:nth-child(3n+3) {text-align:right;}
.solve  {background:url(../i/solve_bg_m.png) 50% 0 no-repeat;height:246px;border-radius:5px;}

.main_cats_toggle {display:block;padding:5px 10px 10px;white-space:nowrap; margin:0 -10px 25px -10px;height:40px;overflow-x:scroll;overflow-y:hidden;width:100%}
.main_cats_toggle::-webkit-scrollbar{height:0;width:0}
.main_cats_toggle a {display:inline-block;text-decoration:none;font-size:12px;line-height:37px;height:40px;padding:0 15px 0 20px;border-radius:20px;box-shadow:2px 2px 6px rgba(0, 0, 0, 0.25);margin-left:10px;box-sizing:border-box;border:1px solid #fff;font-weight:500}
.main_cats_toggle a img {display:inline-block;vertical-align:middle;margin-right:8px;}
.main_cats_toggle a.active {border:1px solid #FF5722;}

.popup .ttl {font-size:14px;line-height:18px;margin-bottom:17px }
#codeinputs input {margin-left: 25px}
.newcodetime, .getnewcode {margin-bottom: 25px}
.popup {padding: 25px 20px; margin-top: 25px;}
.popup .info {font-size:12px;line-height:18px;}
#p_code .mychbx label { margin-bottom: 18px; padding-top: 2px; font-size:12px;line-height:18px}
.popup#p_auth, .popup#p_code, .popup.p_userinfo {width:calc(100vw - 20px - 40px)}
.p_userinfo .goback {margin-top: -10px;}
}
@media (max-width:340px){

.lk_orders_head .btn {margin: 0 0 0 5px;padding: 0 12px}

.popup_progress p:before {width: 41px;}
.popup .rekviziti {margin-right: -10px}
.popup .rekviziti span {font-size: 12px}
.welcome.forim h1 {margin-left: -10px; margin-right: -10px}


.popup .status_form, .popup .status_message {width:260px}
}